
.xb2-comment-list{
  margin-top: 24px;
  margin-bottom: 24px;
}
.xb2-comment{
  margin-bottom: 16px;
  &__avatar{
    width: 40px;
    height: 40px;
    margin-right: 16px;
    border-radius: 50%;
    display: block;
    position: relative;
    >img{
      width: 100%;
      height: 100%;
    }
  }

  &__name{
    @include font-h3();
    margin-bottom: 8px;
  }

  &__secondary{
    @include font-label();
    color: rgba(0, 0, 0, 0.54);
    margin-left: 8px;
    margin-right: 8px;
  }

  &__details{
    @include font-p();
    margin-bottom: 8px;
  }

  &__button-container{
    margin-top: -8px;
    margin-bottom: 0;
  }

  &__time {
    @include font-label();
    color: rgba(0, 0, 0, 0.54);
  }
  &__comments{
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
