<div ng-controller="CommentCtrl">
  <feedback btn-text="{{ btnText }}" ng-show="interact.owner!=user.getUserId()"></feedback>
  <div style="clear: both" infinite-scroll="feedbackPaginator.loadNext()" infinite-scroll-distance='0'
       infinite-scroll-disabled="feedbackPaginator.loading || !feedbackPaginator.next">
    <feedback-detail ng-repeat="item in feedbackPaginator.items" item="item"></feedback-detail>
    <load-more class="row spin-large" ng-if="feedbackPaginator.loading"></load-more>
  </div>
</div>
