<div class="item-avatar-middle-x padding-lr-clear comment">
  <div class="item-image">
    <avatar-img src="item.post.joiner.avatar"></avatar-img>
  </div>
  <div class="item-body">
    <p class="item-body-header">
      <span><a ui-sref="application.expert({ expertId:item.post.joiner.id })">{{ item.post.joiner.fullname }}</a></span>
      <span class="comment__poster__country"><i class="fa fa-map-marker"></i> {{ item.post.joiner.country }}</span>
      <span class="comment__post-time" am-time-ago='item.date_published'></span></p>

    <p class="item-body-title comment__text"><i class="fa fa-lock" ng-if="item.secret"></i> {{ item.details}}</p>

    <p class="item-body-header align-right">
      <span>{{ item.comment_amount }}</span>
      <a class="a-gray comment__icon"><i class="fa fa-comment" ng-click="commentsToggle()"></i></a>
    </p>

    <div ng-show="commentsActive">
      <form name="commentForm" ng-submit="commentFormSubmit()" class="pr">
        <div growl reference="feedback_{{ item.id }}"></div>
        <md-input-container class="md-block" md-no-float>
            <textarea name='detail' ng-model="comment.details" required placeholder="write down your comments">
            </textarea>
          <div class="align-right">
            <md-button type="submit" class="md-primary">Reply</md-button>
          </div>
        </md-input-container>
      </form>
      <comment-detail ng-repeat="item in commentsPaginator.items" item="item"></comment-detail>
      <load-more class="row spin-large" ng-if="commentsPaginator.loading"></load-more>
    </div>
    <div ng-show="commentsActive && !commentsPaginator.loading">
      <p class="align-right">
        <a class="a-gray"><i class="fa fa-angle-double-down comment__icon" ng-click="commentsPaginator.loadNext()"
                             ng-show="commentsPaginator.next"></i></a>
        <a class="a-gray"><i class="fa fa-angle-double-up comment__icon" ng-click="commentsToggle()"
                             ng-show="commentsPaginator.items.length>0"></i></a>
      </p>
    </div>
  </div>
</div>
