<div class="xb2-comment" layout="row" layout-align="start start">
  <avatar-img class="xb2-comment__avatar" src="feedback.getPostAvatar()" name="feedback.getPostName()"></avatar-img>
  <div flex class="xb2-comment__block">
    <p class="xb2-comment__name">
      <a class="xb2-nostyle-link" ui-sref="application.expert({ expertId:feedback.getPostUserId() })">{{
        feedback.getPostName() }}</a>
    </p>
    <p class="xb2-comment__detial">{{ feedback.details}}</p>
    <p class="xb2-comment__button-container"><span am-time-ago='feedback.date_published' class="xb2-comment__time"></span>
      <md-button class="md-primary md-margin-clear" ng-click="replyClick()" ng-show="feedback.id">reply</md-button>
    </p>
    <form name="commentForm" ng-if="replyToggle" novalidate>
      <md-input-container class="md-block" md-no-float>
      <textarea name='details' ng-model="newComment.details" required placeholder="write a reply">
      </textarea>
        <div class="xb-align-right">
          <md-button type="submit" class="md-primary" ng-click="leaveComment(commentForm)">reply</md-button>
        </div>
      </md-input-container>
    </form>
    <div class="xb2-comment__comments" ng-if="feedback.comments.length>0">
      <comment-item ng-repeat="comment in feedback.comments" comment="comment"></comment-item>
    </div>
  </div>
</div>
