<div class="md-padding">
  <form name="feedbackForm" class="xb2-comment-form" novalidate ng-if="formToggle">
    <md-input-container class="md-block" md-no-float>
      <textarea name='details' ng-model="newFeedback.details" required placeholder="write a comment"></textarea>
      <div class="xb-align-right">
        <md-button type="submit" class="md-primary" ng-click="leaveFeedback(feedbackForm)">Comment</md-button>
      </div>
    </md-input-container>
  </form>

  <form name="feedbackForm" class="xb2-comment-form" novalidate ng-if="!formToggle">
    <md-input-container class="md-block" md-no-float>
    <textarea name='details' ng-model="newFeedback.details" required placeholder="write a comment" ></textarea>
      <div class="xb-align-right">
        <md-button type="submit" class="md-primary" ng-click="leaveFeedback(feedbackForm)">Comment</md-button>
      </div>
    </md-input-container>
  </form>

  <div class="xb2-comment-list" infinite-scroll="feedbackPaginator.loadNext()" infinite-scroll-container='".xb-body-view "' infinite-scroll-distance='0'
       infinite-scroll-disabled="feedbackPaginator.loading || !feedbackPaginator.next || hideState">
    <feedback-item ng-repeat="item in feedbackPaginator.items" feedback="item"></feedback-item>
    <load-more class="xb-comment-loading" ng-if="feedbackPaginator.loading" diameter="20"></load-more>
  </div>

</div>
