<md-icon ng-if="!xbStyle && !xbBlog" class="md-dark-third" ng-class="{'md-warn':join.vote}" ng-click="vote()">thumb_up</md-icon>
<div ng-if="xbStyle" class="xb-vote" ng-class="{'xb-vote__color':join.vote}" ng-click="vote()">
  VOTE
</div>
<span class="md-dark-third" ng-if="!xbBlog">{{interact.vote_amount || interact.voteAmount || " "}}</span>
<md-button class="md-fab xb-vote__inner md-primary" ng-if="xbBlog && !join.vote" ng-click="vote()">
  <md-icon>thumb_up</md-icon>
</md-button>
<md-button class="md-fab xb-vote__inner-1 md-warn" ng-if="xbBlog && join.vote" ng-click="vote()">
  Thanks
</md-button>
