<div class="xb-search__list" ng-repeat="review in reviews track by $index" layout="row" ng-if="!isAll">
  <a class="xb-search__list-img-bg" flex="none" ng-if="review.report"
     ui-sref="application.report({reviewId:review.report,reportId:review.id})" target="_blank">
    <img src="{{review.cover}}">
  </a>
  <a class="xb-search__list-img-bg" flex="none" ng-if="review.blog"
     ui-sref="application.blogReport({blogId:review.blog})" target="_blank">
    <img src="{{review.cover}}">
  </a>
  <div class="xb-search__list-content-1" layout="column" flex>
    <a class="xb-search__list-title md-headline md-dark-primary" ng-if="review.report"
       ui-sref="application.report({reviewId:review.report,reportId:review.id})" target="_blank">
      {{review.title}}
    </a>
    <a class="xb-search__list-title md-headline md-dark-primary" ng-if="review.blog"
       ui-sref="application.blogReport({blogId:review.blog})"  target="_blank">
      {{review.title}}
    </a>
    <md-truncate class="md-dark-secondary" hide>
      {{review.description}}
    </md-truncate>
    <div layout="column" flex layout-align="end">
      <div layout="row" layout-align="start end">
        <div class="report-publisher" layout="row" layout-align="start center" >
          <avatar-img class="xb-pointer" hide-xs src="review.getOwner().userprofile.avatar" name="review.getOwner().firstName"
                      ui-sref="application.expert({ expertId:review.getOwner().id })"></avatar-img>
          by&nbsp;<a hide-gt-xs ui-sref="application.expert({ expertId:review.getOwner().id })">{{ review.getOwner().firstName }}</a>
          <span hide-xs>{{ review.getOwner().firstName }}</span>
          <credit-badge class="credit-badge" points="review.getOwner().badgePoint"></credit-badge>
          &nbsp;&nbsp;<span am-time-ago='review.created'></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="xb-search__list" ng-repeat="review in reviews track by $index" layout="row" ng-if="isAll && $index <= 1">
  <a class="xb-search__list-img-bg" flex="none" ng-if="review.report"
     ui-sref="application.report({reviewId:review.report,reportId:review.id})" target="_blank">
    <img src="{{review.cover}}">
  </a>
  <a class="xb-search__list-img-bg" flex="none" ng-if="review.blog"
     ui-sref="application.blogReport({blogId:review.blog})" target="_blank">
    <img src="{{review.cover}}">
  </a>
  <div class="xb-search__list-content-1" layout="column" flex>
    <a class="xb-search__list-title md-headline md-dark-primary" ng-if="review.report"
       ui-sref="application.report({reviewId:review.report,reportId:review.id})" target="_blank">
      {{review.title}}
    </a>
    <a class="xb-search__list-title md-headline md-dark-primary" ng-if="review.blog"
       ui-sref="application.blogReport({blogId:review.blog})"  target="_blank">
      {{review.title}}
    </a>
    <md-truncate class="md-dark-secondary" hide>
      {{review.description}}
    </md-truncate>
    <div layout="column" flex layout-align="end">
      <div layout="row" layout-align="start end">
        <div class="report-publisher" layout="row" layout-align="start center" >
          <avatar-img class="xb-pointer" hide-xs src="review.getOwner().userprofile.avatar" name="review.getOwner().firstName"
                      ui-sref="application.expert({ expertId:review.getOwner().id })"></avatar-img>
          by&nbsp;<a hide-gt-xs ui-sref="application.expert({ expertId:review.getOwner().id })">{{ review.getOwner().firstName }}</a>
          <span hide-xs>{{ review.getOwner().firstName }}</span>
          <credit-badge class="credit-badge" points="review.getOwner().badgePoint"></credit-badge>
          &nbsp;&nbsp;<span am-time-ago='review.created'></span>
        </div>
      </div>
    </div>
</div>
