<form name="profileForm" class="form-horizontal" ng-submit="profileFormSubmit();" ng-controller="ProfileinfoCtrl"
      novalidate>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Personal Information</div>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-md-4 control-label">Gender: </label>

            <div class="col-md-5">
              <label class="radio-inline" ng-repeat="item in GENDER_TYPE">
                <input type="radio"
                       name="gender"
                       ng-model="profile.gender"
                       ng-value=item.code
                       ng-required="true"
                /> {{ item.name }}
              </label>

              <div class="" ng-show="profileForm.$submitted || profileForm.gender.$touched"
                   ng-messages="profileForm.gender.$error">
                <p class="message-error" ng-message="required">* required.</p>
              </div>
            </div>
            <div class="col-md-3">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label">Country: </label>

            <div class="col-md-5">
              <select class="form-control" name="mail_country" ng-model="profile.mail_country" ng-required="true"
                      ng-options="item.code as item.name for item in COUNTRIES">
                <option value="">choose a country</option>
              </select>

              <div class="" ng-show="profileForm.$submitted || profileForm.mail_country.$touched"
                   ng-messages="profileForm.mail_country.$error">
                <p class="message-error" ng-message="required">* required.</p>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label">Business Title: </label>

            <div class="col-md-5">
              <input type="text" class="form-control"
                     name="position"
                     ng-model="profile.position"
                     ng-maxlength="200"
                     ng-required="true"/>

              <div class="" ng-show="profileForm.$submitted || profileForm.position.$touched"
                   ng-messages="profileForm.position.$error">
                <p class="message-error" ng-message="required">* required.</p>

                <p class="message-error" ng-message="maxlength">* no more than 200 chars.</p>
              </div>

            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Company Name: </label>

            <div class="col-md-5">
              <input type="text" class="form-control"
                     name="company"
                     ng-model="profile.company"
                     ng-maxlength="200"
                     ng-required="true"/>

              <div class="" ng-show="profileForm.$submitted || profileForm.company.$touched"
                   ng-messages="profileForm.company.$error">
                <p class="message-error" ng-message="required">* required.</p>

                <p class="message-error" ng-message="maxlength">* no more than 200 chars.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <p class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
          <button type="submit" id="review-personal-info-submit-btn"
                  class="button button-primary button-rounded button-full">Next
          </button>
        </p>
      </div>
    </div>
  </div>
</form>

