<form name="reviewApplicantForm" ng-submit="reviewApplicantConfirmFormSubmit()" class="form-horizontal"
      ng-controller="ReviewapplicationconfirminfoCtrl">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading text-center">I. REVIEW AGREEMENT</div>
        <div class="panel-body">
          <div>
            <p><i>If you apply to be a Product Reviewer, you agree to perform the following:</i></p>

            <p>• Install and use the product for an extended period of time, detailed in Xberts’ Review Guide<br/>
              • Communicates with and update Xberts regularly about your progress<br/>
              • Consult with the Product Sponsor if you encounter with any technical issues<br/>
              • After you receive the product sample, in accordance with Review Guide, write and submit a unbaised
              product review BY THE DESIGNATED
              DEADLINE
              {{ review.date_end | amDateFormat:'MMM DD, YYYY'}}<br/>
              • Inform Xberts ASAP for a grace period if you have difficulty in submitting report on time<br/>
              • Share your review on your social networks with the authorization from the Product Sponsor
            </p>

            <p>I understand and agree to perform the above operations as a "{{ review.title }}" Product Reviewer</p>

            <p>I grant Xberts.com and Sponsor the right to translate, quote and distribute my review in multiple
              languages
              for marketing purpose</p>

            <p>Xberts.com assumes no responsibility for any Product/Service provided by our sponsor or partner in any
              way.
              You expressly understand and agree that your use of the Product/Service provided by Xberts.com is at your
              sole responsibility of risk. </p>
            <br/>


          </div>


        </div>
      </div>
      <div class="panel panel-default" ng-show="review.nda_title">
        <div class="panel-heading text-center">{{ review.nda_title }}</div>
        <div class="panel-body">
          <div ng-bind-html="review.nda | trust">
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <p class="margin-top">I accept all the terms and conditions as outlined above. I am of legal age and I have
            necessary capacity
            to
            execute this agreement. </p>

          <div class="form-inline">
            <div class="radio-inline">
              <label>
                <input type="radio" name="agree"
                       ng-model="reviewApplicant.agree"
                       ng-value="true"
                       ng-required="true">I Agree:
              </label>
            </div>
            <div class="radio-inline">
              <label>
                <input type="radio" name="agree"
                       ng-model="reviewApplicant.agree"
                       ng-value="false"
                       ng-required="true">I Don' t Agree:
              </label>
            </div>
          </div>
          <div class="form-inline">
            <label>Sign your e-signature (initials only）</label>
            <input type="text" class="form-control" name="signature"
                   ng-model="reviewApplicant.signature" ng-required="true">
          </div>
        </div>
      </div>
      <div class="row">
        <p class='message-error text-center' ng-show="reviewForm.submitted && reviewForm.$invalid">Please check
          your
          input. </p>

        <p class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
          <button type="submit" class="button button-primary button-rounded button-full" ng-disabled="!reviewApplicant.agree">Submit
          </button>
        </p>
      </div>
    </div>
  </div>
</form>

