<form name="profileForm" class="form-horizontal" ng-submit="profileFormSubmit();" ng-controller="ProfileinfoCtrl"
      novalidate>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Personal Information</div>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-md-4 control-label">Gender: </label>

            <div class="col-md-8">
              <label class="radio-inline" ng-repeat="item in GENDER_TYPE">
                <input type="radio"
                       name="gender"
                       ng-model="profile.gender"
                       ng-value=item.code
                       ng-required="true"
                /> {{ item.name }}
              </label>
              <div class="" ng-show="profileForm.$submitted || profileForm.gender.$touched" ng-messages="profileForm.gender.$error">
                <p class="message-error" ng-message="required">* required.</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Date of Birth(YYYY-MM-DD):</label>

            <div class="col-md-5">
              <input type="date" class="form-control" name="birth" uib-datepicker-popup
                     ng-model="profile.birth" is-open="datePickerStatus"
                     show-button-bar="false" ng-click="open()" ng-required="true"/>

              <div class="" ng-show="profileForm.$submitted || profileForm.birth.$touched" ng-messages="profileForm.birth.$error">
                <p class="message-error" ng-message="required">* required.</p>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label">Industry: </label>

            <div class="col-md-5">
              <select class="form-control" name="industry" ng-model="profile.industry" ng-required="true"
                      ng-options="item.code as item.name for item in INDUSTRY">
                <option value="">choose an industry</option>
              </select>
              <div class="" ng-show="profileForm.$submitted || profileForm.industry.$touched" ng-messages="profileForm.industry.$error">
                <p class="message-error" ng-message="required">* required.</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Job Function: </label>

            <div class="col-md-5">
              <select class="form-control" name="job_function" ng-model="profile.job_function" ng-required="true"
                      ng-options="item.code as item.name for item in JOB_FUNCTION">
                <option value="">choose a job function</option>
              </select>
              <div class="" ng-show="profileForm.$submitted || profileForm.job_function.$touched" ng-messages="profileForm.job_function.$error">
                <p class="message-error" ng-message="required">* required.</p>
              </div>
            </div>

          </div>

          <!--<div class="form-group">-->
          <!--<label class="col-md-4 control-label">Career Status: </label>-->

          <!--<div class="col-md-5">-->
          <!--<select class="form-control" name="career_status" ng-model="profile.career_status" ng-required="true"-->
          <!--ng-options="item.code as item.name for item in CAREER_STATUS">-->
          <!--<option value="">choose a status</option>-->
          <!--</select>-->
          <!--</div>-->
          <!--</div>-->

          <div class="form-group">
            <label class="col-md-4 control-label">Business Title: </label>

            <div class="col-md-5">
              <input type="text" class="form-control"
                     name="position"
                     ng-model="profile.position"
                     ng-maxlength="200"
                     ng-required="true"/>

              <div class="" ng-show="profileForm.$submitted || profileForm.position.$touched" ng-messages="profileForm.position.$error">
                <p class="message-error" ng-message="required">* required.</p>

                <p class="message-error" ng-message="maxlength">* no more than 200 chars.</p>
              </div>

            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Company Name: </label>

            <div class="col-md-5">
              <input type="text" class="form-control"
                     name="company"
                     ng-model="profile.company"
                     ng-maxlength="200"
                     ng-required="true"/>

              <div class="" ng-show="profileForm.$submitted || profileForm.company.$touched" ng-messages="profileForm.company.$error">
                <p class="message-error" ng-message="required">* required.</p>

                <p class="message-error" ng-message="maxlength">* no more than 200 chars.</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Company Size: </label>

            <div class="col-md-5">
              <select class="form-control" name="company_size" ng-model="profile.company_size" ng-required="true"
                      ng-options="item.code as item.name for item in COMPANY_SIZE">
                <option value="">choose a company size</option>
              </select>
              <div class="" ng-show="profileForm.$submitted || profileForm.company_size.$touched" ng-messages="profileForm.company_size.$error">
                <p class="message-error" ng-message="required">* required.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Contact Information</div>
        <div class="panel-body">
          <!--<div class="form-group">-->
          <!--<label class="col-md-4 control-label">Address line 1: </label>-->

          <!--<div class="col-md-5">-->
          <!--<input type="text" class="form-control"-->
          <!--name="address1"-->
          <!--ng-model="profile.address_line1"-->
          <!--ng-maxlength="200"-->
          <!--ng-required="true"/>-->

          <!--<p class="message-error" ng-show="profileForm.address1.$error.maxlength">* no more-->
          <!--than 200 chars.</p>-->
          <!--</div>-->
          <!--</div>-->
          <!--<div class="form-group">-->
          <!--<label class="col-md-4 control-label">Address line 2: </label>-->

          <!--<div class="col-md-5">-->
          <!--<input type="text" class="form-control"-->
          <!--name="address2"-->
          <!--ng-model="profile.address_line2"-->
          <!--ng-maxlength="200">-->

          <!--<p class="message-error" ng-show="profileForm.address2.$error.maxlength">* no more-->
          <!--than 200 chars.</p>-->
          <!--</div>-->
          <!--</div>-->
          <!--<div class="form-group ">-->
          <!--<label class="col-md-4 control-label">City: </label>-->

          <!--<div class="col-md-5">-->
          <!--<input type="text" class="form-control"-->
          <!--name="city"-->
          <!--ng-model="profile.city"-->
          <!--ng-maxlength="200"-->
          <!--ng-required="true"/>-->

          <!--<p class="message-error" ng-show="profileForm.city.$error.maxlength">* no more-->
          <!--than 200 chars.</p>-->
          <!--</div>-->
          <!--</div>-->
          <div class="form-group">
            <label class="col-md-4 control-label">State/Province/Region: </label>

            <div class="col-md-5">
              <input type="text" class="form-control"
                     name="state"
                     ng-model="profile.state"
                     ng-maxlength="50"
                     ng-required="true"/>

              <div class="" ng-show="profileForm.$submitted || profileForm.state.$touched" ng-messages="profileForm.state.$error">
                <p class="message-error" ng-message="required">* required.</p>

                <p class="message-error" ng-message="maxlength">* no more than 50 chars.</p>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label">ZIP/Postal code: </label>

            <div class="col-md-5">
              <input type="text" class="form-control"
                     name="zip"
                     ng-model="profile.zip"
                     ng-maxlength="20"
                     ng-required="true">

              <div class="" ng-show="profileForm.$submitted || profileForm.zip.$touched" ng-messages="profileForm.zip.$error">
                <p class="message-error" ng-message="required">* required.</p>

                <p class="message-error" ng-message="maxlength">* no more than 20 chars.</p>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label">Country: </label>

            <div class="col-md-5">
              <select class="form-control" name="mail_country" ng-model="profile.mail_country" ng-required="true"
                      ng-options="item.code as item.name for item in COUNTRIES">
                <option value="">choose a country</option>
              </select>
              <div class="" ng-show="profileForm.$submitted || profileForm.mail_country.$touched" ng-messages="profileForm.mail_country.$error">
                <p class="message-error" ng-message="required">* required.</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Phone Number: </label>

            <div class="col-md-5">
              <input type="text" name="phone_number" class="form-control" international-phone-number
                     ng-model="profile.phone_number" ng-required="true">

              <div class="" ng-show="profileForm.$submitted || profileForm.phone_number.$touched" ng-messages="profileForm.phone_number.$error">
                <p class="message-error" ng-message="required">* required.</p>

                <p class="message-error" ng-message="internationalPhoneNumber">* please input correct phone.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Social Media Information</div>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-md-4 control-label">Do you have a LinkedIn account?</label>

            <div class="col-md-8">
              <label class="radio-inline">
                <input type="radio"
                       name="linkedin"
                       ng-model="profile.linkedin"
                       ng-value="true"
                       ng-required="true"
                /> YES</label>
              <label class="radio-inline">
                <input type="radio"
                       name="linkedin"
                       ng-model="profile.linkedin"
                       ng-value="false"
                       ng-required="true"
                /> NO
              </label>
            </div>
          </div>
          <div class="form-group" ng-if="profile.linkedin">
            <label class="col-md-4 control-label">Please provide your LinkedIn profile URL:</label>

            <div class="col-md-5">
              <input type="text" class="form-control"
                     name="linkedin_url"
                     ng-model="profile.linkedin_url"
                     ng-maxlength="200"
                     ng-required="true"/>

              <div class="" ng-show="profileForm.$submitted || profileForm.email.$touched" ng-messages="profileForm.linkedin_url.$error">
                <p class="message-error" ng-message="required">* required.</p>

                <p class="message-error" ng-message="maxlength">* no more than 200 chars.</p>
              </div>
            </div>

          </div>
          <div class="form-group" ng-if="profile.linkedin">
            <label class="col-md-4 control-label">Number of connections on LinkedIn:</label>

            <div class="col-md-5">
              <select class="form-control" name="country" ng-model="profile.linkedin_connections" ng-required="true"
                      ng-options="item.code as item.name for item in LINKEDIN_CONNECTION">
                <option value="">choose a range</option>
              </select>
              <div class="" ng-show="profileForm.$submitted || profileForm.linkedin_connections.$touched" ng-messages="profileForm.linkedin_connections.$error">
                <p class="message-error" ng-message="required">* required.</p>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label">What's your secondary social media?</label>

            <div class="col-md-5">
              <select class="form-control" name="other_social_type" ng-model="profile.other_social_type" ng-required="true"
                      ng-options="item.code as item.name for item in SOCIAL_TYPE" ng-change="OnSocialTypeChange();">
                <option value="">choose a social media type</option>
              </select>
              <div class="" ng-show="profileForm.$submitted || profileForm.other_social_type.$touched" ng-messages="profileForm.other_social_type.$error">
                <p class="message-error" ng-message="required">* required.</p>
              </div>
            </div>
          </div>
          <div class="form-group"
               ng-if="profile.other_social_type!=undefined && profile.other_social_type!='' && profile.other_social_type!=5 && profile.other_social_type!=0 ">
            <label class="col-md-4 control-label">Please provide your {{ social_type }} profile URL:</label>

            <div class="col-md-5">
              <input type="input" class="form-control"
                     name="other_social_url"
                     ng-model="profile.other_social_url"
                     ng-maxlength="200"
                     ng-required="true"/>

              <div class="" ng-show="profileForm.$submitted || profileForm.email.$touched" ng-messages="profileForm.other_social_url.$error">
                <p class="message-error" ng-message="required">* required.</p>

                <p class="message-error" ng-message="maxlength">* no more than 200 chars.</p>
              </div>

            </div>
            <div class="form-group"
                 ng-if="profile.other_social_type!=undefined && profile.other_social_type!='' && profile.other_social_type!=5 && profile.other_social_type!=0 ">
              <label class="col-md-4 control-label">Number of connections on {{ social_type }}:</label>

              <div class="col-md-5">
                <select class="form-control" name="country" ng-model="profile.other_social_connections"
                        ng-required="true" ng-options="item.code as item.name for item in OTHER_CONNECTION">
                  <option value="">choose a range</option>
                </select>
                <div class="" ng-show="profileForm.$submitted || profileForm.other_social_connections.$touched" ng-messages="profileForm.other_social_connections.$error">
                  <p class="message-error" ng-message="required">* required.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <p class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
            <button type="submit" class="button button-primary button-rounded button-full">Next</button>
          </p>
        </div>
      </div>
    </div>
</form>

