<section class="background-light-white">
  <div class="container">
    <div class="section-title">
      <h2>{{ review.title }}</h2>

      <h3>
        <i>
          <span class="font-striking"> {{ review.applicants | filter:{ is_selected:true} | length }}</span> reviewer
          <span class="font-striking"> {{ review.applicants | filter:{ is_selected:true,is_submit_report:true }| length }}</span>
          review
          submitted
        </i>
      </h3>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="list">
          <div class="item-avatar-large item-hover" style="min-height: 127px;"
               ng-repeat="applicant in review.applicants | filter:{ is_selected:true }">
            <div class="item-image text-center">
              <avatar-img src="applicant.reviewer.avatar"></avatar-img>
              <a ui-sref="application.report({ reportId:applicant.report})"
                 class="btn btn-xs btn-primary" ng-show="applicant.report">View Report</a>
              <a class="btn btn-xs btn-gray" ng-show="!applicant.report">View Report</a>
            </div>
            <div class="item-body">
              <p class="item-body-header">
              <span ng-switch="applicant.reviewer.userprofile.gender">
              <span ng-switch-when="M"><i class="fa fa-male"></i></span>
              <span ng-switch-when="F"><i class="fa fa-female"></i></span>
            </span>

          <span><a ui-sref="application.expert({ expertId:applicant.reviewer.id })">{{ applicant.reviewer.fullname
            }}</a> <i class="fa fa-map-marker"></i> {{ applicant.reviewer.country }}</span>
                <span ng-switch="applicant.is_submit_report" class="pull-right">
                   <i ng-switch-when="true">Review Submitted</i>
                   <i ng-switch-when="false">Pending Review</i>
                </span>
              </p>

              <p class="item-body-title" ng-show="applicant.reviewer.userprofile.position">{{
                applicant.reviewer.userprofile.position}} @ {{
                applicant.reviewer.userprofile.company }}</p>

              <p class="item-body-title" ng-show="!applicant.reviewer.userprofile.position">{{
                applicant.reviewer.userprofile.job_title}}</p>

              <!--<p class="item-body-detail p-3-max">{{ applicant.biography }}</p>-->
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
