<!--<uib-carousel interval="5000" no-wrap="false" style="margin-top: -50px;">-->
<!--<uib-slide ng-repeat="slide in slides" active="slide.active">-->
<!--<section class="section-fixed landing-page" style="background-image: url({{ slide.image }})">-->
<!--<div class="container">-->
<!--<div class="section-title">-->

<!--<h1 class="font-whitem" ng-bind-html=" slide.title | trust"></h1>&nbsp;-->
<!--<h3 class="font-whitem hidden-xs" style="color: #fff;" ng-bind-html=" slide.subtitle | trust"></h3>&nbsp;-->
<!--</div>-->
<!--</div>-->
<!--<div class="carousel-caption carousel-right">-->
<!--<a ui-sref="{{ slide.url }}" class="button button-border button-glow button-primary">{{ slide.buttonText }}</a>-->
<!--</div>-->
<!--</section>-->
<!--</uib-slide>-->
<!--</uib-carousel>-->
<section class="container header padding-bottom-clear">
  <div class="jumbotron section-title"
       style="background-image: url(/images/vacature.jpg);margin-bottom: 15px;min-height: 200px;">
    <h2 class="font-whitem" style="margin-top: 30px">Be the first to test-drive the most innovative smart products, and
      become an early influencer by sharing your review!</h2><br/>

    <!--<h3 class="text-center">-->
    <!--<a class="button button-primary button-glow" ui-sref="application.reviewRequest">Launch a Campaign</a>-->
    <!--</h3>-->
  </div>
</section>
<!--<section style="padding-top: 0px;padding-bottom: 0px" class="background-whitem">-->
<!--<div class="container">-->
<!--<div style="width: 80%; margin: auto;" class="full-image">-->
<!--<img src="/images/review_process.png" style="width: 100%;">-->
<!--</div>-->
<!--</div>-->
<!--</section>-->


<section class="container">
  <div class="row section-body" infinite-scroll="projectReviewPaginator.loadNext()" infinite-scroll-distance='0'
       infinite-scroll-disabled="projectReviewPaginator.getLoading() || !projectReviewPaginator.getNext()">
    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="review in projectReviewPaginator.items">
      <div class="card card-bordless">
        <div class="card-header" style="background-image: url({{ review.cover || review.project.image }})"
             ui-sref="application.crowdtesting({ reviewId:review.id })">
        </div>
        <div class="card-body">
          <div class="card-body-header" ui-sref="application.crowdtesting({ reviewId:review.id })">
            <div class="avatar-text-small-1">
              <avatar-img src="review.project.account.avatar" name="review.project.account.fullname"
                          show-name="true"></avatar-img>
            </div>
          </div>
          <p class="card-body-title p-2" ui-sref="application.crowdtesting({ reviewId:review.id })">{{ review.title
            }}</p>

          <p class="card-body-detail" ui-sref="application.crowdtesting({ reviewId:review.id })">
            Available Units: {{ review.quota }} free samples
          </p>

          <p class="card-body-detail" ng-switch="review.status">
            <span ng-switch-when="UPCOMING">Start Date: {{ review.date_started | amDateFormat:'MMM DD, YYYY'}}</span>
            <span ng-switch-when="APPLICATION">Application Deadline: {{ review.application_end_date | amDateFormat:'MMM DD, YYYY'}}</span>
            <span ng-switch-when="SELECTION">Review Deadline: {{ review.date_end | amDateFormat:'MMM DD, YYYY'}}</span>
            <span
              ng-switch-when="CONFIRMATION">Review Deadline: {{ review.date_end | amDateFormat:'MMM DD, YYYY'}}</span>
            <span ng-switch-when="REVIEW">Review Deadline: {{ review.date_end | amDateFormat:'MMM DD, YYYY'}}</span>
            <span ng-switch-when="ENDED">Review Deadline: {{ review.date_end | amDateFormat:'MMM DD, YYYY'}}</span>
          </p>

          <div class="card-body-footer align-right" ng-switch="review.status">
            <div class="xb-avatar-wall">
              <div class="xb-avatar-text" ng-switch="review.status">
                <label ng-switch-when="UPCOMING" class="button-label button-label-success" style="font-size: 16px">Coming
                  Soon
                </label>
                <button ng-switch-when="APPLICATION" class="button button-primary" style="font-size: 16px"
                        ng-click="applyNow($event);">Apply Now
                </button>
                <label ng-switch-when="SELECTION" class="button-label button-label-info" style="font-size: 16px">In
                  Progress</label>
                <label ng-switch-when="CONFIRMATION" class="button-label button-label-info" style="font-size: 16px">In
                  Progress</label>
                <label ng-switch-when="REVIEW" class="button-label button-label-info" style="font-size: 16px">In
                  Progress</label>
                <label ng-switch-when="ENDED" class="button-label button-label-gray"
                       style="font-size: 16px">Completed</label>
              </div>
              <div class="xb-avatar-list" ui-sref="application.crowdtesting({ reviewId:review.id })">
                <profile-avatar src="applicant.reviewer.avatar" name="applicant.reviewer.fullname"
                            show-name="true" ng-repeat="applicant in review.applicants"></profile-avatar>
              </div>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>
  <load-more class="row spin-large" ng-if="projectReviewPaginator.getLoading()"></load-more>
</section>
