<join ng-init="init(review.interact)">
  <section style="background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url({{ review.banner }});" class="section-page section-detail-page">
    <div class="container">
      <div class="section-title">
        <h2>{{ review.title }}</h2>
      </div>
    </div>

  </section>

  <section>
    <div class=" container">

      <div class="row">
        <div class="col-md-3 col-md-push-9 margin-bottom-xl">

          <div class="card card-margin-bottomless" style="border-radius: 5px">

            <div class="card-body">
              <div class="card-body-detail">
                <h4> Product Value:</h4>

                <p class="font-gray-light">${{ review.price.amount }} USD</p>
                <h4> Available Units: </h4>

                <p class="font-gray-light">{{ review.quota }} Free Samples</p>


                <h4 ng-show="review.status === 'UPCOMING'"> Start Date:</h4>

                <p ng-show="review.status === 'UPCOMING'" class="font-gray-light">{{ review.date_started |
                  amDateFormat:'MMM
                  DD,YYYY'}}</p>

                <h4> Application Deadline:</h4>

                <p class="font-gray-light">{{ review.application_end_date | amDateFormat:'MMM DD, YYYY'}}</p>

                <h4> Review Deadline:</h4>

                <p class="font-gray-light">{{ review.date_end | amDateFormat:'MMM DD, YYYY'}}</p>

                <div ng-switch="applicant.exist" class="margin-top">
                  <div ng-switch-when="false">
                    <div ng-switch="review.status">
                      <button ng-switch-when="UPCOMING" class="button button-full button-success-disabled"
                              disabled>
                        Coming Soon
                      </button>
                      <button ng-switch-when="APPLICATION" class="button button-full button-glow button-primary"
                              ui-sref="application.protected.apply({reviewId:review.id})">Apply Now
                      </button>
                      <button ng-switch-when="SELECTION" class="button button-full button-glow button-plain" disabled>
                        Application
                        Ended
                      </button>
                      <button ng-switch-when="CONFIRMATION" class="button button-full button-glow button-plain"
                              disabled>
                        Application
                        Ended
                      </button>

                      <div ng-switch-when="REVIEW">
                        <div ng-switch="user.isAuth()">
                          <button ng-switch-when="true" class="button button-full button-glow button-plain" disabled>In
                            Progress
                          </button>
                          <button ng-switch-when="false" class="button button-full button-glow button-primary"
                                  ui-sref="application.protected.crowdtestingReport({reviewId:review.id})">Submit Report
                          </button>
                        </div>
                      </div>
                      <button ng-switch-when="ENDED" class="button button-full button-glow button-plain" disabled>
                        Completed
                      </button>
                    </div>
                  </div>
                  <div ng-switch-when="true">
                    <div ng-switch="review.status">
                      <button ng-switch-when="UPCOMING" class="button button-full button-action button-success-disabled"
                              disabled>
                        Coming Soon
                      </button>
                      <button ng-switch-when="APPLICATION" class="button button-full button-glow button-primary"
                              ui-sref="application.protected.apply({reviewId:review.id})">Edit Application
                      </button>
                      <button ng-switch-when="SELECTION" class="button button-full button-success-disabled" disabled>
                        Screening
                      </button>
                      <div ng-switch-when="CONFIRMATION">
                        <div ng-switch="applicant.is_selected">
                          <button ng-switch-when="false" class="button button-full button-glow button-action" disabled>
                            Not
                            Selected
                          </button>
                          <button ng-switch-when="true" class="button button-full button-glow button-primary"
                                  ui-sref="application.protected.confirmShipAddress({reviewId:review.id})">Confirm
                            Shipping
                            Info
                          </button>
                        </div>
                      </div>
                      <div ng-switch-when="REVIEW">
                        <div ng-switch="applicant.is_selected">
                          <button ng-switch-when="false" class="button button-full button-glow button-plain" disabled>
                            Not
                            Selected
                          </button>
                          <div ng-switch="applicant.is_submit_report">
                            <div ng-switch="applicant.is_submit_report">
                              <button ng-switch-when="false" class="button button-full button-glow button-primary"
                                      ui-sref="application.protected.crowdtestingReport({reviewId:review.id})">Submit
                                Report
                              </button>
                              <button ng-switch-when="true" class="button button-full button-glow button-primary"
                                      ui-sref="application.protected.crowdtestingReport({reviewId:review.id})">Edit
                                Report
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div ng-switch-when="ENDED">
                        <div ng-switch="applicant.is_selected">
                          <button ng-switch-when="false" class="button button-full button-glow button-plain" disabled>
                            Completed
                          </button>
                          <div ng-switch="applicant.is_submit_report">
                            <div ng-switch="applicant.is_submit_report">
                              <button ng-switch-when="false" class="button button-full button-glow button-primary"
                                      ui-sref="application.protected.crowdtestingReport({reviewId:review.id})">Submit
                                Report
                              </button>
                              <button ng-switch-when="true" class="button button-full button-glow button-action"
                                      ui-sref="application.report({ reviewId:review.id,reportId:applicant.report})">View
                                My
                                Report
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div ng-show="review.status === 'SELECTION'">
            <div class="margin-top" ng-if="user.getUserId() == review.project.account.id || user.isStaff()">
              <a class="button button-primary button-glow button-full"
                 ui-sref="application.selectApplicants({reviewId:review.id})">Select
                Applicants</a>
            </div>
          </div>
          <div ng-show="review.status === 'CONFIRMATION'">
            <div class="margin-top" ng-if="user.getUserId() == review.project.account.id || user.isStaff()">
              <a class="button button-primary button-glow button-full"
                 ui-sref="application.selectApplicants({reviewId:review.id})">View
                Applicants</a>
            </div>
          </div>
          <div ng-show="review.status === 'REVIEW'">
            <div class="margin-top" ng-if="user.getUserId() == review.project.account.id || user.isStaff()">
              <a class="button button-primary button-glow button-full"
                 ui-sref="application.selectApplicants({reviewId:review.id})">View
                Shipping Address</a>
            </div>
          </div>
          <div ng-show="review.status === 'ENDED'">
            <div class="margin-top" ng-if="user.getUserId() == review.project.account.id || user.isStaff()">
              <a class="button button-primary button-glow button-full"
                 ui-sref="application.crowdtestingReports({reviewId:review.id})">View
                Reports</a>
            </div>
          </div>


          <h4 style="margin-top: 20px;margin-bottom: 15px;">Campaign Owner</h4>
          <h4></h4>


          <div class="card">
            <div class="card-body pr">
              <div class="item-avatar-middle-x padding-lr-clear" style="border-bottom: 0;">
                <div class="item-image">
                  <avatar-img src="review.project.account.avatar"></avatar-img>
                </div>
                <div class="item-body">
                  <p class="item-body-header">
                    <p class="p-2"><a ui-sref="application.expert({ expertId:review.project.account.id })">{{
                      review.project.account.fullname }}</a></p>
                    <!--<p><i class="fa fa-map-marker"></i> {{ review.project.account.country }}</p>-->
                </div>
              </div>
              <button class="button button-full button-glow button-primary" ng-show="!isCurrentUser" ng-click="contactUser()">
                Contact
              </button>
            </div>
          </div>

          <h4 ng-show="review.is_publish_applicants_confirmed" style="margin-top: 20px;margin-bottom: 15px;">
            Reviewers</h4>

          <div class="row" ng-show='review.is_publish_applicants_confirmed'>
            <div class="col-xs-12">
              <div class=" xb-profile xb-profile-small pull-left"
                   ng-repeat="item in review.applicants | filter:applicantsSearch">
                <profile-avatar class="xb-profile-avatar" src="item.reviewer.avatar"
                                name="item.reviewer.fullname"></profile-avatar>
                <p class="p-1">
                  <a class="xb-profile-name"
                     ui-sref="application.expert({expertId:item.reviewer.id})">
                    {{ item.reviewer.fullname }}
                  </a>
                </p>

                <!--<div ng-switch="item.is_submit_report">-->
                <!--<span class="label label-success xb-profile-label" ng-switch-when="true">Submitted</span>-->

                <!--<span ng-switch-when="false" ng-switch="item.is_extended">-->
                <!--<span class="label label-success xb-profile-label" ng-switch-when="true">Extended</span>-->

                <!--<span class="label label-default xb-profile-label" ng-switch-when="false">Selected</span>-->
                <!--</span>-->
                <!--</div>-->
              </div>
            </div>
            <!--</div>-->
          </div>
        </div>

        <div class="col-md-9 col-md-pull-3">
          <uib-tabset>
            <uib-tab heading="Details" active="tabs[0].active">
              <div id="section-rules">
                <div class="margin-bottom-xl hidden-xs">
                  <div class="row">
                    <div class="col-xs-3 col-sm-3 text-center">
                      <img src="/images/review_step_1.png" style="width:100%;max-width: 60px;">

                      <p class="margin-top">1. Submit Application</p>
                    </div>
                    <div class="col-xs-3 col-sm-3 text-center">
                      <img src="/images/review_step_2.png" style="width:100%;max-width: 60px;">

                      <p class="margin-top">2. Candidate Selection</p>
                    </div>
                    <div class="col-xs-3 col-sm-3 text-center">
                      <img src="/images/review_step_3.png" style="width:100%;max-width: 60px;">

                      <p class="margin-top">3. Product Shipment</p>
                    </div>
                    <div class="col-xs-3 col-sm-3 text-center">
                      <img src="/images/review_step_4.png" style="width:100%;max-width: 60px;">

                      <p class="margin-top">4. Review Submission</p>
                    </div>
                  </div>
                </div>


                <div class="margin-bottom-xl">
                  <h4 class="title-h4">Participation Rules</h4>

                  <p>{{ review.quota }} free samples will be given out for crowdtesting on Xberts.
                    Selected applicants will receive a free product for review purpose. To participate in this program,
                    please click on the “Apply Now” button
                    and fill out a brief application form.</p>

                  <p class="margin-top"><i>Timeline:</i></p>
                  <ul>
                    <li>
                      Application Deadline: {{ review.application_end_date |amDateFormat:'MMM DD, YYYY' }}
                    </li>
                    <li>
                      Announce Selected Reviewers: within a week after application ended

                    </li>
                    <li>
                      Testing Period: 2~3 weeks after receiving a product sample
                    </li>
                    <li>
                      Review Submission Deadline: {{ review.date_end |amDateFormat:'MMM DD, YYYY' }}

                    </li>
                  </ul>
                  <p class="margin-top"><i>Benefits:</i></p>
                  <ul>
                    <li>
                      Reviewer can keep the product sample for FREE after submitting a review report

                    </li>
                    <li>
                      Be the first to test the most innovative products and share your opinions to make an impact

                    </li>
                  </ul>
                  <p class="margin-top"><i>Requirements:</i></p>
                  <ul>
                    <li>
                      All selected applicants must submit their review reports before deadline, otherwise they will have
                      to
                      return
                      the product to Xberts

                    </li>
                    <li>
                      A review report should be UNBIASED and match the following criteria:
                      <ul style="list-style-type: lower-alpha">
                        <li>Minimum 500 words</li>
                        <li>5 photos minimum</li>
                        <li>Video is preferable but not required, unless stated otherwise</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>

              <div id="section-product" class="margin-bottom-xl">
                <h4 class="title-h4">Product Description</h4>

                <div class="tab-content" ng-bind-html="review.project.details | trust"></div>
              </div>
            </uib-tab>
            <uib-tab heading="Reviews" active="tabs[2].active"
                     select="select('reviews')" ng-if="reportPaginator.items.length>0">
              <div ng-if="reviewsTabActive">
                <div id="section-report" class="margin-bottom-xl">
                  <div class="list list-borderless" infinite-scroll="reportPaginator.loadNext()"
                       infinite-scroll-distance='0'
                       infinite-scroll-disabled="reportPaginator.getLoading() || !reportPaginator.getNext()">
                    <div class="item-avatar-large" style="min-height: 127px;"
                         ng-repeat="report in reportPaginator.items">
                      <div class="item-image text-center">
                        <avatar-img src="report.applicant.reviewer.avatar"></avatar-img>
                      </div>
                      <div class="item-body">
                        <p class="item-body-header">
                  <span><a ui-sref="application.report({reviewId:review.id,reportId:report.id})">{{report.applicant.reviewer.fullname
                    }}</a></span>
                          <span class="pull-right">{{ report.applicant.reviewer.country }}</span>
                        </p>

                        <p class="item-body-detail p-3-max" ng-bind-html="report.description |trust"></p>

                        <p class="xb-align-right">
                          <a ui-sref="application.report({reviewId:review.id,reportId:report.id})"><i class="small">View
                            More
                            ...</i></a>
                        </p>
                      </div>
                    </div>

                  </div>
                  <load-more class="row spin-large" ng-if="reportPaginator.getLoading()"></load-more>
                </div>

              </div>
            </uib-tab>
            <uib-tab heading="Discussion" active="tabs[1].active"
                     select="select('comments')">
              <div ng-if="commentsTabActive">
                <div ng-include src="'views/comments.html'"></div>
              </div>
            </uib-tab>

          </uib-tabset>
        </div>
      </div>
    </div>

  </section>
</join>
