<join ng-init="init(review.interact)">
  <div class="xb-page-product">
    <div class="container ">
      <h2 class="xb-page-product-title">{{ review.title }}</h2>

      <p class="xb-page-product-subtitle">
        <span class="margin-right">
          <i class="fa fa-tag"></i>&nbsp;<span
          ng-repeat="category in review.project.categories">{{ category.name }}<span ng-if="!$last">,</span></span>
        </span>

        <button class="button button-primary button-circle button-small" socialshare
                socialshare-provider="linkedin"
                socialshare-description="{{ review.project.description }}"
                socialshare-text="{{ review.project.title }}"
                socialshare-source="{{ review.banner }}"
                socialshare-url="{{ pageSettings.getUrl() }}">
          <i class="fa fa-linkedin"></i>
        </button>
        <button class="button button-royal button-circle button-small" socialshare
                socialshare-provider="facebook"
                socialshare-media="{{ review.banner }}"
                socialshare-description="{{ review.project.description }}"
                socialshare-text="{{ review.project.title }}"
                socialshare-url="{{ pageSettings.getUrl() }}">
          <i class="fa fa-facebook"></i>
        </button>

        <button class="button button-caution button-circle button-small" socialshare
                socialshare-provider="twitter"
                socialshare-media="{{ review.banner }}"
                socialshare-description="{{ review.project.description }}"
                socialshare-text="{{ review.project.title }}"
                socialshare-source="{{ review.banner }}"
                socialshare-url="{{ pageSettings.getUrl() }}">
          <i class="fa fa-twitter"></i>
        </button>
      </p>
    </div>
  </div>

  <section>
    <div class=" container">

      <div class="row">
        <div class="col-md-4 col-md-push-8 margin-bottom-xl">

          <div class="five-to-three visible-xs" style="background-image: url({{ review.cover }})">

          </div>

          <div class="xb-card-board">
            <div class="xb-card-board-item">
              <p class="xb-card-board-label"> Product Stage</p>

              <p class="xb-card-board-value" ng-switch="review.reviewType">
                <span ng-switch-when="FREE_SAMPLE">Beta</span>
                <span ng-switch-when="PAID">New Release</span>
              </p>
            </div>

            <div class="xb-card-board-item">
              <p ng-switch="review.reviewType" class="xb-card-board-label">
                <span ng-switch-when="FREE_SAMPLE"> Sample Price</span>
                <span ng-switch-default> Early Bird Price</span>
              </p>

              <p class="xb-card-board-value" ng-switch="review.reviewType">
                <span ng-switch-when="FREE_SAMPLE">Free</span>
                <span ng-switch-default>{{ review.flashsale.salePrice.amount |currency }}</span>
              </p>
            </div>

            <div class="xb-card-board-item">
              <p class="xb-card-board-label"> Original Price</p>

              <p class="xb-card-board-value">
                <del>{{ review.project.retailPrice.amount |currency }}</del>
              </p>
            </div>

            <div class="xb-card-board-item">
              <p class="xb-card-board-label"> Time Left</p>

              <p class="xb-card-board-value">
                <timer end-time="review.applicationEndDate">
                  {{days|doubleDigit}} day{{daysS}},
                  {{hours|doubleDigit}}:{{minutes|doubleDigit}}:{{seconds|doubleDigit}}
                </timer>
              </p>
            </div>

            <div class="xb-card-board-item" ng-switch="review.reviewType">
              <div ng-switch-when="FREE_SAMPLE">
                <p class="xb-card-board-label"> Total Available Units</p>
                <p class="xb-card-board-value">{{ review.flashsale.totalUnits }}</p>
              </div>
              <div ng-switch-default>
                <p class="xb-card-board-label"> Units Sold</p>

                <div class="font-gray-light progress-tip-down progress-bar-thin">

                  <uib-progressbar class="active" max="review.flashsale.totalUnits"
                                   value="review.flashsale.totalUnits-review.flashsale.availableUnits">
                  </uib-progressbar>
                  <div class="progress-tip">
                    <span
                      class="progress-tip-left"> {{ percentage() }}% Claimed</span>
                  </div>
                </div>
              </div>
            </div>

            <div ng-switch="applicant.exist" class="margin-top">
              <div ng-switch-when="false">
                <div ng-switch="review.status">
                  <button ng-switch-when="UPCOMING" class="btn btn-block btn-success-disabled"
                          disabled>
                    Coming Soon
                  </button>
                  <div ng-switch-when="APPLICATION">
                    <div ng-switch="review.reviewType">
                      <button ng-switch-when="FREE_SAMPLE" class="btn btn-block btn-primary"
                              ui-sref="application.protected.apply({reviewId:review.id})">APPLY NOW
                      </button>
                      <button ng-switch-when="PAID" class="btn btn-block btn-primary"
                              ng-click="buyClicked()">BUY NOW
                      </button>
                    </div>
                  </div>
                  <button ng-switch-when="SELECTION" class="btn btn-block btn-default" disabled>
                    Application
                    Ended
                  </button>
                  <button ng-switch-when="CONFIRMATION" class="btn btn-block btn-default"
                          disabled>
                    Application
                    Ended
                  </button>

                  <div ng-switch-when="REVIEW">
                    <div ng-switch="user.isAuth()">
                      <button ng-switch-when="true" class="btn btn-block btn-default" disabled>In
                        Progress
                      </button>
                      <button ng-switch-when="false" class="btn btn-block btn-primary"
                              ui-sref="application.protected.crowdtestingReport({reviewId:review.id})">Submit Report
                      </button>
                    </div>
                  </div>
                  <button ng-switch-when="ENDED" class="btn btn-block btn-default" disabled>
                    Completed
                  </button>
                </div>
              </div>
              <div ng-switch-when="true">
                <div ng-switch="review.status">
                  <button ng-switch-when="UPCOMING" class="btn btn-block btn-success-disabled"
                          disabled>
                    Coming Soon
                  </button>
                  <button ng-switch-when="APPLICATION" class="btn btn-block btn-primary"
                          ui-sref="application.protected.apply({reviewId:review.id})">Edit Application
                  </button>
                  <button ng-switch-when="SELECTION" class="btn btn-block btn-success-disabled" disabled>
                    Screening
                  </button>
                  <div ng-switch-when="CONFIRMATION">
                    <div ng-switch="applicant.is_selected">
                      <button ng-switch-when="false" class="btn btn-block btn-success-disabled" disabled>
                        Not
                        Selected
                      </button>
                      <button ng-switch-when="true" class="btn btn-block btn-primary"
                              ui-sref="application.protected.confirmShipAddress({reviewId:review.id})">Confirm
                        Shipping
                        Info
                      </button>
                    </div>
                  </div>
                  <div ng-switch-when="REVIEW">
                    <div ng-switch="applicant.is_selected">
                      <button ng-switch-when="false" class="btn btn-block btn-default" disabled>
                        Not
                        Selected
                      </button>
                      <div ng-switch="applicant.is_submit_report">
                        <div ng-switch="applicant.is_submit_report">
                          <button ng-switch-when="false" class="btn btn-block btn-primary"
                                  ui-sref="application.protected.crowdtestingReport({reviewId:review.id})">Submit
                            Report
                          </button>
                          <button ng-switch-when="true" class="btn btn-block btn-primary"
                                  ui-sref="application.protected.crowdtestingReport({reviewId:review.id})">Edit
                            Report
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div ng-switch-when="ENDED">
                    <div ng-switch="applicant.is_selected">
                      <button ng-switch-when="false" class="btn btn-block btn-default" disabled>
                        Completed
                      </button>
                      <div ng-switch="applicant.is_submit_report">
                        <div ng-switch="applicant.is_submit_report">
                          <button ng-switch-when="false" class="btn btn-block btn-primary"
                                  ui-sref="application.protected.crowdtestingReport({reviewId:review.id})">Submit
                            Report
                          </button>
                          <button ng-switch-when="true" class="btn btn-block btn-success"
                                  ui-sref="application.report({ reviewId:review.id,reportId:applicant.report})">View
                            My
                            Report
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="xb-card-board" ng-if="review.reviewType === 'PAID'">
            <div class="xb-card-board-title">Shipping Info</div>

            <div class="xb-card-board-item">
              <p class="xb-card-board-label"> Shipping Charge</p>

              <p class="xb-card-board-value">
                Free shipping
              </p>
            </div>

            <div class="xb-card-board-item">
              <p class="xb-card-board-label"> Shipping Availability</p>

              <p class="xb-card-board-value">
                United States
              </p>
            </div>
            <div class="xb-card-board-item">
              <p class="xb-card-board-label"> Estimated Delivery</p>

              <p class="xb-card-board-value">
                2-3 weeks after campaign ends
              </p>
            </div>
            <div class="xb-card-board-item">
              <p class="xb-card-board-label"> Return Policy</p>

              <p class="xb-card-board-value">
                Free return
              </p>
            </div>
          </div>

          <div class="xb-card-board" ng-if="review.reviewType=='FREE_SAMPLE'">
            <div class="card-body pr">
              <div class="item-avatar-middle-x padding-lr-clear" style="border-bottom: 0;">
                <div class="item-image">
                  <avatar-img src="review.project.account.avatar"></avatar-img>
                </div>
                <div class="item-body">
                  <p class="item-body-header">

                  <p class="p-1"><a ui-sref="application.expert({ expertId:review.project.account.id })">{{
                    review.project.account.fullname }}</a></p>

                </div>
              </div>
              <button class="btn btn-block btn-primary" ng-show="!isCurrentUser"
                      ng-click="contactUser()">
                Contact Maker
              </button>
            </div>
          </div>

          <div class="xb-card-board" ng-if="user.getUserId() == review.project.account.id || user.isStaff()">
            <div class="card-body">
              <div ng-show="review.status === 'SELECTION'">
                <div class="margin-top">
                  <a class="btn btn-block btn-primary"
                     ui-sref="application.selectApplicants({reviewId:review.id})">Select
                    Applicants</a>
                </div>
              </div>
              <div ng-show="review.status === 'CONFIRMATION'">
                <div class="margin-top">
                  <a class="btn btn-block btn-primary"
                     ui-sref="application.selectApplicants({reviewId:review.id})">View
                    Applicants</a>
                </div>
              </div>
              <div ng-show="review.status === 'REVIEW'">
                <div class="margin-top">
                  <a class="btn btn-block btn-primary"
                     ui-sref="application.selectApplicants({reviewId:review.id})">View
                    Shipping Address</a>
                </div>
              </div>
              <div ng-show="review.status === 'ENDED'">
                <div class="margin-top">
                  <a class="btn btn-block btn-primary"
                     ui-sref="application.crowdtestingReports({reviewId:review.id})">View
                    Reports</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8 col-md-pull-4">
          <div class="five-to-three hidden-xs" style="background-image: url({{ review.project.mainImage }})">

          </div>
          <uib-tabset class="background-bg-white" active="tabActive">
            <uib-tab heading="Description" index="0">
              <div class="xb-detail-section">
                <h3 class="xb-detail-section-title margin-top-clear" ng-switch="review.reviewType">
                  <span ng-switch-when="FREE_SAMPLE">Want to try it for free? Submit your application!</span>
                  <span ng-switch-when="PAID">Want to win a full refund? Share your reviews!</span>
                  </h3>

                <div class="row xb-detail-section-detail">
                  <div class="col-xs-3 col-sm-3 text-center">
                    <img src="/images/crowdtesting-step-1.png" style="width:100%;max-width: 60px;">

                    <p class="margin-top" ng-switch="review.reviewType">
                      <span ng-switch-when="FREE_SAMPLE">Apply Now</span>
                      <span ng-switch-when="PAID">Place Order</span>
                    </p>
                  </div>
                  <div class="col-xs-3 col-sm-3 text-center">
                    <img src="/images/crowdtesting-step-2.png" style="width:100%;max-width: 60px;">

                    <p class="margin-top" ng-switch="review.reviewType">
                      <span ng-switch-when="FREE_SAMPLE">Get Selected</span>
                      <span ng-switch-when="PAID">Try Product</span>
                    </p>
                  </div>
                  <div class="col-xs-3 col-sm-3 text-center">
                    <img src="/images/crowdtesting-step-3.png" style="width:100%;max-width: 60px;">

                    <p class="margin-top" ng-switch="review.reviewType">
                      <span ng-switch-when="FREE_SAMPLE">Try Product</span>
                      <span ng-switch-when="PAID">Share Review</span>
                    </p>
                  </div>
                  <div class="col-xs-3 col-sm-3 text-center">
                    <img src="/images/crowdtesting-step-4.png" style="width:100%;max-width: 60px;">

                    <p class="margin-top" ng-switch="review.reviewType">
                      <span ng-switch-when="FREE_SAMPLE">Submit Review</span>
                      <span ng-switch-when="PAID">Get Reward</span>
                    </p>
                  </div>
                </div>

              </div>

              <div class="xb-detail-section">

                <h3 class="xb-detail-section-title">Rewards: </h3>

                <div ng-switch="review.reviewType" class="xb-detail-section-detail">
                  <div ng-switch-when="FREE_SAMPLE">
                    <ul>
                      <li>Keep the product for FREE after submitting a review as instructed</li>
                      <li>Get the privilege of being selected for more free trial campaigns</li>
                    </ul>
                  </div>
                  <div ng-switch-when="PAID">
                    <ul>
                      <li>Get 10% discount on your next purchase</li>
                      <li>The best reviewer will get a full refund to a gift card</li>
                    </ul>
                  </div>

                </div>
              </div>

              <div class="xb-detail-section">

                <h3 class="xb-detail-section-title">Requirements: </h3>

                <div ng-switch="review.reviewType" class="xb-detail-section-detail">
                  <div ng-switch-when="FREE_SAMPLE">
                    <ul>
                      <li>All selected applicants must submit their reviews before {{ review.dateEnd | amDateFormat:'MMM DD,YYYY'}}., otherwise they will have to
                        return the product to Xberts
                      </li>
                      <li>
                        The review content should be UNBIASED and match the following criteria:
                        <ul class="xb-ul-alpha">
                          <li>Minimum 300 words</li>
                          <li>3 photos minimum</li>
                          <li>Video is preferable</li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div ng-switch-when="PAID">
                    <ul>
                      <li>All participants should submit their reviews before DD-MM to be considered a reward</li>
                      <li>The review content should be ORIGINAL and related to the product</li>
                    </ul>
                  </div>

                </div>
              </div>

              <div class="xb-detail-section">
                <h3 class="xb-detail-section-title">Product Description:</h3>

                <div ng-bind-html="review.project.details | trust" class="xb-detail-section-detail">
                </div>

              </div>
            </uib-tab>
            <uib-tab heading="Discussion" index="1"
                     select="select('comments')">
              <div ng-if="commentsTabActive">
                <div ng-include src="'views/comments.html'"></div>
              </div>
            </uib-tab>
            <uib-tab heading="Reviews" index="2"
                     select="select('reviews')">
              <div ng-if="reviewersTabActive">
                <div class="xb-list" infinite-scroll="reportPaginator.loadNext()" infinite-scroll-distance='0'
                     infinite-scroll-disabled="reportPaginator.getLoading() || !reportPaginator.getNext()">

                  <div ng-if="reportPaginator.items.length === 0">
                    <h4 class="empty-state">Waiting for reviews&hellip;</h4>
                  </div>

                  <div class="xb-list-item xb-list-item-left-image" ng-repeat="report in reportPaginator.items">
                    <img ng-src="{{ report.image }}" class="xb-list-image">

                    <p class="xb-list-item-title p-1">{{report.title}}</p>

                    <p class="xb-list-item-detail p-4" ng-bind-html="report.description |trust"></p>

                    <div class="xb-list-item-footer">
                      <div class="item-avatar-middle-x padding-clear" style="border-bottom: 0;">
                        <div class="item-image">
                          <avatar-img src="report.applicant.reviewer.avatar"></avatar-img>
                        </div>
                        <div class="item-body">
                          <p class="p-1" style="padding-top: 3px;">
                            <a ui-sref="application.expert({ expertId:report.applicant.reviewer.id })">
                              {{ report.applicant.reviewer.fullname }}</a>
                          </p>

                          <div class="row" style="margin-top: 10px;">
                            <div class="col-xs-6">

                              <p class="p-1" style="margin-bottom: 0">
                                <i class="fa fa-map-marker"></i> {{report.applicant.reviewer.country}}
                              </p>
                            </div>
                            <div class="col-xs-6 xb-align-right"><a class="text-underline xb-link"
                                                                    ui-sref="application.report({reviewId:review.id,reportId:report.id})">
                              View More...</a></div>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <load-more class="row spin-large" ng-if="reportPaginator.getLoading()"></load-more>
              </div>

              <!--<div class="xb-list">-->
              <!--<div class="xb-list-item xb-list-item-left-image">-->
              <!--<img src="/images/test.jpeg" class="xb-list-image">-->

              <!--<p class="xb-list-item-title">Make everyday conversations</p>-->

              <!--<p class="xb-list-item-detail p-4">他的作品是不可思议的， 人类几乎达不到。” ··· 水彩画的魔术师 他是我国的一级美术师， 他的水彩画曾获美国水彩展金奖。-->
              <!--但因特殊的历史原因， 他也沉寂了长达26年。 “他的作品是不可思议的， 人类几乎达不到。” ··· 水彩画的魔术师 他是我国的一级美术师， 他的水彩画曾获美国水彩展金奖。 但因特殊的历史原因-->
              <!--“他的作品是不可思议的， 人类几乎达不到。” ··· 水彩画的魔术师 他是我国的一级美术师 “他</p>-->

              <!--<div class="xb-list-item-footer">-->
              <!--<div class="item-avatar-middle-x padding-clear" style="border-bottom: 0;">-->
              <!--<div class="item-image">-->
              <!--<avatar-img src="report.applicant.reviewer.avatar"></avatar-img>-->
              <!--</div>-->
              <!--<div class="item-body">-->
              <!--<p class="p-1" style="padding-top: 3px;">-->
              <!--<a ui-sref="application.expert({ expertId:report.applicant.reviewer.id })">-->
              <!--Yudong zhao</a>-->
              <!--</p>-->

              <!--<div class="row" style="margin-top: 10px;">-->
              <!--<div class="col-xs-6">-->

              <!--<p class="p-1">-->
              <!--<i class="fa fa-map-marker"></i>JHs-->
              <!--</p>-->
              <!--</div>-->
              <!--<div class="col-xs-6 xb-align-right"><a class="text-underline xb-link"-->
              <!--ui-sref="application.report({reviewId:review.id,reportId:report.id})">-->
              <!--View More...</a></div>-->
              <!--</div>-->


              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
              <!--<div class="xb-list-item xb-list-item-left-image">-->
              <!--<img src="/images/test.jpeg" class="xb-list-image">-->

              <!--<p class="xb-list-item-title">Make everyday conversations</p>-->

              <!--<p class="xb-list-item-detail p-4">他的作品是不可思议的， 人类几乎达不到。” ··· 水彩画的魔术师 他是我国的一级美术师， 他的水彩画曾获美国水彩展金奖。-->
              <!--但因特殊的历史原因， 他也沉寂了长达26年。 “他的作品是不可思议的， 人类几乎达不到。” ··· 水彩画的魔术师 他是我国的一级美术师， 他的水彩画曾获美国水彩展金奖。 但因特殊的历史原因-->
              <!--“他的作品是不可思议的， 人类几乎达不到。” ··· 水彩画的魔术师 他是我国的一级美术师 “他</p>-->

              <!--<div class="xb-list-item-footer">-->
              <!--<div class="item-avatar-middle-x padding-clear" style="border-bottom: 0;">-->
              <!--<div class="item-image">-->
              <!--<avatar-img src="report.applicant.reviewer.avatar"></avatar-img>-->
              <!--</div>-->
              <!--<div class="item-body" style="padding-top: 3px;">-->
              <!--<p class="p-1">-->
              <!--<a ui-sref="application.expert({ expertId:report.applicant.reviewer.id })">-->
              <!--Yudong zhao</a>-->
              <!--</p>-->

              <!--<div class="row" style="margin-top: 10px;">-->
              <!--<div class="col-xs-6">-->

              <!--<p class="p-1" style="margin-bottom: 0">-->
              <!--<i class="fa fa-map-marker"></i>JHs-->
              <!--</p>-->
              <!--</div>-->
              <!--<div class="col-xs-6 xb-align-right"><a class="text-underline xb-link"-->
              <!--ui-sref="application.report({reviewId:review.id,reportId:report.id})">-->
              <!--View More...</a></div>-->
              <!--</div>-->


              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->

            </uib-tab>
          </uib-tabset>
        </div>
      </div>
    </div>

  </section>
</join>
