<div class="navbar navbar-default navbar-fixed-top-sub" role="navigation" ng-show="sub.subNavShow">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <ul class="nav navbar-nav">
          <li id="sub_nav_show" du-smooth-scroll="section-1" du-scrollspy style="display: none;">
            <a class="fade-in-line hidden-xs">Sub title</a>
          </li>
          <li du-smooth-scroll="section-2" du-scrollspy>
            <a class="fade-in-line hidden-xs" ng-click="toSection2();">PROCESS</a>
          </li>
          <li du-smooth-scroll="section-3" du-scrollspy>
            <a class="fade-in-line hidden-xs" ng-click="toSection3();">DETAILS</a>
          </li>
          <li du-smooth-scroll="section-4" du-scrollspy>
            <a class="fade-in-line hidden-xs" ng-click="toSection4();">DESCRIPTION</a></li>
        </ul>
      </div>
      <!--<div class="col-md-3" ng-if="isOutDated(review.date_end)">-->
      <!--<a ui-sref="application.protected.reviewApplicant({reviewId:review.id})"-->
      <!--class="btn btn-primary navbar-btn navbar-right" style="width: 120px">APPLY NOW</a>-->
      <!--</div>-->
      <div ng-switch="applicant.exist" class="col-md-3 align-right">
        <div ng-switch-when="false">
          <div ng-switch="isOutDated(review.application_end_date)">
            <a ng-switch-when="false" ui-sref="application.protected.reviewApplicant({reviewId:review.id})"
               class="btn btn-primary navbar-btn navbar-right">Apply Now</a>

            <div ng-switch-when="true">
              <div ng-switch="isOutDated(review.date_end)">
                <div ng-switch-when="false">
                  <div ng-switch="user.isAuth()">
                    <a ng-switch-when="false" class="btn btn-primary navbar-btn navbar-right"
                       ui-sref="application.protected.reviewReport({reviewId:review.id})">Submit Review</a>
                    <a ng-switch-when="true" class="btn btn-gray navbar-btn navbar-right">Application Ended</a>
                  </div>
                </div>
                <a ng-switch-when="true"
                   class="btn btn-gray navbar-btn navbar-right">Review Ended</a>
              </div>
            </div>
          </div>
        </div>

        <div ng-switch-when="true">
          <div ng-switch="applicant.is_selected">
            <div ng-switch-when="true">
              <div ng-switch="applicant.is_submit_report">
                <a ng-switch-when="false" ui-sref="application.protected.reviewReport({reviewId:review.id})"
                   class="btn btn-primary navbar-btn navbar-right">Submit Review</a>

                <div ng-switch-when="true">
                  <div ng-switch="isOutDated(review.date_end)">
                    <a ng-switch-when="false" ui-sref="application.protected.reviewReport({reviewId:review.id})"
                       class="btn btn-primary navbar-btn navbar-right">Edit Review</a>
                    <a ng-switch-when="true" class="btn btn-gray navbar-btn navbar-right">Review Ended</a>
                  </div>
                </div>
              </div>
            </div>
            <div ng-switch-when="false">
              <div ng-switch="isOutDated(review.date_end)">
                <a ng-switch-when="false" class="btn btn-gray navbar-btn navbar-right">Not Selected</a>
                <a ng-switch-when="true" class="btn btn-gray navbar-btn navbar-right">Review Ended</a>
              </div>
            </div>
            <a ng-switch-when="null" ui-sref="application.protected.reviewApplicant({reviewId:review.id})"
               class="btn btn-primary navbar-btn navbar-right">Edit Application</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="section-fixed-sm"
         style="background-image: url({{ review.banner }})" id="section-1">
  <div class="section-title " style="margin-top:90px">

    <h1 style="color: #FFFFFF;">{{ review.title }}</h1>

  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-md-9">
      <section class="padding-top-clear" id="section-2">
        <h4 class="margin-top-clear">Process</h4>
        <hr>
        <div class="tab-content">
          <ul>
            <li>
              Step 1:<br/>Apply for this product review campaign online.
            </li>
            <br/>

            <li>
              Step 2:<br/> Xberts team will contact successful applicants via Email to confirm his/her shipping
              information.
              If the
              successful applicant does not respond to Email before deadline, Xberts will assume this applicant give up
              his/her candidacy.
            </li>
            <br/>

            <li>
              Step 3: <br/>After your shipping address is confirmed, product will be directly shipped to you from
              campaign
              owner. Xberts will
              provide each
              reviewer with a tracking number and further instructions on review and submission.
            </li>
            <br/>

            <li>
              Step 4: <br/>After receiving the product, selected applicants will be required to try out the sample,
              and submit their product reviews by {{ review.date_end |amDateFormat:'MMM DD, YYYY'}}.
              The review report should include multiple photos or a video.
            </li>
          </ul>


        </div>
      </section>
      <section class="padding-top-clear" id="section-3">
        <h4 class="margin-top-clear">Details</h4>
        <hr>
        <!--<div class="tab-content" ng-bind-html="event.details | trust"></div>-->
        <p>{{ review.quota }} free samples will be given out for crowdtesting on Xberts.
          Selected applicants will receive a free product for review purpose. To participate in this program,
          please click on the “Apply Now” button
          and fill out a brief application form.</p>

        <p class="margin-top"><b>Timeline:</b></p>
        <ul>
          <li>
            Application Deadline: {{ review.application_end_date |amDateFormat:'MMM DD, YYYY' }}
          </li>
          <li>
            Announce Selected Reviewers: within a week after application ended

          </li>
          <li>
            Testing Period: 2~3 weeks after receiving a product sample
          </li>
          <li>
            Review Submission Deadline: {{ review.date_end |amDateFormat:'MMM DD, YYYY' }}

          </li>
        </ul>
        <p class="margin-top"><b>Benefits:</b></p>
        <ul>
          <li>
            Reviewer can keep the product sample for FREE after submitting a review report

          </li>
          <li>
            Be the first to test the most innovative products and share your opinions to make an impact

          </li>
        </ul>
        <p class="margin-top"><b>Requirements:</b></p>
        <ul>
          <li>
            All selected applicants must submit their review reports before deadline, otherwise they will have to return the product to Xberts

          </li>
          <li>
            A review report should be UNBIASED and match the following criteria:
            <ul style="list-style-type: lower-alpha">
              <li>Minimum 500 words</li>
              <li>5 photos minimum</li>
              <li>Video is preferable but not required, unless stated otherwise</li>
            </ul>
          </li>
        </ul>




      </section>
      <section id="section-4" class="padding-top-clear">
        <h4 class="margin-top-clear">Description</h4>
        <hr>
        <div class="tab-content" ng-bind-html="review.project.details | trust"></div>
      </section>
    </div>
    <div class="col-md-3">
      <!--<h4 class="margin-top-clear">Details</h4>-->

      <div class="card card-margin-bottomless" style="border-radius: 5px">

        <div class="card-body">
          <div class="card-body-detail">
            <h4> Product Value:</h4>

            <p class="font-gray-light">$ {{ review.price }}</p>
            <h4> Available Units: </h4>

            <p class="font-gray-light">{{ review.quota }} Free Samples</p>


            <h4> Application Deadline:</h4>

            <p class="font-gray-light">{{ review.application_end_date | amDateFormat:'MMM DD, YYYY'}}</p>

            <h4> Review Deadline:</h4>

            <p class="font-gray-light">{{ review.date_end | amDateFormat:'MMM DD, YYYY'}}</p>

          </div>
        </div>
      </div>
      <div ng-switch="applicant.exist" class="margin-top">
        <div ng-switch-when="false">
          <div ng-switch="isOutDated(review.application_end_date)">
            <a ng-switch-when="false" ui-sref="application.protected.reviewApplicant({reviewId:review.id})"
               class="button button-primary button-rounded button-full">Apply Now</a>

            <div ng-switch-when="true">
              <div ng-switch="isOutDated(review.date_end)">
                <div ng-switch-when="false">
                  <div ng-switch="user.isAuth()">
                    <a ng-switch-when="false" class="button button-primary button-rounded button-full"
                       ui-sref="application.protected.reviewReport({reviewId:review.id})">Submit Review</a>
                    <a ng-switch-when="true" class="button  button-rounded button-full">Application Ended</a>
                  </div>
                </div>
                <a ng-switch-when="true"
                   class="button button-rounded button-full">Review Ended</a>
              </div>
            </div>
          </div>
        </div>

        <div ng-switch-when="true">
          <div ng-switch="applicant.is_selected">
            <div ng-switch-when="true">
              <div ng-switch="applicant.is_submit_report">
                <a ng-switch-when="false" ui-sref="application.protected.reviewReport({reviewId:review.id})"
                   class="button button-primary button-rounded button-full">Submit Review</a>

                <div ng-switch-when="true">
                  <div ng-switch="isOutDated(review.date_end)">
                    <a ng-switch-when="false" ui-sref="application.protected.reviewReport({reviewId:review.id})"
                       class="button button-primary button-rounded button-full">Edit Review</a>
                    <a ng-switch-when="true" class="button button-rounded button-full">Review Ended</a>
                  </div>
                </div>
              </div>
            </div>
            <div ng-switch-when="false">
              <div ng-switch="isOutDated(review.date_end)">
                <a ng-switch-when="false" class="button button-rounded button-full">Not Selected</a>
                <a ng-switch-when="true" class="button button-rounded button-full">Review Ended</a>
              </div>
            </div>
            <a ng-switch-when="null" ui-sref="application.protected.reviewApplicant({reviewId:review.id})"
               class="button button-primary button-rounded button-full">Edit Application</a>
          </div>
        </div>
      </div>
      <div ng-show="isApplicantsSelectionButtonActive">
        <div class="margin-top" ng-if="user.getUserId() == review.project.account || user.isStaff()">
          <a class="button button-primary button-rounded button-full" ui-sref="application.reviewApplicants({reviewId:review.id})">Select
            Applicants</a>
        </div>
      </div>
      <div ng-show="review.is_publish_applicants">
        <div class="margin-top" ng-if="user.getUserId() == review.project.account || user.isStaff()">
          <a class="button button-primary button-rounded button-full" ui-sref="application.reviewApplicants({reviewId:review.id})">View
            Applicants</a>
        </div>
      </div>
      <div ng-show="isReportsReviewButtonActive && review.is_publish_applicants">
        <div class="margin-top" ng-if="user.getUserId() == review.project.account || user.isStaff()">
          <a class="button button-primary button-rounded button-full" ui-sref="application.reviewReports({reviewId:review.id})">View
            Reports</a>
        </div>
      </div>

      <h4 ng-show="review.is_publish_applicants" style="margin-top: 20px;margin-bottom: 15px;">Reviewers</h4>

      <div class="row" ng-show='review.is_publish_applicants'>
        <div class="col-xs-3 text-center" ng-repeat="item in review.applicants | filter:applicantsSearch">
          <a class="block-link default" ui-sref="application.expert({ expertId:item.reviewer.id })">
            <div class="avatar-text-small-1">
              <avatar-img src="item.reviewer.avatar" name="item.reviewer.fullname"></avatar-img>
            </div>
          </a>

          <p class="p-1"><a class="default" ui-sref="application.expert({ expertId:item.reviewer.id })">{{
            item.reviewer.fullname}}</a></p>

          <div ng-switch="item.is_submit_report">
            <p ng-switch-when="true" style="font-size: 8px"><span
              style="padding: 2px;border-radius: 2px;background-color:#00cc52;color: #fff">Submitted</span></p>

            <p ng-switch-when="false" style="font-size: 8px"><span
              style="padding: 2px;border-radius: 2px;background-color:#C7C7C7;color: #fff">Selected</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

