<join ng-init="init(review.interact)">
  <div id="review-detail" class="review-detail-page">
    <div class="container">

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-8">
          <div class="xcard xcard--borderless">
            <div class="xcard__image_wrap">
              <img ng-src="{{ review.project.mainImage }}"/>
            </div>
            <div class="xcard__block">
              <div class="review-info visible-xs visible-sm">
                <p class="review-info__title">{{ review.title }}</p>
                <p class="review-info__category">
            <span class="margin-right">
              <span ng-repeat="category in review.project.categories">{{ category.name }}<span
                ng-if="!$last">,</span></span>
            </span>
                </p>
                <ul class="l-list-inline l-list-inline--strip align-center review-info__status">
                  <li class="c-status c-status--review-detail">
                    <span class="c-status__key">Available Units</span>
                    <ng-pluralize class="c-status__value" count="review.sampleNum"
                                  when="{'0': '0 sample',
                               '1': '1 sample',
                               'other': '{{review.sampleNum}} samples'}"></ng-pluralize>
                  </li>
                  <li class="c-status c-status--review-detail">
                    <span class="c-status__key">Time Left</span>
              <span class="c-status__value">
                <timer end-time="review.applicationEndDate">
                  {{days|doubleDigit}} day{{daysS}},
                  {{hours|doubleDigit}}:{{minutes|doubleDigit}}:{{seconds|doubleDigit}}
                </timer>
              </span>
                  </li>
                  <li class="c-status c-status--review-detail">
                    <span class="c-status__key">Price</span>
                    <span class="c-status__value"><span class="line-through font-del-price">{{ review.project.retailPrice.amount | currency}}</span> Free</span>
                  </li>
                </ul>
                <div class="review-info__button" ng-include="'views/review/review-main-action.html'">
                </div>
                <div class="c-image-line visible-xs visible-sm">
                  <div class="c-image-line__item">
                    <div class="c-image-line__item__image-wrap">
                      <img
                        src="https://xberts.imgix.net/static/icon/step1-green.png?s=5dedc19db80f1cc000b92ec473dd84ef">
                    </div>

                    <p class="c-image-line__item__text">
                      Join<br/> Now
                    </p>
                  </div>
                  <div class="c-image-line__item">
                    <div class="c-image-line__item__image-wrap">
                      <img
                        src="https://xberts.imgix.net/static/icon/step2-green.png?s=5b3fce4c449bb1e6621a4f04299959fb"/>
                    </div>
                    <p class="c-image-line__item__text">
                      Get<br/>Selected
                    </p>
                  </div>
                  <div class="c-image-line__item">
                    <div class="c-image-line__item__image-wrap">
                      <img
                        src="https://xberts.imgix.net/static/icon/step3-green.png?s=6264a1aa1b3677e6c98a4c49c94fb132"/>
                    </div>

                    <p class="c-image-line__item__text">
                      Receive<br/>Product
                    </p>
                  </div>
                  <div class="c-image-line__item">
                    <div class="c-image-line__item__image-wrap">
                      <img
                        src="https://xberts.imgix.net/static/icon/step4-green.png?s=b7760dd8326c6f9aa6363def0904c41c">
                    </div>
                    <p class="c-image-line__item__text">
                      Submit<br/>Review
                    </p>
                  </div>
                  <div class="c-image-line__item">
                    <div class="c-image-line__item__image-wrap">
                      <img
                        src="https://xberts.imgix.net/static/icon/step5-green.png?s=341647267eb2e89a6ac2c249177d54c7">
                    </div>

                    <p class="c-image-line__item__text">
                      Review<br/>Ended
                    </p>
                  </div>
                </div>
              </div>
              <div class="review-section hidden-xs hidden-sm">
                <h4 class="review-section__title">
                  Be a product reviewer and it's yours to keep!
                </h4>
                <div class="c-image-line">
                  <div class="c-image-line__item">
                    <div class="c-image-line__item__image-wrap">
                      <img
                        src="https://xberts.imgix.net/static/icon/step1-green.png?s=5dedc19db80f1cc000b92ec473dd84ef">
                    </div>

                    <p class="c-image-line__item__text">
                      Join Now
                    </p>
                  </div>
                  <div class="c-image-line__item">
                    <div class="c-image-line__item__image-wrap">
                      <img
                        src="https://xberts.imgix.net/static/icon/step2-green.png?s=5b3fce4c449bb1e6621a4f04299959fb"/>
                    </div>
                    <p class="c-image-line__item__text">
                      Get Selected
                    </p>
                  </div>
                  <div class="c-image-line__item">
                    <div class="c-image-line__item__image-wrap">
                      <img
                        src="https://xberts.imgix.net/static/icon/step3-green.png?s=6264a1aa1b3677e6c98a4c49c94fb132"/>
                    </div>

                    <p class="c-image-line__item__text">
                      Receive Product
                    </p>
                  </div>
                  <div class="c-image-line__item">
                    <div class="c-image-line__item__image-wrap">
                      <img
                        src="https://xberts.imgix.net/static/icon/step4-green.png?s=b7760dd8326c6f9aa6363def0904c41c">
                    </div>
                    <p class="c-image-line__item__text">
                      Submit Review
                    </p>
                  </div>
                  <div class="c-image-line__item">
                    <div class="c-image-line__item__image-wrap">
                      <img
                        src="https://xberts.imgix.net/static/icon/step5-green.png?s=341647267eb2e89a6ac2c249177d54c7">
                    </div>

                    <p class="c-image-line__item__text">
                      Review Ended
                    </p>
                  </div>
                </div>
              </div>
              <div class="review-section hidden-xs hidden-sm">
                <h4 class="review-section__title">Benefits</h4>
                <ul>
                  <li>Reviewers can keep the product sample fro FREE after submitting a review report</li>
                  <li>Be the first to test the most innovative products and share your opinions to make an impact</li>
                </ul>
              </div>
              <div class="review-section hidden-xs hidden-sm">
                <h4 class="review-section__title">Requirements</h4>
                <ul>
                  <li>All selected applicants must submit their review reports before deadline, otherwise they will have
                    to return the products to Xberts
                  </li>
                  <li>A review report should be UNBIASED and match the following criteria:</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="xcard xcard--borderless">
            <div class="xcard__header">
              <ul class="nav nav-underlines" bs-affix data-offset-top="-70">
                <li data-target="#review-description" bs-scrollspy>
                  <a href="#review-description">Description</a>
                </li>
                <li data-target="#review-comment" bs-scrollspy>
                  <a href="#review-comment" bs-scrollspy>Comments</a>
                </li>
              </ul>
            </div>
            <div class="xcard__block">
              <div ng-bind-html="review.project.details | trust" class="xb-detail-section-detail"
                   id="review-description"></div>
              <div class="review-section" id="review-comment">
                <h4 class="review-section__title">
                 Comments
                </h4>
                <div ng-include src="'views/comment/comments.html'"></div>
              </div>
              <!--<div ng-show="review.reportAmount>0">-->
              <!--<div class="xb-list" infinite-scroll="reportPaginator.loadNext()" infinite-scroll-distance='0'-->
              <!--infinite-scroll-disabled="reportPaginator.getLoading() || !reportPaginator.getNext()">-->

              <!--<div ng-if="reportPaginator.items.length === 0">-->
              <!--<h4 class="empty-state">Reviews are collected after product shipment.</h4>-->
              <!--</div>-->

              <!--<div class="xb-list-item xb-list-item-left-image" ng-repeat="report in reportPaginator.items">-->
              <!--<img ng-src="{{ report.image }}" class="xb-list-image">-->

              <!--<p class="xb-list-item-title p-1">{{report.title}}</p>-->

              <!--<p class="xb-list-item-detail p-4" ng-bind-html="report.description |trust"></p>-->

              <!--<div class="xb-list-item-footer">-->
              <!--<div class="item-avatar-middle-x padding-clear" style="border-bottom: 0;">-->
              <!--<div class="item-image">-->
              <!--<avatar-img src="report.applicant.reviewer.avatar"></avatar-img>-->
              <!--</div>-->
              <!--<div class="item-body">-->
              <!--<p class="p-1" style="padding-top: 3px;">-->
              <!--<a ui-sref="application.expert({ expertId:report.applicant.reviewer.id })">-->
              <!--{{ report.applicant.reviewer.fullname }}</a>-->
              <!--</p>-->

              <!--<div class="row" style="margin-top: 10px;">-->
              <!--<div class="col-xs-6">-->

              <!--<p class="p-1" style="margin-bottom: 0">-->
              <!--<i class="fa fa-map-marker"></i> {{report.applicant.reviewer.country}}-->
              <!--</p>-->
              <!--</div>-->
              <!--<div class="col-xs-6 xb-align-right"><a class="text-underline xb-link"-->
              <!--ui-sref="application.report({reviewId:review.id,reportId:report.id})">-->
              <!--View More</a></div>-->
              <!--</div>-->


              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
              <!--<load-more class="row spin-large" ng-if="reportPaginator.getLoading()"></load-more>-->
              <!--</div>-->
            </div>
          </div>
        </div>
        <div class="col-md-4 margin-bottom-xl hidden-xs hidden-sm">
          <div class="review-info align-center">
            <p class="review-info__title">{{ review.title }}</p>
            <p class="review-info__category">
            <span class="margin-right">
              <span ng-repeat="category in review.project.categories">{{ category.name }}<span
                ng-if="!$last">,</span></span>
            </span>
            </p>
            <div class="c-user review-info__reviewer">
              <avatar-img src="review.project.account.avatar"></avatar-img>
              <p class="c-user__name">
                <a ui-sref="application.expert({ expertId:review.project.account.id })">{{
                  review.project.account.fullname }}</a>
              </p>
            </div>

            <ul class="l-list-inline l-list-inline--strip align-center review-info__status">
              <li class="c-status c-status--review-detail">
                <span class="c-status__key">Available Units</span>
              <span class="c-status__value" ng-pluralize count="review.sampleNum"
                    when="{'0': '0 sample',
                               '1': '1 sample',
                               'other': '{{ review.sampleNum }} samples'}"></span>
              </li>
              <li class="c-status c-status--review-detail">
                <span class="c-status__key">Time Left</span>
              <span class="c-status__value">
                <timer end-time="review.applicationEndDate">
                  {{days|doubleDigit}} day{{daysS}},
                  {{hours|doubleDigit}}:{{minutes|doubleDigit}}:{{seconds|doubleDigit}}
                </timer>
              </span>
              </li>
              <li class="c-status c-status--review-detail">
                <span class="c-status__key">Price</span>
                <span class="c-status__value"><span class="line-through font-del-price">{{ review.project.retailPrice.amount | currency}}</span> Free</span>
              </li>
            </ul>
            <div class="review-info__button" ng-include="'views/review/review-main-action.html'">
            </div>
          </div>

          <div class="c-timeline">
            <div ng-class="{'c-timeline__item':true, 'c-timeline__item--active':review.status=='APPLICATION'}">
              <span class="c-timeline__item__event">Application Deadline</span>
              <span class="c-timeline__item__point"></span>
              <span class="c-timeline__item__time">{{ review.applicationEndDate | amDateFormat:'MMM DD,YYYY' }}</span>
            </div>
            <div ng-class="{'c-timeline__item':true, 'c-timeline__item--active':review.status=='SELECTION'}">
              <span class="c-timeline__item__event">Announce Reviewers</span>
              <span class="c-timeline__item__point"></span>
              <span class="c-timeline__item__time">within 7 business days</span>
            </div>
            <div ng-class="{'c-timeline__item':true, 'c-timeline__item--active':review.status=='REVIEW'}">
              <span class="c-timeline__item__event">Testing Period</span>
              <span class="c-timeline__item__point"></span>
              <span class="c-timeline__item__time">2 weeks</span>
            </div>
            <div ng-class="{'c-timeline__item':true, 'c-timeline__item--active':review.status=='ENDED'}">
              <span class="c-timeline__item__event">Review Submission Deadline</span>
              <span class="c-timeline__item__point"></span>
              <span class="c-timeline__item__time">{{ review.dateEnd | amDateFormat:'MMM DD,YYYY' }}</span>
            </div>
          </div>

          <div ng-if="user.getUserId() == review.project.account.id || user.isStaff()">
            <div ng-show="review.status === 'SELECTION'">
              <div class="margin-top">
                <a class="c-btn c-btn--blue c-btn--lg c-btn--block"
                   ui-sref="application.selectApplicants({reviewId:review.id})">Select
                  Applicants</a>
              </div>
            </div>
            <div ng-show="review.status === 'CONFIRMATION'">
              <div class="margin-top">
                <a class="c-btn c-btn--blue c-btn--lg c-btn--block"
                   ui-sref="application.selectApplicants({reviewId:review.id})">View
                  Applicants</a>
              </div>
            </div>
            <div ng-show="review.status === 'REVIEW'">
              <div class="margin-top">
                <a class="c-btn c-btn--blue c-btn--lg c-btn--block"
                   ui-sref="application.selectApplicants({reviewId:review.id})">View
                  Shipping Address</a>
              </div>
            </div>
            <div ng-show="review.status === 'ENDED'">
              <div class="margin-top">
                <a class="c-btn c-btn--blue c-btn--lg c-btn--block"
                   ui-sref="application.crowdtestingReports({reviewId:review.id})">View
                  Reports</a>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>

  </div>
</join>
