<section class="container ">
  <div class="row">
    <div class="col-sm-4 col-md-9">
      <div class="list">
        <div class="item-avatar-large item-hover" style="min-height: 127px;" ng-repeat="applicant in review.applicants">
          <div class="item-image text-center">
            <avatar-img src="applicant.reviewer.avatar"></avatar-img>
            <a ui-sref="application.applicant({ applicantId:applicant.reviewer.id , tab:'comments' })"
               class="btn btn-xs btn-primary">Contact</a>
          </div>
          <div class="item-body">
            <p class="item-body-header">
          <span><a ui-sref="application.applicant({ applicantId:applicant.user_id })">{{ applicant.reviewer.fullname
            }}</a></span>
              <span class="pull-right">{{ applicant.reviewer.country }}</span></p>

            <!--<p class="item-body-title">{{ applicant.company_title}}</p>-->

            <!--<p class="item-body-detail p-3-max">{{ applicant.biography }}</p>-->
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
