<section class="background-light-white">
  <div class="container">
    <div class="section-title">
      <h2>{{ review.title }}</h2>

      <h3><i class="font-striking">{{ applicants | length }}</i>
        <span ng-switch="(review.applicants | length)> 1">
          <span ng-switch-when="true">applicants</span>
          <span ng-switch-when="false">applicant</span>
        </span>,
        <i class="font-striking"> {{ applicants | filter:{ is_selected:true }| length }}</i> selected ,
        <i class="font-striking"> {{ applicantLeft }}</i> left
      </h3>
    </div>
  </div>
</section>
<section>
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row margin-bottom">
          <div class="col-md-6">
            <ul class="nav nav-pills">
              <li role="presentation" ng-class="{active: condition=='Pending'}">
                <a href="#" ng-click="ChangeCondition('Pending')">Pending</a>
              </li>
              <li role="presentation" ng-class="{active: condition=='Selected'}">
                <a href="#" ng-click="ChangeCondition('Selected')">Selected</a>
              </li>
              <li role="presentation" ng-class="{active: condition=='Dismissed'}">
                <a href="#" ng-click="ChangeCondition('Dismissed')">Dismissed</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6 align-right" ng-switch="review.is_publish_applicants">
            <button ng-switch-when="false" class="btn btn-primary clearfix" ng-click="publish();"
                    ng-disabled="applicantLeft != 0">Publish Selection
              Result
            </button>
            <label ng-switch-when="true" class="label label-info padding">Selection result has been published</label>

            <p class="font-striking" ng-show="applicantLeft !=0">You should select {{ review.quota }} applicants</p>


          </div>
        </div>

        <div class="list">
          <p class="padding" ng-show="filterApplicants.length<1">No Applicant</p>

          <div class="item-avatar-large item-hover" style="min-height: 150px;"
               ng-repeat="applicant in filterApplicants">
            <div class="item-image text-center">
              <avatar-img src="applicant.reviewer.avatar"></avatar-img>
              <a class="btn btn-xs btn-primary" ng-click="contactUser(applicant.reviewer.id)"  ng-show="review.is_publish_applicants_confirmed && applicant.is_selected">Contact</a>
            </div>
            <div class="item-body">
              <span ng-switch="applicant.is_selected" class="pull-right">
                        <i ng-switch-when="true" class="text-primary">Selected</i>
                        <i ng-switch-when="false" class="text-danger">Dismissed</i>
                        <i ng-switch-when="null">Pending</i>
                </span>
              <span ng-if="user.isStaff() && applicant.reviewer.is_bad_reviewer" class="font-danger">
                <i>Bad Reviewer</i>
              </span>

              <p class="item-body-header">
                ID: <a  ui-sref="application.expert({ expertId:applicant.reviewer.id })">#{{ applicant.sequence_number}}</a>
                <br/>
              <span ng-switch="applicant.reviewer.userprofile.gender">
              <span ng-switch-when="I"><i class="fa fa-question-circle font-primary"></i> Undisclosed</span>
              <span ng-switch-when="M"><i class="fa fa-male font-primary"></i> Male</span>
              <span ng-switch-when="F"><i class="fa fa-female font-striking"></i> Female</span>
            </span>

                <span><i class="fa fa-map-marker"></i> {{ applicant.reviewer.country }}</span>
              </p>
              <br/>

              <div class="row">
                <div class="col-md-6">
                  <p class="item-body-title" ng-show="applicant.reviewer.userprofile.position">Business Title: <span
                    class="font-gray-light"> {{ applicant.reviewer.userprofile.position }}</span></p>

                  <p class="item-body-title" ng-show="!applicant.reviewer.userprofile.position">Business Title: <span
                    class="font-gray-light"> {{ applicant.reviewer.userprofile.job_title }}</span></p>
                </div>
                <div class="col-md-6">
                  <p class="item-body-title" ng-show="applicant.reviewer.userprofile.company">Company Name:<span
                    class="font-gray-light"> {{ applicant.reviewer.userprofile.company }}</span></p>
                </div>
              </div>
              <!--<div class="row">-->
              <!--<div class="col-md-6">-->
              <!--<p class="item-body-title">Number of connections on LinkedIn: <span class="font-gray-light"> {{ LINKEDIN_CONNECTION | decode_:applicant.reviewer.userprofile.linkedin_connections }}</span>-->
              <!--</p>-->
              <!--</div>-->
              <!--<div class="col-md-6">-->
              <!--<p class="item-body-title" ng-show="applicant.reviewer.userprofile.other_social_type!='0'">-->
              <!--Number of connections on {{ SOCIAL_TYPE |-->
              <!--decode_:applicant.reviewer.userprofile.other_social_type}}:-->
              <!--<span class="font-gray-light">-->
              <!--{{ OTHER_CONNECTION | decode_:applicant.reviewer.userprofile.other_social_connections }}-->
              <!--</span>-->
              <!--</p>-->
              <!--</div>-->
              <!--</div>-->
              <div class="row">
                <div class="col-md-6">
                  <p class="item-body-title">Industry: <span class="font-gray-light">{{ INDUSTRY|decode_:applicant.reviewer.userprofile.industry }}</span>
                  </p>
                </div>
                <div class="col-md-6">
                  <p class="item-body-title">Job Function: <span class="font-gray-light">{{ JOB_FUNCTION|decode_ : applicant.reviewer.userprofile.job_function }}</span>
                  </p>
                </div>
              </div>
              <p class="xb-align-right">
                <a class="xb-link" ng-click="open('lg',$index)">View Detail</a>
              </p>
              <div ng-show="review.is_publish_applicants_confirmed && applicant.is_selected">
                <div class="row">
                  <div class="col-md-6">
                    <p class="font-gray-light margin-top"><i>Shipping Address</i></p>

                    <p class="item-body-title">Recipient Name:
                      <span class="font-gray-light" ng-show="applicant.reviewer.userprofile.recipient_name"> {{ applicant.reviewer.userprofile.recipient_name }}</span>
                      <span class="font-gray-light" ng-show="!applicant.reviewer.userprofile.recipient_name"> {{ applicant.reviewer.userprofile.first_name + ' ' + applicant.reviewer.userprofile.last_name }}</span>
                    </p>

                    <p class="item-body-title">Shipping Address Line 1: <span
                      class="font-gray-light"> {{ applicant.reviewer.userprofile.address_line1 }}</span></p>

                    <p class="item-body-title">Shipping Address Line 2: <span
                      class="font-gray-light"> {{ applicant.reviewer.userprofile.address_line2 }}</span></p>

                    <p class="item-body-title">City: <span
                      class="font-gray-light"> {{ applicant.reviewer.userprofile.city }}</span></p>

                    <p class="item-body-title">State/Province/Region: <span
                      class="font-gray-light"> {{ applicant.reviewer.userprofile.state }}</span></p>

                    <p class="item-body-title">Country: <span
                      class="font-gray-light"> {{ COUNTRIES | decode_:applicant.reviewer.userprofile.mail_country }}</span>

                    <p class="item-body-title">ZIP/Postal code: <span
                      class="font-gray-light"> {{ applicant.reviewer.userprofile.zip }}</span></p>

                    <p class="item-body-title">Phone Number: <span
                      class="font-gray-light"> {{ applicant.reviewer.userprofile.phone_number }}</span></p>
                  </div>


                </div>

                <div class="row" ng-show="applicant.is_shipped">
                  <div class="col-md-6">
                    <p class="font-gray-light margin-top"><i>Shipping Info</i></p>

                    <p class="item-body-title">Carrier: <span
                      class="font-gray-light"> {{ applicant.carrier }}</span></p>

                    <p class="item-body-title">Tracking number: <span
                      class="font-gray-light"> {{ applicant.shipping_code }}</span></p>
                  </div>


                </div>

                <div class="align-right" ng-switch="applicant.is_shipped">
                  <button class="btn btn-primary" ng-click="markShipped('',$index)" ng-switch-when="false">Mark as
                    Shipped
                  </button>
                  <button class="btn btn-primary" ng-click="markShipped('',$index)" ng-switch-when="true">Edit
                    Tracking Number
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <iframe name="download" style="display: none"></iframe>
        <div class="margin-top clearfix" ng-show="user.isStaff()">
          <button class="btn btn-primary" ng-show="review.is_publish_applicants_confirmed" ng-click="ConfirmSelectionResult()"
                  ng-disabled="!review.is_publish_applicants">Confirm Selection
            Result
          </button>

          <a class="btn btn-primary pull-right" target="download" ng-show="review.applicants_file_url"
             ng-href="{{ review.applicants_file_url }}">Download
          </a>
        </div>

        <div class="margin-top clearfix" ng-show="user.isStaff()">
          <button class="btn btn-primary" ng-show="review.selected_applicants_file_url" ng-click="exportAddress()"
                  ng-disabled="!review.selected_applicants_file_url">Export Address
          </button>

          <a class="btn btn-primary pull-left" target="download" ng-show="review.selected_applicants_file_url"
             ng-href="{{ review.selected_applicants_file_url }}">Download Address
          </a>
        </div>

        <div class="margin-top text-center" ng-show="user.isStaff()"
             ng-switch="review.is_publish_applicants_confirmed">

          <label ng-switch-when="true" class="label label-info padding">Confirmed</label>

        </div>
      </div>
    </div>
  </div>
</section>
