<section class="xb-section background-bg-white" id="launch-pad">
  <div class="container">
    <div class="xb-section-title ">
      <h2 class="header-divider"><span>Exclusive Early Bird Offers</span></h2>
      <h3>Get the best deals curated by our community</h3>
    </div>
    <div class="row xb-section-body" infinite-scroll="saleCampaignPaginator.loadNext()" infinite-scroll-distance='0'
         infinite-scroll-disabled="saleCampaignPaginator.getLoading() || !saleCampaignPaginator.getNext()">
      <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="review in saleCampaignPaginator.items">
        <div class="xb-card">
          <div class="xb-card-ratio-wrap"
               ui-sref="application.salecampaign({ reviewId:review.id })">
            <div class="image-wrap" style="background-image: url({{ review.cover }})">

            </div>
          </div>
          <div class="xb-card-cover">
            <span class="xb-card-cover-number">
            {{ ( review.project.retailPrice.amount - review.flashsale.salePrice.amount ) /
            review.project.retailPrice.amount | percentage}}%</span>
              <span class="xb-card-cover-text--block">OFF</span>
          </div>
          <div class="xb-card-content">
            <p class="xb-card-title " ui-sref="application.salecampaign({ reviewId:review.id })">{{ review.title }}</p>

            <div class="xb-card-databoard-wrap">
              <div class="xb-databoard-wrap text-center">
                <div class="xb-databoard xb-databoard-c-primary">
                  <div class="xb-databoard-primary">
                    {{ review.flashsale.availableUnits }}
                  </div>
                  <div class="xb-databoard-secondary" ng-pluralize count="review.flashsale.availableUnits"
                       when="{'0': 'Unit Left',
                              '1': 'Unit Left',
                              'other': 'Units Left'}">
                  </div>
                </div>
                <div class="xb-databoard xb-databoard-c-primary">
                  <div time-left end-time="review.applicationEndDate">
                    <div class="xb-databoard-primary">
                      {{ timeValue }}
                    </div>
                    <div class="xb-databoard-secondary text-capitalize">
                      {{ timeUnit }} Left
                    </div>
                  </div>
                </div>
                <div class="xb-databoard xb-databoard-sales">
                  <div class="xb-databoard-primary">
                    {{ review.flashsale.salePrice.amount |currency }}
                  </div>
                  <div class="xb-databoard-secondary">
                    {{ review.project.retailPrice.amount | currency}}
                  </div>
                </div>
              </div>
            </div>
            <div class="xb-card-button">
              <button class="btn btn-primary btn-block"  ui-sref="application.salecampaign({ reviewId:review.id })">GET IT NOW
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <load-more class="row spin-large" ng-if="saleCampaignPaginator.getLoading()"></load-more>
  </div>
</section>
