<section class="container header padding-bottom-clear">
  <div class="jumbotron section-title pr" style="background-image: url(/images/vacature.jpg);min-height: 220px;">
    <div class="mask" style="background-color: rgba(0,0,0,0.4);padding-top: 40px;">
      <h2 class="font-whitem" style="margin-top: 30px;">Receive free samples of new products to test and review!</h2>
    </div>
  </div>
</section>
<section class="container padding-top-clear">
  <div class="row section-body" infinite-scroll="projectReviewPaginator.loadNext()" infinite-scroll-distance='0'
       infinite-scroll-disabled="projectReviewPaginator.loading || !projectReviewPaginator.hasNext()">
    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="review in projectReviewPaginator.items">
      <a class="block-link" ui-sref="application.review({ reviewId:review.id })">
        <div class="card">
          <div class="card-header" style="background-image: url({{ review.project.image }})">
          </div>
          <div class="card-body">
            <p class="card-body-title p-2">{{ review.title }}</p>

            <p class="card-body-detail">
              Available Units: {{ review.quota }}
            </p>

            <p class="card-body-detail" ng-switch="isOutDated(review.application_end_date)">
              <span ng-switch-when="true">
                Review Deadline: {{ review.date_end | amDateFormat:'MMM DD, YYYY'}}
              </span>
              <span ng-switch-when="false">
                Application Deadline: {{ review.application_end_date | amDateFormat:'MMM DD, YYYY'}}
              </span>
            </p>


            <div class="card-body-footer align-right" ng-switch="isOutDated(review.application_end_date)">
              <div ng-switch-when="true">
                <div ng-switch="isOutDated(review.date_end)">
                  <span ng-switch-when="false" class="label label-primary" style="font-size: 16px">Review in Progress</span>
                  <span ng-switch-when="true" class="label label-default" style="font-size: 16px">Review Ended</span>
                </div>
              </div>
              <span ng-switch-when="false" class="label label-info" style="font-size: 16px">Accepting Applications</span>
            </div>

          </div>
        </div>
      </a>
    </div>
  </div>
  <load-more class="row spin-large" ng-if="projectReviewPaginator.loading"></load-more>
</section>
