<section class="background-light-white">
  <div class="container">
    <div class="section-title">
      <h2>{{ review.title }}</h2>

      <h3><i class="font-striking">{{ review.applicants | length }} </i>applicants,
        <i class="font-striking"> {{ review.applicants | filter:{ is_selected:true }| length }}</i> selected
      </h3>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="list">
          <div class="item-avatar-large item-hover" style="min-height: 127px;"
               ng-repeat="applicant in review.applicants | orderBy:'-is_selected'">
            <div class="item-image text-center">
              <avatar-img src="applicant.reviewer.avatar"></avatar-img>
              <a class="btn btn-xs btn-primary">View More</a>
            </div>
            <div class="item-body">
              <p class="item-body-header">
              <span ng-switch="applicant.reviewer.userprofile.gender">
              <span ng-switch-when="M"><i class="fa fa-male"></i></span>
              <span ng-switch-when="F"><i class="fa fa-female"></i></span>
            </span>

          <span><a ui-sref="application.expert({ expertId:applicant.reviewer.id })">{{ applicant.reviewer.fullname
            }}</a> <i class="fa fa-map-marker"></i> {{ applicant.reviewer.country }}</span>
                <span ng-switch="applicant.is_selected" class="pull-right">
                        <i ng-switch-when="true">Selected</i>
                        <i ng-switch-when="false">Unselected</i>
                        <i ng-switch-when="null">Pending Selection</i>
                </span>
              </p>

              <p class="item-body-title" ng-show="applicant.reviewer.userprofile.position">{{
                applicant.reviewer.userprofile.position}} @ {{
                applicant.reviewer.userprofile.company }}</p>

              <p class="item-body-title" ng-show="!applicant.reviewer.userprofile.position">{{
                applicant.reviewer.userprofile.job_title}}</p>

              <!--<p class="item-body-detail p-3-max">{{ applicant.biography }}</p>-->
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
