<join ng-init="init(review.interact)">
  <div class="xb-page-product">
    <div class="container ">
      <h2 class="xb-page-product-title">{{ review.title }}</h2>

      <p class="xb-page-product-subtitle">
        <span class="margin-right">
          <i class="fa fa-tag"></i> Category: <span
          ng-repeat="category in review.project.categories">{{ category.name }}<span ng-if="!$last">,</span></span>
        </span>

        <button class="button button-primary button-glow button-circle button-small" socialshare
                socialshare-provider="linkedin"
                socialshare-description="{{ review.project.description }}"
                socialshare-text="{{ review.project.title }}"
                socialshare-source="{{ review.banner }}"
                socialshare-url="{{ pageSettings.getUrl() }}">
          <i class="fa fa-linkedin"></i>
        </button>
        <button class="button button-royal button-glow button-circle button-small" socialshare
                socialshare-provider="facebook"
                socialshare-media="{{ review.banner }}"
                socialshare-description="{{ review.project.description }}"
                socialshare-text="{{ review.project.title }}"
                socialshare-url="{{ pageSettings.getUrl() }}">
          <i class="fa fa-facebook"></i>
        </button>

        <button class="button button-caution button-glow button-circle button-small" socialshare
                socialshare-provider="twitter"
                socialshare-media="{{ review.banner }}"
                socialshare-description="{{ review.project.description }}"
                socialshare-text="{{ review.project.title }}"
                socialshare-source="{{ review.banner }}"
                socialshare-url="{{ pageSettings.getUrl() }}">
          <i class="fa fa-twitter"></i>
        </button>
      </p>
    </div>
  </div>

  <section>
    <div class=" container">

      <div class="row">
        <div class="col-md-4 col-md-push-8 margin-bottom-xl">

          <div class="five-to-three visible-xs" style="background-image: url({{ review.cover }})">

          </div>

          <div class="xb-card-board">
            <div class="xb-card-board-item">
              <p class="xb-card-board-label"> Product Stage:</p>

              <p class="xb-card-board-value" ng-switch="review.reviewType">
                <span ng-switch-when="FREE_SAMPLE">Beta</span>
                <span ng-switch-when="PAID">New Release</span>
              </p>
            </div>
            <div class="xb-card-board-item">
              <p class="xb-card-board-label"> Early Bird Price:</p>

              <p class="xb-card-board-value" ng-switch="review.reviewType">
                <span ng-switch-when="FREE_SAMPLE">Free</span>
                <span ng-switch-when="PAID">{{ review.flashsale.salePrice.amount |currency }}</span>
              </p>
            </div>
            <div class="xb-card-board-item">
              <p class="xb-card-board-label"> MSRP: </p>

              <p class="xb-card-board-value">
                <del>{{ review.project.retailPrice.amount |currency }}</del>
              </p>
            </div>
            <div class="xb-card-board-item">
              <p class="xb-card-board-label"> Time Left: </p>

              <p class="xb-card-board-value">
                <timer end-time="review.applicationEndDate">
                  {{days|doubleDigit}} day{{daysS}},
                  {{hours|doubleDigit}}:{{minutes|doubleDigit}}:{{seconds|doubleDigit}}
                </timer>
              </p>

            </div>
            <div class="xb-card-board-item">
              <p class="xb-card-board-label"> Units Sold: </p>

              <div class="font-gray-light progress-tip-down progress-bar-thin">

                <uib-progressbar class="active" max="review.flashsale.totalUnits"
                                 value="review.flashsale.totalUnits-review.flashsale.availableUnits">
                </uib-progressbar>
                <div class="progress-tip">
                  <span
                    class="progress-tip-left"> {{ percentage() }}% Claimed</span>
                </div>
              </div>
            </div>

            <div ng-switch="applicant.exist" class="margin-top">
              <div ng-switch-when="false">
                <div ng-switch="review.status">
                  <button ng-switch-when="UPCOMING" class="button button-full button-success-disabled"
                          disabled>
                    Coming Soon
                  </button>
                  <div ng-switch-when="APPLICATION">
                    <div ng-switch="review.reviewType">
                      <button ng-switch-when="FREE_SAMPLE" class="button button-full button-glow button-primary"
                              ui-sref="application.protected.apply({reviewId:review.id})">APPLY NOW
                      </button>
                      <button ng-switch-when="PAID" class="button button-full button-glow button-primary"
                              ng-click="buyClicked()">BUY NOW
                      </button>
                    </div>
                  </div>
                  <button ng-switch-when="SELECTION" class="button button-full button-glow button-plain" disabled>
                    Application
                    Ended
                  </button>
                  <button ng-switch-when="CONFIRMATION" class="button button-full button-glow button-plain"
                          disabled>
                    Application
                    Ended
                  </button>

                  <div ng-switch-when="REVIEW">
                    <div ng-switch="user.isAuth()">
                      <button ng-switch-when="true" class="button button-full button-glow button-plain" disabled>In
                        Progress
                      </button>
                      <button ng-switch-when="false" class="button button-full button-glow button-primary"
                              ui-sref="application.protected.crowdtestingReport({reviewId:review.id})">Submit Report
                      </button>
                    </div>
                  </div>
                  <button ng-switch-when="ENDED" class="button button-full button-glow button-plain" disabled>
                    Completed
                  </button>
                </div>
              </div>
              <div ng-switch-when="true">
                <div ng-switch="review.status">
                  <button ng-switch-when="UPCOMING" class="button button-full button-action button-success-disabled"
                          disabled>
                    Coming Soon
                  </button>
                  <button ng-switch-when="APPLICATION" class="button button-full button-glow button-primary"
                          ui-sref="application.protected.apply({reviewId:review.id})">Edit Application
                  </button>
                  <button ng-switch-when="SELECTION" class="button button-full button-success-disabled" disabled>
                    Screening
                  </button>
                  <div ng-switch-when="CONFIRMATION">
                    <div ng-switch="applicant.is_selected">
                      <button ng-switch-when="false" class="button button-full button-glow button-action" disabled>
                        Not
                        Selected
                      </button>
                      <button ng-switch-when="true" class="button button-full button-glow button-primary"
                              ui-sref="application.protected.confirmShipAddress({reviewId:review.id})">Confirm
                        Shipping
                        Info
                      </button>
                    </div>
                  </div>
                  <div ng-switch-when="REVIEW">
                    <div ng-switch="applicant.is_selected">
                      <button ng-switch-when="false" class="button button-full button-glow button-plain" disabled>
                        Not
                        Selected
                      </button>
                      <div ng-switch="applicant.is_submit_report">
                        <div ng-switch="applicant.is_submit_report">
                          <button ng-switch-when="false" class="button button-full button-glow button-primary"
                                  ui-sref="application.protected.crowdtestingReport({reviewId:review.id})">Submit
                            Report
                          </button>
                          <button ng-switch-when="true" class="button button-full button-glow button-primary"
                                  ui-sref="application.protected.crowdtestingReport({reviewId:review.id})">Edit
                            Report
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div ng-switch-when="ENDED">
                    <div ng-switch="applicant.is_selected">
                      <button ng-switch-when="false" class="button button-full button-glow button-plain" disabled>
                        Completed
                      </button>
                      <div ng-switch="applicant.is_submit_report">
                        <div ng-switch="applicant.is_submit_report">
                          <button ng-switch-when="false" class="button button-full button-glow button-primary"
                                  ui-sref="application.protected.crowdtestingReport({reviewId:review.id})">Submit
                            Report
                          </button>
                          <button ng-switch-when="true" class="button button-full button-glow button-action"
                                  ui-sref="application.report({ reviewId:review.id,reportId:applicant.report})">View
                            My
                            Report
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="xb-card-board">
            <div class="xb-card-board-title">Shipping Info</div>

            <div class="xb-card-board-item">
              <p class="xb-card-board-label"> Shipping Charge:</p>

              <p class="xb-card-board-value">
                Free shipping
              </p>
            </div>

            <div class="xb-card-board-item">
              <p class="xb-card-board-label"> Shipping Availability:</p>

              <p class="xb-card-board-value">
                United States
              </p>
            </div>
            <div class="xb-card-board-item">
              <p class="xb-card-board-label"> Estimated Delivery:</p>

              <p class="xb-card-board-value">
                2-3 weeks after campaign ends
              </p>
            </div>
            <div class="xb-card-board-item">
              <p class="xb-card-board-label"> Return Policy:</p>

              <p class="xb-card-board-value">
                Full refund for damaged merchandise
              </p>
            </div>
          </div>

          <div class="xb-card-board" ng-if="review.reviewType=='FREE_SAMPLE'">
            <div class="card-body pr">
              <div class="item-avatar-middle-x padding-lr-clear" style="border-bottom: 0;">
                <div class="item-image">
                  <avatar-img src="review.project.account.avatar"></avatar-img>
                </div>
                <div class="item-body">
                  <p class="item-body-header">

                  <p class="p-1"><a ui-sref="application.expert({ expertId:sale.project.account.id })">{{
                    review.project.account.fullname }}</a></p>

                </div>
              </div>
              <button class="button button-full button-glow button-primary" ng-show="!isCurrentUser"
                      ng-click="contactUser()">
                Contact
              </button>
            </div>
          </div>

          <div class="xb-card-board" ng-if="user.getUserId() == review.project.account.id || user.isStaff()">
            <div class="card-body">
              <div ng-show="review.status === 'SELECTION'">
                <div class="margin-top">
                  <a class="button button-primary button-glow button-full"
                     ui-sref="application.selectApplicants({reviewId:review.id})">Select
                    Applicants</a>
                </div>
              </div>
              <div ng-show="review.status === 'CONFIRMATION'">
                <div class="margin-top">
                  <a class="button button-primary button-glow button-full"
                     ui-sref="application.selectApplicants({reviewId:review.id})">View
                    Applicants</a>
                </div>
              </div>
              <div ng-show="review.status === 'REVIEW'">
                <div class="margin-top">
                  <a class="button button-primary button-glow button-full"
                     ui-sref="application.selectApplicants({reviewId:review.id})">View
                    Shipping Address</a>
                </div>
              </div>
              <div ng-show="review.status === 'ENDED'">
                <div class="margin-top">
                  <a class="button button-primary button-glow button-full"
                     ui-sref="application.crowdtestingReports({reviewId:review.id})">View
                    Reports</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8 col-md-pull-4">
          <div class="five-to-three hidden-xs" style="background-image: url({{ review.project.mainImage }})">

          </div>
          <uib-tabset class="background-bg-white" active="tabActive">
            <uib-tab heading="Description" index="0">
              <div ng-bind-html="review.project.details | trust"></div>
            </uib-tab>
            <uib-tab heading="Discussion" index="1"
                     select="select('comments')">
              <div ng-if="commentsTabActive">
                <div ng-include src="'views/comments.html'"></div>
              </div>
            </uib-tab>
            <uib-tab heading="Reviews" index="2"
                     select="select('reviews')">
              <div ng-if="reviewersTabActive && review.status=='ENDED'">
                <div class="xb-list" infinite-scroll="reportPaginator.loadNext()" infinite-scroll-distance='0'
                     infinite-scroll-disabled="reportPaginator.getLoading() || !reportPaginator.getNext()">

                  <div class="xb-list-item xb-list-item-left-image" ng-repeat="report in reportPaginator.items">
                    <img ng-src="{{ report.image }}" class="xb-list-image">

                    <p class="xb-list-item-title p-1">{{report.title}}</p>

                    <p class="xb-list-item-detail p-4" ng-bind-html="report.description |trust"></p>

                    <div class="xb-list-item-footer">
                      <div class="item-avatar-middle-x padding-clear" style="border-bottom: 0;">
                        <div class="item-image">
                          <avatar-img src="report.applicant.reviewer.avatar"></avatar-img>
                        </div>
                        <div class="item-body">
                          <p class="p-1" style="padding-top: 3px;">
                            <a ui-sref="application.expert({ expertId:report.applicant.reviewer.id })">
                              {{ report.applicant.reviewer.fullname }}</a>
                          </p>

                          <div class="row" style="margin-top: 10px;">
                            <div class="col-xs-6">

                              <p class="p-1" style="margin-bottom: 0">
                                <i class="fa fa-map-marker"></i> {{report.applicant.reviewer.country}}
                              </p>
                            </div>
                            <div class="col-xs-6 xb-align-right"><a class="text-underline xb-link"
                                                                    ui-sref="application.report({reviewId:review.id,reportId:report.id})">
                              View More...</a></div>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <load-more class="row spin-large" ng-if="reportPaginator.getLoading()"></load-more>
              </div>

              <!--<div class="xb-list">-->
                <!--<div class="xb-list-item xb-list-item-left-image">-->
                  <!--<img src="/images/test.jpeg" class="xb-list-image">-->

                  <!--<p class="xb-list-item-title">Make everyday conversations</p>-->

                  <!--<p class="xb-list-item-detail p-4">他的作品是不可思议的， 人类几乎达不到。” ··· 水彩画的魔术师 他是我国的一级美术师， 他的水彩画曾获美国水彩展金奖。-->
                    <!--但因特殊的历史原因， 他也沉寂了长达26年。 “他的作品是不可思议的， 人类几乎达不到。” ··· 水彩画的魔术师 他是我国的一级美术师， 他的水彩画曾获美国水彩展金奖。 但因特殊的历史原因-->
                    <!--“他的作品是不可思议的， 人类几乎达不到。” ··· 水彩画的魔术师 他是我国的一级美术师 “他</p>-->

                  <!--<div class="xb-list-item-footer">-->
                    <!--<div class="item-avatar-middle-x padding-clear" style="border-bottom: 0;">-->
                      <!--<div class="item-image">-->
                        <!--<avatar-img src="report.applicant.reviewer.avatar"></avatar-img>-->
                      <!--</div>-->
                      <!--<div class="item-body">-->
                        <!--<p class="p-1" style="padding-top: 3px;">-->
                          <!--<a ui-sref="application.expert({ expertId:report.applicant.reviewer.id })">-->
                            <!--Yudong zhao</a>-->
                        <!--</p>-->

                        <!--<div class="row" style="margin-top: 10px;">-->
                          <!--<div class="col-xs-6">-->

                            <!--<p class="p-1">-->
                              <!--<i class="fa fa-map-marker"></i>JHs-->
                            <!--</p>-->
                          <!--</div>-->
                          <!--<div class="col-xs-6 xb-align-right"><a class="text-underline xb-link"-->
                                                                  <!--ui-sref="application.report({reviewId:review.id,reportId:report.id})">-->
                            <!--View More...</a></div>-->
                        <!--</div>-->


                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="xb-list-item xb-list-item-left-image">-->
                  <!--<img src="/images/test.jpeg" class="xb-list-image">-->

                  <!--<p class="xb-list-item-title">Make everyday conversations</p>-->

                  <!--<p class="xb-list-item-detail p-4">他的作品是不可思议的， 人类几乎达不到。” ··· 水彩画的魔术师 他是我国的一级美术师， 他的水彩画曾获美国水彩展金奖。-->
                    <!--但因特殊的历史原因， 他也沉寂了长达26年。 “他的作品是不可思议的， 人类几乎达不到。” ··· 水彩画的魔术师 他是我国的一级美术师， 他的水彩画曾获美国水彩展金奖。 但因特殊的历史原因-->
                    <!--“他的作品是不可思议的， 人类几乎达不到。” ··· 水彩画的魔术师 他是我国的一级美术师 “他</p>-->

                  <!--<div class="xb-list-item-footer">-->
                    <!--<div class="item-avatar-middle-x padding-clear" style="border-bottom: 0;">-->
                      <!--<div class="item-image">-->
                        <!--<avatar-img src="report.applicant.reviewer.avatar"></avatar-img>-->
                      <!--</div>-->
                      <!--<div class="item-body" style="padding-top: 3px;">-->
                        <!--<p class="p-1">-->
                          <!--<a ui-sref="application.expert({ expertId:report.applicant.reviewer.id })">-->
                            <!--Yudong zhao</a>-->
                        <!--</p>-->

                        <!--<div class="row" style="margin-top: 10px;">-->
                          <!--<div class="col-xs-6">-->

                            <!--<p class="p-1" style="margin-bottom: 0">-->
                              <!--<i class="fa fa-map-marker"></i>JHs-->
                            <!--</p>-->
                          <!--</div>-->
                          <!--<div class="col-xs-6 xb-align-right"><a class="text-underline xb-link"-->
                                                                  <!--ui-sref="application.report({reviewId:review.id,reportId:report.id})">-->
                            <!--View More...</a></div>-->
                        <!--</div>-->


                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->

            </uib-tab>
          </uib-tabset>
        </div>
      </div>
    </div>

  </section>
</join>
