<div class="xb-carousel" style="background-image: url(/images/campaign-banner.jpg)">
  <div class="container">
    <div class="xb-carousel-body xb-align-center">
      <h1 class="xb-carousel-title">Early Access To The Latest Cool Products</h1>

      <p class="xb-carousel-subtitle">Xberts is a community where makers release their new products and collect
        real-world reviews from early adopters just like you</p>

      <button ng-if="!user.isAuth()" class="btn btn-primary btn-lg xb-carousel-button-wrap"
              ui-sref="application.signup">JOIN NOW</button>

    </div>
  </div>
</div>

<section class="xb-section">
  <div class="container">
    <div class="xb-section-title">
      <h2 class="header-divider"><span>Shop Newly Launched Products</span></h2>
    </div>
    <div class="row xb-section-body">
      <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="review in releaseReviewPaginator.items">
        <div class="xb-card">
          <div class="xb-card-ratio-wrap"
               ui-sref="application.campaign({ reviewId:review.id })">
            <div class="image-wrap" style="background-image: url({{ review.cover }})">

            </div>
          </div>
          <div class="xb-card-content">
            <p class="xb-card-title " ui-sref="application.campaign({ reviewId:review.id })">{{ review.title }}</p>

            <div class="xb-card-databoard-wrap">
              <div class="xb-databoard-wrap text-center">
                <div class="xb-databoard xb-databoard-c-primary">
                  <div class="xb-databoard-primary">
                    {{ review.flashsale.availableUnits }}
                  </div>
                  <div class="xb-databoard-secondary">
                    Units Left
                  </div>
                </div>
                <div class="xb-databoard xb-databoard-c-primary">
                  <timer end-time="review.applicationEndDate">
                    <div class="xb-databoard-primary">
                      {{days }}
                    </div>
                    <div class="xb-databoard-secondary">
                      Day{{daysS}} Left
                    </div>
                  </timer>
                </div>
                <div class="xb-databoard xb-databoard-sales">
                  <div class="xb-databoard-primary">
                    {{ review.flashsale.salePrice.amount |currency }}
                  </div>
                  <div class="xb-databoard-secondary">
                    {{ review.project.retailPrice.amount | currency}}
                  </div>
                </div>
              </div>
            </div>
            <div class="xb-card-button">
              <button class="btn btn-primary btn-block"
                      ng-click="buyNow(review.id, $event);">BUY NOW
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <load-more class="row spin-large" ng-if="releaseReviewPaginator.getLoading()"></load-more>
    <div class="xb-section-footer align-center row"
         ng-if="releaseReviewPaginator.getNext() && !releaseReviewPaginator.getLoading()">
      <div class="col-md-4 col-md-offset-4">
        <button class="btn btn-lg btn-default btn-block"
                ng-click="releaseReviewPaginator.loadNext()">
          VIEW MORE
        </button>
      </div>
    </div>
  </div>
</section>
<section class="xb-section">
  <div class="container">
    <div class="xb-section-title">
      <h2><span>Test Pre-Launch Products</span></h2>
    </div>
    <div class="row xb-section-body">
      <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="review in betaReviewPaginator.items">

        <div class="xb-card">
          <div class="xb-card-ratio-wrap"
               ui-sref="application.campaign({ reviewId:review.id })">
            <div class="image-wrap" style="background-image: url({{ review.cover }})">

            </div>
          </div>
          <div class="xb-card-content">
            <p class="xb-card-title " ui-sref="application.campaign({ reviewId:review.id })">{{ review.title }}</p>

            <div class="xb-card-databoard-wrap">
              <div class="xb-databoard-wrap text-center">
                <div class="xb-databoard xb-databoard-c-primary">
                  <div class="xb-databoard-primary">
                    {{ review.flashsale.totalUnits }}
                  </div>
                  <div class="xb-databoard-secondary">
                    Units Total
                  </div>
                </div>
                <div class="xb-databoard xb-databoard-c-primary">
                  <timer end-time="review.applicationEndDate">
                    <div class="xb-databoard-primary">
                      {{days }}
                    </div>
                    <div class="xb-databoard-secondary">
                      Day{{daysS}} Left
                    </div>
                  </timer>
                </div>
                <div class="xb-databoard xb-databoard-sales">
                  <div class="xb-databoard-primary">
                    Free
                  </div>
                  <div class="xb-databoard-secondary">
                    {{ review.project.retailPrice.amount | currency}}
                  </div>
                </div>
              </div>
            </div>
            <div class="xb-card-button">
              <button class="btn btn-primary btn-block"
                      ng-click="applyNow(review.id,$event);">APPLY NOW
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <load-more class="row spin-large" ng-if="betaReviewPaginator.getLoading()"></load-more>
    <div class="align-center xb-section-footer row"
         ng-if="betaReviewPaginator.getNext() && !betaReviewPaginator.getLoading()">
      <div class="col-md-4 col-md-offset-4">
        <button class="btn btn-lg btn-default btn-block"
                ng-click="betaReviewPaginator.loadNext()">
          VIEW MORE
        </button>
      </div>
    </div>
  </div>
</section>
<section class="xb-section">
  <div class="container">
    <div class="xb-section-title">
      <h2><span>Explore The Latest Reviews</span></h2>
    </div>
    <div class="row xb-section-body">
      <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="review in completedReviewPaginator.items">
        <div class="xb-card">
          <div class="xb-card-ratio-wrap"
               ui-sref="application.campaign({ reviewId:review.id })">
            <div class="image-wrap" style="background-image: url({{ review.cover }})">

            </div>
          </div>
          <div class="xb-card-content">
            <p class="xb-card-title " ui-sref="application.campaign({ reviewId:review.id })">{{ review.title }}</p>

            <div class="xb-card-databoard-wrap">
              <div class="xb-databoard-wrap row">
                <div class="xb-databoard xb-databoard-c-primary col-xs-3 text-center">
                  <div class="xb-databoard-primary">
                    {{ review.applicants.length }}
                  </div>
                  <div class="xb-databoard-secondary">
                    reviews
                  </div>
                </div>
                <div class="xb-avatar-list col-xs-9" ui-sref="application.campaign({ reviewId:review.id })">
                  <profile-avatar src="applicant.reviewer.avatar" name="applicant.reviewer.fullname"
                                  show-name="true" ng-repeat="applicant in review.applicants"></profile-avatar>
                </div>
              </div>
            </div>
            <div class="xb-card-button">
              <button class="btn btn-primary btn-block"
                      ui-sref="application.campaign({ reviewId:review.id })">READ REVIEWS
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <load-more class="row spin-large" ng-if="completedReviewPaginator.getLoading()"></load-more>
    <div class="align-center xb-section-footer row"
         ng-if="completedReviewPaginator.getNext() && !completedReviewPaginator.getLoading()">
      <div class="col-md-4 col-md-offset-4">
        <button class="btn btn-lg btn-default btn-block"
                ng-click="completedReviewPaginator.loadNext()">
          VIEW MORE
        </button>
      </div>
    </div>
  </div>
</section>
