<section class="section-fixed-sm"
         style="background-image: url({{ review.banner }})" id="section-1">
  <div class="section-title " style="margin-top:90px">

    <h1 style="color: #FFFFFF;">{{ review.title }}</h1>

  </div>
</section>

<section class="container">

  <div class="row">
    <div class="col-md-3 col-md-push-9">

      <div class="card card-margin-bottomless" style="border-radius: 5px">

        <div class="card-body">
          <div class="card-body-detail">
            <h4> Product Value:</h4>

            <p class="font-gray-light">${{ review.price }} USD</p>
            <h4> Available Units: </h4>

            <p class="font-gray-light">{{ review.quota }} Free Samples</p>


            <h4 ng-show="review.state==0"> Start Date:</h4>

            <p ng-show="review.state==0" class="font-gray-light">{{ review.date_started | amDateFormat:'MMM DD,YYYY'}}</p>

            <h4> Application Deadline:</h4>

            <p class="font-gray-light">{{ review.application_end_date | amDateFormat:'MMM DD, YYYY'}}</p>

            <h4> Review Deadline:</h4>

            <p class="font-gray-light">{{ review.date_end | amDateFormat:'MMM DD, YYYY'}}</p>

            <div ng-switch="applicant.exist" class="margin-top">
              <div ng-switch-when="false">
                <div ng-switch="review.state">
                  <button ng-switch-when="0" class="button button-full button-glow button-success-disabled" disabled>
                    Coming Soon
                  </button>
                  <button ng-switch-when="1" class="button button-full button-glow button-primary"
                          ui-sref="application.protected.apply({reviewId:review.id})">Apply Now
                  </button>
                  <button ng-switch-when="2" class="button button-full button-glow button-plain" disabled>Application
                    Ended
                  </button>
                  <button ng-switch-when="3" class="button button-full button-glow button-plain" disabled>Application
                    Ended
                  </button>

                  <div ng-switch-when="4">
                    <div ng-switch="user.isAuth()">
                      <button ng-switch-when="true" class="button button-full button-glow button-plain" disabled>In
                        Progress
                      </button>
                      <button ng-switch-when="false" class="button button-full button-glow button-primary"
                              ui-sref="application.protected.crowdtestingReport({reviewId:review.id})">Submit Report
                      </button>
                    </div>
                  </div>
                  <button ng-switch-when="5" class="button button-full button-glow button-plain" disabled>Completed
                  </button>
                </div>
              </div>
              <div ng-switch-when="true">
                <div ng-switch="review.state">
                  <button ng-switch-when="0" class="button button-full button-action button-success-disabled" disabled>
                    Coming Soon
                  </button>
                  <button ng-switch-when="1" class="button button-full button-glow button-primary"
                          ui-sref="application.protected.apply({reviewId:review.id})">Edit Application
                  </button>
                  <button ng-switch-when="2" class="button button-full button-glow button-action">Screening
                  </button>
                  <div ng-switch-when="3">
                    <div ng-switch="applicant.is_selected">
                      <button ng-switch-when="false" class="button button-full button-glow button-action" disabled>Not
                        Selected
                      </button>
                      <button ng-switch-when="true" class="button button-full button-glow button-primary"
                              ui-sref="application.protected.reviewerShipAddress({reviewId:review.id})">Confirm Shipping
                        Info
                      </button>
                    </div>
                  </div>
                  <div ng-switch-when="4">
                    <div ng-switch="applicant.is_selected">
                      <button ng-switch-when="false" class="button button-full button-glow button-plain" disabled>Not
                        Selected
                      </button>
                      <div ng-switch="applicant.is_submit_report">
                        <div ng-switch="applicant.is_submit_report">
                          <button ng-switch-when="false" class="button button-full button-glow button-primary"
                                  ui-sref="application.protected.crowdtestingReport({reviewId:review.id})">Submit Report
                          </button>
                          <button ng-switch-when="true" class="button button-full button-glow button-primary"
                                  ui-sref="application.protected.crowdtestingReport({reviewId:review.id})">Edit Report
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div ng-switch-when="5">
                    <div ng-switch="applicant.is_selected">
                      <button ng-switch-when="false" class="button button-full button-glow button-plain" disabled>
                        Completed
                      </button>
                      <div ng-switch="applicant.is_submit_report">
                        <div ng-switch="applicant.is_submit_report">
                          <button ng-switch-when="false" class="button button-full button-glow button-primary"
                                  ui-sref="application.protected.crowdtestingReport({reviewId:review.id})">Submit
                            Report
                          </button>
                          <button ng-switch-when="true" class="button button-full button-glow button-action"
                                  ui-sref="application.protected.crowdtestingReport({reviewId:review.id})">View My
                            Report
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div ng-show="review.state == 2">
        <div class="margin-top" ng-if="user.getUserId() == review.project.account || user.isStaff()">
          <a class="button button-primary button-glow button-full"
             ui-sref="application.selectApplicants({reviewId:review.id})">Select
            Applicants</a>
        </div>
      </div>
      <div ng-show="review.state == 3">
        <div class="margin-top" ng-if="user.getUserId() == review.project.account || user.isStaff()">
          <a class="button button-primary button-glow button-full"
             ui-sref="application.selectApplicants({reviewId:review.id})">View
            Applicants</a>
        </div>
      </div>
      <div ng-show="review.state == 4">
        <div class="margin-top" ng-if="user.getUserId() == review.project.account || user.isStaff()">
          <a class="button button-primary button-glow button-full"
             ui-sref="application.selectApplicants({reviewId:review.id})">View
            Shipping Address</a>
        </div>
      </div>
      <div ng-show="review.state == 5">
        <div class="margin-top" ng-if="user.getUserId() == review.project.account || user.isStaff()">
          <a class="button button-primary button-glow button-full"
             ui-sref="application.crowdtestingReports({reviewId:review.id})">View
            Reports</a>
        </div>
      </div>

      <div>
        <h4 style="margin-top: 20px;margin-bottom: 15px;">Invite Friends</h4>
        <button class="button button-primary button-glow button-circle button-large" socialshare
                socialshare-provider="linkedin"
                socialshare-description="{{ review.project.description }}"
                socialshare-text="{{ review.title }}"
                socialshare-source="{{ review.project.image }}"
                socialshare-url="{{ pageSettings.getUrl() }}">
          <i class="fa fa-linkedin"></i>
        </button>
        <button class="button button-royal button-glow button-circle button-large" socialshare
                socialshare-provider="facebook"
                socialshare-media="{{ review.project.image }}"
                socialshare-description="{{ review.project.description }}"
                socialshare-text="{{ review.title }}"
                socialshare-url="{{ pageSettings.getUrl() }}">
          <i class="fa fa-facebook"></i>
        </button>

        <button class="button button-caution button-glow button-circle button-large " socialshare
                socialshare-provider="reddit"
                socialshare-media="{{ review.project.image }}"
                socialshare-description="{{ review.project.description }}"
                socialshare-text="{{ review.title }}"
                socialshare-url="{{ pageSettings.getUrl() }}">
          <i class="fa fa-reddit"></i>
        </button>
        <button class="button button-action button-glow button-circle button-large" socialshare
                socialshare-provider="twitter"
                socialshare-media="{{ review.project.image }}"
                socialshare-description="{{ review.project.description }}"
                socialshare-text="{{ review.title }}"
                socialshare-source="{{ review.project.image }}"
                socialshare-url="{{ pageSettings.getUrl() }}">
          <i class="fa fa-twitter"></i>
        </button>
      </div>

      <h4 ng-show="review.is_publish_applicants" style="margin-top: 20px;margin-bottom: 15px;">Reviewers</h4>

      <div class="row" ng-show='review.is_publish_applicants'>
        <div class="col-xs-12">
          <div class=" xb-profile xb-profile-small pull-left"
               ng-repeat="item in review.applicants | filter:applicantsSearch">
            <profile-avatar class="xb-profile-avatar" src="item.reviewer.avatar"
                            name="item.reviewer.fullname"></profile-avatar>

            <p class="xb-profile-name">
              {{ item.reviewer.fullname }}
            </p>

            <div ng-switch="item.is_submit_report">
              <span class="label label-success xb-profile-label" ng-switch-when="true">Submitted</span>

              <span class="label label-default xb-profile-label" ng-switch-when="false">Selected</span>
            </div>
          </div>
        </div>
        <!--</div>-->
      </div>
    </div>

    <div class="col-md-9 col-md-pull-3">

      <section class="padding-top-clear" id="section-2">

        <h4 class="margin-top-clear">Process</h4>
        <hr>
        <!--<div style="padding-top: 0px;padding-bottom: 0px" class="background-whitem">-->
        <!--<div style="width: 100%; margin: auto;" class="full-image">-->
        <!--<img src="/images/review_process.png" style="width: 100%;">-->
        <!--</div>-->
        <!--</div>-->
        <div class="row">
          <div class="col-md-3 text-center">
            <img src="/images/review_step_1.png" style="width:100%;max-width: 60px;">

            <p class="margin-top">1. Submit Application</p>
          </div>
          <div class="col-md-3 text-center">
            <img src="/images/review_step_2.png" style="width:100%;max-width: 60px;">

            <p class="margin-top">2. Candidate Selection</p>
          </div>
          <div class="col-md-3 text-center">
            <img src="/images/review_step_3.png" style="width:100%;max-width: 60px;">

            <p class="margin-top">3. Product Shipment</p>
          </div>
          <div class="col-md-3 text-center">
            <img src="/images/review_step_4.png" style="width:100%;max-width: 60px;">

            <p class="margin-top">4. Review Submission</p>
          </div>
        </div>
        <!--<div class="tab-content">-->
        <!--<ul>-->
        <!--<li>-->
        <!--Step 1:<br/>Apply for this product review campaign online.-->
        <!--</li>-->
        <!--<br/>-->

        <!--<li>-->
        <!--Step 2:<br/> Xberts team will contact successful applicants via Email to confirm his/her shipping-->
        <!--information.-->
        <!--If the-->
        <!--successful applicant does not respond to Email before deadline, Xberts will assume this applicant give up-->
        <!--his/her candidacy.-->
        <!--</li>-->
        <!--<br/>-->

        <!--<li>-->
        <!--Step 3: <br/>After your shipping address is confirmed, product will be directly shipped to you from-->
        <!--campaign-->
        <!--owner. Xberts will-->
        <!--provide each-->
        <!--reviewer with a tracking number and further instructions on review and submission.-->
        <!--</li>-->
        <!--<br/>-->

        <!--<li>-->
        <!--Step 4: <br/>After receiving the product, selected applicants will be required to try out the sample,-->
        <!--and submit their product reviews by {{ review.date_end |amDateFormat:'MMM DD, YYYY'}}.-->
        <!--The review report should include multiple photos or a video.-->
        <!--</li>-->
        <!--</ul>-->


        <!--</div>-->
      </section>
      <section class="padding-top-clear" id="section-3">
        <h4 class="margin-top-clear">Details</h4>

        <hr>
        <!--<div class="tab-content" ng-bind-html="event.details | trust"></div>-->
        <p>{{ review.quota }} free samples will be given out for crowdtesting on Xberts.
          Selected applicants will receive a free product for review purpose. To participate in this program,
          please click on the “Apply Now” button
          and fill out a brief application form.</p>

        <p class="margin-top"><b>Timeline:</b></p>
        <ul>
          <li>
            Application Deadline: {{ review.application_end_date |amDateFormat:'MMM DD, YYYY' }}
          </li>
          <li>
            Announce Selected Reviewers: within a week after application ended

          </li>
          <li>
            Testing Period: 2~3 weeks after receiving a product sample
          </li>
          <li>
            Review Submission Deadline: {{ review.date_end |amDateFormat:'MMM DD, YYYY' }}

          </li>
        </ul>
        <p class="margin-top"><b>Benefits:</b></p>
        <ul>
          <li>
            Reviewer can keep the product sample for FREE after submitting a review report

          </li>
          <li>
            Be the first to test the most innovative products and share your opinions to make an impact

          </li>
        </ul>
        <p class="margin-top"><b>Requirements:</b></p>
        <ul>
          <li>
            All selected applicants must submit their review reports before deadline, otherwise they will have to return
            the product to Xberts

          </li>
          <li>
            A review report should be UNBIASED and match the following criteria:
            <ul style="list-style-type: lower-alpha">
              <li>Minimum 500 words</li>
              <li>5 photos minimum</li>
              <li>Video is preferable but not required, unless stated otherwise</li>
            </ul>
          </li>
        </ul>


      </section>
      <section id="section-4" class="padding-top-clear">
        <h4 class="margin-top-clear">Description</h4>
        <hr>
        <div class="tab-content" ng-bind-html="review.project.details | trust"></div>
      </section>
    </div>
  </div>
</section>

