<join ng-init="init(report.interact)">
  <div class="xb-page-product">
    <div class="container ">
      <h2 class="xb-page-product-title">{{ report.title }}</h2>

      <p class="xb-page-product-subtitle avatar-inline">
        <avatar-img src="report.applicant.reviewer.avatar"></avatar-img>
        <a class="a-gray-primary" ui-sref="application.expert({ expertId:report.applicant.reviewer.id })">{{
          report.applicant.reviewer.fullname }}</a>

      </p>
      <a class="btn btn-gray" ng-if="report.applicant.reviewer.id==user.getUserId()"
         ui-sref="application.protected.crowdtestingReport({reviewId:stateParams.reviewId})"><i class="fa fa-edit"></i> EDIT</a>
      <a ng-click="approve()" ng-if="user.isStaff()">
                  <span class="fa-stack fa-lg">
                      <i class="fa fa-check fa-stack-1x text-success"></i>
                      <i class="fa fa-circle-thin fa-stack-2x text-success"></i>
                  </span>
      </a>

    </div>
  </div>
  <section id="report-detail">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-4 margin-bottom-xl visible-xs visible-sm">
          <div class="xb-card-board">
            <button class="button button-primary button-circle button-small" socialshare
                    socialshare-provider="linkedin"
                    socialshare-description="{{ pageSettings._description }}"
                    socialshare-text="{{ pageSettings._title }}"
                    socialshare-source="{{ pageSettings._shareImage }}"
                    socialshare-url="{{ pageSettings.getUrl() }}">
              <i class="fa fa-linkedin"></i>
            </button>
            <button class="button button-royal button-circle button-small" socialshare
                    socialshare-provider="facebook"
                    socialshare-description="{{ pageSettings._description }}"
                    socialshare-text="{{ pageSettings._title }}"
                    socialshare-source="{{ pageSettings._shareImage }}"
                    socialshare-url="{{ pageSettings.getUrl() }}">
              <i class="fa fa-facebook"></i>
            </button>

            <button class="button button-caution button-circle button-small" socialshare
                    socialshare-provider="twitter"
                    socialshare-description=""
                    socialshare-text="{{ pageSettings._title }}"
                    socialshare-source="{{ pageSettings._shareImage }}"
                    socialshare-url="{{ pageSettings.getUrl() }}">
              <i class="fa fa-twitter"></i>
            </button>
          </div>
          <div class="xb-card-board">
            <div class="card-body">
              <div class="xb-card-board-item">
                <p class="xb-card-board-label"> Product Name</p>

                <p class="xb-card-board-value">
                  {{ report.product_title }}
                </p>
              </div>

              <div class="xb-card-board-item">
                <p class="xb-card-board-label"> Original Price</p>

                <p class="xb-card-board-value">
                  {{ report.product_price.amount |currency }}
                </p>
              </div>

              <div class="xb-card-board-item">
                <p class="xb-card-board-label"> Value for Money</p>

                <p class="xb-card-board-value">
                  <span uib-rating ng-model="report.cost_performance" max="5" read-only="true" state-on="'font-striking glyphicon-star'"></span>
                </p>
              </div>

              <div class="xb-card-board-item">
                <p class="xb-card-board-label"> Usability</p>

                <p class="xb-card-board-value">
                  <span uib-rating ng-model="report.usability" max="5" read-only="true" state-on="'font-striking glyphicon-star'"></span>
                </p>
              </div>

              <div class="xb-card-board-item">
                <p class="xb-card-board-label"> Presentation</p>

                <p class="xb-card-board-value">
                  <span uib-rating ng-model="report.presentation" max="5" read-only="true" state-on="'font-striking glyphicon-star'"></span>
                </p>
              </div>



              <div class="pr margin-top-l margin-bottom-l">
                <a ng-if="report.paid_review" class="btn btn-block btn-primary text-uppercase" ui-sref="application.campaign({reviewId:report.paid_review})">Shop Now</a>
                <a ng-if="!report.paid_review && report.buy_url" class="btn btn-block btn-primary text-uppercase" ng-href="{{report.buy_url }}" target="_blank">Shop Now</a>
              </div>
            </div>
          </div>

          <div class="xb-card-board">
            <div class="card-body">
              <h4 class="xb-align-center">Do you like this review?</h4>
              <div class="pr margin-top-l margin-bottom-l">
                <save class="align-center" title="Like" icon="fa-thumbs-up"></save>
              </div>
              <div>
                <saver></saver>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-8">
          <uib-tabset class="background-bg-white" active="tabActive">
            <uib-tab heading="Description" index="0">
              <div ng-bind-html="report.details | trust" class="note-diseditable"></div>
            </uib-tab>
            <uib-tab heading="Comments" index="1"
                     select="select('comments')">
              <div ng-if="commentsTabActive">
                <div ng-include src="'views/comment/comments.html'"></div>
              </div>
            </uib-tab>
          </uib-tabset>
        </div>

        <div class="col-md-4 margin-bottom-xl hidden-xs hidden-sm" auto-fixed>
          <div class="xb-card-board">
            <button class="button button-primary button-circle button-small" socialshare
                    socialshare-provider="linkedin"
                    socialshare-description="{{ pageSettings._description }}"
                    socialshare-text="{{ pageSettings._title }}"
                    socialshare-source="{{ pageSettings._shareImage }}"
                    socialshare-url="{{ pageSettings.getUrl() }}">
              <i class="fa fa-linkedin"></i>
            </button>
            <button class="button button-royal button-circle button-small" socialshare
                    socialshare-provider="facebook"
                    socialshare-description="{{ pageSettings._description }}"
                    socialshare-text="{{ pageSettings._title }}"
                    socialshare-source="{{ pageSettings._shareImage }}"
                    socialshare-url="{{ pageSettings.getUrl() }}">
              <i class="fa fa-facebook"></i>
            </button>

            <button class="button button-caution button-circle button-small" socialshare
                    socialshare-provider="twitter"
                    socialshare-description=""
                    socialshare-text="{{ pageSettings._title }}"
                    socialshare-source="{{ pageSettings._shareImage }}"
                    socialshare-url="{{ pageSettings.getUrl() }}">
              <i class="fa fa-twitter"></i>
            </button>
          </div>

          <div class="xb-card-board">
            <div class="card-body">
              <div class="xb-card-board-item">
                <p class="xb-card-board-label"> Product Name</p>

                <p class="xb-card-board-value">
                  {{ report.product_title }}
                </p>
              </div>

              <div class="xb-card-board-item">
                <p class="xb-card-board-label"> Original Price</p>

                <p class="xb-card-board-value">
                  {{ report.product_price.amount |currency }}
                </p>
              </div>

              <div class="xb-card-board-item">
                <p class="xb-card-board-label"> Value for Money</p>

                <p class="xb-card-board-value">
                  <span uib-rating ng-model="report.cost_performance" max="5" read-only="true" state-on="'font-striking glyphicon-star'"></span>
                </p>
              </div>

              <div class="xb-card-board-item">
                <p class="xb-card-board-label"> Usability</p>

                <p class="xb-card-board-value">
                  <span uib-rating ng-model="report.usability" max="5" read-only="true" state-on="'font-striking glyphicon-star'"></span>
                </p>
              </div>

              <div class="xb-card-board-item">
                <p class="xb-card-board-label"> Presentation</p>

                <p class="xb-card-board-value">
                  <span uib-rating ng-model="report.presentation" max="5" read-only="true" state-on="'font-striking glyphicon-star'"></span>
                </p>
              </div>



              <div class="pr margin-top-l margin-bottom-l">
                <a ng-if="report.paid_review" class="btn btn-block btn-primary text-uppercase" ui-sref="application.campaign({reviewId:report.paid_review})">see product</a>
                <a ng-if="!report.paid_review && report.buy_url" class="btn btn-block btn-primary text-uppercase" ng-href="{{report.buy_url }}" target="_blank">see product</a>
              </div>
            </div>
          </div>

          <div class="xb-card-board">
            <div class="card-body">
              <h4 class="xb-align-center">Do you like this review?</h4>
              <div class="pr margin-top-l margin-bottom-l">
                <save class="align-center" title="Like" icon="fa-thumbs-up"></save>
              </div>
              <div class="affix-hidden">
                <saver></saver>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>

  <div class="xb-footer-buttons visible-xs-block">
    <div class="row">
      <div class="col-xs-6 xb-button-padding-top-bottom xb-no-wrap">
        Get it!
      </div>
      <div class="col-xs-6 xb-align-center">
        <a ng-if="report.paid_review" class="btn btn-block btn-primary text-uppercase" ui-sref="application.salescampaign({reviewId:report.paid_review})">See Product</a>
        <a ng-if="!report.paid_review && report.buy_url" class="btn btn-block btn-primary text-uppercase" ng-href="{{report.buy_url }}" target="_blank">See Product</a>
      </div>
    </div>
  </div>

</join>


