<section class="background-light-white">
  <div class="container">
    <div class="section-title">
      <h3 ng-bind="review.title"></h3>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <p class="font-gray-light">Please answer the following questions to apply. All the information must be real and
      accurate. The more details you provide, the higher chance you can be selected.</p>

    <div class="section-body">
      <uib-tabset active="active">
        <uib-tab heading="Step 1. Tell us about yourself" index="tabs[0].index" disable="tabs[0].disable">
          <div ng-include src="'views/review/applicant_personal_info.html'"></div>
        </uib-tab>
        <uib-tab heading="Step 2. Fill in a brief survey" index="tabs[1].index" disable="tabs[1].disable">
          <div ng-include src="'views/review/applicant_survey_info.html'"></div>
        </uib-tab>
        <uib-tab heading="Step 3. Confirm and Submit" index="tabs[2].index" disable="tabs[2].disable"
                 select="select(2)">
          <div ng-include src="'views/review/applicant_confirm_info.html'"></div>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</section>
