<section class="xb-section" id="reviews">
  <div class="container">
    <div class="xb-section-title ">
      <h2><span>Featured Reviews From Experts</span></h2>

      <h3>Read unbiased product reviews from experts</h3>
    </div>
    <div class="row xb-section-body" infinite-scroll="reviewPaginator.loadNext()" infinite-scroll-distance='0'
         infinite-scroll-disabled="reviewPaginator.getLoading() || !reviewPaginator.getNext()">
      <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="report in reviewPaginator.items">
        <div class="xb-card">
          <div class="xb-card-ratio-wrap"
               ui-sref="application.report({reviewId:report.applicant.review,reportId:report.id})">
            <div class="image-wrap" style="background-image: url({{ report.image }})">

            </div>
          </div>

          <div class="xb-card-cover">
            <span class="xb-card-cover-text">Rating</span>

            <span class="xb-card-cover-number--block">
            {{ ( report.cost_performance+report.presentation+report.usability) / 3 | number:2}}/5
            </span>
          </div>

          <div class="xb-card-content">
            <div class="avatar-text-small-1 margin-bottom">
              <avatar-img src="report.applicant.reviewer.avatar" name="report.applicant.reviewer.fullname"
                          show-name="true"></avatar-img>
            </div>
            <p class="xb-card-title "
               ui-sref="application.report({reviewId:report.applicant.review,reportId:report.id})">{{
              report.title }}</p>

            <div class="xb-card-button">
              <button class="btn btn-warning btn-block"
                      ui-sref="application.report({reviewId:report.applicant.review,reportId:report.id})">READ REVIEW
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <load-more class="row spin-large" ng-if="reviewPaginator.getLoading()"></load-more>
  </div>
</section>
