<section class="container header padding-bottom-clear">
  <div class="jumbotron section-title"
       style="background-image: url(/images/vacature.jpg);margin-bottom: 15px;min-height: 200px;">
    <h2 class="font-whitem" style="margin-top: 30px">Be the first to test-drive the most innovative smart products, and
      become an early influencer by sharing your review!</h2><br/>
  </div>
</section>

<section class="">
  <div class="container">
    <div class="section-title">
      <h2>Calling For Reviewers</h2>
    </div>
    <div class="row section-body">
      <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="review in callingReviewPaginator.items">
        <div class="card card-bordless">
          <div class="card-header" style="background-image: url({{ review.cover || review.project.image }})"
               ui-sref="application.crowdtesting({ reviewId:review.id })">
          </div>
          <div class="card-body">
            <div class="card-body-header" ui-sref="application.crowdtesting({ reviewId:review.id })">
              <div class="avatar-text-small-1">
                <avatar-img src="review.project.account.avatar" name="review.project.account.fullname"
                            show-name="true"></avatar-img>
              </div>
            </div>
            <p class="card-body-title p-2" ui-sref="application.crowdtesting({ reviewId:review.id })">{{ review.title
              }}</p>

            <p class="card-body-detail" ui-sref="application.crowdtesting({ reviewId:review.id })">
              Available Units: {{ review.quota }} free samples
            </p>

            <p class="card-body-detail" ng-switch="review.status">
              <span ng-switch-when="UPCOMING">Start Date: {{ review.date_started | amDateFormat:'MMM DD, YYYY'}}</span>
              <span ng-switch-when="APPLICATION">Application Deadline: {{ review.application_end_date | amDateFormat:'MMM DD, YYYY'}}</span>
              <span
                ng-switch-when="SELECTION">Review Deadline: {{ review.date_end | amDateFormat:'MMM DD, YYYY'}}</span>
            <span
              ng-switch-when="CONFIRMATION">Review Deadline: {{ review.date_end | amDateFormat:'MMM DD, YYYY'}}</span>
              <span ng-switch-when="REVIEW">Review Deadline: {{ review.date_end | amDateFormat:'MMM DD, YYYY'}}</span>
              <span ng-switch-when="ENDED">Review Deadline: {{ review.date_end | amDateFormat:'MMM DD, YYYY'}}</span>
            </p>

            <div class="card-body-footer align-right" ng-switch="review.status">
              <div class="xb-avatar-wall">
                <div class="xb-avatar-text" ng-switch="review.status">
                  <label ng-switch-when="UPCOMING" class="button-label button-label-success" style="font-size: 16px">Coming
                    Soon
                  </label>
                  <button ng-switch-when="APPLICATION" class="button button-small button-primary"
                          style="font-size: 16px"
                          ng-click="applyNow(review.id,$event);">Apply Now
                  </button>
                  <label ng-switch-when="SELECTION" class="button-label button-label-info" style="font-size: 16px">Selecting</label>
                  <label ng-switch-when="CONFIRMATION" class="button-label button-label-info" style="font-size: 16px">Confirming</label>
                  <label ng-switch-when="REVIEW" class="button-label button-label-info" style="font-size: 16px">Reviewing</label>
                  <button ng-switch-when="ENDED" class="button button-small button-primary"
                          style="font-size: 16px" ui-sref="application.crowdtesting({ reviewId:review.id })">View
                    Reports
                  </button>
                </div>
                <div class="xb-avatar-list" ui-sref="application.crowdtesting({ reviewId:review.id })">
                  <profile-avatar src="applicant.reviewer.avatar" name="applicant.reviewer.fullname"
                                  show-name="true" ng-repeat="applicant in review.applicants"></profile-avatar>
                </div>
              </div>
            </div>


          </div>

        </div>
      </div>
    </div>
    <load-more class="row spin-large" ng-if="callingReviewPaginator.getLoading()"></load-more>
    <div class="align-center margin-top-xxl">
      <button class="button button-large button-glow button-primary" ng-click="callingReviewPaginator.loadNext()"
              ng-show="!callingReviewPaginator.getLoading() && callingReviewPaginator.getNext()">Load More</button>
    </div>
  </div>
</section>
<section class="background-whitem">
  <div class="container">
    <div class="section-title">
      <h2>Review In Progress</h2>
    </div>
    <div class="row section-body">
      <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="review in progressingReviewPaginator.items">
        <div class="card card-bordless">
          <div class="card-header" style="background-image: url({{ review.cover || review.project.image }})"
               ui-sref="application.crowdtesting({ reviewId:review.id })">
          </div>
          <div class="card-body">
            <div class="card-body-header" ui-sref="application.crowdtesting({ reviewId:review.id })">
              <div class="avatar-text-small-1">
                <avatar-img src="review.project.account.avatar" name="review.project.account.fullname"
                            show-name="true"></avatar-img>
              </div>
            </div>
            <p class="card-body-title p-2" ui-sref="application.crowdtesting({ reviewId:review.id })">{{ review.title
              }}</p>

            <p class="card-body-detail" ui-sref="application.crowdtesting({ reviewId:review.id })">
              Available Units: {{ review.quota }} free samples
            </p>

            <p class="card-body-detail" ng-switch="review.status">
              <span ng-switch-when="UPCOMING">Start Date: {{ review.date_started | amDateFormat:'MMM DD, YYYY'}}</span>
              <span ng-switch-when="APPLICATION">Application Deadline: {{ review.application_end_date | amDateFormat:'MMM DD, YYYY'}}</span>
              <span
                ng-switch-when="SELECTION">Review Deadline: {{ review.date_end | amDateFormat:'MMM DD, YYYY'}}</span>
            <span
              ng-switch-when="CONFIRMATION">Review Deadline: {{ review.date_end | amDateFormat:'MMM DD, YYYY'}}</span>
              <span ng-switch-when="REVIEW">Review Deadline: {{ review.date_end | amDateFormat:'MMM DD, YYYY'}}</span>
              <span ng-switch-when="ENDED">Review Deadline: {{ review.date_end | amDateFormat:'MMM DD, YYYY'}}</span>
            </p>

            <div class="card-body-footer align-right" ng-switch="review.status">
              <div class="xb-avatar-wall">
                <div class="xb-avatar-text" ng-switch="review.status">
                  <label ng-switch-when="UPCOMING" class="button-label button-label-success" style="font-size: 16px">Coming
                    Soon
                  </label>
                  <button ng-switch-when="APPLICATION" class="button button-small button-primary"
                          style="font-size: 16px"
                          ng-click="applyNow(review.id,$event);">Apply Now
                  </button>
                  <label ng-switch-when="SELECTION" class="button-label button-label-info" style="font-size: 16px">Selecting</label>
                  <label ng-switch-when="CONFIRMATION" class="button-label button-label-info" style="font-size: 16px">Confirming</label>
                  <label ng-switch-when="REVIEW" class="button-label button-label-info" style="font-size: 16px">Reviewing</label>
                  <button ng-switch-when="ENDED" class="button button-small button-primary"
                          style="font-size: 16px" ui-sref="application.crowdtesting({ reviewId:review.id })">View
                    Reports
                  </button>
                </div>
                <div class="xb-avatar-list" ui-sref="application.crowdtesting({ reviewId:review.id })">
                  <profile-avatar src="applicant.reviewer.avatar" name="applicant.reviewer.fullname"
                                  show-name="true" ng-repeat="applicant in review.applicants"></profile-avatar>
                </div>
              </div>
            </div>


          </div>

        </div>
      </div>
    </div>
    <load-more class="row spin-large" ng-if="progressingReviewPaginator.getLoading()"></load-more>
    <div class="align-center margin-top-xxl">
      <button class="button button-large button-primary button-glow" ng-click="progressingReviewPaginator.loadNext()"
              ng-show="!progressingReviewPaginator.getLoading() && progressingReviewPaginator.getNext()">Load More</button>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="section-title">
      <h2>Review Completed</h2>
    </div>
    <div class="row section-body">
      <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="review in completedReviewPaginator.items">
        <div class="card card-bordless">
          <div class="card-header" style="background-image: url({{ review.cover || review.project.image }})"
               ui-sref="application.crowdtesting({ reviewId:review.id })">
          </div>
          <div class="card-body">
            <div class="card-body-header" ui-sref="application.crowdtesting({ reviewId:review.id })">
              <div class="avatar-text-small-1">
                <avatar-img src="review.project.account.avatar" name="review.project.account.fullname"
                            show-name="true"></avatar-img>
              </div>
            </div>
            <p class="card-body-title p-2" ui-sref="application.crowdtesting({ reviewId:review.id })">{{ review.title
              }}</p>

            <p class="card-body-detail" ui-sref="application.crowdtesting({ reviewId:review.id })">
              Available Units: {{ review.quota }} free samples
            </p>

            <p class="card-body-detail" ng-switch="review.status">
              <span ng-switch-when="UPCOMING">Start Date: {{ review.date_started | amDateFormat:'MMM DD, YYYY'}}</span>
              <span ng-switch-when="APPLICATION">Application Deadline: {{ review.application_end_date | amDateFormat:'MMM DD, YYYY'}}</span>
              <span
                ng-switch-when="SELECTION">Review Deadline: {{ review.date_end | amDateFormat:'MMM DD, YYYY'}}</span>
            <span
              ng-switch-when="CONFIRMATION">Review Deadline: {{ review.date_end | amDateFormat:'MMM DD, YYYY'}}</span>
              <span ng-switch-when="REVIEW">Review Deadline: {{ review.date_end | amDateFormat:'MMM DD, YYYY'}}</span>
              <span ng-switch-when="ENDED">Review Deadline: {{ review.date_end | amDateFormat:'MMM DD, YYYY'}}</span>
            </p>

            <div class="card-body-footer align-right" ng-switch="review.status">
              <div class="xb-avatar-wall">
                <div class="xb-avatar-text" ng-switch="review.status">
                  <label ng-switch-when="UPCOMING" class="button-label button-label-success" style="font-size: 16px">Coming
                    Soon
                  </label>
                  <button ng-switch-when="APPLICATION" class="button button-small button-primary"
                          style="font-size: 16px"
                          ng-click="applyNow(review.id,$event);">Apply Now
                  </button>
                  <label ng-switch-when="SELECTION" class="button-label button-label-info" style="font-size: 16px">Selecting</label>
                  <label ng-switch-when="CONFIRMATION" class="button-label button-label-info" style="font-size: 16px">Confirming</label>
                  <label ng-switch-when="REVIEW" class="button-label button-label-info" style="font-size: 16px">Reviewing</label>
                  <button ng-switch-when="ENDED" class="button button-small button-primary"
                          style="font-size: 16px" ui-sref="application.crowdtesting({ reviewId:review.id })">View
                    Reports
                  </button>
                </div>
                <div class="xb-avatar-list" ui-sref="application.crowdtesting({ reviewId:review.id })">
                  <profile-avatar src="applicant.reviewer.avatar" name="applicant.reviewer.fullname"
                                  show-name="true" ng-repeat="applicant in review.applicants"></profile-avatar>
                </div>
              </div>
            </div>


          </div>

        </div>
      </div>
    </div>
    <load-more class="row spin-large" ng-if="completedReviewPaginator.getLoading()"></load-more>
    <div class="align-center margin-top-xxl">
      <button class="button button-large button-glow button-primary" ng-click="completedReviewPaginator.loadNext()"
              ng-show="!completedReviewPaginator.getLoading() && completedReviewPaginator.getNext()">Load More</button>
    </div>
  </div>
</section>
