<div ng-switch="review.status">
  <div ng-switch-when="UPCOMING">
    <div class="review-button-wrap">
      <a class="c-btn c-btn--block c-btn--lg c-btn--gray"
         disabled>
        Coming Soon
      </a>
    </div>

  </div>
  <div ng-switch-when="APPLICATION">
    <div class="review-button-wrap">
      <a class="c-btn c-btn--block c-btn--lg c-btn--blue"
         ui-sref="application.protected.apply({reviewId:review.id})">
        APPLY NOW
      </a>
    </div>

    <p>Product sponsors will offer 7 free samples to selected applicants for review purpose. To participate in this
      review campaign, please click on the "Join Now" button to get started.</p>
  </div>
  <div ng-switch-when="SELECTION">
    <div class="review-button-wrap">
      <a class="c-btn c-btn--block c-btn--lg c-btn--gray" disabled>
        APPLICANT SCREENING
      </a>
    </div>

    <p>Selection results for all applicants will be announced on {{ review.applicationEndDate | amDateFormat:'MMM DD,YYYY' }}，please stay tuned!</p>
  </div>
  <div ng-switch-when="CONFIRMATION">
    <div class="review-button-wrap">
      <a class="c-btn c-btn--block c-btn--lg c-btn--gray" disabled>
        APPLICANT SCREENING
      </a>
    </div>

    <p>Selection results for all applicants will be announced on {{ review.applicationEndDate | amDateFormat:'MMM DD,YYYY' }}，please stay tuned!</p>
  </div>
  <div ng-switch-when="REVIEW">
    <div class="review-button-wrap">
      <a class="c-btn c-btn--block c-btn--lg c-btn--green"
         ui-sref="application.protected.crowdtestingReport({reviewId:review.id})">
        SUBMIT REVIEW
      </a>
    </div>

    <p>Only selected reviewers can submit their reviews on this page.</p>
  </div>
  <div ng-switch-when="ENDED">
    <div class="review-button-wrap">
      <a class="c-btn c-btn--block c-btn--lg c-btn--gray">
        REVIEW ENDED
      </a>
    </div>

    <p></p>
  </div>
</div>
