<section class="background-light-white">
  <div class="container">
    <div class="section-title">
      <h3>Confirmation of Shipping Information</h3>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <form name="reviewForm" ng-submit="reviewFormSubmit()">
      <div class="panel panel-default">
        <div class="panel-heading">Contact Information</div>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-md-4 control-label">Address line 1: </label>

            <div class="col-md-5">
              <input type="text" class="form-control"
                     name="address1"
                     ng-model="profile.address_line1"
                     ng-maxlength="200"
                     ng-required="true"/>

              <p class="message-error" ng-show="profileForm.address1.$error.maxlength">* no more
                than 200 chars.</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Address line 2: </label>

            <div class="col-md-5">
              <input type="text" class="form-control"
                     name="address2"
                     ng-model="profile.address_line2"
                     ng-maxlength="200">

              <p class="message-error" ng-show="profileForm.address2.$error.maxlength">* no more
                than 200 chars.</p>
            </div>
          </div>
          <div class="form-group ">
            <label class="col-md-4 control-label">City: </label>

            <div class="col-md-5">
              <input type="text" class="form-control"
                     name="city"
                     ng-model="profile.city"
                     ng-maxlength="200"
                     ng-required="true"/>

              <p class="message-error" ng-show="profileForm.city.$error.maxlength">* no more
                than 200 chars.</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">State/Province/Region: </label>

            <div class="col-md-5">
              <input type="text" class="form-control"
                     name="state"
                     ng-model="profile.state"
                     ng-maxlength="50"
                     ng-required="true"/>

              <p class="message-error" ng-show="profileForm.state.$error.maxlength">* no more
                than 50 chars.</p>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label">ZIP/Postal code: </label>

            <div class="col-md-5">
              <input type="text" class="form-control"
                     name="zip"
                     ng-model="profile.zip"
                     ng-maxlength="20"
                     ng-required="true">

              <p class="message-error" ng-show="profileForm.zip.$error.maxlength">* no more
                than 20 chars.</p>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label">Country: </label>

            <div class="col-md-5">
              <select class="form-control" name="mail_country" ng-model="profile.mail_country" ng-required="true"
                      ng-options="item.code as item.name for item in COUNTRIES">
                <option value="">choose a country</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Phone Number: </label>

            <div class="col-md-5">
              <input type="text" name="phone_number" class="form-control" international-phone-number
                     ng-model="profile.phone_number">

              <p class="message-error" ng-show="profileForm.phoneError">
                please input correct number</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <p class='message-error text-center' ng-show="profileForm.submitted && profileForm.$invalid">
          Please check your input. </p>

        <p class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 margin-top">
          <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
        </p>
      </div>
    </form>
  </div>
</section>
