<section style="background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(/images/try.png);"
         class="section-page section-list-page">
  <div class="container">
    <div class="section-title">
      <h2>Early access to new creative products at exclusive discount</h2>

      <h4>Be among the first to try some of the coolest products out there, and earn big rewards by providing your
        feedback to help brand owners shape the future of their products</h4>
    </div>
  </div>

</section>

<section class="" style="padding-top: 20px;">
  <div class="container">
    <div class="section-title">
      <h2>Shop Newly Launched Products</h2>
    </div>
    <div class="row section-body">
      <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="review in releaseReviewPaginator.items">
        <div class="xb-card">
          <div class="xb-card-ratio-wrap"
               ui-sref="application.campaign({ reviewId:review.id })">
            <div class="image-wrap" style="background-image: url({{ review.cover }})" ui-sref="application.campaign({ reviewId:review.id })">

            </div>
          </div>
          <div class="xb-card-content">
            <p class="xb-card-title p-2" ui-sref="application.campaign({ reviewId:review.id })">{{ review.title }}</p>

            <div class="xb-card-databoard-wrap">
              <div class="xb-databoard-wrap row">
                <div class="xb-databoard xb-databoard-c-primary col-xs-3">
                  <div class="xb-databoard-primary">
                    {{ review.flashsale.availableUnits }}
                  </div>
                  <div class="xb-databoard-secondary">
                    Units left
                  </div>
                </div>
                <div class="xb-databoard xb-databoard-c-primary col-xs-3">
                  <timer end-time="review.applicationEndDate">
                    <div class="xb-databoard-primary">
                      {{days }}
                    </div>
                    <div class="xb-databoard-secondary">
                      day{{daysS}} left
                    </div>
                  </timer>
                </div>
                <div class="xb-databoard xb-databoard-sales col-xs-6 xb-align-right">
                  <div class="xb-databoard-primary">
                    {{ review.flashsale.salePrice.amount |currency }}
                  </div>
                  <div class="xb-databoard-secondary">
                    {{ review.project.retailPrice.amount | currency}}
                  </div>
                </div>
              </div>
            </div>
            <div class="xb-card-button">
              <button class="button button-full button-rounded button-primary"
                      ng-click="applyNow(review.id,$event);">SHOP NOW
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <load-more class="row spin-large" ng-if="releaseReviewPaginator.getLoading()"></load-more>
    <div class="align-center margin-top-xxl"
         ng-if="releaseReviewPaginator.getNext() && !releaseReviewPaginator.getLoading()">
      <button class="button button-large button-glow button-primary" ng-click="releaseReviewPaginator.loadNext()">Load
        More
      </button>
    </div>
  </div>
</section>
<section class="background-whitem">
  <div class="container">
    <div class="section-title">
      <h2>Test Pre-Launch Products</h2>
    </div>
    <div class="row section-body">
      <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="review in betaReviewPaginator.items">

        <div class="xb-card">
          <div class="xb-card-ratio-wrap"
               ui-sref="application.campaign({ reviewId:review.id })">
            <div class="image-wrap" style="background-image: url({{ review.cover }})" ui-sref="application.campaign({ reviewId:review.id })">

            </div>
          </div>
          <div class="xb-card-content">
            <p class="xb-card-title p-2" ui-sref="application.campaign({ reviewId:review.id })">{{ review.title }}</p>

            <div class="xb-card-databoard-wrap">
              <div class="xb-databoard-wrap row">
                <div class="xb-databoard xb-databoard-c-primary col-xs-3">
                  <div class="xb-databoard-primary">
                    {{ review.flashsale.totalUnits }}
                  </div>
                  <div class="xb-databoard-secondary">
                    applicants available
                  </div>
                </div>
                <div class="xb-databoard xb-databoard-c-primary col-xs-3">
                  <timer end-time="review.applicationEndDate">
                    <div class="xb-databoard-primary">
                      {{days }}
                    </div>
                    <div class="xb-databoard-secondary">
                      day{{daysS}} left
                    </div>
                  </timer>
                </div>
                <div class="xb-databoard xb-databoard-sales col-xs-6 xb-align-right">
                  <div class="xb-databoard-primary">
                    Free
                  </div>
                  <div class="xb-databoard-secondary">
                    {{ review.project.retailPrice.amount | currency}}
                  </div>
                </div>
              </div>
            </div>
            <div class="xb-card-button">
              <button class="button button-full button-rounded button-primary"
                      ng-click="applyNow(review.id,$event);">Apply Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <load-more class="row spin-large" ng-if="betaReviewPaginator.getLoading()"></load-more>
    <div class="align-center margin-top-xxl"
         ng-if="betaReviewPaginator.getNext() && !betaReviewPaginator.getLoading()">
      <button class="button button-large button-primary button-glow" ng-click="betaReviewPaginator.loadNext()">
        Load More
      </button>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="section-title">
      <h2>Explore The Latest Reviews</h2>
    </div>
    <div class="row section-body">
      <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="review in completedReviewPaginator.items">
        <div class="xb-card">
          <div class="xb-card-ratio-wrap"
               ui-sref="application.campaign({ reviewId:review.id })">
            <div class="image-wrap" style="background-image: url({{ review.cover }})" ui-sref="application.campaign({ reviewId:review.id })">

            </div>
          </div>
          <div class="xb-card-content">
            <p class="xb-card-title p-2" ui-sref="application.campaign({ reviewId:review.id })">{{ review.title }}</p>

            <div class="xb-card-databoard-wrap">
              <div class="xb-databoard-wrap row">
                <div class="xb-databoard xb-databoard-c-primary col-xs-3">
                  <div class="xb-databoard-primary">
                    {{ review.applicants.length }}
                  </div>
                  <div class="xb-databoard-secondary">
                    pioneers
                  </div>
                </div>
                <div class="xb-avatar-list col-xs-9" ui-sref="application.campaign({ reviewId:review.id })">
                  <profile-avatar src="applicant.reviewer.avatar" name="applicant.reviewer.fullname"
                                  show-name="true" ng-repeat="applicant in review.applicants"></profile-avatar>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <load-more class="row spin-large" ng-if="completedReviewPaginator.getLoading()"></load-more>
    <div class="align-center margin-top-xxl"
         ng-if="completedReviewPaginator.getNext() && !completedReviewPaginator.getLoading()">
      <button class="button button-large button-glow button-primary" ng-click="completedReviewPaginator.loadNext()">Load
        More
      </button>
    </div>
  </div>
</section>
