<section class="background-light-white">
  <div class="container">
    <div class="section-title">
      <h3>{{ applicant.review.title }}</h3>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="section-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              Notes
            </div>
            <div class="panel-body">
              <ul>
                <li> You are encouraged to be creative and write in your personal style.</li>
                <li> Please include pictures and videos to demonstrate your opinions visually. If you would like to
                  provide videos, upload the video to YouTube and paste the url in the content page.
                </li>
                <li> The review report should be uploaded before
                  {{ applicant.review.date_end | amDateFormat:'MMM DD,YYYY'}}.
                </li>
                <li> Please feel free to contact us at info@xberts.com if you have any questions or concerns.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <form name="reportForm" ng-submit="reportFormSubmit()" class="pr">
        <div growl reference="{{ referenceId }}"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Create a title for your review:</label>
              <input type="text" class="form-control" name='title' ng-model="reportData.title"
                     ng-required="true" ng-maxlength="200">

              <div class="" ng-show="reportForm.submitted || reportForm.title.$touched"
                   ng-messages="reportForm.title.$error">
                <p class="message-error" ng-message="required">* required.</p>

                <p class="message-error" ng-message="maxlength">* no more than 200 chars..</p>
              </div>

            </div>
            <button type="button" class="button button-primary" ng-click="insertImage()">Insert</button>
            <div class="form-group">
              <label>Share your experience of using this product:</label>
              <summernote config="summerNoteFull" ng-model="reportData.details" on-change="onChange(contents)"
                          on-image-upload="imageUpload(files)" editable="editable"
                          editor="editor" on-paste="paste(evt)" on-focus="onFocus(evt)" on-keyup="setPrevious(evt)"></summernote>
              <p class="font-graym" style="margin-top: -10px">* Total characters:{{detailCharacterCount}}.
                <span ng-show="detailCharacterCount<2000"> Please include at least 2000 characters.</span>
              </p>
              <p class="font-graym" style="margin-top: -10px">* Total images:{{imageCount}}.
                <span ng-show="imageCount<3" class="font-danger"> Please include at least 3 images.</span>
              </p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="margin-bottom">
              <b>Value for Money: </b>
              <uib-rating ng-model="reportData.cost_performance" max="5" read-only="false"
                          titles=" ['one', 'two', 'three', 'four', 'five']" state-off="'glyphicon-star-empty'"
                          state-off="'font-striking glyphicon-star'"
                          aria-labelledby="default-rating" ng-required="true"></uib-rating>
              <span class="font-striking margin-left" ng-show="reportData.cost_performance">{{reportData.cost_performance}}'</span>

              <p class="font-striking" ng-show="reportForm.submitted && cost_performance_error()">* required</p>
            </div>
            <div class="margin-bottom">
              <b>Usability: </b>
              <uib-rating ng-model="reportData.usability" max="5" read-only="false"
                          titles=" ['one', 'two', 'three', 'four', 'five']" state-off="'glyphicon-star-empty'"
                          state-off="'font-striking glyphicon-star'"
                          aria-labelledby="default-rating"></uib-rating>
              <span class="font-striking margin-left" ng-show="reportData.usability">{{reportData.usability}}'</span>

              <p class="font-danger" ng-show="reportForm.submitted && usability_error()">* required</p>
            </div>
            <div class="margin-bottom">
              <b>Presentation: </b>
              <uib-rating ng-model="reportData.presentation" max="5" read-only="false"
                          titles=" ['one', 'two', 'three', 'four', 'five']" state-off="'glyphicon-star-empty'"
                          state-off="'font-striking glyphicon-star'"
                          aria-labelledby="default-rating"></uib-rating>
              <span class="font-striking margin-left"
                    ng-show="reportData.presentation">{{reportData.presentation}}'</span>

              <p class="font-danger" ng-show="reportForm.submitted && presentation_error()">* required</p>
            </div>
          </div>
          <div class="xb-align-center margin-top-xl">
            <button type="button" class="button button-primary button-rounded button-mid-width" ng-click="reportSave()">Save Draft</button>
            <button type="submit" class="button button-primary button-rounded button-mid-width" ng-disabled="!formCheck()">Publish</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
