.button-min-width {
  min-width: 200px;
}

.button-mid-width {
  min-width: 300px;
}

.button-full {
  width: 100%;
}

.button-rounded {
  border-radius: 10px;
}

.button-primary {
  border-color: $primaryColor;
  color: white;

  &:hover {
    background-color: darken($primaryColor, 10%);
  }
}

.button-border.button-primary{
  color: $primaryColor;
}

.button-primary, .button-primary-flat {
  background-color: $primaryColor;
}

.button-small {
  padding: 0 10px;
  line-height: 30px;
  height: 30px;
}

.button-label {
  color: #666666;
  background-color: #eeeeee;
  border-color: #eeeeee;
  font-weight: 300;
  font-size: 16px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  height: 30px;
  padding: 0 10px;
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: default;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  min-width: 130px;
}

.button-label-gray {
  background-color: $lightGrayColor;
  color: #ffffff;
}

.button-label-success {
  background-color: #00cc52;
  color: #ffffff;
}

.button-label-info {
  background-color: #5bc0de;
  color: #ffffff;
}

.btn-gray {
  background-color: #CCCCCC;
  color: #ffffff;
}

a.btn-gray, .btn-gray {
  background-color: #CCCCCC;
  color: #ffffff;
  &:hover {
    color: #ffffff;
    background-color: #c0c0c0;
  }
}

.btn-fixed-sm {
  width: 120px;
}

// Default button style with brand color
.btn-default-brand {
  color: $brand-primary;
  border-color: $brand-primary;
  background: transparent;

  &:hover {
    color: $brand-primary;
    border-color: $brand-primary;
  }
}

.btn-success-disabled:disabled {
  @extend .btn-success;
}

// Linkedin button
.linkedin-btn {
  background: #0077B5;
  border-color: #0077B5;
}

.linkedin-btn-title {
  padding-left: 20px;
}
