//component structure
//box properties: padding, margin, relative size, position border shadow
//typography properties: font align
//skin properties: background, color

//component variants

.xb-card {
  position: relative;
}

.xb-card.xb-card-profile {

}

// component skin

// component element
.xb-card-title {

}

.xb-card-detail {

}

.xb-card-image-wrap {
  @include aspect-ratio(3, 2);
}

// fixed-size avatar, align center

.xb-profile {
  text-align: center;
  margin-bottom: 8px;
}

// small variant
.xb-profile-small {
  max-width: 62px;
  min-width: 62px;
}

.xb-profile-avatar {
  width: 44px;
  height: 44px;
  // mixin
  border-radius: 50%;
}

.xb-profile-name {
  //font-size: ;
  @include ellipsisMultiText(1);
  margin-bottom: 2px;
}

.xb-profile + .xb-profile {
  margin-left: 2px;
}

.xb-profile-label {
  font-size: 8px;
  padding: 3px;
}

.xb-statistic-broad {
  margin-bottom: 20px;
}

.xb-statistic-broad-title {
  font-size: 3em;
}

.xb-statistic-broad-subtitle {
  font-size: 1.5em;
}

.xb-arrow-box {
  position: relative;
}

.xb-arrow {
  border-width: 11px;
  &:after {
    content: "";
    border: 10px transparent solid;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
  }
}

.xb-arrow-left {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}


.xb-steps-container{
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #e1e1e1;
  flex-wrap: wrap;
}
ul.xb-steps-container{
  list-style-type: none;
}

li.xb-step{
  margin-bottom: -2px;
  &:hover{
    cursor: pointer;
    color: $primaryColor;
  }
  >a{
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    color:$darkColor;
  }
}


.xb-step.xb-step-active{
  color: $primaryColor;
  border-bottom: 2px solid $primaryColor;
  >a{
    color: $primaryColor;
    &:focus{
      color: $primaryColor;
    }
  }
}

