//component structure
//box properties: padding, margin, relative size, position border shadow
//typography properties: font align
//skin properties: background, color

//component variants

.xb-card {
  position: relative;
  margin-bottom: 40px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid $lightGrayColor;
}

.xb-card-cover{
  position: absolute;
  top:0;
  left: 0;
  min-width: 80px;
  background-color: rgba(0,0,0,0.6);
  color: $strikingColor;
  padding: 0.9em 0.8em;
  line-height: 1em;
  text-align: center;
}
.xb-card-cover-number{
  font-size: 16px;
  font-weight: bold;
}
.xb-card-cover-text{
  display: block;
  font-size: 12px;
  text-align: center;
  padding-top: 0.6em;
}

.xb-card-board{
  margin-bottom: 10px;
  padding: 20px 16px;
  background-color: #ffffff;
  position: relative;

  .xb-card-board-title{
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    height: 40px;
    padding-top: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #dddddd;
  }
  .xb-card-board-item{
    .xb-card-board-label{
      font-size: 14px;
      color: #999999;
      margin-bottom: 2px;
    }
    .xb-card-board-value{
      font-size: 18px;
      color: #333;
      margin-bottom: 0;
    }
    margin-bottom: 10px;
  }

}

.xb-card-transparent {
  background-color: transparent;
  border: 0;
}

// component skin

// component element
.xb-card-ratio-wrap {
  @include aspect-ratio(3, 2);
  &:hover {
    cursor: pointer;
  }
}

.xb-card-content {
  padding: 16px;
  .xb-card-title {
    font-size: 17.6px;
    margin-bottom: 32px;
    color: $primaryFontColor;
    position: relative;
    height: 51px;
    overflow: hidden;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .xb-card-databoard-wrap {
    margin-bottom: 20px;

    .xb-avatar-list {
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: 5px;
      }
      height: 50px;
      overflow: hidden;
    }
  }

}

.xb-card-transparent .xb-card-content {
  .xb-card-title {
    font-size: 22px;
    margin-top: 22px;
    margin-bottom: 14px;
    color: $primaryColor;
    min-height: 30px;
    height: auto;
    &:hover {
      text-decoration: none;
      cursor: default;
    }
  }

  .xb-card-detail {
    font-size: 14px;
    color: #ffffff;
  }
}

.xb-databoard {
  .xb-databoard-primary {
    font-size: 16px;
    min-height: 16px;
    white-space: nowrap
  }
  .xb-databoard-secondary {
    font-size: 14px;
    white-space: nowrap
  }
}

.xb-databoard-c-primary {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid $lightGrayColor;
  font-weight: 300;
  height: 50px;

  .xb-databoard-primary {
    color: $primaryFontColor;
  }
  .xb-databoard-secondary {
    color: $secondaryFontColor;
  }
}

.xb-databoard-sales {
  display: inline-block;
  padding: 0 10px;
  font-weight: 300;

  .xb-databoard-primary {
    color: $strikingColor;
  }
  .xb-databoard-secondary {
    color: $secondaryFontColor;
    text-decoration: line-through;
  }
}

// fixed-size avatar, align center

.xb-profile {
  text-align: center;
  margin-bottom: 8px;
}

// small variant
.xb-profile-small {
  max-width: 62px;
  min-width: 62px;
}

.xb-profile-avatar {
  width: 44px;
  height: 44px;
  // mixin
  border-radius: 50%;
}

.xb-profile-name {
  //font-size: ;
  @include ellipsisMultiText(1);
  margin-bottom: 2px;
}

.xb-profile + .xb-profile {
  margin-left: 2px;
}

.xb-profile-label {
  font-size: 8px;
  padding: 3px;
}

.xb-statistic-broad {
  margin-bottom: 20px;
}

.xb-statistic-sales-broad {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.xb-statistic-broad-title {
  font-size: 3em;
}

.xb-statistic-sales-broad-title {
  font-size: 1.5em;
  font-weight: bold;
}

.xb-statistic-broad-subtitle {
  font-size: 1.5em;
}

.xb-statistic-sales-broad-subtitle {
  font-size: 1em;
  text-decoration: line-through;
}

.xb-arrow-box {
  position: relative;
}

.xb-arrow {
  border-width: 11px;
  &:after {
    content: "";
    border: 10px transparent solid;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
  }
}

.xb-arrow-left {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}

.xb-sub-nav-fixed {
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 998;
}

.xb-affix {
  z-index: 998;
}

.xb-steps-container {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #e1e1e1;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

ul.xb-steps-container {
  list-style-type: none;
}

li.xb-step {
  margin-bottom: -2px;
  &:hover {
    cursor: pointer;
    color: $primaryColor;
  }
  > a {
    display: block;
    padding: 15px 30px 15px;
    text-decoration: none;
    color: $darkColor;
  }
}

.xb-step.xb-step-active, .xb-step.active {
  color: $primaryColor;
  border-bottom: 2px solid $primaryColor;
  > a {
    color: $primaryColor;
    &:focus {
      color: $primaryColor;
    }
  }
}

.xb-theme-white {
  background-color: #FFFFFF;
}

.xb-justify-left {
  justify-content: flex-start;
  padding-left: 0;
}

.xb-justify-center {
  justify-content: center;
}

.xb-avatar-wall {
  display: flex;
  .xb-avatar-text {
    margin-right: 10px;
    min-width: 120px;
    text-align: left;
  }
  .xb-avatar-list {
    height: 30px;
    overflow: hidden;
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 5px;
    }
    img:last-child {
      margin-right: 0;
    }
  }
}

.progress-bar-thin {
  .progress {
    height: 12px;
    border-radius: 0;
    .progress-bar {
      line-height: 10px;
      background-color: $primaryColor;
    }
  }
}

.progress {
  border-radius: 0;
  .progress-bar {
    background-color: $primaryColor;
  }
}

.xb-list{
  .xb-list-item{
    padding-bottom: 16px;
    min-height: 216px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 16px;
    &.xb-list-item-left-image{

      min-height: 216px;

      padding-left: 216px;
      position:relative;

      .xb-list-image{
        position:absolute;
        top:0;
        left:0;
        width: 200px;
        height: 200px;
      }

      @media screen and (max-width: 767px){
        padding-left: 0;
        .xb-list-image{
          position:relative;
          width:100%;
          height: 100%;
          margin-bottom: 5px;
        }
      }
    }
    .xb-list-item-title{
      font-size: 18px;
      color:#333333;
    }
    .xb-list-item-detail{
      font-size: 14px;
      color: rgb(153, 153, 153);
      margin-bottom: 10px;
    }
    .xb-list-item-footer{
      position:absolute;
      right:0;
      left: 216px;
      bottom: 16px;
      @media screen and (max-width: 767px){
        position:static;
      }
      p{
        color: $grayColor !important;
      }
      a{
        color: $grayColor;
        &:hover{
          color: #666 !important;
        }
      }
      a.xb-link{
        color: $primaryColor;
        &:hover{
          color: darken($primaryColor,20%);
        }
      }
    }
  }
}
.xb-list-title{

}

a.xb-link{
  color: $primaryColor;
  text-decoration: underline;
  &:hover{
    color: darken($primaryColor,20%);
  }
}
