$primaryColor: #3f51b5;
$dangerColor: #ff5722;
$strikingColor: #ff4081;
$successColor: #4caf50;
$orangeColor: #ff9800;
$facebook:#3b5998;
$linkedin: #0077b5;
$twitter:#1a8bf0;

$blackColor: #222;
$darkColor: #333;
//dark
$darkGrayColor: #666;
//darkgray
$grayColor: #888;
//gary
$grayLightColor: #999;
//garylight
$lightGrayColor: #C7C7C7;
//lightgray
$lightColor: #d8d8d8;
//light
$lightWhiteColor: #EEE;
//lightwhite
$whiteColor: #fff;
//white

$bgWhite: $whiteColor;
$bgLight: $lightWhiteColor;
$bgGray: #f2f5f7;

$whiteBackground: $whiteColor;
$lightGrayBackground: $lightGrayColor;
