$primaryColor: #01bbfe;
$dangerColor: #a94442;
$strikingColor: #e04c4c;
$successColor: #00cc52;
$orangeColor: #ff9900;

$darkColor: #333;
//dark
$darkGrayColor: #666;
//darkgray
$grayColor: #888;
//gary
$grayLightColor: #999;
//garylight
$lightGrayColor: #C7C7C7;
//lightgray
$lightColor: #d8d8d8;
//light
$lightWhiteColor: #f1f1f1;
//lightwhite
$whiteColor: #fff;
//white

$bgWhite:#fff;
$bgLight:#f2f5f7;

$defaultBackground: $lightWhiteColor;
$whiteBackground: $whiteColor;
$lightGrayBackground: $lightGrayColor;

.striking-white {
  background-color: $strikingColor;
  color: $whiteColor;
}

.white-success {
  background-color: $whiteColor;
  color: $successColor;
}

.white-danger {
  background-color: $whiteColor;
  color: $dangerColor;
}

.btn-primary {
  background-color: $primaryColor;
  border-color: darken($primaryColor, 8%);
  &:hover, &:focus, &:active:hover, &:active:focus, &:active:hover:focus {
    background-color: darken($primaryColor, 8%);
    border-color: darken($primaryColor, 8%);
  }
}

.btn-striking {
  background-color: $strikingColor;
  border-color: darken($strikingColor, 8%);
  color: $whiteColor;
  &:hover, &:focus, &:active:hover, &:active:focus, &:active:hover:focus {
    background-color: darken($strikingColor, 8%);
    border-color: darken($strikingColor, 8%);
    color: $whiteColor;
  }
}

.btn-orange {
  background-color: $orangeColor;
  border-color: darken($orangeColor, 8%);
  color: $whiteColor;
  &:hover, &:focus, &:active:hover, &:active:focus, &:active:hover:focus {
    background-color: darken($orangeColor, 8%);
    border-color: darken($orangeColor, 8%);
    color: $whiteColor;
  }
}

.btn-success {
  background-color: lighten($successColor, 3%) !important;
  border-color: $successColor !important;
  color: #ffffff !important;
  //border: 0;
  &:hover, &:focus, &:active:hover, &:active:focus, &:active:hover:focus {
    background-color: $successColor !important;
    border-color: $successColor !important;
  }
  &:focus, &:active:focus {
    outline: 5px auto $successColor
  }
}

.btn-gray {
  background-color: #CCCCCC;
  color: #ffffff;
}

a.btn-gray, .btn-gray {
  background-color: #CCCCCC;
  color: #ffffff;
  &:hover {
    color: #ffffff;
    background-color: #c0c0c0;
  }
}

.nav > li.disabled {
  > a:hover, > a:focus, > a {
    color: $grayLightColor;
  }
}
