$primaryColor: #059ddc;
$dangerColor: #a94442;
$strikingColor: #e5910d;
$successColor: #00cc52;
$orangeColor: #ff9900;

$blackColor: #222222;
$darkColor: #333;
//dark
$darkGrayColor: #666;
//darkgray
$grayColor: #888;
//gary
$grayLightColor: #999;
//garylight
$lightGrayColor: #C7C7C7;
//lightgray
$lightColor: #d8d8d8;
//light
$lightWhiteColor: #f9f9f9;
//lightwhite
$whiteColor: #fff;
//white

$bgWhite: $whiteColor;
$bgLight: $lightWhiteColor;

$whiteBackground: $whiteColor;
$lightGrayBackground: $lightGrayColor;

.striking-white {
  background-color: $strikingColor;
  color: $whiteColor;
}

.white-success {
  background-color: $whiteColor;
  color: $successColor;
}

.white-danger {
  background-color: $whiteColor;
  color: $dangerColor;
}

.nav > li.disabled {
  > a:hover, > a:focus, > a {
    color: $grayLightColor;
  }
}
