$defaultFontSize: 14px;
$defaultLineHeight:20px;
$defaultMargin:10px;
$defaultPadding:5px;
$bodyPaddingTop: 50px;
$bodyPaddingBottom: 110px;
$sectionSpace: 50px;
$cardSpace: 20px;

$navbarHeight: 50px !default;
$navbarBrandHeight: 32px !default;
$navbarBrandPaddingTop: ($navbarHeight - $navbarBrandHeight) / 2;
$navbarBrandPaddingBottom: ($navbarHeight - $navbarBrandHeight) / 2;
$navbarLineWhiteHalf: (20px - 14px) / 2;
$navbarLinkPaddingBottom: $navbarBrandPaddingBottom;
$navbarLinkPaddingTop: 50px - 20px - $navbarLinkPaddingBottom;

$sectionFixedHeight : 450px;



.padding{
  padding: $defaultPadding $defaultPadding * 2
}
.margin{
  margin: $defaultMargin * 2 $defaultMargin;
}
@mixin padding($padding:$defaultPadding){
  padding: $padding $padding * 2
}
.margin-right{
  margin-right: 10px;
}

.padding-clear{
  padding: 0;
}


$directions: left top right bottom;
$spaces: (
  padding:$defaultPadding,
  margin:$defaultMargin
);

@each $direction in $directions{
  .margin-#{$direction}-clear{
    margin-#{$direction}:0;
  }
  .padding-#{$direction}-clear{
    padding-#{$direction}: 0;
  }
  .margin-#{$direction}{
    margin-#{$direction}:$defaultMargin;
  }
}
.font-60{
  font-size: 48px;
}
//@each $space in $spaces {
//  @each $direction in $directions{
//    .#{$space}-#{$direction}{
//      #{$space}-#{$direction}: 1px;
//    }
//  }
//}

.xb-font-larger{
  font-size: 1.4em;
  @media screen and (max-width: 800px){
    font-size: 1.2em;
  }
}

.title-h4{
  padding-bottom: 10px;
  border-bottom: 1px dashed #CCCCCC;
}
