.footer {
  align-self: flex-end;
  width: 100%;
  @include resetBorder();
  .container{
    height: 56px;
    @media screen and (min-width: 600px) and (max-width: 750px){
      height: 92px;
    }
    @media screen and (max-width: 600px) {
      height: 148px;
    }
  }
  nav{
    background-color: #FFF;
  }

  /* Set the fixed height of the footer here */
  background-color: #FFF;
  &__text-wrap{
    padding: 0 10px;
    color: #999999;

  }
  &__text{
    margin-bottom: 0;
  }

  &__logo-wrap{
    img{
      width: 120px;
      height: 30px;
    }
  }
  .list-inline{
    color: #999999;
    @media screen and (min-width: 600px) and (max-width: 750px) {
      padding: 10px 0;
    }
    span{
      margin-left: 10px;
      i{
        width: 24px;
        height: 24px;
        background-color: rgba(0,0,0,.38);
        border-radius: 50%;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #FFF;
        &:hover{
          background-color: rgba(0,0,0,.54);
        }
      }
    }
  }
}
