$directions: left top right bottom;
$sizes: 0 1 2 3 4;
@each $direction in $directions {
  @each $size in $sizes {
    .md-margin-#{$direction}-#{$size} {
      margin-#{$direction}: 8px * $size;
    }
    .md-padding-#{$direction}-#{$size} {
      padding-#{$direction}: 8px * $size;
    }
  }
}
.md-align-center{
  text-align: center;
}

.md-align-right{
  text-align: right;
}

.md-align-left{
  text-align: left;
}

.md-margin-clear{
  margin: 0 0;
}

.md-padding-clear{
  padding: 0 0;
}

.md-relative{
  position: relative;
}
