md-input-container label:not(.md-no-float):not(.md-container-ignore){
  white-space: normal;
}

/*
******** typography ********
*/

@mixin regular(){
  font-weight: 400;
}
@mixin light(){
  font-weight: 300;
}
@mixin media(){
  font-weight: 500;
}

.md-subhead, b{
  font-weight: 500;
}

p,.md-body-1{
  font-size: 14px;
  line-height: 24px;
  @include regular;
}

.list-none-style{
  list-style: none;
}
