.xberts-navbar {
  width: 100%;
  height: 56px;
  background-color: #3f52b4;
  z-index: 2;
  .container{
    height: 56px;
    >img{
      cursor: pointer;
      margin: 0 20px 0 0;
    }
  }
  @include box-shadow(0 3px 5px rgba(0,0,0,.38));
  .active{
    color: #FFF;
    >i{
      color: #FFF;
    }
  }
  &__logo-1{
    display: none;
  }
  &__center-container{
    >div{
      cursor: pointer;
      font-size: 16px;
      color: rgba(255,255,255,.5);
      padding: 0 20px;
      &:hover{
        color: rgba(255,255,255,1);
      }
      @include xb-sm-screen{
        padding: 0 10px;
      }
    }
  }
  &__right-container{
    >div{
      position: relative;
      cursor: pointer;
      font-size: 18px;
      color: rgba(255,255,255,.5);
      padding: 0 20px;
      &:hover{
        color: rgba(255,255,255,1);
      }
      >i{
        color: rgba(255,255,255,.5);
        font-size: 24px;
        line-height: 24px;
        &:hover{
          color: rgba(255,255,255,1);
        }
      }
      .striking-white{
        font-size: 10px;
        position: absolute;
        right: 32px;
        top: 0;
        padding: 0 3px;
        border-radius: 2px;
      }
    }
  }
  &__right-container-button{
    width: 64px;
    height: 56px;
    padding-top: 16px !important;
    >avatar-img{
      width: 24px;
      height: 24px;
      >img{
        width: 100%;
        height: auto;
        margin-bottom: 0;
      }
    }
  }
  &__right-container-popup{
    background-color: #FFF;
    position: absolute;
    left: -50px;
    top: 56px;
    width: 140px;
    @include resetBorder();
    border-radius: 2px;
    >div{
      width: 100%;
      padding: 0 16px;
      font-size: 16px;
      line-height: 48px;
      color: rgba(0,0,0,.87);
      &:hover{
        background-color: rgba(0,0,0,.12);
      }
    }
    .active{
      background-color: rgba(0,0,0,.12);
      color: rgba(0,0,0,.87);
    }
  }
}

.xberts-navbar-moblie{
  width: 100%;
  background-color: #3f52b4 !important;
  @include box-shadow(0 3px 5px rgba(0,0,0,.38));
  h2{
    @include ellipsisText();
    height: 24px;
    width: 70%;
  }
}

.xberts-navbar-moblie-sidenav{
  max-width: 60%;
  min-width: 60%;
  width: 60%;
  *{
    outline: none;
  }
  .active{
    background-color: rgba(0, 0, 0, .12);
  }
  &__top-container{
    width: 100%;
    >div{
      font-size: 16px;
      line-height: 56px;
      padding: 0 16px;
      @include media();
      color: rgba(0,0,0,.87);
    }
    margin-bottom: 56px;
  }
  &__bottom-container{
    width: 100%;
    >div{
      width: 100%;
      display: block;
      font-size: 16px;
      line-height: 56px;
      padding: 0 16px;
      @include media();
      color: rgba(0,0,0,.87);
    }
  }
}

.nav-main-opacity {
  .xb-body-view{
    margin-top: -56px;
    @include xs-screen{
      margin-top: 0;
    }
  }

  @media screen and (min-width: 600px) {
    .xberts-navbar{
      background-color: rgba(0,0,0,.38);
      @include box-shadow(none);
      &__center-container{
        >div{
          color: rgba(255,255,255,.7);
          &:hover{
            color: rgba(255,255,255,1);
          }
        }
      }
      &__right-container{
        >div{
          color: rgba(255,255,255,.7);
          &:hover{
            color: rgba(255,255,255,1);
          }
          >i{
            color: rgba(255,255,255,.7);
            &:hover{
              color: rgba(255,255,255,1);
            }
          }
        }
      }
    }
  }
}
.xb-nav-shadow{
  .xberts-navbar, .xberts-navbar-moblie{
    @include box-shadow(none);
  }
}
