html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: $xb-coupon-bar-height;
  margin-bottom: $xb-footer-height;
  background-color: $xb-default-bg;
  line-height: 1.43;

  @media screen and (max-width: $screen-sm-min) {
    margin-top: $xb-coupon-bar-height-screen-sm;
    margin-bottom: $xb-footer-height-screen-sm;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $xb-footer-height;
  background-color: $primaryFontColor;
  color: $grayLightColor;

  @media screen and (max-width: $screen-sm-min) {
    height: $xb-footer-height-screen-sm;
  }

  > .container {
    padding-top: 50px;

    :first-child {
      span, a {
        margin-left: 20px;
      }
    }

    .pull-right {
      a {
        color: transparent;
      }
    }
  }
}

.panel-heading {
  padding: 15px;
}

h3.panel-title {
  font-size: 24px;
}

.landing-p {
  font-size: 20px;
  p {
    font-size: 20px;
  }
}

a {
  color: $primaryColor;
  &:hover {
    color: darken($primaryColor, 20%);
    cursor: pointer;
  }
}

a.a-gray {
  color: $lightGrayColor;
  &:hover {
    color: $grayColor;
    cursor: pointer;
  }
}

a.default {
  color: inherit;
  &:hover {
    color: inherit;
    cursor: pointer;
  }
}

a.a-gray-primary {
  color: $grayColor;
  &:hover {
    color: $primaryColor;
    cursor: pointer;
  }
}

a.block-link {
  display: block;
  &:hover, &:active {
    text-decoration: none;
  }
}

.full-page {
  margin-top: 0;
}

.partial-page {
  margin-top: $sectionSpace;
}

.full-image > img {
  width: 100%;
}

.coupon-banner {
  width: 100%;
  height: $xb-coupon-bar-height;
  padding-top: 15px;
  color: $xb-default-font-color-inverse;
  background-color: $brand-primary;

  @media screen and (max-width: $screen-sm-min) {
    height: $xb-coupon-bar-height-screen-sm;
  }
}

.navbar {
  // Center logo
  .navbar-brand {
    padding: $navbarBrandPaddingTop 0px;
    position: absolute;
    left: 50%;
    margin-left: -$navbarBrandWidth / 2 !important;
  }

  .avatar-text-smaller-1 {
    max-width: 130px;
  }

  // Reduce padding for avatar image
  .navbar-right {
    .dropdown {
      > a {
        padding-top: $xb-navbar-avatar-padding;
        padding-bottom: $xb-navbar-avatar-padding;
      }
    }
  }

  .top-right-badge-x {
    @include topRightBadgeX(10px, $xb-navbar-icon-padding, 5px)
  }
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: $primaryColor;
}

.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 0;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6)
}

.jumbotron {
  h2 {
    text-align: center;
    color: $whiteColor;
  }
  h3 {
    text-align: center;
    color: $lightColor;
  }
}

.form-inline {
  margin-bottom: 15px;
}

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
  margin-left: 0;
}

.radio-inline, .checkbox-inline {
  padding-left: 20px;
  padding-right: 20px;
}

.tab-content {
  padding: 16px;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}

.label {
  display: inline-block;
}

.label-default {
  margin-right: 2px;
  background-color: $lightGrayColor;
  &:last-child {
    margin-right: 0;
  }
}

.note-editor {
  border: 1px solid $lightGrayColor;
}

.growl-container.top-right {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}

.growl-container.growl-fixed.top-right {
  top: 100px;
}

.border-clear {
  border: none;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-justify {
  text-align: justify;
}

.pr {
  position: relative;
}

.hide {
  display: none;
}

.note-editable img {
  max-width: 100%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.optional-field {
  color: $grayColor;
}

$xy: (
  a5-10: 5px 10px,
  a10-10: 5px 10px,
);
@each $name, $top-left in $xy {
  .padding-#{$name} {
    padding: nth($top-left, 1) nth($top-left, 2);
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .jumbotron h2 {
    font-size: 36px;
    margin-top: 0;
  }
  .jumbotron h3 {
    margin-top: 10px;
    margin-bottom: 0;
  }
  /* Remove the padding we set earlier */
  .navbar {
    > .container {
      .navbar-brand {
        margin-left: 0;
      }
    }
  }
  .navbar-right {
    float: right !important;
    margin-right: -8px;
  }
  .landing-page {
    height: 600px;
    margin-top: -50px;
    .section-title {
      margin-top: 200px;
    }
  }
  .expert-profile {
    margin-top: 10px;
  }
  .expert-profile-btn {
    margin-top: 45px;
  }
}

.label {
  font-weight: normal;
}

.label-primary {
  background-color: $primaryColor;
}

.label-success {
  background-color: $successColor;
}

.expert-profile img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .landing-page {
    margin-top: -50px;
    height: 500px;
    .section-title {
      text-align: center;
      h1 {
        font-size: 36px;
      }
      margin-top: 180px;
    }
  }
}

.error {
  color: red;
  font-weight: bold;
}

.top-buffer-sm {
  margin-top: 20px;
}

.bottom-buffer-sm {
  margin-bottom: 20px;
}

.login-container {
  background-color: $xb-form-default-bg;
  border: solid 1px $xb-default-border;
  margin: 60px auto;
  max-width: 400px;
  padding: 20px;

  h5 {
    @include headerDivider($xb-form-default-bg);
    color: $xb-default-border;
    font-weight: normal;
    margin: 20px 0;
  }

  .btn {
    margin: 15px 0;
  }
}

// Password reset
[name=resetPasswordRequestForm] input[type=email] {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

[name=resetPasswordRequestForm] button {
  margin-top: 10px;
  margin-bottom: 10px;
}

[name=resetPasswordConfirmForm] [type=password] {
  margin-top: 5px;
  margin-bottom: 5px;
}

// Edit Profile
.avatar-thumb {
  width: 120px;
  height: 120px;
}

.intl-tel-input {
  position: relative;
  display: block;
}

//summer-note overrides

.note-editable img {
  width: 100% !important;
  max-width: 850px !important;
  height: auto !important;
  &.pre-loading {
    background: url("../images/loading.gif") no-repeat center center;
    width: 200px;
    height: 200px !important;
  }
}

.note-diseditable img {
  width: 100% !important;
  max-width: 850px !important;
  height: auto !important;
}

.note-editable h1 {
  font-size: 24px;
  span {
    font-size: 24px !important;
  }
}

.note-product {
  h1 {
    font-size: 24px;
    span {
      font-size: 24px !important;
    }
  }
}

.note-editor.note-frame.fullscreen {
  z-index: 1040;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000;
}

img.full-image {
  width: 100%;
}

.progress {
  position: relative;
}

.progress-tip-down {
  position: relative;
  .progress {
    margin-bottom: 40px;
  }
}

.progress-tip {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #333;
}

.progress-tip-left {
  position: absolute;
  top: 13px;
  left: 0;
  text-align: left;
  z-index: 5;
}

.progress-tip-right {
  position: absolute;
  top: 13px;
  right: 0;
  text-align: right;
  z-index: 5;
}

//nav-tab
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius: 0;
  color: #3d3d3d;
  padding: 15px 30px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: $primaryColor;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: 3px solid $primaryColor;
  border-bottom-color: transparent;
  cursor: default;
}
.text-underline{
  text-decoration: underline;
}
