html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: $defaultBackground;
  padding: $bodyPaddingTop 0 $bodyPaddingBottom 0;
  min-height: 100%;
}

footer {
  background-color: $lightGrayBackground;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  > .container {
    @include pFirstMargin();
  }
}

section {
  padding-top: $sectionSpace;
  padding-bottom: $sectionSpace + 20px;
}

section.header {
  padding-top: 27px;
}

.section-title {
  text-align: center;
  h1 {
    font-size: 48px;
  }
  h3 {
    color: $grayColor;
    font-weight: normal;
  }
}

hr {
  border-top: 1px solid #C7C7C7;
}

.section-fixed {
  height: $sectionFixedHeight;
  background: rgba(0, 0, 0, 0.6) no-repeat center;
  background-size: cover;
  position: relative;
  > .cover-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: inherit;
    background: rgba(0, 0, 0, 0.4);
    //background: transparent;
    z-index: 3;
    h1 {
      color: $whiteColor;
    }
    h2 {
      color: $whiteColor;
    }
    h3 {
      color: #f8f8f8;
    }
    h4, p {
      color: $whiteColor;
      font-size: 1.2em;
      margin-top: 5px;;
      margin-bottom: 5px;;
    }
  }
  .section-title {
    text-align: center;
    position: relative;

    h3 {
      color: $lightColor;
      font-weight: normal;
    }
  }

}

.navbar-default {
  background-color: $lightGrayBackground;
  border-color: #e7e7e7;
  border-radius: 0;
}

.navbar-fixed-top-sub {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  border-width: 0 0 1px;
  z-index: 5;
}

.section-fixed-sm {
  height: 350px;
  background: rgba(0, 0, 0, 0.6) no-repeat center;
  background-size: cover;
  position: relative;
  > .cover-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: inherit;
    background: rgba(0, 0, 0, 0.4);
    //background: transparent;
    z-index: 3;
    h1 {
      color: $whiteColor;
    }
    h2 {
      color: $whiteColor;
    }
    h3 {
      color: #f8f8f8;
    }
    h4, p {
      color: $whiteColor;
      font-size: 1.2em;
      margin-top: 5px;;
      margin-bottom: 5px;;
    }
  }
  .section-title {
    text-align: center;
    position: relative;

    h3 {
      color: $lightColor;
      font-weight: normal;
    }
  }

}

.section-title + .section-body {
  margin-top: $sectionSpace;
}

.section-body img {
  max-width: 100%;
}

.panel-heading {
  padding: 15px;
}

h3.panel-title {
  font-size: 24px;
}

.landing-p {
  font-size: 20px;
  p {
    font-size: 20px;
  }
}

a {
  color: $primaryColor;
  &:hover {
    color: darken($primaryColor, 20%);
    cursor: pointer;
  }
}

a.a-gray {
  color: $lightGrayColor;
  &:hover {
    color: $grayColor;
    cursor: pointer;
  }
}

a.default {
  color: inherit;
  &:hover {
    color: inherit;
    cursor: pointer;
  }
}

a.a-gray-primary {
  color: $grayColor;
  &:hover {
    color: $primaryColor;
    cursor: pointer;
  }
}

a.block-link {
  display: block;
  &:hover, &:active {
    text-decoration: none;
  }
}

.full-page {
  margin-top: 0;
}

.partial-page {
  margin-top: $sectionSpace;
}

.full-image > img {
  width: 100%;
}

.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.7);
}

.navbar-fixed-top {
  border-bottom: 0;
}

.navbar {
  .navbar-brand {
    padding: $navbarBrandPaddingTop 15px $navbarBrandPaddingBottom 0;
    margin-left: 0;
  }
  .nav {
    > li {
      margin-right: 1px;
      > a {
        padding: $navbarLinkPaddingTop 10px $navbarLinkPaddingBottom 10px;
        > .avatar-text-smaller-1 {
          margin-top: -4px;
        }
      }
      > a.top-right-badge-x {
        @include topRightBadgeX(10px, $navbarLinkPaddingTop, 10px)
      }
      @include childLink();
      &.active {
        @include childLink($activeLinkColor);
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 0;
          border-bottom: 3px solid rgb(63, 164, 244);
        }
      }
    }
  }
  .navbar-right.nav {
    position: relative;
    > li {
      > a {
        padding: $navbarLinkPaddingTop 8px $navbarLinkPaddingBottom 8px;
      }
      > a.top-right-badge-x {
        @include topRightBadgeX(10px, $navbarLinkPaddingTop, 5px)
      }
      &.dropdown.dropdown-right {
        position: static;
        > .dropdown-menu {
          //width: 100%;
          position: fixed;
          top: 50px;
          right: 20px;
          width: 350px;
        }
      }
    }
  }
}

.navbar.navbar-default {
  .navbar-brand {
    padding: $navbarBrandPaddingTop 15px $navbarBrandPaddingBottom 0;
    margin-left: 0;
  }
  .nav {
    > li {
      margin-right: 1px;
      > a {
        padding: $navbarLinkPaddingTop 10px $navbarLinkPaddingBottom 10px;
        > .avatar-text-smaller-1 {
          margin-top: -4px;
        }
      }
      > a.top-right-badge-x {
        @include topRightBadgeX(10px, $navbarLinkPaddingTop, 10px)
      }
      @include childLinkW($linkDefaultColor);
      &.active {
        @include childLinkW($activeLinkColor);
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 0;
          border-bottom: 3px solid rgb(63, 164, 244);
        }
      }
    }
  }
  .navbar-right.nav {
    position: relative;
    > li {
      > a {
        padding: $navbarLinkPaddingTop 8px $navbarLinkPaddingBottom 8px;
      }
      > a.top-right-badge-x {
        @include topRightBadgeX(10px, $navbarLinkPaddingTop, 5px)
      }
      &.dropdown.dropdown-right {
        position: static;
        > .dropdown-menu {
          //width: 100%;
          position: fixed;
          top: 50px;
          right: 20px;
          width: 350px;
        }
      }
    }
  }
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: $primaryColor;
}

.navbar-inverse {
  .dropdown {
    &:hover {
      .dropdown-menu {
        display: block;
      }
    }
    .dropdown-menu {
      padding: 0;
    }
  }

  .dropdown-menu > li {
    > a {
      position: relative;
      padding: 5px 10px;
    }
    @include childLink();
  }
}

.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 0;
  background-size: 100% 100%;
  background-color: rgba(0, 0, 0, 0.6)
}

.form-inline {
  margin-bottom: 15px;
}

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
  margin-left: 0;
}

.radio-inline, .checkbox-inline {
  padding-left: 20px;
  padding-right: 20px;
}

.tab-content {
  padding-top: $defaultPadding * 4;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}

.label {
  display: inline-block;
}

.label-default {
  margin-right: 2px;
  background-color: $lightGrayColor;
  &:last-child {
    margin-right: 0;
  }
}

.note-editor {
  border: 1px solid $lightGrayColor;
}

.growl-container.top-right {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}

.growl-container.growl-fixed.top-right {
  top: 50px;
}

.border-clear {
  border: none;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-justify {
  text-align: justify;
}

.pr {
  position: relative;
}

.hide {
  display: none;
}

.note-editable img {
  max-width: 100%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.btn-fixed-sm {
  width: 120px;
}

.optional-field {
  color: $grayColor;
}

$xy: (
  a5-10: 5px 10px,
  a10-10: 5px 10px,
);
@each $name, $top-left in $xy {
  .padding-#{$name} {
    padding: nth($top-left, 1) nth($top-left, 2);
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .jumbotron h2 {
    font-size: 36px;
    margin-top: 0;
  }
  .jumbotron h3 {
    margin-top: 10px;
    margin-bottom: 0;
  }
  /* Remove the padding we set earlier */
  .navbar {
    > .container {
      .navbar-brand {
        margin-left: 0;
      }
    }
  }
  .navbar-right {
    float: right !important;
    margin-right: -8px;
  }
  .landing-page {
    height: 600px;
    margin-top: -50px;
    .section-title {
      margin-top: 200px;
    }
  }
  .expert-profile {
    margin-top: 10px;
  }
  .expert-profile-btn {
    margin-top: 45px;
  }
}

.label {
  font-weight: normal;
}

.label-primary {
  background-color: $primaryColor;
}

.label-success {
  background-color: $successColor;
}

.expert-profile img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .landing-page {
    margin-top: -50px;
    height: 500px;
    .section-title {
      text-align: center;
      h1 {
        font-size: 36px;
      }
      margin-top: 180px;
    }
  }
}

.error {
  color: red;
  font-weight: bold;
}

.top-buffer-sm {
  margin-top: 20px;
}

.bottom-buffer-sm {
  margin-bottom: 20px;
}

// Linkedin button
.linkedin-btn {
  color: #FFF;
  background: #0077B5 none repeat scroll 0% 0%;
  border-color: #fff;
}

.linkedin-btn:hover {
  color: #FFF;
}

.linkedin-btn:focus {
  color: #FFF;
}

.linkedin-btn-title {
  padding-left: 20px;
}

// Login page
.signup-bg {
  height: auto;
  min-height: 100%;
  width: 100%;
  z-index: 0;
}

.login-signin-caption {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 80px;
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(109, 109, 109);
  max-width: 400px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  opacity: 0.9;
  height: 100%;
  padding: 20px 30px 20px 30px;
}

.login-title {
  word-wrap: break-word;
  word-break: normal;
  text-align: center;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-kerning: auto;
  color: rgb(0, 0, 0);
}

.login-form-control {
  height: 39px;
}

form#sign_form input#id_email, input#id_password {
  max-width: 600px;
}

.login-btn {
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  margin: 10px 0;
  overflow: visible;
  text-decoration: none !important;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0 15px;
  height: 39px;
  line-height: 39px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  color: #fff;
  background-color: #3fa4ff;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF287BBC', endColorstr='#FF23639A');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  margin-top: 15px;
  white-space: normal;
  width: 100%;
}

.login-line-wrapper {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  width: 100%;
}

.login-or-line {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  width: 100%;
  height: 1px;
  background: #cccfd3;
  float: left;
}

.login-line-content {
  padding-top: 10px;
  position: absolute;
  left: 0;
  width: 100%;
  color: #cccfd3;
}

.login-linkedin-btn {
  margin-top: 30px;
  font-size: 16px;
  height: 39px;
  width: 100%;
  max-width: 100%;
}

.login-tips {
  padding-top: 10px;
}

// Signup page
.register-signin-caption {
  text-align: center;
  margin-top: 28px;
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(109, 109, 109);
  max-width: 400px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  opacity: 0.9;
  height: auto;
  padding: 20px 30px 20px 30px;
}

// Password reset
[name=resetPasswordRequestForm] input[type=email] {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

[name=resetPasswordRequestForm] button {
  margin-top: 10px;
  margin-bottom: 10px;
}

[name=resetPasswordConfirmForm] [type=password] {
  margin-top: 5px;
  margin-bottom: 5px;
}

// Edit Profile
.avatar-thumb {
  width: 120px;
  height: 120px;
}

.intl-tel-input {
  position: relative;
  display: block;
}

//summer-note overrides

.note-editable img{
  width: 100% !important;
  max-width: 850px !important;
  height: auto !important;
}
.note-editable h1{
  font-size: 24px;
}
