$colors: (
  primary: $primaryColor,
  success: $successColor,
  danger: $dangerColor,
  striking: $strikingColor,
  whitem:$whiteColor,
  light-white:$lightWhiteColor,
  light:$lightColor,
  light-gray:$lightGrayColor,
  gray-light:$grayLightColor,
  graym:$grayColor,
  dark-gray: $darkGrayColor,
  dark: $darkColor,
  bg-white:$bgWhite,
  bg-light:$bgLight,
  bg-gray:$bgGray,
);
@each $name, $color in $colors {
  .background-#{$name} {
    background-color: $color;
  }
  .font-#{$name} {
    color: $color;
  }
  .border-bottom-#{$name} {
    border-bottom: 1px solid $color;
  }
}

.md-dark-primary{
  color: rgba(0, 0, 0, 0.87);
}

.md-dark-secondary{
  color: rgba(0, 0, 0, 0.54);
}

.md-dark-third{
  color: rgba(0, 0, 0, 0.38);
}

.md-dark-four{
  color: rgba(0, 0, 0, 0.12);
}


.md-light-primary{
  color: rgba(255, 255, 255, 1);
}

.md-light-secondary{
  color: rgba(255, 255, 255, 0.70);
}

.md-light-third{
  color: rgba(255, 255, 255, 0.50);
}

.md-light-four{
  color: rgba(255, 255, 255, 0.12);
}
