//
// Bootstrap variable override
// --------------------------------------------------
$navbar-default-color: $blackColor;
$navbar-default-bg: $whiteColor;
$navbar-default-border: $grayLightColor;
$navbar-default-link-color: $blackColor;
$navbar-default-link-hover-color: $blackColor;
$navbar-default-link-active-color: $blackColor;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-bg: transparent;

$dropdown-link-color: $blackColor;
$dropdown-link-hover-color: $blackColor;
$dropdown-link-active-color: $blackColor;
$dropdown-border: $grayLightColor;

//
// Custom variables
// --------------------------------------------------
$sectionBasePadding: 50px;

$sectionPadding:60px;
$sectionInnerGutter:60px;

//font-color
$primaryFontColor:#333;
$secondaryFontColor:#666;
