//
// Custom variables
// --------------------------------------------------
$sectionBasePadding: 50px;

$sectionPadding:60px;
$sectionInnerGutter:60px;

//font-color
$primaryFontColor: $blackColor;
$secondaryFontColor: $darkGrayColor;

//
// Bootstrap variable override
// --------------------------------------------------
$grid-gutter-width: 40px;
$container-large-desktop: (1040px + $grid-gutter-width);

$navbar-default-color: $primaryFontColor;
$navbar-default-bg: $whiteColor;
$navbar-default-border: $lightGrayColor;
$navbar-default-link-color: $primaryFontColor;
$navbar-default-link-hover-color: $primaryFontColor;
$navbar-default-link-active-color: $primaryFontColor;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-bg: transparent;

$dropdown-link-color: $primaryFontColor;
$dropdown-link-hover-color: $primaryFontColor;
$dropdown-link-active-color: $primaryFontColor;
$dropdown-border: $lightGrayColor;


