.xb-fab-fixed{
  position: fixed !important;
}

.md-button.md-fab.md-fab-bottom-right {
  top: auto;
  right: 20px;
  bottom: 150px;
  left: auto;
  position: fixed;
}

.xb-btn-block{
  display: block;
  width: 100%;
  margin:0
}

//form

md-input-container label.md-container-ignore{
  font-size: 12px;
}
