<ul rn-carousel rn-carousel-controls class="xb-top-banner" rn-carousel-index="active" rn-carousel-pause-on-hover rn-carousel-auto-slide="4"
    rn-carousel-duration="600" >
  <li ng-repeat="slide in slides" >
    <div hide-xs hide-sm class="xb-top-banner__container" layout="column" layout-align="start center" layout-fill
         style="background-image:url({{slide.imagePcUrl}} );">
      <div class="container">
        <div class="xb-top-banner__content xb-top-banner__{{slide.buttonColor}}">
          <div class="xb-top-banner__title" ng-bind-html="slide.title | trust"></div>
          <div class="xb-top-banner__subtitle" ng-bind-html="slide.subtitle | trust"></div>
          <a ng-if="slide.buttonUrl" ng-href="{{slide.buttonUrl}}"><div class="xb-top-banner__button" >{{slide.buttonTitle}}</div></a>
          <div class="md-body-1" ng-bind-html="slide.buttonTip"></div>
        </div>
      </div>
    </div>
    <div hide-gt-sm class="xb-top-banner__container" layout="column" layout-align="start center" resize-carousel ratio="ratio"
         parents="xb-top-banner" element-height="height" style="background-image:url({{slide.imageMobileUrl}} );" >
      <div class="xb-top-banner__content xb-top-banner__{{slide.buttonColor}}" layout="column" layout-align="center start">
        <div class="xb-top-banner__title" flex="noshrink" layout="column" layout-align="end start" ng-bind-html="slide.title | trust"></div>
        <div class="xb-top-banner__subtitle" hide ng-bind-html="slide.subtitle | trust"></div>
        <a ng-if="slide.buttonUrl" ng-href="{{slide.buttonUrl}}"><div class="xb-top-banner__button" >{{slide.buttonTitle}}</div></a>
        <div class="md-body-1" ng-bind-html="slide.buttonTip"></div>
      </div>
    </div>
  </li>
</ul>
<div rn-carousel-indicators ng-if="slides.length > 1" slides="slides" rn-carousel-index="active"></div>
