<div class="container xb-edit-post">
  <div class="xb-ask-title xb-deals-title">
    <div class="xb-section__title">
      <h2><span class="md-display-1">Ask a Question</span></h2>
      <h3><span class="md-body-1 md-dark-secondary">Get help from our community to shop smarter and save more!</span></h3>
    </div>
  </div>
  <div class="xb-edit-post__tips md-margin-top-1" hide-gt-xs layout="row" layout-align="start center">
    <img src="https://xberts.imgix.net/static/icon/44113454-38cd-41ae-8125-3b07f73c1b95.png?auto=format%2Cenhance&crop=edges&fit=crop&ixlib=python-1.1.2&s=ca12094a0867c6947f60613d0e9902a9" />
    <span class="xb-bold" ng-click="helpTips()">Tips for Asking Good Questions >></span>
  </div>
  <div layout="row" layout-align-gt-xs="start start" layout-xs="column">
    <div class="md-margin-top-2" flex-gt-xs="65" flex-xs>
      <form name="recommendation" novalidate ng-submit="askQuestion(question)" clear-form-error>
        <md-input-container class="md-block" md-no-float>
          <label>Question</label>
          <input required ng-model="question.title" type="text" name="question"/>
          <div ng-messages="recommendation.question.$error">
            <div ng-message="required">Please enter your question.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" md-no-float>
          <textarea ng-model="question.description" type="text" name="description" placeholder="Add more details"></textarea>
        </md-input-container>
        <md-input-container class="md-block xb-edit-post__fixed-width xb-edit-profile__margin-bottom" >
          <label>Category</label>
          <md-select ng-model="question.category.name" name="category" required >
            <md-option ng-repeat="option in categoryoptions" ng-value="option.name" >
              {{option.name}}
            </md-option>
          </md-select>
          <div ng-messages="recommendation.category.$error">
            <div ng-message="required">Please select category.</div>
          </div>
        </md-input-container>
        <div class="xb-edit-post__bottom-button" layout="row" layout-align-gt-xs="start center" layout-align-xs="center center">
          <md-button class="md-primary md-raised" type="submit" >{{isFirstPost?"Post":"Save"}}</md-button>
          <md-button class="md-raised" ng-click="reset()">Cancel</md-button>
        </div>
      </form>
    </div>
    <div flex="35" hide-xs>
      <div class="xb-detail-cards">
        <div class="md-subhead">
          Tips for Asking Good Questions
        </div>
        <div class="xb-detail-cards__padding-2 background-whitem">
          <div class="md-margin-bottom-2">Please follow these tips to get your questions answered:</div>
          <ul class="review-ul">
            <li>If you're asking for product recommendation, please outline your budget</li>
            <li>Explain your question with more specific details if needed</li>
            <li>Respond to people who answered your question or ask follow-up questions</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
