<div class="xb-my-answers" ng-repeat="post in posts track by $index" ng-click="closeMenu();">
  <a class="xb-my-answers__title md-subhead md-dark-primary"
     ui-sref="application.askQuestionMain.answerQuestionDetail({questionId:post.id})">{{post.title}}</a>
  <div class="xb-ask-list__answer-content md-body-1" ng-if="post.description">
    {{post.description | reduceSentence:140}}{{post.description.length>140?'...':''}}
    <a class="xb-ask-list__color" ng-if="post.description.length>140"
          ui-sref="application.askQuestionMain.answerQuestionDetail({questionId:post.id})">More</a>
  </div>
  <div class="xb-my-answers__bottom">
    <div ng-if="currentUser" class="xb-my-answers__actions" layout="row" layout-align="start center">
      <div ng-switch="post.answerAmount" hide-xs>
        <div ng-switch-when="0" >
        </div>
        <div ng-switch-when="1" layout="row" layout-align="start center">
          <div class="md-dark-third">
            ANSWER
          </div>
          <span class="md-dark-third">1</span>
        </div>
        <div ng-switch-default layout="row" layout-align="start center">
          <div class="md-dark-third">
            ANSWERS
          </div>
          <span class="md-dark-third">{{post.answerAmount}}</span>
        </div>
      </div>
      <div ng-if="post.followeeCount > 0" layout="row" layout-align="start center" hide-xs>
        <div class="md-dark-third">FOLLOW </div>
        <span class="md-dark-third">{{post.followeeCount}}</span>
      </div>
      <div hide-xs ng-if="!hideState" layout="row" layout-align="start center">
        <md-icon class="md-dark-third" md-font-set="material-icons"
                 ui-sref="application.protected.editQuestion({questionId:post.id})">mode_edit</md-icon>
        <span></span>
      </div>
      <div hide-xs ng-if="post.followeeCount< 1 && !post.latestAnswer && !hideState"
           layout="row" layout-align="start center">
        <md-icon class="md-dark-third" md-font-set="material-icons"
                 ng-click="delete($event, post.id, $index);$event.stopPropagation();">delete</md-icon>
        <span></span>
      </div>
      <div class="xb-my-posts__menu-bg" hide-gt-xs ng-if="!hideState">
        <md-icon class="md-dark-third" ng-if="currentUser" ng-click="showMenu(post);$event.stopPropagation();"
                 md-font-set="material-icons">more_horiz</md-icon>
        <span></span>
        <div class="xb-my-posts__menu" hide-gt-xs ng-if="currentUser && post.showMenu" ng-mouseleave="showMenu(post);">
          <div class="md-dark-primary" ui-sref="application.protected.editQuestion({questionId:post.id})" ng-click="$event.stopPropagation();"
               layout="row" layout-align="start center">
            <md-icon class="md-dark-third" md-font-set="material-icons">mode_edit</md-icon> Edit
          </div>
          <div class="md-dark-primary" ng-if="post.followeeCount< 1 && !post.latestAnswer" ng-click="delete($event, post.id, $index);$event.stopPropagation();"
               layout="row" layout-align="start center">
            <md-icon class="md-dark-third" md-font-set="material-icons">delete</md-icon> Delete
          </div>
        </div>
      </div>
      <div ng-if="post.approvalStatus == 'APPROVED'" class="xb-color-striking">FEATURED</div>
      <div layout="row" layout-align="end center" class="md-dark-secondary" flex>{{post.created|amDateFormat:'MM.DD.YYYY'}}</div>
    </div>
    <div ng-if="!currentUser" class="xb-my-answers__actions-1" layout="row" layout-align="start center">
      <div hide-gt-xs>
        <div ng-if="post.answerAmount == 0" layout="column">
          <md-button class="md-primary" ui-sref="application.askQuestionMain.answerQuestionDetail({questionId:post.id})">
            Be the first to answer
          </md-button>
          <div layout="row" layout-align="start center">
            <md-button ng-if="!post.currentUser.follow" class="xb-ask-list__margin-left md-dark-secondary"
                       ng-click="follow(post)">Follow</md-button>
            <span class="md-dark-secondary" ng-if="!post.currentUser.follow" >&nbsp;{{post.followeeCount > 0? post.followeeCount:''}}</span>
            <md-button ng-if="post.currentUser.follow" class="xb-ask-list__margin-left md-dark-secondary"
                       ng-click="follow(post)">Following</md-button>
            <span class="md-dark-secondary" ng-if="post.currentUser.follow" >&nbsp;{{post.followeeCount > 0? post.followeeCount:''}}</span>
          </div>
        </div>
        <div ng-if="post.answerAmount > 0" layout="row" layout-align="start center">
          <div ng-switch="post.answerAmount">
            <div ng-switch-when="1" layout="row" layout-align="start center">
              <md-button class="md-primary">
                Answer
              </md-button>
              <span class="xb-ask-list__color">&nbsp;1</span>
            </div>
            <div ng-switch-default layout="row" layout-align="start center">
              <md-button class="md-primary">
                Answers
              </md-button>
              <span class="xb-ask-list__color">&nbsp;{{post.answerAmount}}</span>
            </div>
          </div>
          <div layout="row" layout-align="start center">
            <md-button ng-if="!post.currentUser.follow" class="xb-ask-list__margin-left md-dark-secondary"
                       ng-click="follow(post)">Follow</md-button>
            <span class="md-dark-secondary" ng-if="!post.currentUser.follow" >&nbsp;{{post.followeeCount > 0? post.followeeCount:''}}</span>
            <md-button ng-if="post.currentUser.follow" class="xb-ask-list__margin-left md-dark-secondary"
                       ng-click="follow(post)">Following</md-button>
            <span class="md-dark-secondary" ng-if="post.currentUser.follow" >&nbsp;{{post.followeeCount > 0? post.followeeCount:''}}</span>
          </div>
        </div>
      </div>
      <div hide-xs layout="row" layout-align="start center">
        <div ng-switch="post.answerAmount">
          <div ng-switch-when="0">
            <md-button class="md-primary" ui-sref="application.askQuestionMain.answerQuestionDetail({questionId:post.id})">
              Be the first to answer
            </md-button>
          </div>
          <div ng-switch-when="1" layout="row" layout-align="start center">
            <md-button class="md-primary" ui-sref="application.askQuestionMain.answerQuestionDetail({questionId:post.id})">
              Answer
            </md-button>
            <span class="xb-ask-list__color">&nbsp;1</span>
          </div>
          <div ng-switch-default layout="row" layout-align="start center">
            <md-button class="md-primary">
              Answers
            </md-button>
            <span class="xb-ask-list__color">&nbsp;{{post.answerAmount}}</span>
          </div>
        </div>
        <div layout="row" layout-align="start center">
          <md-button ng-if="!post.currentUser.follow" class="xb-ask-list__margin-left md-dark-secondary"
                     ng-click="follow(post)">Follow</md-button>
          <span class="md-dark-secondary" ng-if="!post.currentUser.follow" >&nbsp;{{post.followeeCount > 0? post.followeeCount:''}}</span>
          <md-button ng-if="post.currentUser.follow" class="xb-ask-list__margin-left md-dark-secondary"
                     ng-click="follow(post)">Following</md-button>
          <span class="md-dark-secondary" ng-if="post.currentUser.follow" >&nbsp;{{post.followeeCount > 0? post.followeeCount:''}}</span>
        </div>
      </div>
      <div layout="row" layout-align="end center" class="md-dark-secondary" flex>{{post.created|amDateFormat:'MM.DD.YYYY'}}</div>
    </div>
  </div>
</div>
