<top-banner-slides-list class="xb-top-banner-container xb-credit-top-banner" slides="creditCtrl.topBanner" ratio="480/192" height="480"></top-banner-slides-list>
<div hide-xs>
  <div class="background-whitem">
    <div class="container xb-credit-container" >
    <div layout="row" layout-sm='column' layout-align-gt-sm="start start" layout-align-sm="space-around center" >
      <div layout="column" layout-align="start start">
        <span class="xb-credit-container__title">Xberts Tech Insider</span>
        <div class="xb-credit-container__subtitle md-headline">Insider's points comparison</div>
        <div class="xb-credit-container__img-content" layout="row" layout-align="start stretch">
          <div class="xb-column-bg" layout="column" layout-align="end center" >
            <div class="xb-credit-container__img-bg-150">
              <div>200</div>
              <div>Points</div>
            </div>
            <div class="xb-credit-container__badge-bg">
              <img ng-src="{{creditCtrl.badges[0]}}"/>
              <span>Tech Enthusiast</span>
            </div>
          </div>
          <div>
            <img class="xb-credit-container__img-bg-1" src="https://xberts.imgix.net/other/8e0079ab-b83e-445c-84f2-6227b7e6a051.png?auto=format%2Cenhance&crop=edges&fit=crop&ixlib=python-1.1.2&s=e5c98af8d77173ca5c107295da349539" />
          </div>
          <div class="xb-column-bg" layout="column" layout-align="end center" >
            <div class="xb-credit-container__img-bg-225">
              <div>500</div>
              <div>Points</div>
            </div>
            <div class="xb-credit-container__badge-bg">
              <img ng-src="{{creditCtrl.badges[1]}}"/>
              <span>Tech Influencer</span>
            </div>
          </div>
          <div>
            <img class="xb-credit-container__img-bg-2" src="https://xberts.imgix.net/other/8e0079ab-b83e-445c-84f2-6227b7e6a051.png?auto=format%2Cenhance&crop=edges&fit=crop&ixlib=python-1.1.2&s=e5c98af8d77173ca5c107295da349539" />
          </div>
          <div class="xb-column-bg" layout="column" layout-align="end center" >
            <div class="xb-credit-container__img-bg-300">
              <div>800</div>
              <div>Points</div>
            </div>
            <div class="xb-credit-container__badge-bg">
              <img ng-src="{{creditCtrl.badges[2]}}"/>
              <span>Tech Geek</span>
            </div>
          </div>
        </div>
      </div>
      <div class="xb-credit-container__content">
        <div class="xb-credit-container__title-1 md-headline">Perks of Tech Insider</div>
        <div class="xb-credit-container__content-bg" layout="row" layout-align="start start">
          <img ng-src="{{creditCtrl.badges[0]}}"/>
          <div class="md-subhead">Tech Enthusiast</div>
          <div class="md-body-1 md-dark-primary" layout="column" layout-align="start start">
            <span ng-if="false">Privilege to claim 1 free sample</span>
            <span>Xberts newsletter on latest trials</span>
            <span>An APPLE badge in your profile page</span>
          </div>
        </div>
        <div class="xb-credit-container__content-bg" layout="row" layout-align="start start">
          <img ng-src="{{creditCtrl.badges[1]}}"/>
          <div class="md-subhead">Tech Influencer</div>
          <div class="md-body-1 md-dark-primary" layout="column" layout-align="start start">
            <span ng-if="false">Privilege to claim 2 free sample</span>
            <span>Early preview of tech gadgets before they release</span>
            <span>A STAR badge in your profile page</span>
          </div>
        </div>
        <div class="xb-credit-container__content-bg" layout="row" layout-align="start start">
          <img ng-src="{{creditCtrl.badges[2]}}"/>
          <div class="md-subhead">Tech Geek</div>
          <div class="md-body-1 md-dark-primary" layout="column" layout-align="start start">
            <span ng-if="false">Privilege to claim 3 free sample</span>
            <span>A TROPHY badge in your profile page</span>
            <span>3 members with the highest points will be invited to attend CES 2018</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="container">
    <div class="xb-credit-container">
      <div layout="row" layout-align="start start">
        <div class="xb-credit-container__title">
          Moreover, You Can Instantly <br>
          Redeem Amazing Gifts with Your Points!
        </div>
      </div>
      <div infinite-scroll="creditCtrl.creditMain.loadNext()"
           infinite-scroll-distance='0' infinite-scroll-container='".xb-body-view "'
           infinite-scroll-disabled="creditCtrl.creditMain.loading || !creditCtrl.creditMain.next">
        <credit-redeem redeems="creditCtrl.creditMain.items"></credit-redeem>
        <load-more ng-if="creditCtrl.creditMain.loading"></load-more>
      </div>
    </div>
  </div>
  <div class="xb-credit-color-bg">
    <div class="container" layout="row" layout-align="start start">
      <div class="" flex="50" layout="column" layout-align="start start">
        <div class="xb-credit-color-bg__title">Ways to Win Points</div>
        <div ng-if="!user.isAuth()" class="xb-credit-color-bg__subtitle md-headline">Earn 10 points by signing up now</div>
        <md-button ng-if="!user.isAuth()" class="md-raised" ui-sref="application.signup">sign up</md-button>
      </div>
      <div class="xb-credit-color-bg__content" flex="50">
        <div layout="row">
          <span>10 points</span>
          <a ui-sref="application.askQuestionMain">Answer a question and selected as the Top Answer by users</a>
        </div>
        <div layout="row">
          <span>8 points</span>
          <a ui-sref="application.productDeals">Share a great offer by posting on Discover page and featured by us</a>
        </div>
        <div layout="row">
          <span>8 points</span><a ui-sref="application.campaignreviews">Submit a good review for your Trial and featured on our page</a>
        </div>
        <div layout="row">
          <span>5 points</span><a class="default" ng-click="creditCtrl.inviteFriends()">Invite a friend to join Xberts</a>
        </div>
        <div layout="row" ng-if="false">
          <span>5 points</span><a>Connect with your social media account</a>
        </div>
        <div layout="row">
          <span>5 points</span><a class="default" ng-click="creditCtrl.uploadFile()">Upload your profile picture</a>
        </div>
        <div layout="row">
          <span>3 points</span><a ui-sref="application.testingcampaigns">Apply for a trial campaign</a>
        </div>
        <div layout="row">
          <span>2 points</span><a ui-sref="application.askQuestionMain">Ask a question and get featured on our page</a>
        </div>
      </div>
    </div>
  </div>
  <div class="xb-credit-container container">
    <div layout="row" layout-align="start start">
      <div class="xb-credit-container__title">
        FAQ
      </div>
    </div>
    <div class="xb-credit-container__faq" layout="row" layout-align="start start">
      <div>
        <div class="xb-credit-container__faq-bottom">
          <div class="md-subhead">Is Xberts Legitimate?</div>
          <div>
            Xberts is a YC-funded company that aims to create a community where tech geeks can share their favorite products, we also give out free or discounted samples in order to collect authentic reviews for both manufacturers and customers. That way, the manufacturers can make improvements on their product and our users can make wise purchasing decision.
          </div>
        </div>
        <div class="xb-credit-container__faq-bottom">
          <div class="md-subhead">Is there a daily limit on the points I can win per day?</div>
          <div>
            The maximum points you can get each day is 100 points.
          </div>
        </div>
        <div class="xb-credit-container__faq-bottom">
          <div class="md-subhead">Will these gifts be changed?</div>
          <div>
            We will update the free gifts every month, so you can have more options on what to redeem!
          </div>
        </div>
        <div>
          <div class="md-subhead">What kind of product sharing/review will be featured?</div>
          <div>
            We do prefer creative contents and self-made videos. As long as you take your time to write a quality product sharing/review, we'd love to reward you with more bonus points!</div>
        </div>

      </div>
      <div>
        <div class="xb-credit-container__faq-bottom">
          <div class="md-subhead">How can I see how many points I have earned?</div>
          <div>
            You can check your total points balance by logging in to Xberts and clicking on “My Profile” page. Your total points will be displayed at the top of your profile page.
          </div>
        </div>
        <div class="xb-credit-container__faq-bottom" >
          <div class="md-subhead">How long can I receive the product after submitting the gift redemption request? </div>
          <div>
            The product will normally be shipped within 5 working days after we receive your redemption request. We will send you a shipping notification and tracking number through email. Please note that the delivery time will depend on the shipping destination.
          </div>
        </div>
        <div >
          <div class="md-subhead">What kind of contents and behaviors will be treated as spam? </div>
          <div>
            If you flood the community with posts, comments, fake user invitations or illegal contents, you may be considered a spammer. Once you’re treated as a spammer, your account may be blocked or removed all the points from your record.
          </div>
        </div>
      </div>
      <div flex>
        <img ng-src="https://xberts.imgix.net/other/293b17b7-1bfe-46c5-bda6-42be143f270b.jpg?auto=format%2Cenhance&crop=edges&fit=crop&ixlib=python-1.1.2&s=a1f1672cc5d62ef7f8ca77f5f660c731" />
      </div>
    </div>
  </div>
</div>
<div hide-gt-xs class="xb-credit-mobile">
  <div class="xb-credit-mobile__nav" layout="row" layout-align="space-between center">
    <md-truncate flex class="md-subhead">Xberts Tech Insider</md-truncate>
    <md-icon md-font-set="material-icons" nav-next-slide-toggle toggle-element="'.xb-credit-mobile .container'"
             parent="'.xb-credit-mobile__nav'" active-class="'active'" touch-class="'hover'" index="0" toggle="creditCtrl.isOpen[0]">keyboard_arrow_down</md-icon>
  </div>
  <div class="container xb-credit-mobile__tech">
    <div class="xb-credit-mobile__title md-headline">Insider's points comparison</div>
    <div layout="row" layout-align="start start">
      <img ng-src="{{creditCtrl.badges[0]}}"/>
      <div class="xb-credit-mobile__tech-bottom">
        <div class="md-subhead">Tech Enthusiast</div>
        <div layout="row" layout-align="start center">
          <div class="xb-credit-mobile__line-1"></div> 200 points
        </div>
      </div>
    </div>
    <div layout="row" layout-align="start start">
      <img ng-src="{{creditCtrl.badges[1]}}"/>
      <div class="xb-credit-mobile__tech-bottom">
        <div class="md-subhead">Tech Influencer</div>
        <div layout="row" layout-align="start center">
          <div class="xb-credit-mobile__line-2"></div> 500 points
        </div>
      </div>
    </div>
    <div layout="row" layout-align="start start">
      <img ng-src="{{creditCtrl.badges[2]}}"/>
      <div class="xb-credit-mobile__tech-bottom">
        <div class="md-subhead">Tech Geek</div>
        <div layout="row" layout-align="start center">
          <div class="xb-credit-mobile__line-3"></div> 800 points
        </div>
      </div>
    </div>
    <div class="xb-credit-mobile__title md-headline">Perks of Tech Insider</div>
    <div layout="row" layout-align="start start">
      <img ng-src="{{creditCtrl.badges[0]}}"/>
      <div class="xb-credit-mobile__tech-bottom">
        <div class="md-body-1 md-dark-primary" >
          <div class="md-subhead">Tech Enthusiast</div>
          <div ng-if="false">1 Privilege to claim 1 free sample</div>
          <div>Xberts newsletter on latest trials</div>
          <div>An APPLE badge in your profile page</div>
        </div>
      </div>
    </div>
    <div layout="row" layout-align="start start">
      <img ng-src="{{creditCtrl.badges[1]}}"/>
      <div class="xb-credit-mobile__tech-bottom">
        <div class="md-body-1 md-dark-primary">
          <div class="md-subhead">Tech Influencer</div>
          <div ng-if="false">Privilege to claim 2 free sample</div>
          <div>Early preview of tech gadgets before they release</div>
          <div>A STAR badge in your profile page</div>
        </div>
      </div>
    </div>
    <div layout="row" layout-align="start start">
      <img ng-src="{{creditCtrl.badges[2]}}"/>
      <div class="xb-credit-mobile__tech-bottom">
        <div class="md-body-1 md-dark-primary">
          <div class="md-subhead">Tech Geek</div>
          <div ng-if="false">Privilege to claim 3 free sample</div>
          <div>A TROPHY badge in your profile page</div>
          <div>3 members with the highest points will be invited to attend CES 2018</div>
        </div>
      </div>
    </div>
  </div>

  <div class="xb-credit-mobile__nav" layout="row" layout-align="space-between center">
    <md-truncate flex class="md-subhead">Redeem Gifts with Your Points</md-truncate>
    <md-icon md-font-set="material-icons" nav-next-slide-toggle toggle-element="'.xb-credit-mobile .container'"
             parent="'.xb-credit-mobile__nav'" active-class="'active'" touch-class="'hover'" index="1" toggle="creditCtrl.isOpen[2]">keyboard_arrow_down</md-icon>
  </div>
  <div class="container xb-credit-mobile__content-1">
    <div infinite-scroll="creditCtrl.creditMain.loadNext()"
         infinite-scroll-distance='0' infinite-scroll-container='".xb-body-view "'
         infinite-scroll-disabled="creditCtrl.creditMain.loading || !creditCtrl.creditMain.next">
      <credit-redeem redeems="creditCtrl.creditMain.items"></credit-redeem>
      <load-more ng-if="creditCtrl.creditMain.loading"></load-more>
    </div>
  </div>
  <div class="xb-credit-mobile__nav" layout="row" layout-align="space-between center">
    <md-truncate flex class="md-subhead">Ways to Win Points</md-truncate>
    <md-icon md-font-set="material-icons" nav-next-slide-toggle toggle-element="'.xb-credit-mobile .container'"
             parent="'.xb-credit-mobile__nav'" active-class="'active'" touch-class="'hover'" index="2" toggle="creditCtrl.isOpen[1]">keyboard_arrow_down</md-icon>
  </div>
  <div class="container xb-credit-mobile__content">
    <div ng-if="!user.isAuth()" class="md-subhead">Earn 10 points by signing up now</div>
    <md-button ng-if="!user.isAuth()" class="md-primary md-raised" ui-sref="application.signup">sign up</md-button>
    <div class="xb-credit-color-bg__content">
      <div layout="row">
        <span>10 points</span>
        <a ui-sref="application.askQuestionMain">Answer a question and selected as the Top Answer by users</a>
      </div>
      <div layout="row">
        <span>8 points</span>
        <a ui-sref="application.productDeals">Share a great offer by posting on Discover page and featured by us</a>
      </div>
      <div layout="row">
        <span>8 points</span><a ui-sref="application.campaignreviews">Submit a good review for your Trial and featured on our page</a>
      </div>
      <div layout="row">
        <span>5 points</span><a class="default" ng-click="creditCtrl.inviteFriends()">Invite a friend to join Xberts</a>
      </div>
      <div layout="row" ng-if="false">
        <span>5 points</span><a>Connect with your social media account</a>
      </div>
      <div layout="row">
        <span>5 points</span><a class="default" ng-click="creditCtrl.uploadFile()">Upload your profile picture</a>
      </div>
      <div layout="row">
        <span>3 points</span><a ui-sref="application.testingcampaigns">Apply for a trial campaign</a>
      </div>
      <div layout="row">
        <span>2 points</span><a ui-sref="application.askQuestionMain">Ask a question and get featured on our page</a>
      </div>
    </div>
  </div>
  <div class="xb-credit-mobile__nav" layout="row" layout-align="space-between center">
    <md-truncate flex class="md-subhead">FAQ</md-truncate>
    <md-icon md-font-set="material-icons" nav-next-slide-toggle toggle-element="'.xb-credit-mobile .container'"
             parent="'.xb-credit-mobile__nav'" active-class="'active'" touch-class="'hover'" index="3" toggle="creditCtrl.isOpen[3]">keyboard_arrow_down</md-icon>
  </div>
  <div class="container xb-credit-mobile__fq">
    <div>
      <div class="md-subhead">Is Xberts Legitimate?</div>
      <div>
        Xberts is a YC-funded company that aims to create a community where tech geeks can share their favorite products, we also give out free or discounted samples in order to collect authentic reviews for both manufacturers and customers. That way, the manufacturers can make improvements on their product and our users can make wise purchasing decision.
      </div>
    </div>
    <div>
      <div class="md-subhead">Is there a daily limit on the points I can win per day?</div>
      <div>
        The maximum points you can get each day is 100 points.
      </div>
    </div>
    <div>
      <div class="md-subhead">Will these gifts be changed?</div>
      <div>
        We will update the free gifts every month, so you can have more options on what to redeem!
      </div>
    </div>
    <div>
      <div class="md-subhead">What kind of product sharing/review will be featured?</div>
      <div>
        We do prefer creative contents and self-made videos. As long as you take your time to write a quality product sharing/review, we'd love to reward you with more bonus points!</div>
    </div>
    <div>
      <div class="md-subhead">How can I see how many points I have earned?</div>
      <div>
        You can check your total points balance by logging in to Xberts and clicking on “My Profile” page. Your total points will be displayed at the top of your profile page.
      </div>
    </div>
    <div>
      <div class="md-subhead">How long can I receive the product after submitting the gift redemption request? </div>
      <div>
        The product will normally be shipped within 5 working days after we receive your redemption request. We will send you a shipping notification and tracking number through email. Please note that the delivery time will depend on the shipping destination.
      </div>
    </div>
    <div>
      <div class="md-subhead">What kind of contents and behaviors will be treated as spam? </div>
      <div>
        If you flood the community with posts, comments, fake user invitations or illegal contents, you may be considered a spammer. Once you’re treated as a spammer, your account may be blocked or removed all the points from your record.
      </div>
    </div>
  </div>
</div>
