<top-banner-slides-list class="xb-top-banner-container" slides="creditCtrl.topBanner"></top-banner-slides-list>
<div hide-xs>
  <div class="container xb-credit-container" >
    <div layout="row" layout-align-gt-sm="start start" layout-align-sm="space-around start" layout-wrap>
      <div layout="column" layout-align="start start">
        <span class="xb-credit-container__title">Xberts Tech Insider</span>
        <div class="xb-credit-container__subtitle md-headline">Insider's points comparison</div>
        <div class="xb-credit-container__img-content" layout="row" layout-align="start stretch">
          <div class="xb-column-bg" layout="column" layout-align="end center" >
            <div class="xb-credit-container__img-bg-150">
              <div>300</div>
              <div>Points</div>
            </div>
            <div class="xb-credit-container__badge-bg">
              <img ng-src="{{creditCtrl.badges[0]}}"/>
              <span>Tech Enthusiast</span>
            </div>
          </div>
          <div>
            <img class="xb-credit-container__img-bg-1" src="https://xberts.imgix.net/other/8e0079ab-b83e-445c-84f2-6227b7e6a051.png?auto=format%2Cenhance&crop=edges&fit=crop&ixlib=python-1.1.2&s=e5c98af8d77173ca5c107295da349539" />
          </div>
          <div class="xb-column-bg" layout="column" layout-align="end center" >
            <div class="xb-credit-container__img-bg-255">
              <div>450</div>
              <div>Points</div>
            </div>
            <div class="xb-credit-container__badge-bg">
              <img ng-src="{{creditCtrl.badges[1]}}"/>
              <span>Tech Influencer</span>
            </div>
          </div>
          <div>
            <img class="xb-credit-container__img-bg-2" src="https://xberts.imgix.net/other/8e0079ab-b83e-445c-84f2-6227b7e6a051.png?auto=format%2Cenhance&crop=edges&fit=crop&ixlib=python-1.1.2&s=e5c98af8d77173ca5c107295da349539" />
          </div>
          <div class="xb-column-bg" layout="column" layout-align="end center" >
            <div class="xb-credit-container__img-bg-300">
              <div>600</div>
              <div>Points</div>
            </div>
            <div class="xb-credit-container__badge-bg">
              <img ng-src="{{creditCtrl.badges[2]}}"/>
              <span>Tech Geek</span>
            </div>
          </div>
        </div>
      </div>
      <div class="xb-credit-container__content">
        <div class="xb-credit-container__title-1 md-headline">Perks of Tech Insider</div>
        <div class="xb-credit-container__content-bg" layout="row" layout-align="start start">
          <img ng-src="{{creditCtrl.badges[0]}}"/>
          <div class="md-subhead">Tech Enthusiast</div>
          <div class="md-body-1 md-dark-primary" layout="column" layout-align="start start">
            <span ng-if="false">Privilege to claim 1 free sample</span>
            <span>Xberts newsletter on latest trials</span>
            <span>An apple badge in your profile</span>
          </div>
        </div>
        <div class="xb-credit-container__content-bg" layout="row" layout-align="start start">
          <img ng-src="{{creditCtrl.badges[1]}}"/>
          <div class="md-subhead">Tech Influencer</div>
          <div class="md-body-1 md-dark-primary" layout="column" layout-align="start start">
            <span ng-if="false">Privilege to claim 2 free sample</span>
            <span>Early preview of tech gadgets before they release</span>
            <span>A star badge behind your profile picture</span>
          </div>
        </div>
        <div class="xb-credit-container__content-bg" layout="row" layout-align="start start">
          <img ng-src="{{creditCtrl.badges[2]}}"/>
          <div class="md-subhead">Tech Geek</div>
          <div class="md-body-1 md-dark-primary" layout="column" layout-align="start start">
            <span ng-if="false">Privilege to claim 3 free sample</span>
            <span>A trophy badge showing your status on Xberts</span>
            <span>2-3 members may be eligible to attend CES 2017</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="xb-credit-color-bg">
    <div class="container" layout="row" layout-align="start start">
      <div class="" flex="50" layout="column" layout-align="start start">
        <div class="xb-credit-color-bg__title">Ways to Win Points</div>
        <div class="xb-credit-color-bg__subtitle md-headline">Earn 10 points by signing up now</div>
        <md-button ng-if="!user.isAuth()" class="md-raised" ui-sref="application.signup">sign up</md-button>
      </div>
      <div class="xb-credit-color-bg__content" flex="50">
        <div layout="row" ng-if="false">
          <span>8 points</span><a>Invite a friend to join Xberts</a>
        </div>
        <div layout="row">
          <span>5 points</span><a ui-sref="application.shareProductList">Share a great product by posting on Discover page and approved by us</a>
        </div>
        <div layout="row" ng-if="false">
          <span>5 points</span><a>Product suggestion is featured on Xberts</a>
        </div>
        <div layout="row">
          <span>5 points</span><a ui-sref="application.campaignreviews">Submit a good review for your Trial and featured on our page</a>
        </div>
        <div layout="row" ng-if="false">
          <span>3 points</span><a>Share a review or product on your social media with an Xberts link</a>
        </div>
        <div layout="row" ng-if="false">
          <span>3 points</span><a>Connect with your social media account</a>
        </div>
        <div layout="row">
          <span>2 points</span><a ui-sref="application.testingcampaigns">Apply for a trial campaign</a>
        </div>
        <div layout="row">
          <span>2 points</span>
          <a ng-if="!user.isAuth()" ui-sref="application.login">Upload your profile picture</a>
          <a ng-if="user.isAuth()" ui-sref="application.expert({ expertId: user.getUserId(), tab: 'profile' })">Upload your profile picture</a>
        </div>
        <div layout="row">
          <span>2 points</span><a ui-sref="application.shareProductList">Comment on a product under Discover page</a>
        </div>
        <div layout="row">
          <span>2 points</span><a ui-sref="application.testingcampaigns">Comment on a campaign under Trial page</a>
        </div>
        <div layout="row">
          <span>2 points</span><a ui-sref="application.campaignreviews">Comment on a review under Reviews page</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="xb-credit-container">
      <div layout="row" layout-align="start start">
        <div class="xb-credit-container__title">
          Moreover, you can instantly <br>
          redeem amazing gifts with your points!
        </div>
      </div>
      <credit-redeem redeems="creditCtrl.creditMain"></credit-redeem>
    </div>
  </div>
  <div class="background-whitem">
    <div class="xb-credit-container container">
      <div layout="row" layout-align="start start">
        <div class="xb-credit-container__title">
          FAQ
        </div>
      </div>
      <div class="xb-credit-container__faq" layout="row" layout-align="start start">
        <div>
          <div class="xb-credit-container__faq-bottom">
            <div class="md-subhead">Is Xberts Legitimate?</div>
            <div>
              Xberts is a YC-funded company that aims to create a community where tech geeks can share their favorite products, we also give out free or discounted samples in order to collect authentic feedbacks for both manufacturers and customers, so our users can make wise purchasing choices.
            </div>
          </div>
          <div class="xb-credit-container__faq-bottom" ng-if="false">
            <div class="md-subhead">Can I lose my badge?</div>
            <div>
              It is possible to lose your badge after you redeem free gifts. Also, every half year, we will assessif you have earned enough points to maintain your badge, or you will be downgraded.
            </div>
          </div>
          <div>
            <div class="md-subhead">Is there a daily limit on the points I can win per day?</div>
            <div>
              The maximum points you can get each day is 100 points.
            </div>
          </div>
        </div>
        <div>
          <div class="xb-credit-container__faq-bottom" ng-if="false">
            <div class="md-subhead">Am I guaranteed to claim free samples?</div>
            <div>
              Usually we give out limited number of free samples. priority will be given to those who have higher rank and more points, however, you can always redeem free gifts, and we will deduct your points accordingly.
            </div>
          </div>
          <div class="xb-credit-container__faq-bottom">
            <div class="md-subhead">Will these gifts be changed?</div>
            <div>
              We will update the free gifts every month, so you can have more options on what to redeem!
            </div>
          </div>
          <div>
            <div class="md-subhead">What kind of product suggestion/review will be featured?</div>
            <div>
              We do prefer creative contents and self-made videos. As long as you take your time to write a quality product suggestion/review, we'd love to reward you with more bonus points!</div>
          </div>
        </div>
        <div flex>
          <img ng-src="https://xberts.imgix.net/other/cd6b3d2f-e630-4ce8-b74d-43a7223f2699.jpg?auto=format%2Cenhance&crop=edges&fit=crop&ixlib=python-1.1.2&s=c717da1356edc463f5e5a9a8cfc5cb51" />
        </div>
      </div>
    </div>
  </div>
</div>
<div hide-gt-xs class="xb-credit-mobile">
  <div class="xb-credit-mobile__nav" layout="row" layout-align="space-between center">
    <md-truncate flex class="md-subhead">Xberts Tech Insider</md-truncate>
    <md-icon md-font-set="material-icons" nav-next-slide-toggle toggle-element="'.xb-credit-mobile .container'"
             parent="'.xb-credit-mobile__nav'" active-class="'active'" touch-class="'hover'" index="0" toggle="creditCtrl.isOpen[0]">keyboard_arrow_down</md-icon>
  </div>
  <div class="container xb-credit-mobile__tech">
    <div class="xb-credit-mobile__title md-headline">Insider's points comparison</div>
    <div layout="row" layout-align="start start">
      <img ng-src="{{creditCtrl.badges[0]}}"/>
      <div class="xb-credit-mobile__tech-bottom">
        <div class="md-subhead">Tech Enthusiast</div>
        <div layout="row" layout-align="start center">
          <div class="xb-credit-mobile__line-1"></div> 300 points
        </div>
      </div>
    </div>
    <div layout="row" layout-align="start start">
      <img ng-src="{{creditCtrl.badges[1]}}"/>
      <div class="xb-credit-mobile__tech-bottom">
        <div class="md-subhead">Tech Influencer</div>
        <div layout="row" layout-align="start center">
          <div class="xb-credit-mobile__line-2"></div> 450 points
        </div>
      </div>
    </div>
    <div layout="row" layout-align="start start">
      <img ng-src="{{creditCtrl.badges[2]}}"/>
      <div class="xb-credit-mobile__tech-bottom">
        <div class="md-subhead">Tech Geek</div>
        <div layout="row" layout-align="start center">
          <div class="xb-credit-mobile__line-3"></div> 600 points
        </div>
      </div>
    </div>
    <div class="xb-credit-mobile__title md-headline">Perks of Tech Insider</div>
    <div layout="row" layout-align="start start">
      <img ng-src="{{creditCtrl.badges[0]}}"/>
      <div class="xb-credit-mobile__tech-bottom">
        <div class="md-body-1 md-dark-primary" >
          <div class="md-subhead">Tech Enthusiast</div>
          <div ng-if="false">1 Privilege to claim 1 free sample</div>
          <div>2 Xberts newsletter on latest trials</div>
          <div>3 An apple badge in your profile</div>
        </div>
      </div>
    </div>
    <div layout="row" layout-align="start start">
      <img ng-src="{{creditCtrl.badges[1]}}"/>
      <div class="xb-credit-mobile__tech-bottom">
        <div class="md-body-1 md-dark-primary">
          <div class="md-subhead">Tech Influencer</div>
          <div ng-if="false">1 Privilege to claim 2 free sample</div>
          <div>2 Early preview of tech gadgets before they release</div>
          <div>3 A star badge behind your profile picture</div>
        </div>
      </div>
    </div>
    <div layout="row" layout-align="start start">
      <img ng-src="{{creditCtrl.badges[2]}}"/>
      <div class="xb-credit-mobile__tech-bottom">
        <div class="md-body-1 md-dark-primary">
          <div class="md-subhead">Tech Geek</div>
          <div ng-if="false">1 Privilege to claim 3 free sample</div>
          <div>2 A trophy badge showing your status on Xberts</div>
          <div>3 2-3 members may be eligible to attend CES 2017</div>
        </div>
      </div>
    </div>
  </div>
  <div class="xb-credit-mobile__nav" layout="row" layout-align="space-between center">
    <md-truncate flex class="md-subhead">Ways to Win Points</md-truncate>
    <md-icon md-font-set="material-icons" nav-next-slide-toggle toggle-element="'.xb-credit-mobile .container'"
             parent="'.xb-credit-mobile__nav'" active-class="'active'" touch-class="'hover'" index="1" toggle="creditCtrl.isOpen[1]">keyboard_arrow_down</md-icon>
  </div>
  <div class="container xb-credit-mobile__content">
    <div class="md-subhead">Earn 10 points by signing up now</div>
    <md-button ng-if="!user.isAuth()" class="md-primary md-raised" ui-sref="application.signup">sign up</md-button>
    <div class="xb-credit-color-bg__content">
      <div layout="row" ng-if="flase">
        <span>8 points</span><a>Invite a friend to join Xberts</a>
      </div>
      <div layout="row">
        <span>5 points</span><a ui-sref="application.shareProductList">Share a great product by posting on Discover page and approved by us</a>
      </div>
      <div layout="row" ng-if="false">
        <span>5 points</span><a>Product suggestion is featured on Xberts</a>
      </div>
      <div layout="row">
        <span>5 points</span><a ui-sref="application.campaignreviews">Submit a good review for your Trial and featured on our page</a>
      </div>
      <div layout="row" ng-if="false">
        <span>3 points</span><a>Share a review or product on your social media with an Xberts link</a>
      </div>
      <div layout="row" ng-if="false">
        <span>3 points</span><a>Connect with your social media account</a>
      </div>
      <div layout="row">
        <span>2 points</span><a ui-sref="application.testingcampaigns">Apply for a trial campaign</a>
      </div>
      <div layout="row">
        <span>2 points</span>
        <a ng-if="!user.isAuth()" ui-sref="application.login">Upload your profile picture</a>
        <a ng-if="user.isAuth()" ui-sref="application.expert({ expertId: user.getUserId(), tab: 'profile' })">Upload your profile picture</a>
      </div>
      <div layout="row">
        <span>2 points</span><a ui-sref="application.shareProductList">Comment on a product under Discover page</a>
      </div>
      <div layout="row">
        <span>2 points</span><a ui-sref="application.testingcampaigns">Comment on a campaign under Trial page</a>
      </div>
      <div layout="row">
        <span>2 points</span><a ui-sref="application.campaignreviews">Comment on a review under Reviews page</a>
      </div>
    </div>
  </div>
  <div class="xb-credit-mobile__nav" layout="row" layout-align="space-between center">
    <md-truncate flex class="md-subhead">Redeem amazing gifts with your points</md-truncate>
    <md-icon md-font-set="material-icons" nav-next-slide-toggle toggle-element="'.xb-credit-mobile .container'"
             parent="'.xb-credit-mobile__nav'" active-class="'active'" touch-class="'hover'" index="2" toggle="creditCtrl.isOpen[2]">keyboard_arrow_down</md-icon>
  </div>
  <div class="container xb-credit-mobile__content-1">
    <credit-redeem redeems="creditCtrl.creditMain"></credit-redeem>
  </div>
  <div class="xb-credit-mobile__nav" layout="row" layout-align="space-between center">
    <md-truncate flex class="md-subhead">FAQ</md-truncate>
    <md-icon md-font-set="material-icons" nav-next-slide-toggle toggle-element="'.xb-credit-mobile .container'"
             parent="'.xb-credit-mobile__nav'" active-class="'active'" touch-class="'hover'" index="3" toggle="creditCtrl.isOpen[3]">keyboard_arrow_down</md-icon>
  </div>
  <div class="container xb-credit-mobile__fq">
    <div>
      <div class="md-subhead">Is Xberts Legitimate?</div>
      <div>
        Xberts is a YC-funded company that aims to create a community where tech geeks can share their favorite products, we also give out free or discounted samples in order to collect authentic feedbacks for both manufacturers and customers. That way, the manufactures can make improvements on their product and our users can make wise purchasing choices.
      </div>
    </div>
    <div ng-if="false">
      <div class="md-subhead">Can I lose my badge?</div>
      <div>
        It is possible to lose your badge after you redeem free gifts. Also, every half year, we will assessif you have earned enough points to maintain your badge, or you will be downgraded.
      </div>
    </div>
    <div>
      <div class="md-subhead">Is there a daily limit on the points I can win per day?</div>
      <div>
        The maximum points you can get each day is 100 points.
      </div>
    </div>
    <div ng-if="false">
      <div class="md-subhead">Am I guaranteed to claim free samples?</div>
      <div>
        Usually we give out limited number of free samples. priority will be given to those who have higher rank and more points, however, you can always redeem free gifts, and we will deduct your points accordingly.
      </div>
    </div>
    <div>
      <div class="md-subhead">Will these gifts be changed?</div>
      <div>
        We will update the free gifts every month, so you can have more options on what to redeem!
      </div>
    </div>
    <div>
      <div class="md-subhead">What kind of product suggestion/review will be featured?</div>
      <div>
        We do prefer creative contents and self-made videos. As long as you take your time to write a quality product suggestion/review, we'd love to reward you with more bonus points!
      </div>
    </div>
  </div>
</div>
