

.xb-my-posts{
  padding:16px 16px 0;

  @include xb-xs-screen{
    padding:8px 8px 0;
  }

  &__bg{
    margin-right: 16px;
    width: 160px;
    height: 90px;
    position: relative;
    border-radius: 2px;
    overflow: hidden;

    >div{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      img{
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        min-width: 100%;
        min-height: 100%;
        max-width: 120%;
      }
    }
    @include xb-xs-screen{
      margin-right: 8px;
      width: 72px;
      height: 72px;
      >div {
        img {
          max-height: 120%;
        }
      }
    }
  }

  &__title{
    @include xb-xs-screen{
      max-height: 48px;
      @include ellipsisText();
    }
  }

  .md-icon-button{
    margin: 0;
  }
  .material-icons{
    cursor: pointer;
  }
}
.xb-my-referrals{
  &__friend-list{
    padding: 0;
    >md-list-item{
      padding: 16px 8px;
      height: 56px;
    }
    avatar-img{
      width: 40px;
      height: 40px;
      margin-right: 16px;
      display: block;
      .c-user__avatar{
        width: 40px;
        height: 40px;
        margin-bottom: 0;
      }
      .c-user__name{
        width: 40px;
        height: 40px;
      }
    }
    i{
      width: 24px;
      height: 24px;
      font-size: 24px;
      line-height: 24px;
      text-align: center;
      color: rgba(0,0,0,.38);
    }
  }
  &__friend-list-none{
    padding: 88px 0;
    text-align: center;
    md-icon{
      font-size: 48px;
      line-height: 48px;
      width: 48px;
      height: 48px;
      color: rgba(0,0,0,.38);
      margin: 0 0 24px 0;
    }
    @include xb-xs-screen{
      padding: 40px 0;
    }
  }
  &__invite-friends{
    cursor: pointer;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    border: 2px dashed rgba(0, 0, 0, .12);
    padding: 88px 32px;
    md-icon{
      font-size: 48px;
      line-height: 48px;
      width: 48px;
      height: 48px;
      color: rgba(0,0,0,.38);
      margin: 0 16px 0 0;
    }
    .md-headline{
      @include media();
    }
    .md-body-1{
      text-align: center;
    }
    @include xb-sm-screen{
      margin-left: 16px;
      margin-right: 16px;
    }
    @include xb-xs-screen{
      margin: 0;
      padding: 56px 32px;
    }
  }

}
.xb-edit-profile{
  margin: 0 24px;
  @media screen and (max-width: 600px){
    margin: 0 6px;
  }
  .md-tab{
    text-transform: capitalize;
  }
  .md-tab.md-active{
    color: #000;
  }
  md-ink-bar{
    color: $primaryColor;
    background-color: $primaryColor;
  }
  &__title{
    width: 112px;
    min-width: 112px;
    text-align: right;
    margin-bottom: 8px;
    @include media();
    @include xb-xs-screen{
      text-align: left;
    }
  }
  &__dialog{
    margin-top: 32px;
  }
  &__margin-right{
    margin-right: 32px;
    @media screen and (max-width: 600px){
      margin-right: 0;
    }
  }
  md-input-container{
    padding: 0;
    margin-bottom: 0;
    label{
      padding: 0 !important;
    }
    input{
      padding: 0;
    }
  }
  md-radio-button{
    margin-bottom: 8px !important;
  }
  &__margin-bottom{
    margin-bottom: 24px !important;
  }
  &__label{
    @include media();
  }
  &__upload-bg{
    margin-top: 8px;
    margin-bottom: 72px;
    >img{
      margin-right: 24px;
      width: 50px;
      height: 50px;
    }
    .md-button{
      margin-left: 0;
      text-transform: capitalize;
    }
  }
  &__bottom-button{
    margin-bottom: 24px;
    .md-button{
      margin: 0;
      &:first-child{
        margin-right:16px;
      }
    }
  }
  &__icon{
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-right: 42px;
    border-radius: 50%;
    color: $whiteColor;
    $colors: (1 $facebookColor) (2 $linkedinColor) (3 $twitterColor);
    @each $color in $colors {
      &-color-#{nth($color, 1)} {
        background-color: nth($color, 2);
      }
    }
  }
  &__switch-bg{
    margin-bottom: 16px;
  }
  md-switch{
    margin-right: 32px;
    @media screen and (max-width:600px) {
      margin-right: 0;
    }
  }
  &__button-bottom{
    margin-bottom: 72px;
  }
}
.xb-account-setting{
  margin-top: 8px;
  .md-button{
    margin: 8px 0 0;
    padding: 0;
    text-transform: capitalize;
  }
  &__margin-bottom{
    margin-bottom: 24px;
  }
}
.xb-password-dialog{
  padding: 16px;
  width: 704px;
  @include xb-xs-screen{
    max-width: 100%;
  }
  .md-button{
    margin: 8px 0 0;
  }
  &__content{
    margin: 24px 0;
    padding: 16px 0;
    border-top: 1px solid rgba(0, 0, 0, .12);
    border-bottom: 1px solid rgba(0, 0, 0, .12);
  }
}
.xb-my-profile{
  background-color: $navigationColor;
  @include box-shadow(0 3px 5px rgba(0, 0, 0, 0.38));
  &__content{
    margin-top: 16px;
    margin-bottom: 32px;
  }
  &__head{
    width: 80px;
    height: 80px;
    min-width: 80px;
    img{
      width: 80px;
      height: 80px;
      margin: 0;
    }
    .c-user__name{
      width: 80px;
      height: 80px;
    }
  }
  &__title{
    color: $whiteColor;
    margin-left: 88px;
    @media screen and (max-width: 600px){
      margin-left: 8px;
    }
    .md-headline{
      span{
        margin-left: 24px;
        font-style: italic;
      }
    }
    &-bottom{
      margin-top: 16px;
      .material-icons{
        font-size: 14px;
        width: 14px;
        height:14px;
        text-align: center;
        color: #fff;
        min-width: 0;
        min-height: 0;
      }
      &-color{
        outline: none;
        color: rgba(255, 255, 255, .5);
        .material-icons{
          color: rgba(255, 255, 255, .5);
        }
      }
    }
  }
  $margins: (1 8) (2 16);
  @each $margin in $margins {
    &__margin-#{nth($margin, 1)} {
      margin-left: nth($margin, 2) + px;
      @if nth($margin, 1) == 2 {
        @media screen and (max-width: 600px){
          margin-left: 0;
        }
      }
    }
  }
  &__points-bg{
    margin-right: -10px;
    padding: 0 16px 0 8px;
    height: 24px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    font-size: 14px;
    font-family: "Times new Roman";
    font-style: italic;
    line-height: 24px;
    background-color: #fff;
    color: $primaryColor;
    i{
      display: block;
      width: 16px;
      height: 16px;
      margin-right: 8px;
      line-height: 16px;
      text-align: center;
    }
    .material-icons{
      color: $primaryColor;
    }
  }
  &__cursor{
    cursor: pointer;
  }
  &__points-bg-1{
    margin-left: 16px;
    padding: 0 8px;
    height: 24px;
    border-radius: 12px;
    font-size: 14px;
    font-family: "Times new Roman";
    font-style: italic;
    line-height: 24px;
    background-color: $whiteColor;
    color: $primaryColor;
    i{
      display: block;
      width: 16px;
      height: 16px;
      margin-right: 8px;
      line-height: 16px;
      text-align: center;
    }
  }
  &__button-bg{
    margin-top: -28px;
    position: relative;
    z-index: 1;
  }
  &__button{
    margin: 0 24px 0 0;
    padding: 0;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    @media screen and (max-width: 600px){
      width: 48px !important;
      height: 48px !important;
      line-height: 48px !important;
      font-size: 36px !important;
      margin-right: 16px;
    }
    md-icon{
      color: $whiteColor;
    }
    i{
      color: $whiteColor;
      width: 24px;
      height: 24px;
      font-size: 24px;
      line-height: 24px;
      margin: auto;
    }
  }
  &__button-1{
    background-color: $whiteColor !important;
    md-icon{
      color: $primaryColor !important;
    }
  }
  &__padding-top{
    @include xb-xs-screen{
      padding-top: 16px;
    }
  }
  &__tabs{
    md-tabs-canvas{
      border-radius: 2px;
      border:1px solid rgba(0,0,0,.06);
      background-color: $whiteColor;
      height: 40px;
      md-pagination-wrapper{
        height: 40px;
      }
    }
    .md-tab{
      padding: 8px 24px;
    }
    .md-tab.md-active{
      color: rgba(0,0,0,.87);
      position: relative;
      &:after{
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #EEE;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }
    md-tabs-content-wrapper{
      top: 40px;
      .md-tab.md-active{
        &:after{
          display: none;
        }
      }
    }
  }
  &__tabs-none{
    md-tabs-canvas{
      border: none;
    }
  }
  &__margin-top{
    margin-top: 16px;
    background-color: $whiteColor;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.06);
    min-height: 200px;
  }
  &__mobile{
    margin-top: 16px;
    .background-whitem{
      margin-bottom: 16px;
      >div{
        height: 48px;
        padding: 0 8px;
      }
    }
  }
}
.xb-invite-friends{
  &__title{
    margin-top: 36px;
    margin-bottom: 8px;
    padding: 0 16px;
  }
  &__subtitle{
    margin-bottom: 32px;
    padding: 0 16px;
    span{
      color: $strikingColor;
    }
    a{
      border-bottom: 1px solid;
    }
  }
  &__middle{
    margin-bottom: 40px;
    @include resetBorder();
    background-color: $whiteColor;
    .md-subhead{
      padding: 16px;
      border-bottom: 1px solid rgba(0, 0, 0, .12);
    }
  }
  $parent: &;
  &__social-bg{
    padding: 32px 16px;
    i{
      background-color: rgba(0, 0, 0, .38);
      border-radius: 4px;
      font-size: 30px;
      line-height: 36px;
      width: 36px;
      height: 36px;
      text-align: center;
      color: $whiteColor;
      margin-right: 16px;

    }
    .fa-envelope{
      color: rgba(0, 0, 0, .38);
      background-color: transparent;
    }
    $hoverChanges: (1 $facebookColor) (2 $twitterColor) (3 $linkedinColor) (4 #3f51b5);
    @each $hoverChange in $hoverChanges{
      #{$parent}__color-#{nth($hoverChange, 1)} {
        cursor: pointer;
        outline: none;
        &:hover{
          .fa{
            @if(nth($hoverChange, 1) < 4) {
              background-color: nth($hoverChange, 2);
            } @else {
              color: nth($hoverChange, 2);
            }
          }
          span{
            color: nth($hoverChange, 2);
          }
        }
      }
    }
    @include xb-xs-screen{
      padding: 8px 0;
      >div{
        flex: 1 1 175px !important;
        -webkit-flex: 1 1 175px !important;
        max-width: 50%;
        padding: 16px 0;
      }
      i{
        margin-right: 0;
        margin-bottom: 4px;
      }
    }
  }
  &__bottom{
    margin-bottom: 40px;
    @include resetBorder();
    background-color: #fff;
    .md-subhead{
      padding: 16px;
      border-bottom: 1px solid rgba(0, 0, 0, .12);
    }
  }
  &__link{
    margin: 24px 16px 8px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, .12);
    background-color: #f9f9f9;
    padding: 12px 16px;
  }
  &__share-bg{
    margin: 0 16px;
    padding-bottom: 24px;
    >div{
      cursor: pointer;
      padding: 6px 12px;
      margin-top: 16px;
      @include resetBorder();
      margin-right: 16px;
      >i{
        width: 24px;
        height: 24px;
        color: #fff;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        border-radius: 4px;
        margin-right: 12px;
      }
      $colors: (1 $facebookColor) (2 $twitterColor) (3 $linkedinColor);
      @each $color in $colors{
        &:nth-child(#{nth($color, 1)}) {
          >i{
            background-color: nth($color, 2);
          }
        }
      }
    }
  }
}
.xb-edit-post{
  &__title{
    margin-top: 40px;
    @include xb-xs-screen{
      font-size: 24px;
    }
  }
  &__tips{
    >img{
      width: 20px;
      margin-right: 12px;
    }
    span{
      color: $primaryColor;
      outline: none;
    }
  }
  md-input-container{
    margin: 28px 0 0;
    padding: 0;
    input{
      padding-left: 0;
      padding-right: 0;
    }
    max-width: 690px;

  }
  &__fill{
    max-width: 100% !important;
  }
  .upload-responsive{
    position: relative;
    width: 200px;
    height: 120px;
    border: 1px dashed rgba(0,0,0,.12);
    margin-top: 8px;
    overflow: hidden;
    .material-icons{
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 40px;
      text-align: center;
    }
    .popup-mask{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top:0;
      background-color: rgba(0, 0, 0, .38);
      md-icon{
        margin-right: 8px;
        margin-top: 8px;
        @include changeMdIcon(16px);
        color: $whiteColor;
      }
    }
  }
  &__bottom-button{
    margin-top: 40px;
    margin-bottom: 24px;
  }
  &__margin-left{
    margin-left: 24px !important;
    @include xb-xs-screen{
      margin-left: 0!important;
    }
  }
  &__margin-left-1{
    margin-left: 32px !important;
    @include xb-xs-screen{
      margin-left: 0!important;
    }
  }
  &__fixed-width{
    max-width: 270px !important;
  }
  .xb-detail-cards{
    margin-left: 16px;
  }
  &__select{
    md-select{
      margin-top: 28px;
    }
  }
}
.xb-shipping-address{
  max-width: 792px;
  .md-button{
    margin-left: 0;
    margin-right: 0;
  }
  &__padding-bottom{
    padding-bottom: 24px !important;
  }
}
.xb-my-trials{
  margin-top: 24px;
  @include xb-xs-screen{
    margin-top: 16px;
  }
  &__img{
    cursor: pointer;
    width: 160px;
    @include xb-xs-screen{
      width: 60px;
    }
    >img{
      width: 100%;
    }
  }
  &__content{
    padding: 8px 16px;
    @include xb-xs-screen{
      padding: 0 8px;
    }
    p{
      margin-bottom: 0;
      cursor: pointer;
    }
  }
  .md-caption{
    line-height: 24px;
  }
  .md-button{
    padding: 0;
    margin: 0;
    min-width: 0;
    min-height: 0;
    line-height: 24px;
    font-size: 14px;
  }
}
.xb-my-answers{
  padding: 16px 16px 0;
  @include xb-xs-screen{
    padding: 16px 0 0;
  }
  &__vote{
    span{
      margin-left: 8px;
    }
  }
  &__actions{
    height: 40px;
    span{
      margin-left: 8px;
      margin-right: 24px;
    }
  }
  &__content{
    margin-top: 8px;
    span{
      color: $primaryColor;
      cursor: pointer;
    }
  }
  &__margin-left{
    outline: none;
    margin-left: 24px;
    @include xb-xs-screen{
      margin-left: 16px;
    }
    span{
      margin-left: 8px;
    }
  }
  &__title{
    cursor: pointer;
  }
  &__bottom{
    display: block;
    border-bottom: 1px solid rgba(0,0,0,.12);
    .md-padding{
      padding: 0;
    }
    feedback-list{
      display: block;
      border-top: 1px solid rgba(0,0,0,.12);
    }
  }
  $parent:&;
  &:last-child{
    #{$parent}__bottom{
      border-bottom: none;
    }
  }
}
.xb-my-biography{
  padding: 16px;
  @include xb-xs-screen{
    padding: 16px 8px;
  }
  .md-subhead{
    margin-bottom: 16px;
  }
}
.xb-profile-questions{
  min-height: 48px;
  overflow: visible;
  padding: 0 16px;
  outline: none;
  @include xb-xs-screen{
    padding: 8px 0;
  }
  .md-subhead{
    margin-bottom: 0;
    max-height: 48px;
    overflow: hidden;
  }
}
.xb-profile-follow{
  min-width: 364px;
  margin-left: 16px;
  margin-bottom: 16px;
  background-color: $whiteColor;
  padding: 16px 0;
  @include resetBorder();
  >span{
    width: 1px;
    height: 65px;
    background-color: rgba(0,0,0,.12);
  }
  @include xb-xs-screen{
    min-width: 0;
    padding: 0 0 8px;
    margin-left: 0;
    background-color: transparent;
    @include box-shadow(none);
    .md-headline{
      font-size: 16px;
      @include media();
    }
  }
}
.xb-my-achievement{
  padding: 12px 16px;
  >div{
    height: 38px;
    i{
      color: rgba(0,0,0,.38);
      margin-right: 24px;
    }
    .material-icons{
      margin-right: 24px;
      font-size: 16px;
      width: 16px;
      min-width: 0;
      height: 16px;
      min-height: 0;
    }
  }
}
.xb-main-reviewer.xb-my-follow{
  width: 100%;
  @include box-shadow(none);
  margin-left: 0;
}
