.xb-my-posts{
  >md-list{
    padding: 0;
    >md-list-item{
      height: 48px;
      >p>a{
        @include regular();
      }
    }
  }
}
.xb-name-title{
  h2{
    span{
      margin-left: 24px;
      font-style: italic;
    }
  }
}
