<div class="container xb-edit-post">
  <div class="xb-ask-title xb-deals-title">
    <div class="xb-section__title">
      <h2><span class="md-display-1">Share a Deal</span></h2>
      <h3><span class="md-body-1 md-dark-secondary">Help others save big by finding the best deals and the lowest price!</span></h3>
    </div>
  </div>
  <div class="xb-edit-post__tips md-margin-top-1" hide-gt-xs layout="row" layout-align="start center">
    <img src="https://xberts.imgix.net/static/icon/44113454-38cd-41ae-8125-3b07f73c1b95.png?auto=format%2Cenhance&crop=edges&fit=crop&ixlib=python-1.1.2&s=ca12094a0867c6947f60613d0e9902a9" />
    <span class="xb-bold" ng-click="helpTips()">Helpful Tips to Earn Points >></span>
  </div>
  <div layout="row" layout-align="start start" layout-xs="column">
    <div class="md-margin-top-2" flex-gt-xs="65" flex-xs>
      <form name="productForm" novalidate ng-submit="submitForm(product)" lear-form-error>
        <md-input-container class="md-block" md-no-float>
          <label class="md-dark-secondary">Product Title</label>
          <input required ng-model="product.title" name="title" placeholder=""/>
          <div ng-messages="productForm.title.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block xb-edit-post__fill" md-no-float>
          <label class="md-dark-secondary">Recommended Reason</label>
          <textarea required ng-model="product.description" name="description" placeholder=""></textarea>
          <div ng-messages="productForm.description.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>
        <div class="md-caption md-dark-secondary xb-bold">Upload a Product Picture *</div>
        <div ng-show="!imgLoaded" layout="column" layout-align="center center" class="upload-responsive"
             ngf-select="coverUpload($file)" ng-model="file" accept="image/*" ngf-max-size="'5MB'">
          <md-icon md-font-set="material-icons md-dark-third">add_circle</md-icon>
        </div>
        <div ng-show="imgLoaded" class="upload-responsive" layout="column" layout-align="center center" ng-mouseenter="onShowMask()">
          <img ngf-src="file || product.getImageUrl()" flex="initial" />
          <div class="popup-mask" ng-show="showMask" ng-mouseleave="onShowMask();" layout="row" layout-align="end start">
            <md-icon md-font-set="material-icons" ng-click="offDeleteImage();">clear</md-icon>
          </div>
        </div>
        <md-input-container class="md-block xb-edit-post__fixed-width xb-edit-profile__margin-bottom" >
          <label>Category</label>
          <md-select ng-model="product.category.name" name="category" required >
            <md-option ng-repeat="option in categoryoptions" ng-value="option.name" >
              {{option.name}}
            </md-option>
          </md-select>
          <div ng-messages="productForm.category.$error">
            <div ng-message="required">Please select category.</div>
          </div>
        </md-input-container>
        <div class="xb-edit-post__select" layout="row" layout-align="start center" layout-xs="column" layout-align-xs="start start">
          <div layout="row" layout-align="start start">
            <md-input-container class="md-block" md-no-float>
              <label class="md-dark-secondary">Actual Sale Price</label>
              <input ng-model="product.salePrice.amount" name="salePrice" placeholder=""/>
            </md-input-container>
            <md-select class="md-margin-left-2" aria-label="salePrice" ng-model="product.salePrice.currency" name="salePriceCurrency" required >
              <md-option ng-repeat="option in currency" ng-value="option.code" >
                {{option.name}}
              </md-option>
            </md-select>
          </div>
          <div layout="row" layout-align="start start">
            <md-input-container class="md-block xb-edit-post__margin-left-1" md-no-float>
              <label class="md-dark-secondary">Original Price</label>
              <input ng-model="product.originalPrice.amount" name="originalPrice" placeholder=""/>
            </md-input-container>
            <md-select class="md-margin-left-2" aria-label="originalPrice" ng-model="product.salePrice.currency" name="originalPriceCurrency" required >
              <md-option ng-repeat="option in currency" ng-value="option.code" >
                {{option.name}}
              </md-option>
            </md-select>
          </div>
        </div>
        <md-input-container class="md-block" md-no-float>
          <label class="md-dark-secondary">Purchase Link</label>
          <input ng-model="product.purchaseUrl" type="url" name="link" placeholder="https://" required/>
          <div ng-messages="productForm.link.$error">
            <div ng-message="required">This is required!</div>
            <div ng-message="url">This link is incorrect!</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" md-no-float>
          <label class="md-dark-secondary">Product Video</label>
          <input ng-model="product.videoUrl" type="url" name="videoUrl" placeholder="https://"/>
          <span class="md-caption md-dark-secondary">Please upload your video to Youtube first and paste the link here</span>
        </md-input-container>
        <div class="xb-edit-post__bottom-button" layout="row" layout-align-gt-xs="start center" layout-align-xs="center center">
          <md-button class="md-primary md-raised" ng-disabled="disabled" type="submit" >{{isFirstPost?"Post":"Save"}}</md-button><md-button class="md-raised" ng-click="reset()">Cancel</md-button>
        </div>
      </form>
    </div>
    <div flex="35" hide-xs>
      <div class="xb-detail-cards">
        <div class="md-subhead">
          Helpful Tips to Earn Points
        </div>
        <div class="xb-detail-cards__padding-2 background-whitem">
          <div class="md-margin-bottom-2">Please follow these tips to earn 8 bonus points for your posts:</div>
          <ul class="review-ul">
            <li>The product you share should be available to ship</li>
            <li>Average product rating should be above 3.5 stars</li>
            <li>Upload a clear picture and provide more details</li>
            <li>Make sure the product has not been posted</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
