<div class="xb-my-profile">
  <div class="container">
    <div layout="row" layout-align="end center">
      <div class="xb-my-profile__points-bg xb-my-profile__cursor" hide-gt-xs layout="row" layout-align="start center" ng-if="isCurrentUser"
           ui-sref="application.protected.personalCredit({id:expert.userId})">
        <credit-badge points="expert.points"></credit-badge>
        {{expert.points}} Points
        <md-icon md-font-set="material-icons">keyboard_arrow_right</md-icon>
      </div>
      <div class="xb-my-profile__points-bg" hide-gt-xs layout="row" layout-align="start center" ng-if="!isCurrentUser">
        <credit-badge points="expert.points"></credit-badge>
        {{expert.points}} Points
      </div>
    </div>
    <div class="xb-my-profile__content" layout="row" layout-align="start center">
      <div class="xb-my-profile__head">
        <avatar-img src="expert.avatar" name="expert.shortName"></avatar-img>
      </div>
      <div class="xb-my-profile__title">
        <div class="md-headline" layout="row" layout-align="start center">
          {{expert.shortName}}
          <div class="xb-my-profile__points-bg-1 xb-my-profile__cursor" hide-xs layout="row" layout-align="start center" ng-if="isCurrentUser"
               ui-sref="application.protected.personalCredit({id:expert.userId})">
            <credit-badge points="expert.points"></credit-badge>
            {{expert.points}} Points
          </div>
          <div class="xb-my-profile__points-bg-1" hide-xs layout="row" layout-align="start center" ng-if="!isCurrentUser">
            <credit-badge points="expert.points"></credit-badge>
            {{expert.points}} Points
          </div>
        </div>
        <div class="xb-my-profile__title-bottom" layout="row" layout-align="start center" layout-xs="column"
          layout-align-xs="start start">
          <div><i class="fa fa-map-marker"></i><span class="xb-my-profile__margin-1">{{expert.country}}</span></div>
          <div class="xb-my-profile__margin-2">{{expert.companyTitle}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="xb-my-profile__button-bg">
  <div class="container">
    <div layout="column" layout-align="end end">
      <md-button class="xb-my-profile__button md-accent md-fab" ng-if="!isCurrentUser" ng-click="contactUser()">
        <md-icon md-font-set="material-icons" aria-label="comment">comment</md-icon>
      </md-button>
      <md-button class="xb-my-profile__button md-accent md-fab" ng-if="isCurrentUser" ui-sref="application.protected.editProfile({tab:'profile'})">
        <md-icon md-font-set="material-icons" aria-label="edit">mode_edit</md-icon>
      </md-button>
    </div>
  </div>
</div>
<section class="xb-my-profile__padding-top" hide-xs>
  <div class="container">
    <md-tabs class="xb-my-profile__tabs" md-dynamic-height md-selected="selectedIndex" md-no-ink md-no-ink-bar>
      <md-tab label="Biography" md-on-select="loadMyBio()">
        <div class="background-whitem xb-my-profile__margin-top">
          <my-biography biography="expert.biography"></my-biography>
        </div>
      </md-tab>

      <md-tab label="Trials" md-on-select="loadMyTrials()">
        <div class="background-whitem xb-my-profile__margin-top">
          <div infinite-scroll="reviewApplicantPaginator.loadNext()"
               infinite-scroll-distance='0' infinite-scroll-container='".xb-body-view "'
               infinite-scroll-disabled="reviewApplicantPaginator.loading || !reviewApplicantPaginator.next">
            <my-trials trials="reviewApplicantPaginator.items"></my-trials>
            <load-more layout="row" layout-align="center center" ng-if="reviewApplicantPaginator.loading"></load-more>
          </div>
        </div>
      </md-tab>

      <md-tab label="Posts">
        <div class="xb-my-profile__margin-top">
          <md-tabs class="xb-my-profile__tabs-none" md-dynamic-height md-selected="selectedIndex1" md-border-bottom>
            <md-tab label="Finds" md-on-select="loadMyPosts()">
              <div infinite-scroll="postsProductPaginator.loadNext()" infinite-scroll-distance='0' infinite-scroll-container='".xb-body-view "'
                   infinite-scroll-disabled="postsProductPaginator.loading || !postsProductPaginator.next || selectedIndex != 2">
                <my-post-list class="xb-my-posts" posts="postsProductPaginator.items" current-user="isCurrentUser"></my-post-list>
                <load-more layout="row" layout-align="center center" ng-if="postsProductPaginator.loading"></load-more>
              </div>
            </md-tab>
            <md-tab label="Questions" md-on-select="loadMyQuestions()">
              <div infinite-scroll="postsQuestionPaginator.loadNext()" infinite-scroll-distance='0' infinite-scroll-container='".xb-body-view "'
                   infinite-scroll-disabled="postsQuestionPaginator.loading || !postsQuestionPaginator.next || selectedIndex != 2">
                <my-questions-list class="xb-my-posts" posts="postsQuestionPaginator.items" current-user="isCurrentUser"></my-questions-list>
                <load-more layout="row" layout-align="center center" ng-if="postsQuestionPaginator.loading"></load-more>
              </div>
            </md-tab>
            <md-tab label="Answers" md-on-select="loadMyAnswers()">
              <div infinite-scroll="postsAnswerPaginator.loadNext()" infinite-scroll-distance='0' infinite-scroll-container='".xb-body-view "'
                   infinite-scroll-disabled="postsAnswerPaginator.loading || !postsAnswerPaginator.next || selectedIndex != 2">
                <my-answers-list class="xb-my-posts" posts="postsAnswerPaginator.items" current-user="isCurrentUser"></my-answers-list>
                <load-more layout="row" layout-align="center center" ng-if="postsAnswerPaginator.loading"></load-more>
              </div>
            </md-tab>
          </md-tabs>
        </div>
      </md-tab>

      <md-tab label="Referrals" md-on-select="loadMyReferrals()">
        <div class="background-whitem xb-my-profile__margin-top">
         <my-referrals referrals="myReferrals" user-id="expert.userId"></my-referrals>
        </div>
      </md-tab>

      <md-tab label="My Campaigns" ng-if="user.hasRole('campaign_owner')" md-on-select="loadMyCampaings()">
        <div class="background-whitem xb-my-profile__margin-top">
          <div class="row section-body" infinite-scroll="campaignPaginator.loadNext()" infinite-scroll-distance='0' infinite-scroll-container='".xb-body-view "'
               infinite-scroll-disabled="campaignPaginator.loading || !campaignPaginator.next">
            <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="review in campaignPaginator.items">
              <div class="xb-card">
                <div class="xb-card-ratio-wrap"
                     ui-sref="application.testingcampaign({ reviewId:review.id })">
                  <div class="image-wrap" style="background-image: url({{ review.cover }})">

                  </div>
                </div>
                <div class="xb-card-content">
                  <p class="xb-card-title " ui-sref="application.testingcampaign({ reviewId:review.id })">{{ review.title
                    }}</p>

                  <div class="xb-card-button">
                    <div ng-switch="review.status">
                      <a ng-switch-when="UPCOMING" class="btn btn-block btn-success-disabled"
                         ui-sref="application.testingcampaign({ reviewId:review.id })">Coming Soon</a>
                      <a ng-switch-when="APPLICATION" class="btn btn-block btn-primary"
                         ui-sref="application.testingcampaign({ reviewId:review.id })">Application Open</a>
                      <a ng-switch-when="SELECTION" class="btn btn-block btn-primary"
                         ui-sref="application.selectApplicants({reviewId:review.id})">Select
                        Applicants</a>
                      <a ng-switch-when="CONFIRMATION" class="btn btn-block btn-primary"
                         ui-sref="application.selectApplicants({reviewId:review.id})">View
                        Applicants</a>
                      <a ng-switch-when="REVIEW" class="btn btn-block btn-primary"
                         ui-sref="application.selectApplicants({reviewId:review.id})">View
                        Shipping Address</a>
                      <a ng-switch-when="ENDED" class="btn btn-block btn-primary"
                         ui-sref="application.crowdtestingReports({reviewId:review.id})">View
                        Reports</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <load-more class="row spin-large" ng-if="campaignPaginator.loading"></load-more>
        </div>
      </md-tab>

    </md-tabs>

  </div>
</section>
<div class="xb-my-profile__mobile background-whitem" hide-gt-xs flex="noshrink">
  <div class="md-subhead" layout="row" layout-align="space-between center"
       ui-sref="application.protected.biography({expertId:expert.userId})">
    Biography
    <div><md-icon class="md-dark-secondary" md-font-set="material-icons">keyboard_arrow_right</md-icon></div>
  </div>
  <div class="md-subhead" layout="row" layout-align="space-between center"
       ui-sref="application.protected.trials({expertId:expert.userId})">
    Trials
    <div><md-icon class="md-dark-secondary" md-font-set="material-icons">keyboard_arrow_right</md-icon></div>
  </div>
  <div class="md-subhead" layout="row" layout-align="space-between center"
       ui-sref="application.protected.posts({expertId:expert.userId})">
    Posts
    <div><md-icon class="md-dark-secondary" md-font-set="material-icons">keyboard_arrow_right</md-icon></div>
  </div>
  <div class="md-subhead" layout="row" layout-align="space-between center"
       ui-sref="application.protected.referrals({expertId:expert.userId})">
    Referrals
    <div><md-icon class="md-dark-secondary" md-font-set="material-icons">keyboard_arrow_right</md-icon></div>
  </div>
</div>
