<div class="xb-my-profile">
  <div class="container">
    <div layout="row" layout-align="end center">
      <div class="xb-my-profile__points-bg xb-my-profile__cursor" hide-gt-xs layout="row" layout-align="start center" ng-if="isCurrentUser"
           ui-sref="application.personalCredit({id:expert.userId})">
        <credit-badge points="expert.points"></credit-badge>
        {{expert.points}} Points
        <md-icon md-font-set="material-icons">keyboard_arrow_right</md-icon>
      </div>
      <div class="xb-my-profile__points-bg" hide-gt-xs layout="row" layout-align="start center" ng-if="!isCurrentUser">
        <credit-badge points="expert.points"></credit-badge>
        {{expert.points}} Points
      </div>
    </div>
    <div class="xb-my-profile__content" layout="row" layout-align="start center">
      <div class="xb-my-profile__head">
        <avatar-img src="expert.avatar" name="expert.shortName"></avatar-img>
      </div>
      <div class="xb-my-profile__title">
        <div class="md-headline" layout="row" layout-align="start center">
          {{expert.shortName}}
          <div class="xb-my-profile__points-bg-1 xb-my-profile__cursor" hide-xs layout="row" layout-align="start center" ng-if="isCurrentUser"
               ui-sref="application.personalCredit({id:expert.userId})">
            <credit-badge points="expert.points"></credit-badge>
            {{expert.points}} Points
          </div>
          <div class="xb-my-profile__points-bg-1" hide-xs layout="row" layout-align="start center" ng-if="!isCurrentUser">
            <credit-badge points="expert.points"></credit-badge>
            {{expert.points}} Points
          </div>
        </div>
        <div class="xb-my-profile__title-bottom" layout="row" layout-align="start center" layout-xs="column"
          layout-align-xs="start start">
          <div><i class="fa fa-map-marker"></i><span class="xb-my-profile__margin-1">{{expert.country}}</span></div>
          <div class="xb-my-profile__margin-2">{{expert.companyTitle}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="xb-my-profile__button-bg">
  <div class="container">
    <div layout="column" layout-align="end end">
      <md-button class="xb-my-profile__button md-accent md-fab" ng-if="!isCurrentUser" ng-click="contactUser()">
        <md-icon md-font-set="material-icons" aria-label="comment">comment</md-icon>
      </md-button>
      <md-button class="xb-my-profile__button md-accent md-fab" ng-if="isCurrentUser" ui-sref="application.protected.editProfile({tab:'profile'})">
        <md-icon md-font-set="material-icons" aria-label="edit">mode_edit</md-icon>
      </md-button>
    </div>
  </div>
</div>
<section class="xb-my-profile__padding-top">
  <div class="container">
    <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
      <md-tab label="Biography" md-on-select="loadMyBio()">
        <div class="md-padding">
          <div ng-bind-html=" expert.biography | trust"></div>
        </div>
      </md-tab>

      <md-tab label="My Trials" md-on-select="loadMyTrials()">
        <div class="md-padding">
          <div class="row section-body" infinite-scroll="reviewApplicantPaginator.loadNext()"
               infinite-scroll-distance='0' infinite-scroll-container='".xb-body-view "'
               infinite-scroll-disabled="reviewApplicantPaginator.loading || !reviewApplicantPaginator.next">
            <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="applicant in reviewApplicantPaginator.items">
              <div class="xb-card">
                <div class="xb-card-ratio-wrap"
                     ui-sref="application.testingcampaign({ reviewId:applicant.review.id })">
                  <div class="image-wrap" style="background-image: url({{ applicant.review.cover }})">

                  </div>
                </div>
                <div class="xb-card-content">
                  <p class="xb-card-title " ui-sref="application.testingcampaign({ reviewId:applicant.review.id })">{{
                    applicant.review.title }}</p>

                  <div class="xb-card-button" ng-if="user.getUserId()==expert.userId">
                    <div ng-switch="applicant.review.status">
                      <div ng-switch-when="APPLICATION">
                        <md-button  class="md-raised xb-btn-block md-primary"
                                    ui-sref="application.protected.apply({reviewId:applicant.review.id})">Edit Application
                        </md-button>
                      </div>
                      <div ng-switch-when="SELECTION">
                        <md-button  class="md-raised xb-btn-block md-primary" disabled>
                          Screening
                        </md-button>
                      </div>

                      <div ng-switch-when="CONFIRMATION">
                        <div ng-switch="applicant.is_selected">
                          <div ng-switch-when="false" >
                            <md-button class="md-raised xb-btn-block md-primary" disabled>
                              Not
                              Selected
                            </md-button>
                          </div>
                          <div ng-switch-when="null" >
                            <md-button class="md-raised xb-btn-block md-primary" disabled>
                              Not
                              Selected
                            </md-button>
                          </div>

                          <div ng-switch-when="true" >
                            <md-button class="md-raised xb-btn-block md-primary"
                                       ui-sref="application.protected.confirmShipAddress({reviewId:applicant.review.id})">
                              Confirm
                              Shipping
                              Info
                            </md-button>
                          </div>
                        </div>
                      </div>

                      <div ng-switch-when="REVIEW">
                        <div ng-switch="applicant.is_selected">
                          <div ng-switch-when="false" >
                            <md-button class="md-raised xb-btn-block md-primary" disabled>
                              Not
                              Selected
                            </md-button>
                          </div>
                          <div ng-switch-when="null" >
                            <md-button class="md-raised xb-btn-block md-primary" disabled>
                              Not
                              Selected
                            </md-button>
                          </div>

                          <div ng-switch-when="true" >
                            <div ng-switch="applicant.is_submit_report">
                              <div ng-switch-when="false" >
                                <md-button class="md-raised xb-btn-block md-primary"
                                           ui-sref="application.protected.crowdtestingReport({reviewId:applicant.review.id})">
                                  Submit
                                  Report
                                </md-button>
                              </div>
                              <div ng-switch-when="true" >
                                <md-button class="md-raised xb-btn-block md-primary"
                                           ui-sref="application.protected.crowdtestingReport({reviewId:applicant.review.id})">
                                  Edit
                                  Report
                                </md-button>
                              </div>
                              </div>
                          </div>
                          </div>
                      </div>


                      <div ng-switch-when="ENDED">
                        <div ng-switch="applicant.is_selected">
                          <div ng-switch-when="false" >
                            <md-button class="md-raised xb-btn-block md-primary" disabled>
                              Ended
                            </md-button>
                          </div>
                          <div ng-switch-when="null" >
                            <md-button class="md-raised xb-btn-block md-primary" disabled>
                              Ended
                            </md-button>
                          </div>
                          <div ng-switch-when="true">
                            <div ng-switch="applicant.is_submit_report">
                              <div ng-switch-when="false">
                                <md-button  class="md-raised xb-btn-block md-primary"
                                         ui-sref="application.protected.crowdtestingReport({reviewId:applicant.review.id})">
                                  Submit
                                  Report
                                </md-button>
                              </div>

                              <div ng-switch-when="true">
                                <md-button  class="md-raised xb-btn-block md-primary"
                                        ui-sref="application.report({ reviewId:applicant.review.id,reportId:applicant.report})">
                                  View Review
                                </md-button>
                              </div>


                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="xb-card-button" ng-if="user.getUserId()!=expert.userId">
                    <md-button class="md-raised xb-btn-block md-primary"
                            ui-sref="application.report({ reviewId:applicant.review.id,reportId:applicant.report})">
                      View
                      Review
                    </md-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <load-more class="row spin-large" ng-if="reviewApplicantPaginator.loading"></load-more>
      </md-tab>

      <md-tab label="My Posts" md-on-select="loadMyPosts()">
        <div>
          <div infinite-scroll="postsProductPaginator.loadNext()" infinite-scroll-distance='0' infinite-scroll-container='".xb-body-view "'
               infinite-scroll-disabled="postsProductPaginator.loading || !postsProductPaginator.next || selectedIndex != 2">
            <my-post-list class="xb-my-posts" posts="postsProductPaginator.items" current-user="isCurrentUser"></my-post-list>
          </div>
          <load-more class="row spin-large" ng-if="postsProductPaginator.loading"></load-more>
        </div>
      </md-tab>

      <md-tab label="My Referrals" md-on-select="loadMyReferrals()">
        <my-referrals referrals="myReferrals" user-id="expert.userId"></my-referrals>
      </md-tab>

      <md-tab label="My Campaigns" ng-if="user.hasRole('campaign_owner')" md-on-select="loadMyCampaings()">
        <div class="md-padding">
          <div class="row section-body" infinite-scroll="campaignPaginator.loadNext()" infinite-scroll-distance='0' infinite-scroll-container='".xb-body-view "'
               infinite-scroll-disabled="campaignPaginator.loading || !campaignPaginator.next">
            <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="review in campaignPaginator.items">
              <div class="xb-card">
                <div class="xb-card-ratio-wrap"
                     ui-sref="application.testingcampaign({ reviewId:review.id })">
                  <div class="image-wrap" style="background-image: url({{ review.cover }})">

                  </div>
                </div>
                <div class="xb-card-content">
                  <p class="xb-card-title " ui-sref="application.testingcampaign({ reviewId:review.id })">{{ review.title
                    }}</p>

                  <div class="xb-card-button">
                    <div ng-switch="review.status">
                      <a ng-switch-when="UPCOMING" class="btn btn-block btn-success-disabled"
                         ui-sref="application.testingcampaign({ reviewId:review.id })">Coming Soon</a>
                      <a ng-switch-when="APPLICATION" class="btn btn-block btn-primary"
                         ui-sref="application.testingcampaign({ reviewId:review.id })">Application Open</a>
                      <a ng-switch-when="SELECTION" class="btn btn-block btn-primary"
                         ui-sref="application.selectApplicants({reviewId:review.id})">Select
                        Applicants</a>
                      <a ng-switch-when="CONFIRMATION" class="btn btn-block btn-primary"
                         ui-sref="application.selectApplicants({reviewId:review.id})">View
                        Applicants</a>
                      <a ng-switch-when="REVIEW" class="btn btn-block btn-primary"
                         ui-sref="application.selectApplicants({reviewId:review.id})">View
                        Shipping Address</a>
                      <a ng-switch-when="ENDED" class="btn btn-block btn-primary"
                         ui-sref="application.crowdtestingReports({reviewId:review.id})">View
                        Reports</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <load-more class="row spin-large" ng-if="campaignPaginator.loading"></load-more>
        </div>
      </md-tab>

    </md-tabs>

  </div>
</section>
