<div class="xb-my-profile">
  <div class="container">
    <div layout="row" layout-align="end center">
      <div class="xb-my-profile__points-bg xb-my-profile__cursor" hide-gt-xs layout="row" layout-align="start center" ng-if="isCurrentUser"
           ui-sref="application.protected.personalCredit({id:expert.userId})">
        <credit-badge points="expert.points"></credit-badge>
        {{expert.points}} Points
        <md-icon md-font-set="material-icons">keyboard_arrow_right</md-icon>
      </div>
      <div class="xb-my-profile__points-bg" hide-gt-xs layout="row" layout-align="start center" ng-if="!isCurrentUser">
        <credit-badge points="expert.points"></credit-badge>
        {{expert.points}} Points
      </div>
    </div>
    <div class="xb-my-profile__content" layout="row">
      <div class="xb-my-profile__head">
        <avatar-img src="expert.avatar" name="expert.shortName"></avatar-img>
      </div>
      <div class="xb-my-profile__title">
        <div class="md-headline" layout="row" layout-align="start center">
          {{expert.shortName}}
          <div class="xb-my-profile__points-bg-1 xb-my-profile__cursor" hide-xs layout="row" layout-align="start center" ng-if="isCurrentUser"
               ui-sref="application.protected.personalCredit({id:expert.userId})">
            <credit-badge points="expert.points"></credit-badge>
            {{expert.points}} Points
          </div>
          <div class="xb-my-profile__points-bg-1" hide-xs layout="row" layout-align="start center" ng-if="!isCurrentUser">
            <credit-badge points="expert.points"></credit-badge>
            {{expert.points}} Points
          </div>
        </div>
        <div hide-xs>
          <div class="xb-my-profile__title-bottom" ng-if="!showBio" layout="row" layout-align="start center" layout-xs="column"
            layout-align-xs="start start">
            <div layout="row" layout-align="start start">
              <div ng-if="expert.country"><md-icon class="md-dark-third" md-font-set="material-icons">location_on</md-icon></div>
              <div class="xb-my-profile__margin-1">{{expert.country}}</div></div>
            <div class="xb-my-profile__margin-2 md-margin-right-4">{{expert.companyTitle}}</div>
            <span class="xb-my-profile__title-bottom-color" ng-click="openBio();" >More
              <md-icon md-font-set="material-icons">keyboard_arrow_down</md-icon></span>
          </div>
          <div class="xb-my-profile__title-bottom" ng-if="showBio" layout="column" layout-align="start start">
            <div ng-if="expert.country" layout="row" layout-align="start start">
              <div><md-icon class="md-dark-third" md-font-set="material-icons">location_on</md-icon></div>
              <div class="xb-my-profile__margin-1">{{expert.country}}</div></div>
            <div ng-if="expert.companyTitle" class="md-margin-top-2" layout="row" layout-align="start start">
              <div><md-icon md-font-set="material-icons">work</md-icon></div>
              <div class="xb-my-profile__margin-1">{{expert.companyTitle}}</div></div>
            <div ng-if="expert.biography" class="md-margin-top-2" layout="row" layout-align="start start">
              <div><md-icon md-font-set="material-icons">assignment_ind</md-icon></div>
              <div class="xb-my-profile__margin-1" ng-bind-html="expert.biography | trust"></div></div>
            <span ng-click="openBio();" class="md-margin-left-3 md-margin-bottom-3 md-margin-top-2 xb-my-profile__title-bottom-color">
              Less <md-icon md-font-set="material-icons">keyboard_arrow_up</md-icon></span>
          </div>
        </div>
        <div hide-gt-xs>
          <div class="xb-my-profile__title-bottom">
            <div layout="row" layout-align="start start">
              <div ng-if="expert.country"><md-icon class="md-dark-third" md-font-set="material-icons">location_on</md-icon></div>
              <div class="xb-my-profile__margin-1">{{expert.country}}</div></div>
            <div class="xb-my-profile__margin-2 md-margin-right-4">{{expert.companyTitle}}</div>
            <span class="xb-my-profile__title-bottom-color" ui-sref="application.protected.biography({expertId:expert.userId})">
              More <md-icon md-font-set="material-icons">keyboard_arrow_right</md-icon></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="xb-my-profile__button-bg">
  <div class="container">
    <div layout="column" layout-align="end end">
      <div layout="row" layout-align="start center">
        <md-button class="xb-my-profile__button md-accent md-fab" ng-if="!isCurrentUser && !expert.currentUser.follow"
                   ng-click="addFollow()" layout="row" layout-align="center center">
          <i class="iconfontXberts icon-ic-follow" aria-label="follow"></i>
        </md-button>
        <md-button class="xb-my-profile__button md-accent md-fab" ng-if="!isCurrentUser && expert.currentUser.follow"
                   ng-click="addFollow()" layout="row" layout-align="center center">
          <i class="iconfontXberts icon-ic-following" aria-label="follow"></i>
        </md-button>
        <md-button class="xb-my-profile__button xb-my-profile__button-1 md-fab" ng-if="!isCurrentUser" ng-click="contactUser()">
          <md-icon md-font-set="material-icons" aria-label="comment">comment</md-icon>
        </md-button>
      </div>
      <md-button class="xb-my-profile__button md-accent md-fab" ng-if="isCurrentUser" ui-sref="application.protected.editProfile({tab:'profile'})"
                 layout="row" layout-align="center center">
        <md-icon md-font-set="material-icons" aria-label="edit">mode_edit</md-icon>
      </md-button>
    </div>
  </div>
</div>
<section class="xb-my-profile__padding-top" hide-xs>
  <div class="container" layout="row" layout-align="start start">
    <div class="xb-my-profile__left-button" flex="none" layout="column" layout-align="start start">
      <div ng-class="{true:'active', false:''}[selectedIndex==0]" ng-click="loadContent(0)">
        Answers
        <span ng-if="isCurrentUser">{{achievement.answerAmount > 0?achievement.answerAmount:''}}</span>
        <span ng-if="!isCurrentUser">{{achievement.answerAmount > 0?achievement.answerAmount:''}}</span>
      </div>
      <div ng-class="{true:'active', false:''}[selectedIndex==1]" ng-click="loadContent(1)">
        Questions
        <span ng-if="isCurrentUser">{{achievement.questionAmount>0?achievement.questionAmount:''}}</span>
        <span ng-if="!isCurrentUser">{{achievement.questionFeatureAmount>0?achievement.questionFeatureAmount:''}}</span>
      </div>
      <div ng-class="{true:'active', false:''}[selectedIndex==2]" ng-click="loadContent(2)">
        Crowdtesting
        <span ng-if="isCurrentUser">{{achievement.trialAmount>0?achievement.trialAmount:''}}</span>
        <span ng-if="!isCurrentUser">{{achievement.reviewFeaturedAmount>0?achievement.reviewFeaturedAmount:''}}</span>
      </div>
      <div ng-class="{true:'active', false:''}[selectedIndex==3]" ng-click="loadContent(3)">
        Deals
        <span ng-if="isCurrentUser">{{achievement.shareProductAmount>0?achievement.shareProductAmount:''}}</span>
        <span ng-if="!isCurrentUser">{{achievement.shareProductFeaturedAmount>0?achievement.shareProductFeaturedAmount:''}}</span>
      </div>
      <div ng-class="{true:'active', false:''}[selectedIndex==4]" ng-click="loadContent(4)">
        Articles
      </div>
      <div ng-class="{true:'active', false:''}[selectedIndex==5]" ng-click="loadContent(5)">
        Following
        <span>{{achievement.followeesAmount>0?achievement.followeesAmount:''}}</span>
      </div>
      <div ng-class="{true:'active', false:''}[selectedIndex==6]" ng-click="loadContent(6)">
        Follower
        <span>{{achievement.followersAmount>0?achievement.followersAmount:''}}</span>
      </div>
      <div ng-class="{true:'active', false:''}[selectedIndex==7]" ng-click="loadContent(7)">
        Question Followed
      </div>
    </div>
    <div flex class="xb-my-profile__center-content">
      <div class="background-whitem" ng-if="selectedIndex == 0">
        <div class="xb-my-profile__center-title" layout="row" layout-align="start center">
          Answers
          <span ng-if="isCurrentUser">{{achievement.answerAmount > 0?achievement.answerAmount:''}}</span>
          <span ng-if="!isCurrentUser">{{achievement.answerAmount > 0?achievement.answerAmount:''}}</span>
        </div>
        <div class="xb-my-profile__empty" layout="row" layout-align="center center"
             ng-if="postsAnswerPaginator.count <= 0 && !postsAnswerPaginator.loading">
          <i class="iconfontXberts icon-ic-empty"></i>
        </div>
        <div class="md-padding-bottom-2" infinite-scroll="postsAnswerPaginator.loadNext()" infinite-scroll-distance='0'
             infinite-scroll-container='".xb-body-view "'
             infinite-scroll-disabled="postsAnswerPaginator.loading || !postsAnswerPaginator.next || selectedIndex != 0">
          <my-answers-list class="md-padding-bottom-2" posts="postsAnswerPaginator.items" current-user="isCurrentUser"></my-answers-list>
          <load-more class="md-margin-top-2 md-margin-bottom-2" layout="row" layout-align="center center" ng-if="postsAnswerPaginator.loading"></load-more>
        </div>
      </div>
      <div class="background-whitem" ng-if="selectedIndex == 1">
        <div class="xb-my-profile__center-title" layout="row" layout-align="start center">
          Questions
          <span ng-if="isCurrentUser">{{achievement.questionAmount>0?achievement.questionAmount:''}}</span>
          <span ng-if="!isCurrentUser">{{achievement.questionFeatureAmount>0?achievement.questionFeatureAmount:''}}</span>
        </div>
        <div class="xb-my-profile__empty" layout="row" layout-align="center center"
             ng-if="postsQuestionPaginator.count <= 0 && !postsQuestionPaginator.loading">
          <i class="iconfontXberts icon-ic-empty"></i>
        </div>
        <div class="md-padding-bottom-2" infinite-scroll="postsQuestionPaginator.loadNext()"
             infinite-scroll-distance='0' infinite-scroll-container='".xb-body-view "'
             infinite-scroll-disabled="postsQuestionPaginator.loading || !postsQuestionPaginator.next || selectedIndex != 1">
          <my-questions-list  posts="postsQuestionPaginator.items" current-user="isCurrentUser"></my-questions-list>
          <load-more class="md-margin-top-2 md-margin-bottom-2" layout="row" layout-align="center center"
                     ng-if="postsQuestionPaginator.loading"></load-more>
        </div>
      </div>
      <div class="background-whitem md-padding-bottom-2" ng-if="selectedIndex == 2">
        <div class="xb-my-profile__center-title" layout="row" layout-align="start center">
          Crowdtesting
          <span ng-if="isCurrentUser">{{achievement.trialAmount>0?achievement.trialAmount:''}}</span>
          <span ng-if="!isCurrentUser">{{achievement.reviewFeaturedAmount>0?achievement.reviewFeaturedAmount:''}}</span>
        </div>
        <div class="xb-my-profile__empty" layout="row" layout-align="center center"
             ng-if="reviewApplicantPaginator.count <= 0 && !reviewApplicantPaginator.loading">
          <i class="iconfontXberts icon-ic-empty"></i>
        </div>
        <div class="xb-my-profile__center-inner-content" infinite-scroll="reviewApplicantPaginator.loadNext()"
             infinite-scroll-distance='0' infinite-scroll-container='".xb-body-view "'
             infinite-scroll-disabled="reviewApplicantPaginator.loading || !reviewApplicantPaginator.next || selectedIndex != 2">
          <my-trials trials="reviewApplicantPaginator.items" current-user="isCurrentUser"></my-trials>
          <load-more class="md-margin-top-2 md-margin-bottom-2" layout="row" layout-align="center center"
                     ng-if="reviewApplicantPaginator.loading" ></load-more>
        </div>
      </div>
      <div class="background-whitem" ng-if="selectedIndex == 3">
        <div class="xb-my-profile__center-title" layout="row" layout-align="start center">
          Deals
          <span ng-if="isCurrentUser">{{achievement.shareProductAmount>0?achievement.shareProductAmount:''}}</span>
          <span ng-if="!isCurrentUser">{{achievement.shareProductFeaturedAmount>0?achievement.shareProductFeaturedAmount:''}}</span>
        </div>
        <div class="xb-my-profile__empty" layout="row" layout-align="center center"
             ng-if="postsProductPaginator.count <= 0 && !postsProductPaginator.loading">
          <i class="iconfontXberts icon-ic-empty"></i>
        </div>
        <div infinite-scroll="postsProductPaginator.loadNext()" infinite-scroll-distance='0'
             infinite-scroll-container='".xb-body-view "'
             infinite-scroll-disabled="postsProductPaginator.loading || !postsProductPaginator.next || selectedIndex != 3">
          <my-post-list class="xb-my-posts" posts="postsProductPaginator.items" current-user="isCurrentUser"></my-post-list>
          <load-more class="md-margin-top-2 md-margin-bottom-2" layout="row" layout-align="center center"
                     ng-if="postsProductPaginator.loading"></load-more>
        </div>
      </div>
      <div class="background-whitem" ng-if="selectedIndex == 4">
        <div class="xb-my-profile__center-title" layout="row" layout-align="start center">
          Articles
        </div>
        <div class="xb-my-profile__empty" layout="row" layout-align="center center">
          <i class="iconfontXberts icon-ic-empty"></i>
        </div>
        <div></div>
      </div>
      <div class="background-whitem" ng-if="selectedIndex == 5">
        <div class="xb-my-profile__center-title" layout="row" layout-align="start center">
          Following
          <span>{{achievement.followeesAmount>0?achievement.followeesAmount:''}}</span>
        </div>
        <div class="xb-my-profile__empty" layout="row" layout-align="center center"
             ng-if="followingPaginator.count <= 0 && !followingPaginator.loading">
          <i class="iconfontXberts icon-ic-empty"></i>
        </div>
        <div class="xb-main-reviewer xb-my-follow md-padding-bottom-2" infinite-scroll="followingPaginator.loadNext()"
             infinite-scroll-distance='0' infinite-scroll-container='".xb-body-view "'
             infinite-scroll-disabled="followingPaginator.loading || !followingPaginator.next || selectedIndex != 5">
          <my-follow experts="followingPaginator.items" following="true" achievement="achievement" expert="expert"></my-follow>
          <load-more class="md-margin-top-2 md-margin-bottom-2" layout="row" layout-align="center center"
                     ng-if="followingPaginator.loading"></load-more>
        </div>
      </div>
      <div class="background-whitem" ng-if="selectedIndex == 6">
        <div class="xb-my-profile__center-title" layout="row" layout-align="start center">
          Follower
          <span>{{achievement.followersAmount>0?achievement.followersAmount:''}}</span>
        </div>
        <div class="xb-my-profile__empty" layout="row" layout-align="center center"
             ng-if="followerPaginator.count <= 0 && !followerPaginator.loading">
          <i class="iconfontXberts icon-ic-empty"></i>
        </div>
        <div class="xb-main-reviewer xb-my-follow md-padding-bottom-2" infinite-scroll="followerPaginator.loadNext()"
             infinite-scroll-distance='0' infinite-scroll-container='".xb-body-view "'
             infinite-scroll-disabled="followerPaginator.loading || !followerPaginator.next || selectedIndex != 6">
          <my-follow experts="followerPaginator.items" achievement="achievement" expert="expert"></my-follow>
          <load-more class="md-margin-top-2 md-margin-bottom-2" layout="row" layout-align="center center"
                     ng-if="followerPaginator.loading"></load-more>
        </div>
      </div>
      <div class="background-whitem" ng-if="selectedIndex == 7">
        <div class="xb-my-profile__center-title" layout="row" layout-align="start center">
          Question Followed
        </div>
        <div class="xb-my-profile__empty" layout="row" layout-align="center center"
             ng-if="followingQuestionsPaginator.count <= 0 && !followingQuestionsPaginator.loading">
          <i class="iconfontXberts icon-ic-empty"></i>
        </div>
        <div class="md-padding-bottom-2" infinite-scroll="followingQuestionsPaginator.loadNext()" infinite-scroll-distance='0' infinite-scroll-container='".xb-body-view "'
             infinite-scroll-disabled="followingQuestionsPaginator.loading || !followingQuestionsPaginator.next
             || selectedIndex != 7">
          <my-questions-list posts="followingQuestionsPaginator.items"
                             current-user="isCurrentUser" hide-state="true"></my-questions-list>
          <load-more class="md-margin-top-2 md-margin-bottom-2" layout="row" layout-align="center center"
                     ng-if="followingQuestionsPaginator.loading"></load-more>
      </div>
      </div>
    </div>
    <div>
      <div class="xb-profile-follow" layout="row" layout-align="center center" hide-sm hide-xs>
        <div layout="column" layout-align="center center" flex="50">
          <div class="md-headline">{{achievement.followeesAmount}}</div>
          <div>Following</div>
        </div>
        <span flex="none"></span>
        <div layout="column" layout-align="center center" flex="50">
          <div class="md-headline">{{achievement.followersAmount}}</div>
          <div>{{achievement.followersAmount>1?'Followers':'Follower'}}</div>
        </div>
      </div>
      <div hide-sm hide-xs>
        <my-achievements achievemets="achievement"></my-achievements>
      </div>
    </div>

  </div>
</section>
<div class="xb-my-profile__mobile " hide-gt-xs flex="noshrink">
  <div class="xb-profile-follow" layout="row" layout-align="center center">
    <div layout="column" layout-align="center center" flex="50">
      <div class="md-headline">{{achievement.followeesAmount}}</div>
      <div class="md-dark-secondary">Following</div>
    </div>
    <div layout="column" layout-align="center center" flex="50">
      <div class="md-headline">{{achievement.followersAmount}}</div>
      <div class="md-dark-secondary">{{achievement.followersAmount>1?'Followers':'Follower'}}</div>
    </div>
  </div>
  <div class="background-whitem">
    <div class="md-subhead" layout="row" layout-align="space-between center"
         ui-sref="application.protected.answers({expertId:expert.userId})">
      Answers
      <div class="xb-my-profile__mobile-number" ng-if="isCurrentUser">{{achievement.answerAmount > 0?achievement.answerAmount:''}}</div>
      <div class="xb-my-profile__mobile-number" ng-if="!isCurrentUser">{{achievement.answerAmount > 0?achievement.answerAmount:''}}</div>
      <div flex layout="row" layout-align="end center">
        <div><md-icon class="md-dark-secondary" md-font-set="material-icons">keyboard_arrow_right</md-icon></div>
      </div>
    </div>
    <div class="md-subhead" layout="row" layout-align="space-between center"
         ui-sref="application.protected.questions({expertId:expert.userId})">
      Questions
      <div class="xb-my-profile__mobile-number" ng-if="isCurrentUser">{{achievement.questionAmount>0?achievement.questionAmount:''}}</div>
      <div class="xb-my-profile__mobile-number" ng-if="!isCurrentUser">{{achievement.questionFeatureAmount>0?achievement.questionFeatureAmount:''}}</div>
      <div flex layout="row" layout-align="end center">
        <div><md-icon class="md-dark-secondary" md-font-set="material-icons">keyboard_arrow_right</md-icon></div>
      </div>
    </div>
    <div class="md-subhead" layout="row" layout-align="space-between center"
         ui-sref="application.protected.trials({expertId:expert.userId})">
      Crowdtesting
      <div class="xb-my-profile__mobile-number" ng-if="isCurrentUser">{{achievement.trialAmount>0?achievement.trialAmount:''}}</div>
      <div class="xb-my-profile__mobile-number" ng-if="!isCurrentUser">{{achievement.reviewFeaturedAmount>0?achievement.reviewFeaturedAmount:''}}</div>
      <div flex layout="row" layout-align="end center">
        <div><md-icon class="md-dark-secondary" md-font-set="material-icons">keyboard_arrow_right</md-icon></div>
      </div>
    </div>
    <div class="md-subhead" layout="row" layout-align="space-between center"
         ui-sref="application.protected.posts({expertId:expert.userId})">
      Deals
      <div class="xb-my-profile__mobile-number" ng-if="isCurrentUser">{{achievement.shareProductAmount>0?achievement.shareProductAmount:''}}</div>
      <div class="xb-my-profile__mobile-number" ng-if="!isCurrentUser">{{achievement.shareProductFeaturedAmount>0?achievement.shareProductFeaturedAmount:''}}</div>
      <div flex layout="row" layout-align="end center">
        <div><md-icon class="md-dark-secondary" md-font-set="material-icons">keyboard_arrow_right</md-icon></div>
      </div>
    </div>
    <div class="md-subhead" layout="row" layout-align="space-between center"
         ui-sref="application.protected.follow({expertId:expert.userId})">
      Follow
      <div flex layout="row" layout-align="end center">
        <div><md-icon class="md-dark-secondary" md-font-set="material-icons">keyboard_arrow_right</md-icon></div>
      </div>
    </div>
  </div>
</div>
