<div class="xb-my-answers" ng-repeat="post in posts track by $index">
  <a class="xb-my-answers__title md-subhead md-dark-primary"
       ui-sref="application.answerQuestionDetail({questionId:post.question})">{{post.questionTitle}}</a>
  <div class="xb-my-answers__content" ng-if="post.text">
    {{post.text | reduceSentence:140}}{{post.text.length>140? '...':''}}
    <span ng-if="post.text.length>140" ui-sref="application.answerQuestionDetail({questionId:post.question})" class="xb-my-answers__color">more</span>
  </div>
  <interact class="xb-my-answers__bottom" interact="post.interact">
    <div class="xb-my-answers__actions" layout="row" layout-align="start center">
      <vote layout="row" layout-align="start center" ></vote>
      <div layout="row" layout-align="start center">
        <md-icon flex="none" ng-click="onToggleDown(post);">sms</md-icon>
      </div>
      <comment-amounts layout="row" layout-align="start center"></comment-amounts>
      <div layout="row" layout-align="end center" class="md-dark-secondary" flex>{{post.created|amDateFormat:'MM.DD.YYYY'}}</div>
    </div>
    <div ng-show="post.commentToggle">
      <feedback-list interact-id="{{post.interact.id}}" hide-state="!post.commentToggle"></feedback-list>
    </div>
  </interact>
</div>
