<div class="modal-header">
  <button type="button" class="close" aria-label="Close" ng-click="$dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3>Unfinished Crowdtesting</h3>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <p>Oops... You still have an unfinished Crowdtesting campaign. If you wish to apply for a new product, please make
      sure you have already submitted all the reviews for your previous campaigns.</p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="submitReview()">
    Submit My Review
  </button>
</div>
