<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ok()"><span
    aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Share Your Review & Build Your Influence</h4>
</div>
<div class="modal-body">
  <p>Share your review with your social network to increase your influence on Xberts. The more people LIKE your review
    post, the higher chance you will be selected for other review campaigns！ </p>

  <div class="xb-card-board text-center">
    <button class="btn btn-primary btn-lg btn-social linkedin-btn center-block" socialshare
            socialshare-provider="linkedin"
            socialshare-description="{{ socialContent.description }}"
            socialshare-text="{{ socialContent.title }}"
            socialshare-source="Xberts.com"
            socialshare-url="{{ socialContent.url }}">
      <i class="fa fa-linkedin margin-right"></i><span class="btn-text">Share on LinkedIn</span>
    </button>
    <button class="btn btn-primary facebook-btn btn-lg btn-social center-block" socialshare
            socialshare-provider="facebook"
            socialshare-description="{{ socialContent.description }}"
            socialshare-text="{{ socialContent.title }}"
            socialshare-picture="{{ socialContent.image }}"
            socialshare-url="{{ socialContent.url }}">
      <i class="fa fa-facebook margin-right"></i><span class="btn-text">Share on Facebook</span>
    </button>

    <button class="btn btn-success btn-social btn-lg center-block" socialshare
            socialshare-provider="twitter"
            socialshare-description="{{ socialContent.description }}"
            socialshare-text="{{ socialContent.title }}"
            socialshare-url="{{ socialContent.url }}">
      <i class="fa fa-twitter margin-right"></i><span class="btn-text">Share on Twitter</span>
    </button>
  </div>
</div>
