<md-dialog class="xb-search-dialog">
  <div layout="row" layout-align="start center">
    <div class="xb-search-dialog__margin-bottom" hide-xs>
      <md-icon class="md-dark-secondary">search</md-icon>
    </div>
    <form name="searchForm" novalidate ng-submit="submit(searchForm)" clear-form-error flex layout="row" layout-align="start center">
      <md-input-container class="md-block" md-no-float flex>
        <input ng-model="search" type="text" name="search" placeholder="Search" md-auto-focus/>
      </md-input-container>
      <div class="xb-search-dialog__close" ng-if="search">
        <md-icon class="md-dark-secondary" ng-click="cancel();">close</md-icon>
      </div>
      <md-button class="md-primary" hide-gt-xs ng-click="submit(searchForm)">
        <md-icon class="md-dark-secondary">search</md-icon>
      </md-button>
    </form>
  </div>
  <div class="md-dark-secondary" hide-xs>
    PRESS ENTER TO SEE THE RESULTS
  </div>
</md-dialog>
