<div class="xberts-navbar__search-bg xb-pointer" hide-sm hide-xs layout="row" layout-align="start center" ng-click="openSearch()">
  <md-icon md-font-set="material-icons">search</md-icon>
</div>
<div layout="row" layout-align="end center">
  <div class="xberts-navbar__right-container-button" hide-xs hide-gt-sm ng-click="openSearch()">
    <md-icon md-font-set="material-icons">search</md-icon>
  </div>
</div>
<div hide-gt-xs>
  <md-icon md-font-set="material-icons" ng-click="openSearch()">search</md-icon>
</div>
