<div ng-if="achievemets && (achievemets.shareProductFeaturedAmount > 0 || achievemets.thumbsUpAmount > 0
   || achievemets.questionAnsweredAmount > 0 || achievemets.bestAnswerAmount > 0 || achievemets.reviewAmount > 0
   || achievemets.reviewFeaturedAmount > 0 || achievemets.inviteAmount > 0)"  class="xb-main-reviewer">
  <div class="md-subhead md-dark-primary xb-main-reviewer__title" layout="row" layout-align="start center">
    Achievements
  </div>
  <div class="xb-my-achievement background-whitem">
    <div ng-if="achievemets.shareProductFeaturedAmount && achievemets.questionAnsweredAmount > 0" layout="row" layout-align="start center">
      <i class="iconfontXberts" ng-class="icons['shareProductFeaturedAmount']" ></i>
      {{achievemets.questionAnsweredAmount>1? achievemets.shareProductFeaturedAmount + ' deals are ': achievemets.shareProductFeaturedAmount + ' deal is '}}
      featured
    </div>
    <div ng-if="achievemets.thumbsUpAmount && achievemets.thumbsUpAmount > 0" layout="row" layout-align="start center">
      <div><md-icon class="md-dark-third" md-font-set="material-icons">{{icons['thumbsUpAmount']}}</md-icon></div>
      Received {{achievemets.thumbsUpAmount>1? achievemets.thumbsUpAmount + ' thumbs up': achievemets.thumbsUpAmount + ' thumb up'}}
    </div>
    <div ng-if="achievemets.questionAnsweredAmount && achievemets.questionAnsweredAmount > 0" layout="row" layout-align="start center">
      <i class="iconfontXberts" ng-class="icons['questionAnsweredAmount']" ></i>
      Answered {{achievemets.questionAnsweredAmount > 1?achievemets.questionAnsweredAmount+ ' questions':achievemets.questionAnsweredAmount+ ' question'}}</div>

    <div ng-if="achievemets.bestAnswerAmount && achievemets.bestAnswerAmount > 0" layout="row" layout-align="start center">
      <i class="iconfontXberts" ng-class="icons['bestAnswerAmount']" ></i>
      {{achievemets.bestAnswerAmount > 1?achievemets.bestAnswerAmount+ ' answers are':achievemets.bestAnswerAmount+ ' answer is'}}
      selected as Top Answer</div>
    <div ng-if="achievemets.reviewAmount && achievemets.reviewAmount > 0"  layout="row" layout-align="start center">
      <i class="iconfontXberts" ng-class="icons['reviewAmount']" ></i>
      Submitted {{achievemets.reviewAmount > 1?achievemets.reviewAmount+ ' reviews':achievemets.reviewAmount+ ' review'}}
    </div>
    <div ng-if="achievemets.reviewFeaturedAmount && achievemets.reviewFeaturedAmount > 0"  layout="row" layout-align="start center">
      <i class="iconfontXberts" ng-class="icons['reviewFeaturedAmount']" ></i>
      {{achievemets.reviewFeaturedAmount > 1?achievemets.reviewFeaturedAmount+ ' reviews get ':achievemets.reviewFeaturedAmount+ ' review gets '}}
      featured
    </div>
    <div ng-if="achievemets.inviteAmount && achievemets.inviteAmount > 0"  layout="row" layout-align="start center">
      <i class="iconfontXberts" ng-class="icons['inviteAmount']" ></i>
      Invited {{achievemets.inviteAmount > 1?achievemets.inviteAmount+ ' friends':achievemets.inviteAmount+ ' friend'}}
      get featured
    </div>
  </div>
</div>
