<div style="margin-top: 2em" class="row">
  <div class="col-md-2 col-xs-1 col-sm-1"></div>
  <div class="col-md-8 col-xs-10 col-sm-10">
    <div class="lead">We’ve sent an email to {{ data.email }} with instructions to change your password. Please check it out.
    </div>
    <div class="lead">If you didn’t receive the email, please check your spam folder or click the Resend button to resend the email.</div>
    <form name="resetPasswordResendForm" ng-submit="sendEmail(resetPasswordResendForm)">
      <div class="row error" ng-show="resetPasswordResendForm.$submitted" ng-messages="resetPasswordResendForm.serverError">
        <div class="col-md-12">
          <div ng-messages-include="/views/message/form_error.html"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary btn-block">Re-send</button>
        </div>
        <div class="col-md-10"></div>
      </div>
    </form>
  </div>
  <div class="col-md-2 col-xs-1 col-sm-1"></div>
</div>
