<div class="row">
  <div class="col-md-12"></div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-2 col-xs-1"></div>
  <div class="col-md-6 col-sm-8 col-xs-10 text-center">
    <div class="row text-left">
      <div class="col-md-12">
        <div class="h3 leader">Your password has been changed successfully! You can sign in&nbsp;<a ui-sref="application.login">here</a>.
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-2 col-xs-1"></div>
</div>
<div class="row">
  <div class="col-md-12"></div>
</div>
