<div class="row">
  <div class="col-md-12"></div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-2 col-xs-1"></div>
  <div class="col-md-6 col-sm-8 col-xs-10">
    <div class="row text-left">
      <div class="col-md-12">
        <div class="h3 leader">Oops! The link you had received has expired.</div>
        <div class="h3 leader">To reset your password, please click<a ui-sref="application.resetPassword.request">&nbsp;here</a>
          <apan>.</apan>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-2 col-xs-1"></div>
</div>
<div class="row">
  <div class="col-md-12"></div>
</div>
