<div class="row">
  <div class="col-md-3 col-sm-2 col-xs-1"></div>
  <div class="col-md-6 col-sm-8 col-xs-10">
    <form name="resetPasswordRequestForm" novalidate ng-submit="sendEmail(resetPasswordRequestForm)" clear-form-error>
      <div class="row">
        <div class="col-md-12">
          <div class="h1">Reset your password</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="h5">We will send a message to your registered email address,so you can pick a new password:</div>
        </div>
      </div>
      <div class="row error" ng-show="resetPasswordRequestForm.$submitted"
           ng-messages="resetPasswordRequestForm.serverError">
        <div class="col-md-12">
          <div ng-message="emailNotFound">No account found with that email.</div>
          <div ng-messages-include="/views/message/form_error.html"></div>
        </div>
      </div>
      <div class="row error" ng-show="resetPasswordRequestForm.$submitted || resetPasswordRequestForm.email.$touched"
           ng-messages="resetPasswordRequestForm.email.$error">
        <div class="col-md-12" ng-message="required">Please enter your email.</div>
        <div class="col-md-12" ng-message="email">The email you entered is invalid.</div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <input type="email" name="email" class="form-control login-form-control" placeholder="Please enter your email address"
                 ng-model="data.email" required ng-model-options="{ updateOn: 'blur' }">
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-primary btn-block">Send</button>
        </div>
        <div class="col-md-2"></div>
      </div>
    </form>
  </div>
  <div class="col-md-3 col-sm-2 col-xs-1"></div>
</div>
