<md-dialog class="xb-login-dialog">
  <div class="xb-login-dialog__inner-container background-whitem">
    <div layout="row" layout-align="end center">
      <md-icon class="xb-login-dialog__close" md-font-set="material-icons" aria-label="Close dialog" ng-click="cancel()">close</md-icon>
    </div>
    <form name="loginForm" novalidate ng-submit="login(loginForm)" clear-form-error>
      <div class="form-group has-error">
        <div class="help-block" ng-show="loginForm.$submitted" ng-messages="loginForm.serverError">
          <p ng-message="invalidCredentials">The email or password you entered is incorrect.</p>
          <p ng-messages-include="views/text/form_error.html"></p>
        </div>
      </div>
      <md-input-container class="md-block">
        <input xb-show-keyboard required ng-model="username" type="email" name="email" placeholder="Email Address" md-auto-focus/>
        <div ng-messages="loginForm.email.$error">
          <div ng-message="required">Please enter your email.</div>
          <div ng-message="email">The email you entered is invalid.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block xb-login-dialog__reset-bottom">
        <input required ng-model="password" type="password" name="password" placeholder="Password"/>
        <div ng-messages="loginForm.password.$error">
          <div ng-message="required">Please enter your password.</div>
        </div>
      </md-input-container>
      <p class="md-caption md-dark-secondary" ui-sref="application.resetPassword.request" ng-click="cancel()">Forgot password?</p>
      <md-button class="xb-login-dialog__button md-primary md-raised" type="submit">Log in</md-button>
    </form>
  </div>
</md-dialog>
