<div class="xb-main-col" layout-gt-xs="row">
  <div flex-gt-xs="50">
    <div class="xb-main-col__container xb-main-col__container-bottom" ng-repeat="trial in trials track by $index"
         ng-if="$index==0" >
      <div class="xb-main-col__value" layout="row" layout-align="start center">
        <span>
          <span ng-if="!trial.isFlashsale()">Free</span>
          <span ng-if="trial.isFlashsale()">{{ trial.offPercentage() }}%Off</span></span>
        </span>
      </div>
      <span class="xb-main-col__top-right" end-time-left end-time="trial.applicationEndDate" extra-info="trial.applicantCount">
        <span ng-show="timeValue>0">{{ timeUnit }}</span>
        <span ng-show="timeValue<=0">{{ extraInfo }}</span>
        <span ng-show="timeValue<=0">applicants</span>
      </span>
      <img ng-src="{{trial.cover}}" ui-sref="application.testingcampaign({ reviewId:trial.id })"/>
      <div class="xb-main-col__bottom-title"><span>{{trial.title}}</span></div>
    </div>
  </div>
  <div flex-gt-xs="25" layout="column" layout-align="space-between">
    <div class="xb-main-col__left xb-main-col__container-bottom"
         ng-class="{true:'xb-main-col__bottom',false:''}[$index > 0 && $index < 2]"
         ng-repeat="trial in trials track by $index" ng-if="$index > 0 && $index < 3" flex>
      <div class="xb-main-col__container">
        <div class="xb-main-col__value" layout="row" layout-align="start center">
          <span>
            <span ng-if="!trial.isFlashsale()">Free</span>
            <span ng-if="trial.isFlashsale()">{{ trial.offPercentage() }}%Off</span></span>
          </span>
        </div>
        <span class="xb-main-col__top-right" end-time-left end-time="trial.applicationEndDate" extra-info="trial.applicantCount">
          <span ng-show="timeValue>0">{{ timeUnit }}</span>
          <span ng-show="timeValue<=0">{{ extraInfo }}</span>
          <span ng-show="timeValue<=0">applicants</span>
        </span>
        <img ng-src="{{trial.cover}}" ui-sref="application.testingcampaign({ reviewId:trial.id })"/>
        <div class="xb-main-col__bottom-title"><span>{{trial.title}}</span></div>
      </div>
    </div>
  </div>
  <div flex-gt-xs="25" layout="column" layout-align="space-between">
    <div class="xb-main-col__left xb-main-col__container-bottom"
         ng-class="{true:'xb-main-col__bottom',false:''}[$index > 2 && $index < 4]"
         ng-repeat="trial in trials track by $index" ng-if="$index > 2 && $index < 5" flex>
      <div class="xb-main-col__container">
        <div class="xb-main-col__value" layout="row" layout-align="start center">
          <span>
            <span ng-if="!trial.isFlashsale()">Free</span>
            <span ng-if="trial.isFlashsale()">{{ trial.offPercentage() }}%Off</span></span>
          </span>
        </div>
        <span class="xb-main-col__top-right" end-time-left end-time="trial.applicationEndDate" extra-info="trial.applicantCount">
          <span ng-show="timeValue>0">{{ timeUnit }}</span>
          <span ng-show="timeValue<=0">{{ extraInfo }}</span>
          <span ng-show="timeValue<=0">applicants</span>
        </span>
        <img ng-src="{{trial.cover}}" ui-sref="application.testingcampaign({ reviewId:trial.id })"/>
        <div class="xb-main-col__bottom-title"><span>{{trial.title}}</span></div>
      </div>
    </div>
  </div>
</div>


