<div class="xb-trial-tabs xb-messages-tabs" hide-xs>
  <div class="xb-trial-tabs__inner-content" fixed-to-top del-top="56" offset-top="56">
    <div class="container" layout="row">
      <div class="xb-trial-tabs__left" layout="row" flex="60">
        <div class="md-subhead" ng-class="{'active':category === 'notification'}" layout="row"
             layout-align="start center" ng-click="showNotification()">Notification</div>
        <div class="md-subhead" ng-class="{'active':category === 'incoming'}" layout="row"
             layout-align="start center" ng-click="filterMessage('incoming')">Messages</div>
      </div>
    </div>
  </div>
</div>
<div layout="column" layout-align="stretch stretch">
  <div ui-view layout="row" flex></div>
</div>

