<div class="md-padding-bottom-3 xb-scroll-into-view" xb-height-scroll del-hegiht="332" scroll-bottom="true" >
  <div class="xb-messages__chat-box" ng-repeat="message in messages track by $index" layout="row"
       layout-align="{{message.sender.id === user.getUserId() ? 'end': 'start'}} start" on-finish-render="ngRepeatFinished" >
    <avatar-img ng-class="{true:'xb-messages__left-avatar',false:'xb-messages__right-avatar'}[message.sender.id === user.getUserId()]"
                src="message.sender.avatar" name="message.sender.firstName"
                ui-sref="application.expert({expertId:message.sender.id})"
                flex-order="{{message.sender.id === user.getUserId() ? '1': '0'}}"></avatar-img>
    <div flex-order="{{message.sender.id === user.getUserId() ? '0': '1'}}"
         layout="column" layout-align="start {{message.sender.id === user.getUserId() ? 'end': 'start'}}">
      <div class="md-caption md-dark-secondary">{{ message.sentAt | amDateFormat:'MMM DD, YYYY h:mm a' }}</div>
      <span class="xb-messages__chat-box-bg md-margin-top-1">{{ message.body }}</span>
    </div>
  </div>
</div>
<div class="xb-messages__chat-box-reply" ng-init="init()">
  <form name="replyForm" ng-submit="replyMessage()" novalidate>
    <div class="xb-messages__fixed-bottom" layout="row" layout-align="start start">
      <avatar-img hide-xs src="user._userAvatar" name="user._firstName"></avatar-img>
      <div layout-xs="row" layout-align-xs="start center" flex>
        <md-input-container class="md-block" md-no-float flex>
            <textarea name='body' ng-model="data.body" required placeholder="Send a message"
                      ng-focus="autofocus()"></textarea>
        </md-input-container>
        <div layout="row" layout-align="end start">
          <md-button type="submit" class="md-primary" ng-disabled="replyForm.$invalid">Send</md-button>
        </div>
      </div>
    </div>
  </form>
</div>
