<div class="xb-my-biography">
  <div class="md-subhead">Deals</div>
  <div class="xb-my-profile__empty" layout="row" layout-align="center center"
       ng-if="postsProductPaginator.items.length <= 0 && !postsProductPaginator.loading">
    <i class="iconfontXberts icon-ic-empty"></i>
  </div>
  <div infinite-scroll="postsProductPaginator.loadNext()" infinite-scroll-distance='0' infinite-scroll-container='".xb-body-view "'
       infinite-scroll-disabled="postsProductPaginator.loading || !postsProductPaginator.next">
    <my-post-list class="xb-my-posts" posts="postsProductPaginator.items" current-user="isCurrentUser"></my-post-list>
    <load-ask-more layout="column" class="xb-profile-questions__margin" ng-if="postsProductPaginator.loading"></load-ask-more>
  </div>
</div>
