<div layout="row" layout-align="space-between stretch" layout-wrap class="xb-deals-list">
  <div hide-xs hide-sm ng-repeat="value in [0,1,2,3]">
    <div ng-repeat="item in deals track by $index" ng-if="$index % 4 == value">
      <div class="xb-deals-list__img-bg">
        <a layout="column" layout-align="start center" ui-sref="application.dealsDetail({dealsId:item.id})" target="_blank">
          <img src="{{item.getImageUrl()}}"/>
          <div ng-if="item.getVideo() != null" class="xb-main-discover__image-button-bg" layout="row" layout-align="center center">
            <div class="xb-main-discover__image-button" layout="row" layout-align="center center">
              <md-icon >play_arrow</md-icon>
            </div>
          </div>
          <div class="xb-deals-list__mask-bg">
            <div class="xb-deals-list__mask animation-opacity-show" layout="column" layout-align="center center" hide-xs>
              <div class="md-subhead">Quick Look</div>
            </div>
          </div>
          <div end-time-left end-time="item.promotionEnd" extraInfo="Expired" ng-if="item.promotionEnd">
            <div ng-show="timeValue>0" class="xb-deals-list__top-right" layout="row" layout-align="start center">
              <span >{{ timeUnit }}</span>
            </div>
            <div ng-show="timeValue<=0" class="xb-deals-list__top-right xb-deals-list__expired"
                 layout="row" layout-align="start center">
              <span >Expired</span>
            </div>
          </div>
        </a>
      </div>
      <div class="xb-deals-list__content" layout="column" layout-align="stretch start">
        <a class="xb-deals-list__title md-dark-secondary" ui-sref="application.dealsDetail({dealsId:item.id})" target="_blank">
          {{item.title}}
        </a>
        <div class="xb-deals-list__tags md-margin-bottom-1">
          {{item.tags}}
        </div>
        <div>
          <span class="md-headline xb-bold">
            {{item.salePrice.amount | worldCurrency:item.salePrice.currency}}
          </span>
        </div>
        <div class="xb-deals-list__price" layout="row" layout-align="start center" layout-wrap>
          <span class="md-dark-secondary" ng-if="item.originalPrice.amount>0">
            {{item.originalPrice.amount | worldCurrency:item.originalPrice.currency}}
          </span>
          <span class="xb-deals-list__discount" ng-if="item.discount > 0">
            {{item.discount * 100 | number:0}}% OFF
          </span>
        </div>
      </div>
      <div layout="row" class="xb-deals-list__head" ng-if="item.owner != null" hide>
        <avatar-Img class="xb-pointer" flex="none" src="item.owner.userprofile.avatar" name="item.getDealsName()"  class="md-user-avatar"
                    ui-sref="application.expert({ expertId:item.getPostId() })"></avatar-Img>
        <div layout="column" layout-align="space-between start">
          <div layout="row" layout-align="start center">
            <a class="md-dark-primary" ui-sref="application.expert({expertId:item.getPostId()})">{{item.getDealsName()}}</a>
            <credit-badge class="credit-badge" points="item.owner.badgePoint"></credit-badge>
          </div>
          <div class="md-dark-secondary"><span hide-xs>Posted</span>  <span am-time-ago='item.created'></span></div>
        </div>
      </div>
      <div layout="row" class="xb-deals-list__head" ng-if="item.owner == null" hide>
        <avatar-Img flex="none" src="headImage" name="item.getDealsName()"  class="md-user-avatar"></avatar-Img>
        <div layout="column" layout-align="space-between start">
          <div layout="row" layout-align="start center">
            <span class="md-dark-primary">{{item.getDealsName()}}</span>
          </div>
          <div class="md-dark-secondary"><span hide-xs>Posted</span>  <span am-time-ago='item.created'></span></div>
        </div>
      </div>
    </div>
  </div>
  <div hide-xs hide-gt-sm ng-repeat="value in [0,1,2]">
    <div ng-repeat="item in deals track by $index" ng-if="$index % 3 == value">
      <div class="xb-deals-list__img-bg">
        <a layout="column" layout-align="start center" ui-sref="application.dealsDetail({dealsId:item.id})" target="_blank">
          <img src="{{item.getImageUrl()}}"/>
          <div ng-if="item.getVideo() != null" class="xb-main-discover__image-button-bg" layout="row" layout-align="center center">
            <div class="xb-main-discover__image-button" layout="row" layout-align="center center">
              <md-icon >play_arrow</md-icon>
            </div>
          </div>
          <div class="xb-deals-list__mask-bg">
            <div class="xb-deals-list__mask animation-opacity-show" layout="column" layout-align="center center" hide-xs>
              <div class="md-subhead">Quick Look</div>
            </div>
          </div>
          <div end-time-left end-time="item.promotionEnd" extraInfo="Expired" ng-if="item.promotionEnd">
            <div ng-show="timeValue>0" class="xb-deals-list__top-right" layout="row" layout-align="start center">
              <span >{{ timeUnit }}</span>
            </div>
            <div ng-show="timeValue<=0" class="xb-deals-list__top-right xb-deals-list__expired"
                 layout="row" layout-align="start center">
              <span >Expired</span>
            </div>
          </div>
        </a>
      </div>
      <div class="xb-deals-list__content" layout="column" layout-align="stretch start">
        <a class="xb-deals-list__title md-dark-secondary" ui-sref="application.dealsDetail({dealsId:item.id})" target="_blank">
          {{item.title}}
        </a>
        <div class="xb-deals-list__tags md-margin-bottom-1">
          {{item.tags}}
        </div>
        <div>
          <span class="md-headline xb-bold">
            {{item.salePrice.amount | worldCurrency:item.salePrice.currency}}
          </span>
        </div>
        <div class="xb-deals-list__price" layout="row" layout-align="start center" layout-wrap>
          <span class="md-dark-secondary" ng-if="item.originalPrice.amount>0">
            {{item.originalPrice.amount | worldCurrency:item.originalPrice.currency}}
          </span>
          <span class="xb-deals-list__discount" ng-if="item.discount > 0">
            {{item.discount * 100 | number:0}}% OFF
          </span>
        </div>
      </div>
      <div layout="row" class="xb-deals-list__head" ng-if="item.owner != null" hide>
        <avatar-Img class="xb-pointer" flex="none" src="item.owner.userprofile.avatar" name="item.getDealsName()"  class="md-user-avatar"
                    ui-sref="application.expert({ expertId:item.getPostId() })"></avatar-Img>
        <div layout="column" layout-align="space-between start">
          <div layout="row" layout-align="start center">
            <a class="md-dark-primary" ui-sref="application.expert({expertId:item.getPostId()})">{{item.getDealsName()}}</a>
            <credit-badge class="credit-badge" points="item.owner.badgePoint"></credit-badge></div>
          <div class="md-dark-secondary"><span hide-xs>Posted</span>  <span am-time-ago='item.created'></span></div>
        </div>
      </div>
      <div layout="row" class="xb-deals-list__head" ng-if="item.owner == null" hide>
        <avatar-Img flex="none" src="headImage" name="item.getDealsName()"  class="md-user-avatar">
        </avatar-Img>
        <div layout="column" layout-align="space-between start">
          <div layout="row" layout-align="start center">
            <span class="md-dark-primary">{{item.getDealsName()}}</span>
          </div>
          <div class="md-dark-secondary"><span hide-xs>Posted</span> <span am-time-ago='item.created'></span></div>
        </div>
      </div>
    </div>
  </div>
  <div hide-gt-xs ng-repeat="value in [0,1]">
    <div ng-repeat="item in deals track by $index" ng-if="$index % 2 == value">
      <div class="xb-deals-list__img-bg">
        <a layout="column" layout-align="start center" ng-if="!user.isAuth()" ng-click="openMobileDialog(item.id);">
          <img src="{{item.getImageUrl()}}"/>
          <div ng-if="item.getVideo() != null" class="xb-main-discover__image-button-bg" layout="row" layout-align="center center">
            <div class="xb-main-discover__image-button" layout="row" layout-align="center center">
              <md-icon >play_arrow</md-icon>
            </div>
          </div>
          <div end-time-left end-time="item.promotionEnd" extraInfo="Expired" ng-if="item.promotionEnd">
            <div ng-show="timeValue>0" class="xb-deals-list__top-right" layout="row" layout-align="start center">
              <span >{{ timeUnit }}</span>
            </div>
            <div ng-show="timeValue<=0" class="xb-deals-list__top-right xb-deals-list__expired"
                 layout="row" layout-align="start center">
              <span >Expired</span>
            </div>
          </div>
        </a>
        <a layout="column" layout-align="start center" ng-if="user.isAuth()"
           ui-sref="application.dealsDetail({dealsId:item.id})" target="_blank">
          <img src="{{item.getImageUrl()}}"/>
          <div ng-if="item.getVideo() != null" class="xb-main-discover__image-button-bg" layout="row" layout-align="center center">
            <div class="xb-main-discover__image-button" layout="row" layout-align="center center">
              <md-icon >play_arrow</md-icon>
            </div>
          </div>
          <div class="xb-deals-list__top-right" ng-if="item.promotionEnd" layout="row" layout-align="start center">
            <span end-time-left end-time="item.promotionEnd" extraInfo="Expired">
              <span ng-show="timeValue>0">{{ timeUnit }}</span>
              <span ng-show="timeValue<=0">00:00:00</span>
            </span>
          </div>
        </a>
      </div>
      <div class="xb-deals-list__content" layout="column" layout-align="stretch start">
        <a class="xb-deals-list__title md-dark-secondary" ng-if="!user.isAuth()" ng-click="openMobileDialog(item.id);">
          {{item.title}}
        </a>
        <a class="xb-deals-list__title md-dark-secondary" ng-if="user.isAuth()" ui-sref="application.dealsDetail({dealsId:item.id})">
          {{item.title}}
        </a>
        <div class="xb-deals-list__tags md-margin-bottom-1">
          {{item.tags}}
        </div>
        <div>
          <span class="md-headline xb-bold">
            {{item.salePrice.amount | worldCurrency:item.salePrice.currency}}
          </span>
        </div>
        <div class="xb-deals-list__price" layout="row" layout-align="start center" layout-wrap>
          <span class="md-dark-secondary" ng-if="item.originalPrice.amount>0">
            {{item.originalPrice.amount | worldCurrency:item.originalPrice.currency}}
          </span>
          <span class="xb-deals-list__discount" ng-if="item.discount > 0">
            {{item.discount * 100 | number:0}}% OFF
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
