<div class="container md-section md-padding" ng-if="!apply.finished">
  <div class="xb-ask-title">
    <div class="xb-section__title">
      <h2 class="md-headline">{{ apply.review.title }}</h2>
      <h3 class="md-body-1">
        Please answer the following questions to apply for this campaign. All your information will only be used for applicant selection and will be kept strictly confidential.
      </h3>
      <div class="md-body-1">Each applicant can earn <span class="xb-trial-reviewer__star xb-bold">3</span>
        <a class="xb-trial-reviewer__star text-underline" ui-sref="application.creditMain">points</a>!</div>
    </div>
  </div>
  <div class="md-section__content  md-relative">
    <form name="applierForm" ng-cloak novalidate>
      <div id="applier_step_1" ng-if="!apply.next">
        <div>
          <p class="md-title md-form-section__title">Personal Information</p>
          <div layout="column">
            <div layout="column" layout-gt-xs="row">
              <md-input-container class="md-block" flex>
                <label class="md-container-ignore md-no-float">Gender</label>
                <md-select ng-model="apply.applier.gender" name="gender" required>
                  <md-option ng-repeat="gender in apply.genders" ng-value="gender.code">
                    {{gender.name}}
                  </md-option>
                </md-select>
                <div ng-messages="applierForm.gender.$error">
                  <div ng-message="required">This is required!</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block" flex>
                <label class="md-container-ignore md-no-float">Country</label>
                <md-select ng-model="apply.applier.country" name="country" required>
                  <md-option ng-repeat="country in apply.countries" ng-value="country.code">
                    {{country.name}}
                  </md-option>
                </md-select>
                <div ng-messages="applierForm.country.$error">
                  <div ng-message="required">This is required!</div>
                </div>
              </md-input-container>
            </div>
            <div layout="column" layout-gt-xs="row">
              <md-input-container flex class="md-block">
                <label class="md-container-ignore md-no-float">Business Title</label>
                <input name="position" ng-model="apply.applier.position" required ng-maxlength="200"/>
                <div ng-messages="applierForm.position.$error">
                  <div ng-message="required">This is required!</div>
                  <div ng-message="maxlength">That's too long!</div>
                </div>
              </md-input-container>
              <md-input-container flex class="md-block">
                <label class="md-container-ignore md-no-float">Company Name</label>
                <input name="company" ng-model="apply.applier.company" required ng-maxlength="200"/>
                <div ng-messages="applierForm.company.$error">
                  <div ng-message="required">This is required!</div>
                  <div ng-message="maxlength">That's too long!</div>
                </div>
              </md-input-container>
            </div>
          </div>
        </div>

        <div>
          <p class="md-title" ng-if="apply.review.surveys.length > 0">Questionnaire</p>
          <div layout="column">
            <div ng-repeat="survey in apply.review.surveys">
              <question-input ng-repeat="question in survey.questions" question="question"
                              form="applierForm"></question-input>
            </div>
          </div>
        </div>
        <div layout="row">
          <span flex="30" flex-gt-sm="40"></span>
          <div flex="40" flex-gt-sm="20">
            <md-button  type="button" class="md-raised md-primary xb-btn-block" ng-click="apply.nextStep(applierForm)"
                        ng-disabled="applierForm.$invalid">Next (1/2)
            </md-button>
          </div>
        </div>
        <md-button hide-xs class="md-fab md-fab-bottom-right md-mini xb-fab-fixed" ng-click="apply.showTips($event)">
          Tips
        </md-button>
      </div>
      <div id="applier_step_2" ng-if="apply.next">
        <div class="md-form-section">
          <p class="md-title md-form-section__title">Agreement and Policy</p>
          <div class="md-form-section__content">
            <div class="panel panel-default">
              <div class="panel-heading text-center">Review Agreement</div>
              <div class="panel-body">
                <div>
                  <p><i>If you apply to be a Product Reviewer, you agree to perform the following:</i></p>

                  <p>• Install and use the product for an extended period of time, detailed in Xberts’ Review Guide<br/>
                    • Communicates with and update Xberts regularly about your progress<br/>
                    • Consult with the Product Sponsor if you encounter with any technical issues<br/>
                    • After you receive the product sample, in accordance with Review Guide, write and submit an
                    unbiased
                    product review BY THE DESIGNATED
                    DEADLINE
                    {{ apply.review.date_end | amDateFormat:'MMM DD, YYYY'}}<br/>
                    • Inform Xberts ASAP for a grace period if you have difficulty in submitting report on time<br/>
                    • Share your review on your social networks with the authorization from the Product Sponsor
                  </p>

                  <p>I understand and agree to perform the above operations as a "{{ apply.review.title }}" Product
                    Reviewer</p>

                  <p>I grant Xberts.com and Sponsor the right to translate, quote and distribute my review in multiple
                    languages
                    for marketing purpose</p>

                  <p>Xberts.com assumes no responsibility for any Product/Service provided by our sponsor or partner in
                    any
                    way.
                    You expressly understand and agree that your use of the Product/Service provided by Xberts.com is at
                    your
                    sole responsibility of risk. </p>
                  <br/>


                </div>


              </div>
            </div>
            <md-input-container class="md-block">
              <md-checkbox name="accept" ng-model="apply.application.accept" required>
                I accept all the terms and conditions as outlined above. I am of legal age and I have
                necessary capacity
                to
                execute this agreement.
              </md-checkbox>
            </md-input-container>
          </div>
          <div class="form-section__content" ng-if="apply.review.isDepositTrial()">
            <div class="panel panel-default">
              <div class="panel-heading text-center">Deposit Policy</div>
              <div class="panel-body">
                <div>
                  <p>
                    Please note that if you’re selected as a reviewer, you will be asked to pay a <b md-colors="{color: 'accent'}"> ${{ apply.review.getDeposit() }}
                    deposit</b>
                    for this product sample,which is <b md-colors="{color: 'accent'}">{{ apply.review.deposit.depositPercentage | percentage}}% of its retail price</b>. <b>The deposit is to

                    make sure all selected participants to complete their reviews after receiving the

                    discounted products and will be <span md-colors="{color: 'accent'}">fully refunded within 3 business days</span> after you

                    submit a qualified review as required.</b></p>
                  <p>

                    * A qualified review report should match the following criteria:<br/>

                    1. Minimum 1500 characters <br/>

                    2. Include at least 5 photos showcasing how the product works<br/>

                    3. The review content should be original
                  </p>

                </div>


              </div>
            </div>
            <md-input-container class="md-block">
              <md-checkbox name="understand" ng-model="apply.application.understand" required>
                I understand the deposit policy and agree to pay <b md-colors="{color: 'accent'}">a deposit of ${{
                apply.review.getDeposit() }}</b> if I was selected as a reviewer. The deposit will be
                <b md-colors="{color: 'accent'}">refunded within 3 business days</b> after your product review submission and approval.
              </md-checkbox>
            </md-input-container>
          </div>
        </div>
        <div layout="row">
          <span flex="20" flex-gt-sm="30"></span>
          <div flex="30" flex-gt-sm="20" class="md-padding">
            <md-button  type="button" class="md-raised xb-btn-block" ng-click="apply.backStep(applierForm)">Back
            </md-button>
          </div>
          <div flex="30" flex-gt-sm="20" class="md-padding">
            <md-button type="submit" class="md-raised md-primary xb-btn-block" ng-click="apply.submitForm(applierForm)"
                       ng-disabled="applierForm.$invalid">submit
            </md-button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>

<div class="container" ng-if="apply.finished">
  <div class="message">
    <h2 class="md-margin-top-0 md-headline message__title">
      You have successfully submitted your application!
    </h2>
    <p class="message__text">Please be noted that you can always come back and revise your application content before <b class="md-subhead">{{ apply.review.applicationEndDate | amDateFormat:'MMM DD, YYYY' }}</b>
      <br/>
      The application results will be announced within 7 business days after application deadline
    </p>
    <md-button class="md-primary md-raised md-margin-left-0 message__button" ui-sref="application.testingcampaigns">view more campaigns</md-button>
  </div>

</div>
