<div ng-switch="question.type">

  <div ng-switch-when="1" layout="row">
    <md-input-container flex class="md-block">
      <label>{{ question.title }}</label>
      <input type="text" name="question_{{ question.id }}" ng-model="question.answer.answer_main" required/>
      <div ng-messages="form['question_'+ question.id].$error">
        <div ng-message="required">This is required!</div>
      </div>
    </md-input-container>
  </div>
  <div ng-switch-when="2" layout="row">
    <md-input-container class="md-block" md-no-float flex>
      <label class="md-text-wrapper">{{ question.title }}</label>
      <textarea type="text"
                name="question_{{ question.id }}"
                ng-model="question.answer.answer_main"
                required></textarea>
      <div ng-messages="form['question_'+ question.id].$error">
        <div ng-message="required">This is required!</div>
      </div>
    </md-input-container>
  </div>
  <div ng-switch-when="4" layout="row">
    <md-radio-group ng-model="question.answer.answer_main" name="question_{{ question.id }}" layout="column" layout-gt-sm="row">
      <md-radio-button ng-repeat="item in question.extra|split" ng-value="item" aria-label="{{ item }}">
        {{ item }}
      </md-radio-button>
    </md-radio-group>
  </div>
  <div ng-switch-when="5" layout="row">
    <md-checkbox ng-model="item.selected" aria-label="Finished?" ng-repeat="item in items">
      {{ item.name }}
    </md-checkbox>
  </div>
</div>
