<div class="xb-credit-redeem" layout="row" layout-align-gt-xs="space-between start" layout-align-xs="start start" layout-wrap>
  <div class="background-whitem" ng-repeat="redeem in redeems track by $index" flex-sm="33" flex-gt-sm="25" flex-xs="100"
       layout="column" >
    <img ng-src="{{redeem.getImageOriginal()}}" ui-sref="application.redeemDetail({redeemId:redeem.id})"/>
    <div>
      <a class="md-subhead md-dark-primary" ui-sref="application.redeemDetail({redeemId:redeem.id})">{{redeem.name}}</a>
      <div class="xb-credit-redeem__badge" layout="row" layout-align="space-between center">
        <span class="md-body-1" layout="row" layout-align="start center"><i class="iconfontXberts icon-money"></i>&nbsp;{{redeem.points}} Points</span>
        <span class="md-body-1" ng-if="redeem.amount>1">{{redeem.amount}} Units Left</span>
        <span class="md-body-1" ng-if="redeem.amount==1">{{redeem.amount}} Unit Left</span>
      </div>
    </div>
  </div>
</div>
