<div class="xb-my-posts" ng-repeat="post in posts track by $index" layout="row"
     layout-align="space-between stretch" ng-click="closeMenu();">
  <div class="xb-my-posts__bg" ng-show="post.report"
     ui-sref="application.report({reviewId:post.id,reportId:post.report})">
    <div>
      <img src="{{post.cover}}" />
    </div>
  </div>
  <div class="xb-my-posts__bg" ng-show="post.blog"
     ui-sref="application.blogReport({blogId:post.blog})">
    <div>
      <img src="{{post.cover}}" />
    </div>
  </div>
  <div flex layout="column" layout-align="space-between">
    <p class="md-dark-primary xb-my-posts__title" ng-show="post.report"
         ui-sref="application.report({reviewId:post.id,reportId:post.report})">
      {{post.title}}
    </p>
    <p class="md-dark-primary xb-my-posts__title"  ng-show="post.blog"
         ui-sref="application.blogReport({blogId:post.blog})">
      {{post.title}}
    </p>
    <div layout="row" layout-align="start center">
      <div flex></div>
      <span class="md-body-1 md-dark-third xb-my-posts__time">{{post.created|amDateFormat:'MM.DD.YYYY'}}</span>
    </div>
  </div>
</div>
