.md-section{
  //border: 1px solid #000000;
  padding:32px 0;
  &__title{
    text-align: center;
    //border: 1px solid #000000;
    margin-bottom: 24px;
    >.md-headline{
      margin-top: 0;
      margin-bottom: 16px;
    }
    >.md-subhead{
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &__content{
    //border: 1px solid #000000;
  }
}

.md-form-section{
  &__title{
    margin-bottom: 16px;
  }
}
