$blue: #1c87d9;
$green:#569d11;
$yellow: #db8c10;
$gray:#999;
$facebook:#3b5998;
$linkedin: #0077b5;
$twitter:#1a8bf0;

.reverse-btn{
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 20px;
  background-color: #FFFFFF;
  font-weight: 500;

  &--blue{
    color: $blue;
    &:hover{
      color: #FFFFFF;
      background-color: $blue;
      text-decoration: none;
    }
  }

  &--green{
    color: $green;
    &:hover{
      color: #FFFFFF;
      background-color: $green;
      text-decoration: none;
    }
  }

  &--yellow{
    color: $yellow;
    &:hover{
      color: #FFFFFF;
      background-color: $yellow;
      text-decoration: none;
    }
  }

  &--gray{
    color: $gray;
    &:hover{
      color: $gray;
      background-color: #FFFFFF;
      text-decoration: none;
    }
  }
}
.c-btn{
  text-align: center;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 18px;
  padding: 9px 20px;
  display: inline-block;
  cursor: pointer;
  border: none;

  &--lg{
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &--sm{
    font-size: 14px;
    line-height: 14px;
  }
  &--block{
    display: block;
    width: 100%;
  }

  &--circle{
    border-radius: 50%;
    padding: 11px 0;
    width: 40px;
  }


  &--blue{
    background-color: $blue;
    color: #FFFFFF;
  }

  &--green{
    background-color: $green;
    color: #FFFFFF;
  }

  &--yellow{
    background-color: $yellow;
    color: #FFFFFF;
  }

  &--gray{
    background-color: $gray;
    color: #FFFFFF;
  }

  &--facebook{
    background-color: $facebook;
    color: #FFFFFF;
  }
  &--linkedin{
    background-color: $linkedin;
    color: #FFFFFF;
  }

  &--twitter{
    background-color: $twitter;
    color: #FFFFFF;
  }

  &:hover, &:focus, &:active{
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
  }
  &--xs-fixed-bottom{

  }
}
