<section>
  <div class="container" layout="column" layout-align="start center">
    <div class="section-title">
      <h2>Xberts Review Guide</h2>
    </div>

    <div class="section-body xb-inner-section" flex>
      <p class="xb-bold md-headline md-margin-top-3">1. Timeline & Deadline</p>

      <p>Please finalize and submit your review before <span class="xb-trial-reviewer__star xb-bold">{{review.dateEnd|amDateFormat:'MMMM Do, YYYY'}}</span>, which is critical to
        maintaining your credibility as an Xberts reviewer. If you have inevitable
        factors that prevent you from submitting on time, please contact Xberts team
        <a class="text-underline">info@xberts.com</a> ASAP to discuss your individual case. Note that late
        submission without prior consulting with Xberts may result in temporary or permanent account suspension.</p>

      <p class="xb-bold md-headline md-margin-top-3">2. Technical Support</p>

      <p>If you have any technical issues during your product review, please email our
        technical support team via <a class="text-underline">review@xberts.com</a> to clear it out. In the email,
        please include your name and a brief description of the problem and your
        action. Some screen shot or picture would be much helpful to determine what
        the problem is.</p>

      <p class="xb-bold md-headline md-margin-top-3">3. Review Content</p>

      <p>
        <span class="xb-bold">While you are encouraged to be creative, a helpful review should include the following:</span><br>
        a) Your unboxing experience<br>
        b) Your user experience<br>
        c) Three product photos<br>
        d) Pros and ConsThe<br>
        <span class="xb-bold">The following would enrich your review content and enhance your chances ofbeing selected next time:</span><br>
        a) Video Clip of unboxing<br>
        b) Video Clip of product reviewing</p>

      <p class="xb-bold md-headline md-margin-top-3">4. Review Submission Instruction</p>

      <!--<p class="xb-italic">Personal Information That You Provide</p>-->

      <p>
        <span class="xb-bold">To submit your review on Xberts, please:</span><br>
        a) Go to <a class="text-underline" ng-href="https://www.xberts.com/" target="_blank">https://www.xberts.com/</a> and log into your account;<br>
        b) Go to ‘My Profile’, and click ‘Trials’;<br>
        c) Find the right trial, and click 'Submit Review' button to edit and submit your review content;<br>
        d) We highly encourage you to insert a creative video into your review.
      </p>

      <p class="xb-bold md-headline md-margin-top-3">5. Rating Criteria</p>

      <p>
        <div class="md-body-1" layout="row" layout-align="start start">
          <span class="xb-trial-star" flex="none"><md-icon class="xb-trial-reviewer__star" ng-repeat="n in [1,2,3,4,5] track by $index"
                   md-font-set="material-icons" >star</md-icon></span>
          &nbsp;:&nbsp;<div>The product is almost perfect; all features are beyond expectations, and there is nothing to complain about.</div>
        </div>
        <div class="md-body-1" layout="row" layout-align="start start">
          <span class="xb-trial-star" flex="none"><md-icon class="xb-trial-reviewer__star" ng-repeat="n in [1,2,3,4] track by $index"
                   md-font-set="material-icons" >star</md-icon></span>
          &nbsp;:&nbsp;<div>The product is magnificent; all features work as described.</div>
        </div>
        <div class="md-body-1" layout="row" layout-align="start start">
          <span class="xb-trial-star" flex="none"><md-icon class="xb-trial-reviewer__star" ng-repeat="n in [1,2,3] track by $index"
                   md-font-set="material-icons" >star</md-icon></span>
          &nbsp;:&nbsp;<div>The product is decent; it is functional but still needs a lot of improvement.</div>
        </div>
        <div class="md-body-1" layout="row" layout-align="start start">
          <span class="xb-trial-star" flex="none"><md-icon class="xb-trial-reviewer__star" ng-repeat="n in [1,2] track by $index"
                   md-font-set="material-icons" >star</md-icon></span>
          &nbsp;:&nbsp;<div>The product works, but has a major defect.</div>
        </div>
        <div class="md-body-1" layout="row" layout-align="start start">
          <span class="xb-trial-star" flex="none"><md-icon class="xb-trial-reviewer__star" ng-repeat="n in [1] track by $index"
                   md-font-set="material-icons" >star</md-icon></span>
          &nbsp;:&nbsp;<div>The product is not functioning at all.</div>
        </div>
        <br>
        <span class="xb-bold">Note</span>:Most of products are rated between 3.2 – 3.8 stars on Xberts. We want
        to collect the most honest and unbiased reviews to help other customers make
        wise purchasing decision, and we do not promote products for companies
        through reviews.
      </p>

      <p class="xb-bold md-headline md-margin-top-3">6. Review Intellectual Property</p>

      <p>
        Please be mindful that the IP of your review is co-owned by yourself, Product
        Sponsor and Xberts. All parties are entitled to share the content of your review
        in other outlets with due recognition to other two parties.
      </p>

    </div>
  </div>
</section>
