<md-dialog class="xb-password-dialog">
  <div class="background-whitem">
    <div layout="row" layout-align="space-between center">
      <div class="md-headline">Change Your Password</div>
      <md-icon class="xb-login-dialog__close" md-font-set="material-icons" aria-label="Close dialog" ng-click="cancel()">close</md-icon>
    </div>
    <form name="changePasswordForm" ng-submit="changePassword()" novalidate clear-form-error>
      <md-input-container class="md-block">
        <input type="password" id="passwordInput" name="password" placeholder="Current Password"
               ng-model="data.password" ng-model-options="{ updateOn: 'blur' }" required>
        <div ng-messages="changePasswordForm.password.$error" ng-show="changePasswordForm.$submitted || changePasswordForm.password.$touched">
          <div ng-message="required">Please enter your current password.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block xb-login-dialog__reset-bottom">
        <input type="password" name="newPassword" placeholder="New Password" ng-model="data.newPassword"
               ng-model-options="{ updateOn: 'blur' }" required>
        <div ng-messages="changePasswordForm.newPassword.$error"  ng-show="changePasswordForm.$submitted || changePasswordForm.newPassword.$touched">
          <div ng-message="required">Please enter your password.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block xb-login-dialog__reset-bottom">
        <input type="password" name="newPasswordConfirm" placeholder="Confirm Password" ng-model="data.newPasswordConfirm"
               ng-model-options="{ updateOn: 'blur' }" required compare-to="data.newPassword">
        <div ng-messages="changePasswordForm.newPasswordConfirm.$error" ng-show="changePasswordForm.$submitted || changePasswordForm.newPasswordConfirm.$touched">
          <div ng-show="compareTo">The password you entered doesn't match.</div>
        </div>
      </md-input-container>
      <div class="error" ng-show="changePasswordForm.$submitted"
           ng-messages="changePasswordForm.serverError">
        <div>
          <div ng-message="password">The password you entered is incorrect.</div>
          <div ng-messages-include="views/text/form_error.html"></div>
        </div>
      </div>
      <div class="" layout="row" layout-align="end start">
        <md-button class="md-primary" type="submit">Save</md-button>
        <md-button ng-click="cancel()">Cancel</md-button>
      </div>
    </form>
  </div>
</md-dialog>
