<md-dialog class="xb-password-dialog">
  <div class="background-whitem">
    <div layout="row" layout-align="space-between center">
      <div class="md-headline">Deactivate Your Account</div>
      <md-icon class="xb-login-dialog__close" md-font-set="material-icons" aria-label="Close dialog" ng-click="cancel()">close</md-icon>
    </div>
    <div class="xb-password-dialog__content">Are you sure you want to deactivate your Xberts account?</div>
    <div layout="row" layout-align="end start">
      <md-button class="md-primary" ng-click="cancelAccount()">Deactivate</md-button>
      <md-button ng-click="cancel()">Cancel</md-button>
    </div>
  </div>
</md-dialog>
