<div class="xb-reviews-list__list-1" ng-repeat="review in reviews track by $index" flex-order="{{changeOrder($index)}}">
  <a class="xb-trials-list__img-bg" hide-xs ui-sref="application.report({reviewId:review.getReview().id,reportId:review.id})" target="_blank">
    <img ng-src="{{review.image }}"/>
  </a>
  <a class="xb-trials-list__img-bg" hide-gt-xs ui-sref="application.report({reviewId:review.getReview().id,reportId:review.id})">
    <img ng-src="{{review.image }}"/>
  </a>
  <div class="xb-reviews-list__bottom">
    <div class="xb-reviews-list__title" >
      <a class="md-subhead md-dark-primary" hide-xs ui-sref="application.report({reviewId:review.getReview().id,reportId:review.id})" target="_blank">
        {{ review.title }}
      </a>
      <a class="md-subhead md-dark-primary" hide-gt-xs ui-sref="application.report({reviewId:review.getReview().id,reportId:review.id})">
        {{ review.title }}
      </a>
    </div>
    <div class="xb-reviews-list__description md-dark-secondary" hide-xs>
      {{ review.description }}
    </div>
  </div>
  <div layout="row" class="xb-deals-list__head">
    <avatar-Img class="xb-pointer" flex="none" src="review.getReviewer().avatar" name="review.getReviewer().fullname"
                ui-sref="application.expert({ expertId:review.getReviewer().id })"></avatar-Img>
    <div layout="column" layout-align="space-between start">
      <div layout="row" layout-align="start center">
        <a class="md-dark-primary" ui-sref="application.expert({ expertId:review.getReviewer().id })">{{review.getReviewer().fullname}}</a>
        <credit-badge class="credit-badge" points="review.getReviewer().badge_point"></credit-badge>
      </div>
      <div class="md-dark-secondary"><span am-time-ago='review.approval_status_changed'></span></div>
    </div>
  </div>
</div>
<div class="xb-reviews-list__list-2" ng-repeat="review in reviewsFeatured track by $index"
     layout-gt-xs="row" layout-align="start stretch" flex-order="{{changeOrder1($index)}}">
  <div class="xb-reviews-list__img-bg" flex-gt-sm="50" flex-sm="35" flex-xs>
    <img ng-src="{{review.image }}"/>
  </div>
  <div layout-gt-xs="column" layout-align-gt-xs="space-between" flex-gt-sm="50" flex-sm="65">
    <div class="xb-reviews-list__top" flex-gt-xs>
      <div class="xb-reviews-list__title" >
        <a class="md-subhead md-dark-primary" hide-xs ui-sref="application.report({reviewId:review.getReview().id,reportId:review.id})" target="_blank">
          {{ review.title }}
        </a>
        <a class="md-subhead md-dark-primary" hide-gt-xs ui-sref="application.report({reviewId:review.getReview().id,reportId:review.id})">
          {{ review.title }}
        </a>
      </div>
      <div class="xb-reviews-list__description md-dark-secondary" hide-xs>
        {{ review.description }}
      </div>
    </div>
    <div layout="row" class="xb-deals-list__head">
      <avatar-Img class="xb-pointer" flex="none" src="review.getReviewer().avatar" name="review.getReviewer().fullname"
                  ui-sref="application.expert({ expertId:review.getReviewer().id })"></avatar-Img>
      <div layout="column" layout-align="space-between start" flex>
        <div layout="row" layout-align="start center">
          <a class="md-dark-primary" ui-sref="application.expert({ expertId:review.getReviewer().id })">{{review.getReviewer().fullname}}</a>
          <credit-badge class="credit-badge" points="review.getReviewer().badge_point"></credit-badge>
        </div>
        <div class="md-dark-secondary"><span am-time-ago='review.approval_status_changed'></span></div>
      </div>
      <md-button class="md-primary md-margin-clear" ng-disabled="review.disabled"
                 ng-if="!(user.isAuth() && user.getUserId() === review.getReviewer().id) && !review.getReviewer().userprofile.current_user.follow"
                 ng-click="onReviewsFollow({review:review});">Follow</md-button>
      <md-button class="md-warn md-margin-clear" ng-disabled="review.disabled"
                 ng-if="!(user.isAuth() && user.getUserId() === review.getReviewer().id) && review.getReviewer().userprofile.current_user.follow"
                 ng-click="onReviewsFollow({review:review});">Following</md-button>
    </div>
  </div>
</div>
