<div class="recommend-list__product-content">
  <div ng-if="product.getImageOriginal() == '' && product.getVideo() != null" class="product__video">
    <iframe flex="grow" frameborder="0" ng-src="{{product.getVideo()}}" ></iframe>
  </div>
  <div ng-if="product.getImageOriginal() != ''" class="recommend-list__image-content">
    <img ng-src="{{product.getImageOriginal()}}" ui-sref="application.shareProductDetail({reviewId:product.id})" class="md-card-image" alt="" />
    <md-icon class="recommend-list__image-button" ui-sref="application.shareProductDetail({reviewId:product.id})" >play_circle_filled</md-icon>
  </div>
  <div class="recommend-list__headline">
    <a class="md-body-1 md-dark-primary" ui-sref="application.shareProductDetail({reviewId:product.id})">{{product.title}}</a>
  </div>
  <div class="recommend-list__avatar" layout="row" flex='none' layout-align="start center">
    <div class="recommend-list__avatar-head">
      <avatar-Img src="product.getShareAvatar()" name="product.reporter.name"  class="md-user-avatar" ui-sref="application.expert({ expertId:product.getPostId() })"></avatar-Img>
    </div>
    <span class="md-subhead md-body-1 md-dark-secondary">{{product.getShareName()}}</span>
  </div>
</div>
