.xb-trials{
  .md-headline{
    margin-top: 32px;
    margin-bottom: 16px;
  }
  &__bottom{
    margin-bottom: 40px;
    display: block;
    overflow: hidden;
    @include xb-xs-screen{
      margin-bottom: 32px;
    }
  }
}
.xb-trials-list{
  $parent: &;
  >div{
    position: relative;
    border-radius: 2px;
    flex: 1 1 290px !important;
    -webkit-flex: 1 1 290px !important;
    margin-bottom: 16px;
    @media screen and (min-width: 960px){
      max-width: 24% !important;
    }
    @include xb-sm-screen{
      max-width: 48% !important;
    }
    @include xb-xs-screen{
      margin-bottom: 8px;
    }
    >a{
      padding: 6px 16px;
      display: block;
      line-height: 24px;
      height: 60px;
      @include ellipsisText();
      border-bottom: 1px solid rgba(0, 0, 0, .06);
    }

  }
  &__img-bg{
    width: 100%;
    padding-bottom: 66.66%;
    overflow: hidden;
    position: relative;
    >img{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      cursor: pointer;
    }
    &:hover{
      @include xb-gt-xs-screen{
        #{$parent}__mask{
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-flex: 1;
          -webkit-flex: 1;
          flex: 1;
          a{
            height: auto;
          }
        }
      }
    }
  }
  &__border{
    @include resetBorder();
  }
  &__header{
    padding: 8px 16px;
    height: 46px;
  }
  &__bottom{
    margin-bottom: 24px;
  }
  &__mask{
    @extend .xb-deals-list__mask;
    color: #fff;
    &:hover{
      color: #fff;
    }
  }
  avatar-img{
    margin-right: -4px;

    @include avatar-header(small);

    .c-user__name{
      border: 2px solid #F1F1F1;
    }
    &:last-child{
      margin-right: 8px;
    }
    img{
      margin-bottom: 0;
      border: 2px solid #F1F1F1;
    }
  }
  .md-subhead{
    @include regular();
  }
}
.xb-trial-detail{
  @include xb-xs-screen{
    border-bottom: 1px solid rgba(0, 0, 0, .12);
  }
  &__atlas{
    >img{
      width: 100%;
    }
  }
  .md-display-1{
    text-align: center;
    margin-top: 40px;
    @include xb-xs-screen{
      margin-top: 24px;
      text-align: left;
      font-size: 24px;
    }
  }
  &__subtitle{
    margin-top: 8px;
    margin-bottom: 40px;

    @extend .md-align-center;
    @include xb-xs-screen{
      margin-top: 12px;
      text-align: left;
      font-size: 14px;
      margin-bottom: 0;
    }
  }
  &__pop-bg{
    .md-raised{
      margin: 0;
      padding: 0 16px;
    }
  }
  &__pop{
    font-size: 12px;
    @include xb-gt-xs-screen{
      padding: 8px 16px;
      border-radius: 8px;
      background-color: #fff;
      @include resetBorder();
    }
    @include xb-xs-screen{
      border-top: 1px solid rgba(0, 0, 0, .12);
      padding: 8px 0;
    }
  }
  &__pop-1{
    margin-top: 24px;
    @include xb-xs-screen{
      margin-top: 12px;
    }
  }
  &__triangle{
    position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 8px solid #fff;
    margin-left: 40px;
    margin-bottom: 12px;
    &:before{
      content: '';
      position: absolute;
      left: -5px;
      top: -9px;
      height: 13px;
      width: 1px;
      background-color: rgba(0, 0, 0, 0.06);
      @include transform(rotate(-45deg));
    }
    &:after{
      content: '';
      position: absolute;
      left: 5px;
      top: -9px;
      height: 13px;
      width: 1px;
      background-color: rgba(0, 0, 0, 0.06);
      @include transform(rotate(45deg));
    }
  }
  &__avatar{
    margin: 16px 16px 16px 0;
    @include avatar-header(medium);
    >img{
      margin-bottom: 0;
    }
  }
  &__avatar-1{
    @include avatar-header(large);
    margin-right: 16px;
    >img{
      margin-bottom: 0;
    }
  }
  &__admin-button{
    margin-top: 16px;
    margin-bottom: 16px;
  }
  &__bottom{
    margin-bottom: 56px;
    @include xb-xs-screen{
      margin-bottom: 0;
    }
  }
  .xb-redeem-detail__content-line{
    width: 100%;
  }
  .xb-redeem-detail__content-bottom{
    .md-dark-secondary{
      margin-right: 16px;
      font-size: 12px;
      width: 102px;
    }
  }
  &__content{
    margin-left: 56px;
    @include xb-xs-screen{
      margin-left: 0;
    }
    md-fab-speed-dial{
      z-index: 1;
    }
  }
  &__fixed-bottom{
    @include xb-xs-screen{
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 56px;
      background-color: #fff;
      z-index: 20;
      @include resetBorder();
    }
  }
  &__fixed-bottom-1{
    padding: 4px 0 16px;
  }
  &__avatar-bg{
    .md-button{
      margin: 0;
      font-size: 24px;
      line-height: 24px;
      text-align: center;
    }
    md-fab-speed-dial{
      z-index: 0;
    }
  }
}
.xb-trial-tabs{
  width: 100%;
  height: 56px;
  z-index: 1;
  position: relative;
  &__inner-content{
    @include resetBorder();
    width: 100%;
    height: 56px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
  }
  &__left{
    >div{
      @include media();
      margin-right: 72px;
      height: 56px;
      &:last-child{
        margin-right: 0;
      }
      cursor: pointer;
    }
    span{
      margin-left: 8px;
      @extend .xb-color-striking;
    }
  }
  .active{
    border-bottom: 2px solid #3f51b5;
  }
  &__content{
    position: relative;
    .md-padding{
      padding: 0;
    }
    .md-headline{
      margin-top: 32px;
      margin-bottom: 16px;
      font-size: 16px;
    }
    margin-bottom: 24px;
  }
  &__description{
    img{
      max-width: 100%;
    }
    overflow-x: hidden;
    word-wrap: break-word;
    width: 100%;
    iframe{
      width: 100%;
    }
  }
}
.xb-detail-cards{
  margin-top: 16px;
  @include resetBorder();
  @include xb-xs-screen{
    margin-top: 0;
    @include box-shadow(none);
  }
  .md-subhead{
    @include xb-gt-xs-screen{
      background-color: #f9f9f9;
      padding: 0 16px;
      line-height: 56px;
      height: 56px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      >span{
        color: $strikingColor;
      }
    }
  }
  .md-body-1{
    margin-top: 8px;
    text-align: center;
  }
  &__padding-1{
    padding: 24px;
    @include xb-xs-screen{
      padding: 40px 0;
    }
    @include xb-sm-screen{
      padding: 24px 8px;
    }
  }
  &__padding-2{
    padding: 16px;
    @include xb-xs-screen{
      padding: 24px 0;
    }
  }
  &__padding-3{
    padding: 24px 8px;
  }
  &__circle{
    width: 36px;
    height: 36px;
    font-size: 16px;
    @include media();
    line-height: 28px;
    text-align: center;
    color: $whiteColor;
    border: 4px solid #DCDCDC;
    border-radius: 50%;
    background-color: $strikingColor;
  }
  &__circle-bg{
    padding: 0 4px;
    span{
      height: 1px;
      background-color: #DCDCDC;
    }
  }
  &__triangle{
    width: 0;
    height: 0;
    border-left: 4px solid #DCDCDC;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
  }
  .review-ul{
    li{
      margin-bottom: 16px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &__points{
    width: 3px;
    height: 3px;
    background-color: #000;
    border-radius: 50%;
  }
  &__points-large{
    width: 7px;
    height: 7px;
    background-color: #000;
    border-radius: 50%;
    @include xb-xs-screen{
      background-color: $strikingColor;
    }
  }
  &__time-axis{
    width: 7px;
    margin: 8px 12px;
    height: 160px;
    span{
      width: 1px;
      background-color: rgba(0, 0, 0, .12);
    }
    @include xb-xs-screen{
      margin: 8px 12px 8px 4px;
    }
  }
  &__align-right{
    @extend .md-align-right;
  }
  &__fixed-height{
    height: 24px;
  }
  &__website{
    margin-left: 80px;
  }
}
.xb-trial-reviewer{
  margin-bottom: 24px;
  &:last-child{
    margin-bottom: 0;
  }
  &__left-part{
    width: 160px;
    cursor: pointer;
    margin-right: 16px;
    @include xb-xs-screen{
      width: 60px;
    }
    img{
      width: 100%;
    }
  }
  .md-subhead{
    @include xb-xs-screen{
      font-size: 14px;
    }
    cursor: pointer;
  }
  &__star{
    @extend .xb-color-striking;
  }
  &__avatar{
    @include avatar-header(medium);
    margin-right: 16px;
    >img{
      margin-bottom: 0;
    }
  }
  &__name{
    cursor: pointer;
  }
  &__rating{
    span{
      margin-left: 5px;
    }
  }
}
.xb-selected-reviewer{
  >div{
    margin-bottom: 16px;
  }
  &__avatar{
    width: 40px;
    height: 40px;
    margin-right: 16px;
    display: block;
    >img{
      width: 40px;
      height: auto;
      margin-bottom: 0;
    }
    cursor: pointer;
  }
  &__name{
    font-size: 14px;
    margin-bottom: 4px;
    a{
      color: rgba(0,0,0,.87);
      text-decoration: none;
      &:hover{
        color: rgba(0,0,0,.87);
      }
    }
  }
}
.xb-trials-details-mobile{
  @include xb-xs-screen{
    background-color: #fff;
  }
}
.xb-credit-mobile.xb-trials-details-mobile{
  .xb-credit-mobile__nav{
    padding: 0 10px;
  }
  .container{
    border-bottom: 1px solid rgba(0,0,0,.12);
  }
}
.xb-trial-star{
  width: 110px;
  display: block;
  text-align: right;
  height: 24px;
  line-height: 24px;
  .material-icons{
    width: 16px;
    height: 16px;
    min-width: 0;
    min-height: 0;
    font-size: 16px;
    text-align: center;
    margin-right: 5px;
    &:last-child{
      margin-right: 0;
    }
  }
}
.xb-review-report{
  &__image{
    width: 64px;
    margin-bottom: 12px;
  }
}
