<div class="container" layout="column">
  <div class="align-center">
    <h2 class="md-headline">{{ apply.review.title }}</h2>
    <h3 class="md-subhead md-dark-secondary">Please answer the following questions to apply. All the information must be
      real and
      accurate.
      <br/>
      The more details you provide, the higher chance you can be selected.</h3>
  </div>
  <form name="applierForm" layout="column" ng-cloak>
    <div>
      <h3 class="md-headline">Personal Information</h3>
      <div>
        <div>
          <p>Gender: <span class="radioValue">{{apply.applier.gender|decode_: apply.genders}}</span></p>
          <md-radio-group ng-model="apply.applier.gender" name="gender" layout="column" layout-gt-sm="row">
            <md-radio-button ng-repeat="gender in apply.genders" ng-value="gender.code" aria-label="{{ gender.name }}">
              {{ gender.name }}
            </md-radio-button>
          </md-radio-group>
        </div>

        <div>
          <md-input-container class="md-block">
            <label>State</label>
            <md-select ng-model="apply.applier.country" name="country" required>
              <md-option ng-repeat="country in apply.countries" ng-value="country.code">
                {{country.name}}
              </md-option>
            </md-select>
            <div ng-messages="applierForm.country.$error">
              <div ng-message="required">This is required!</div>
            </div>
          </md-input-container>
        </div>

        <div layout="row">
          <md-input-container flex class="md-block">
            <label>Business Title</label>
            <input name="position" ng-model="apply.applier.position" required ng-maxlength="5"/>
            <div ng-messages="applierForm.position.$error">
              <div ng-message="required">This is required!</div>
              <div ng-message="maxlength">That's too long!</div>
            </div>
          </md-input-container>
          <md-input-container flex class="md-block">
            <label>Company Name</label>
            <input name="company" ng-model="apply.applier.company" required ng-maxlength="200"/>
            <div ng-messages="applierForm.company.$error">
              <div ng-message="required">This is required!</div>
              <div ng-message="maxlength">That's too long!</div>
            </div>
          </md-input-container>
        </div>
      </div>
    </div>


    <div>
      <h3>Questionnaire</h3>
    </div>
    <div></div>
  </form>
</div>
