<h2 class="md-display-1 md-margin-top-3 md-margin-bottom-3 md-align-center"> {{ confirm.review.title}}</h2>

<form class="form-horizontal" name="applierForm" novalidate>

  <md-input-container class="md-block">
    <label>Recipient Name:</label>
    <input type="text"
           name="recipient_name"
           ng-model="confirm.applier.recipient_name"
           ng-maxlength="100"
           required/>
    <div ng-messages="applierForm.recipient_name.$error">
      <div ng-message="required">This is required!</div>
      <div ng-message="maxlength">That's too long!</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block">
    <label>Address line 1:</label>
    <input type="text"
           name="address1"
           ng-model="confirm.applier.address_line1"
           ng-maxlength="200"
           required/>
    <div ng-messages="applierForm.address1.$error">
      <div ng-message="required">This is required!</div>
      <div ng-message="maxlength">That's too long!</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block">
    <label>Address line 2:</label>
    <input type="text"
           name="address2"
           ng-model="confirm.applier.address_line2"
           ng-maxlength="200"/>
    <div ng-messages="applierForm.address2.$error">
      <div ng-message="maxlength">That's too long!</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block">
    <label>City</label>
    <input type="text"
           name="city"
           ng-model="confirm.applier.city"
           ng-maxlength="200"
           required/>
    <div ng-messages="applierForm.city.$error">
      <div ng-message="required">This is required!</div>
      <div ng-message="maxlength">That's too long!</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block">
    <label>State/Province/Region: </label>
    <input type="text"
           name="state"
           ng-model="confirm.applier.state"
           ng-maxlength="50"
           required/>
    <div ng-messages="applierForm.state.$error">
      <div ng-message="required">This is required!</div>
      <div ng-message="maxlength">That's too long!</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block">
    <label>ZIP/Postal code: </label>
    <input type="text"
           name="zip"
           ng-model="confirm.applier.zip"
           ng-maxlength="20"
           required/>
    <div ng-messages="applierForm.zip.$error">
      <div ng-message="required">This is required!</div>
      <div ng-message="maxlength">That's too long!</div>
    </div>
  </md-input-container>


  <md-input-container class="md-block">
    <label>State</label>
    <md-select ng-model="confirm.applier.mail_country" name="mail_country" required>
      <md-option ng-repeat="country in confirm.countries" ng-value="country.code">
        {{country.name}}
      </md-option>
    </md-select>
    <div ng-messages="applierForm.country.$error">
      <div ng-message="required">This is required!</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block">
    <label>Phone Number: </label>
    <input type="text"
           name="phone_number"
           ng-model="confirm.applier.phone_number"
           ng-maxlength="50"
           required/>
    <div ng-messages="applierForm.phone_number.$error">
      <div ng-message="required">This is required!</div>
      <div ng-message="maxlength">That's too long!</div>
    </div>
  </md-input-container>
  <div class="md-align-center">
    <md-button type="submit" class="md-primary md-raised" ng-click="confirm.applierFormSubmit(applierForm)">confirm shipping address</md-button>
  </div>
</form>

