<div class="xb-my-biography">
  <div class="md-subhead">Crowdtesting</div>
  <div class="xb-my-profile__empty" layout="row" layout-align="center center"
       ng-if="reviewApplicantPaginator.items.length <= 0 && !reviewApplicantPaginator.loading">
    <i class="iconfontXberts icon-ic-empty"></i>
  </div>
  <div infinite-scroll="reviewApplicantPaginator.loadNext()"
       infinite-scroll-distance='0' infinite-scroll-container='".xb-body-view "'
       infinite-scroll-disabled="reviewApplicantPaginator.loading || !reviewApplicantPaginator.next">
    <my-trials trials="reviewApplicantPaginator.items" current-user="isCurrentUser"></my-trials>
    <load-more layout="row" layout-align="center center" ng-if="reviewApplicantPaginator.loading"></load-more>
  </div>
</div>
