<div class="xb-trial-detail__content">
  <div layout="row" layout-align="start center" class="xb-trial-detail__avatar-bg">
    <avatar-img ng-click="trial.review.website();" class="xb-trial-detail__avatar" src="trial.review.project.account.avatar"
                name="trial.review.project.account.fullname" ng-href="trial.review.project.officialUrl" target="_blank"></avatar-img>
    <div flex ng-click="trial.review.website();">{{ trial.review.project.account.fullname }}</div>
    <md-fab-speed-dial ng-hide="hidden" md-direction="left" md-open="isOpen" class="md-scale" ng-class="{ 'md-hover-full': hover }"
                       ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false">
      <md-fab-trigger>
        <md-button class="md-icon-button">
          <md-icon md-font-set="material-icons md-dark-secondary"> share </md-icon>
        </md-button>
      </md-fab-trigger>
      <md-fab-actions>
        <md-button aria-label="{{item.name}}" class="md-icon-button" ng-repeat="item in shareList" socialshare
                   socialshare-provider="{{item.name}}" socialshare-description="{{pageSettings._description}}" socialshare-text="{{pageSettings._title}}"
                   socialshare-media="{{pageSettings._shareImage}}" socialshare-source="{{pageSettings._shareImage}}"
                   socialshare-url="{{inviteObj.shareUrl(pageSettings.getUrl(), item.name)}}" >
          <i class="fa fa-{{item.name}} md-dark-secondary" aria-hidden="true"></i>
        </md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div>
  <div class="xb-redeem-detail__content-line"></div>
  <div class="xb-redeem-detail__content-bottom" layout="row" layout-align="start center">
    <div class="md-dark-secondary" flex="none">Price</div>
    <div>
      <span ng-if="!trial.review.isFlashsale()">Free</span>
      <span ng-if="trial.review.isFlashsale()">{{ trial.review.getFlashSale() | currency }}</span>
    </div>
    &nbsp;&nbsp;&nbsp;<span class="line-through md-dark-secondary">{{ trial.review.getRetailPrice() | currency}}</span>
  </div>
  <div ng-if="trial.review.status == 'APPLICATION'" class="xb-redeem-detail__content-bottom" layout="row" layout-align="start center">
    <div class="md-dark-secondary" flex="none">Shipping Charge</div>
    <div>
      Free
    </div>
  </div>
  <div ng-if="trial.review.status == 'APPLICATION'" class="xb-redeem-detail__content-bottom" layout="row" layout-align="start center">
    <div class="md-dark-secondary" flex="none">Time Left</div>
    <div>
      <timer end-time="trial.review.applicationEndDate">
        {{days|doubleDigit}} day{{daysS}},
        {{hours|doubleDigit}}:{{minutes|doubleDigit}}:{{seconds|doubleDigit}}
      </timer>
    </div>
  </div>
  <div ng-if="trial.review.status == 'APPLICATION'" class="xb-redeem-detail__content-bottom" layout="row" layout-align="start center">
    <div class="md-dark-secondary" flex="none">Available Units</div>
    <div>
      <ng-pluralize count="trial.review.sampleNum"
                    when="{'0': '0 sample', '1': '1 sample', 'other': '{{trial.review.sampleNum}} samples'}"></ng-pluralize>
    </div>
  </div>
  <div ng-if="trial.review.status == 'ENDED'" class="xb-redeem-detail__content-bottom" layout="row" layout-align="start center">
    <div class="md-dark-secondary" flex="none"># of Applicants</div>
    <div>
      {{trial.review.applicantAmount}}
    </div>
  </div>
  <div ng-if="trial.review.status == 'ENDED'" class="xb-redeem-detail__content-bottom" layout="row" layout-align="start center">
    <div class="md-dark-secondary" flex="none">Reviews Submitted</div>
    <div>
      {{trial.review.reportAmount}}
    </div>
  </div>

  <div class="xb-trial-detail__pop-bg" ng-switch="trial.review.status">
    <div ng-switch-when="APPLICATION">
      <div class="xb-trial-detail__pop">
        Our sponsor will offer {{!trial.review.isFlashsale()? 'free' : 'discounted'}} samples to
        {{trial.review.sampleNum > 1? trial.review.sampleNum + ' applicants': trial.review.sampleNum + ' applicant'}}  in exchange for UNBIASED reviews. Apply now for a chance to TRY & KEEP this product!
      </div>
      <div class="xb-trial-detail__triangle" hide-xs></div>
      <div class="xb-trial-detail__fixed-bottom" layout-xs="row" layout-align-xs="center center" ng-if="!isFacebookApp">
        <md-button tabs-fixed-item class="md-primary md-raised" ng-click="applyNow(trial.review.id)">Apply Now</md-button>
        <md-button class="md-accent md-margin-clear" hide-gt-xs ng-click="trial.review.buyNow('trials-detail');">Buy Now</md-button>
      </div>
      <div class="xb-trial-detail__fixed-bottom-1" layout-xs="row" layout-align-xs="start center" ng-if="isFacebookApp">
        <md-button tabs-fixed-item class="md-primary md-raised" ng-click="applyNow(trial.review.id)">Apply Now</md-button>
        <md-button class="md-accent md-margin-clear" hide-gt-xs ng-click="trial.review.buyNow('trials-detail');">Buy Now</md-button>
      </div>

      <div class="xb-trial-detail__pop-1">Since our sponsor only provides a limited number of free samples, you can also purchase this product immediately
        by clicking <span class="text-underline xb-color-striking" ng-click="trial.review.buyNow('trials-detail');">HERE</span>.</div>
    </div>
    <div ng-switch-when="SELECTION">
      <div class="xb-trial-detail__pop">
        Selection results for all applicants will be announced before
        {{ trial.review.applicationEndDate | amAdd : '7' : 'days' | amDateFormat:'MMM DD, YYYY' }}，please stay tuned!
      </div>
      <div class="xb-trial-detail__triangle" hide-xs></div>
      <div class="xb-trial-detail__fixed-bottom" layout-xs="row" layout-align-xs="center center" ng-if="!isFacebookApp">
        <md-button tabs-fixed-item class="md-primary md-raised" ng-disabled="true">APPLICANT SCREENING</md-button>
        <md-button class="md-accent md-margin-clear" hide-gt-xs ng-click="trial.review.buyNow('trials-detail');">Buy Now</md-button>
      </div>
      <div class="xb-trial-detail__fixed-bottom-1" layout-xs="row" layout-align-xs="center center" ng-if="isFacebookApp">
        <md-button tabs-fixed-item class="md-primary md-raised" ng-disabled="true">APPLICANT SCREENING</md-button>
        <md-button class="md-accent md-margin-clear" hide-gt-xs ng-click="trial.review.buyNow('trials-detail');">Buy Now</md-button>
      </div>

      <div class="xb-trial-detail__pop-1">Since our sponsor only provides a limited number of free samples, you can also purchase this product immediately
        by clicking <span class="text-underline xb-color-striking" ng-click="trial.review.buyNow('trials-detail');">HERE</span>.</div>
    </div>
    <div ng-switch-when="CONFIRMATION">
      <div class="xb-trial-detail__pop">
        Selection results for all applicants will be announced before
        {{ trial.review.applicationEndDate | amAdd : '7' : 'days' | amDateFormat:'MMM DD, YYYY' }}，please stay tuned!
      </div>
      <div class="xb-trial-detail__triangle" hide-xs></div>
      <div class="xb-trial-detail__fixed-bottom" layout-xs="row" layout-align-xs="center center" ng-if="!isFacebookApp">
        <md-button tabs-fixed-item class="md-primary md-raised" ng-disabled="true">APPLICANT SCREENING</md-button>
        <md-button class="md-accent md-margin-clear" hide-gt-xs ng-click="trial.review.buyNow('trials-detail');">Buy Now</md-button>
      </div>
      <div class="xb-trial-detail__fixed-bottom-1" layout-xs="row" layout-align-xs="center center" ng-if="isFacebookApp">
        <md-button tabs-fixed-item class="md-primary md-raised" ng-disabled="true">APPLICANT SCREENING</md-button>
        <md-button class="md-accent md-margin-clear" hide-gt-xs ng-click="trial.review.buyNow('trials-detail');">Buy Now</md-button>
      </div>

      <div class="xb-trial-detail__pop-1">Since our sponsor only provides a limited number of free samples, you can also purchase this product immediately
        by clicking <span class="text-underline xb-color-striking" ng-click="trial.review.buyNow('trials-detail');">HERE</span>.</div>
    </div>
    <div ng-switch-when="REVIEW">
      <div class="xb-trial-detail__fixed-bottom" layout-xs="row" layout-align-xs="center center" ng-if="!isFacebookApp">
        <md-button tabs-fixed-item class="md-primary md-raised"
           ui-sref="application.protected.crowdtestingReport({reviewId:trial.review.id})">SUBMIT REVIEW</md-button>
        <md-button class="md-accent md-margin-clear" hide-gt-xs ng-click="trial.review.buyNow('trials-detail');">Buy Now</md-button>
      </div>
      <div class="xb-trial-detail__fixed-bottom-1" layout-xs="row" layout-align-xs="center center" ng-if="isFacebookApp">
        <md-button tabs-fixed-item class="md-primary md-raised"
                   ui-sref="application.protected.crowdtestingReport({reviewId:trial.review.id})">SUBMIT REVIEW</md-button>
        <md-button class="md-accent md-margin-clear" hide-gt-xs ng-click="trial.review.buyNow('trials-detail');">Buy Now</md-button>
      </div>

      <div class="xb-trial-detail__pop-1">Since our sponsor only provides a limited number of free samples, you can also purchase this product immediately
        by clicking <span class="text-underline xb-color-striking" ng-click="trial.review.buyNow('trials-detail');">HERE</span>.</div>
    </div>
    <div ng-switch-when="ENDED">
      <div class="xb-trial-detail__pop">
        This campaign has ended. If you're interested in this product, you can click the "BUY NOW" button to make a purchase!
      </div>
      <div class="xb-trial-detail__triangle" hide-xs></div>
      <div class="xb-trial-detail__fixed-bottom" layout-xs="row" layout-align-xs="center center" ng-if="!isFacebookApp">
        <md-button tabs-fixed-item class="md-accent md-raised" ng-click="trial.review.buyNow('trials-detail');" >Buy Now</md-button>
      </div>
      <div class="xb-trial-detail__fixed-bottom-1" layout-xs="row" layout-align-xs="center center" ng-if="isFacebookApp">
        <md-button tabs-fixed-item class="md-accent md-raised" ng-click="trial.review.buyNow('trials-detail');" >Buy Now</md-button>
      </div>
    </div>
    <div class="xb-trial-detail__admin-button" ng-if="user.getUserId() == trial.review.project.account.id || user.isStaff()">
      <div ng-show="trial.review.status === 'SELECTION'">
        <md-button tabs-fixed-item class="md-primary md-raised"
                   ui-sref="application.selectApplicants({reviewId:trial.review.id})">Select Applicants</md-button>
      </div>
      <div ng-show="trial.review.status === 'CONFIRMATION'">
        <div class="margin-top">
          <md-button tabs-fixed-item class="md-primary md-raised"
                     ui-sref="application.selectApplicants({reviewId:trial.review.id})">View Applicants</md-button>
        </div>
      </div>
    </div>
  </div>
</div>
