<div class="background-whitem">
  <div class="xb-deals-detail__atlas" hide-gt-xs>
    <div layout="column" layout-align="center center">
      <img ng-src="{{report.cover}}">
    </div>
  </div>
  <div class="xb-reviews-detail__container">
    <div class="xb-reviews-detail__title">{{ report.title }}</div>
    <div class="xb-reviews-detail__head-bg" layout="row" layout-align="start center">
      <avatar-img src="report.owner.userprofile.avatar" name="report.owner.first_name"
        ui-sref="application.expert({ expertId:report.owner.id })"></avatar-img>
      <div layout="column" layout-align="start" flex>
        <div layout="row" layout-align="start center">
          <a class="md-dark-primary xb-bold" ui-sref="application.expert({ expertId:report.owner.id })">
            {{report.owner.first_name}}</a>
          <credit-badge class="credit-badge" points="report.owner.badge_point"></credit-badge>
          <xb-follow class="xb-reviews-detail__margin-left" follow="report.owner.current_user.follow"
                     user-id="report.owner.id"
                     expert="expert" achievement="achievement"></xb-follow>
        </div>
        <md-truncate class="md-dark-secondary" hide-xs>{{report.getPosition()}}</md-truncate>
        <div class="md-dark-secondary">{{report.created | amDateFormat:'MMMM Do,YYYY'}}</span></div>
      </div>
      <div class="xb-deals-detail__head-bottom" layout="row" layout-align="start center" hide-xs>
        <div layout="column" layout-align="center center">
          <div class="xb-bold">{{achievement.followersAmount}}</div>
          <div>{{achievement.followersAmount > 1? 'Followers':'Follower'}}</div>
        </div>
      </div>
    </div>
    <div class="xb-deals-detail__atlas md-margin-bottom-3" hide-xs>
      <div layout="column" layout-align="center center">
        <img ng-src="{{report.cover}}">
      </div>
    </div>
    <div class="xb-reviews-detail__content" ng-bind-html="report.details | trust"></div>
    <div class="product__tags" layout="row" layout-align="start center">
      <span ng-repeat="value in report.tags">{{value}}</span>
    </div>
    <interact interact="report.interact" hide-xs>
      <div class="xb-reviews-detail__zan" layout="column" layout-align="center center">
        <vote class="xb-reviews-detail__zan-inner" layout="row" layout-align="center center"></vote>
        <div class="md-margin-top-1">{{report.interact.vote_amount}} Helpful!</div>
      </div>
      <div class="md-headline" id="Comments">Comments</div>
      <feedback-list interact-id="{{report.interact.id}}" hide-state="!commentToggle"></feedback-list>
      <div class="xb-reviews-detail__share-bg" share-fixed-button
           item="'xb-reviews-detail__container'"
           content="'xb-deals-detail__atlas'"
           content1="'product__tags'" delta="56">
        <div aria-label="{{item.name}}" ng-repeat="item in shareList" socialshare
             socialshare-provider="{{item.name}}" socialshare-description="{{pageSettings._description}}" socialshare-text="{{pageSettings._title}}"
             socialshare-media="{{pageSettings._shareImage}}" socialshare-source="{{pageSettings._shareImage}}"
             socialshare-url="{{inviteObj.shareUrl(pageSettings.getUrl(), item.name)}}"
             layout="row" layout-align="center center">
          <i class="fa fa-{{item.name}}" aria-hidden="true"></i>
        </div>
      </div>
    </interact>

  </div>
  <interact interact="report.interact" hide-gt-xs>
    <div layout="row" layout-align="start center" class="xb-reviews-detail__action-buttons">
      <vote layout="row" layout-align="start center" flex="none"></vote>
      <div layout="row" layout-align="start center" ng-click="onToggleDown();" flex="none">
        <md-icon class="md-dark-third" flex="none">sms</md-icon>
      </div>
      <comment-amounts layout="row" layout-align="start center" flex="none"></comment-amounts>
      <md-fab-speed-dial hide-gt-xs flex layout="row" layout-align="end center" ng-hide="hidden" md-direction="left" md-open="isOpen" class="md-scale" ng-class="{ 'md-hover-full': hover }" ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false">
        <md-fab-trigger>
          <md-button class="md-icon-button">
            <md-icon class="md-dark-third" md-font-set="material-icons"> share </md-icon>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
          <md-button aria-label="{{item.name}}" class="md-icon-button" ng-repeat="item in shareList" socialshare
                     socialshare-provider="{{item.name}}" socialshare-description="{{report.description}}" socialshare-text="{{report.title}}"
                     socialshare-media="{{report.cover}}"  socialshare-source="{{report.cover}}"
                     socialshare-url="{{inviteObj.shareUrl(report.getShareUrl(report.id), item.name)}}">
            <i class="fa fa-{{item.name}} md-dark-third" aria-hidden="true"></i>
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
      <div layout="row" layout-align="end center" hide-xs flex>
        <md-button aria-label="{{item.name}}" class="md-icon-button" ng-repeat="item in shareList" socialshare
                   socialshare-provider="{{item.name}}" socialshare-description="{{report.description}}" socialshare-text="{{report.title}}"
                   socialshare-media="{{report.cover}}"  socialshare-source="{{report.cover}}"
                   socialshare-url="{{inviteObj.shareUrl(report.getShareUrl(report.id), item.name)}}">
          <i class="fa fa-{{item.name}} md-dark-third" aria-hidden="true"></i>
        </md-button>
      </div>
    </div>
    <div layout class="product__interact" ng-show="commentToggle" >
      <div flex>
        <feedback-list interact-id="{{report.interact.id}}" hide-state="!commentToggle"></feedback-list>
      </div>
    </div>
  </interact>
</div>
<div class="container">
  <div class="xb-deals-detail__title md-subhead" ng-if="blogPaginator!=null && blogPaginator.length>0">YOU MAY ALSO LIKE</div>
  <deals-list deals="blogPaginator"></deals-list>
</div>


