<p ng-switch="category">
  <span ng-switch-when="PRODUCT_INQUIRY" class="label label-default" >Product Inquiry</span>
  <span ng-switch-when="REVIEW_QUESTION" class="label label-default" >Crowdtesting Question</span>
  <span ng-switch-when="FEEDBACK" class="label label-default" >Comment</span>
  <span ng-switch-when="COMMENT" class="label label-default" >Comment</span>
  <span ng-switch-when="LIKE" class="label label-default" >Like</span>
  <span ng-switch-when="CONFIRM_ADDRESS" class="label label-default" >Review</span>
  <span ng-switch-when="CONFIRM_ADDRESS_REMINDER" class="label label-default" >Review</span>
  <span ng-switch-when="REVIEW_APPLICATION" class="label label-default" >Review</span>
  <span ng-switch-when="REVIEW_SELECTION_ANNOUNCEMENT" class="label label-default" >Review</span>
  <span ng-switch-when="REVIEW_SELECTION_REVOKE" class="label label-default" >Review</span>
  <span ng-switch-when="REPORT_CHECK_IN" class="label label-default" >Review</span>
  <span ng-switch-when="REPORT_REMINDER" class="label label-default" >Review</span>
  <span ng-switch-when="REPORT_PAST_DUE" class="label label-default" >Review</span>
  <span ng-switch-when="SHIPPING_NOTIFICATION" class="label label-default" >Review</span>
  <span ng-switch-when="ANSWER" class="label label-default" >Question</span>
  <span ng-switch-default class="label label-default" >Direct Message</span>
</p>
