<div class="c-share">
  <button class="c-btn c-btn--facebook c-btn--circle" socialshare
          socialshare-provider="linkedin"
          socialshare-description="{{ description }}"
          socialshare-text="{{ title }}"
          socialshare-source="{{ image }}"
          socialshare-url="{{ url }}">
    <i class="fa fa-linkedin"></i>
  </button>
  <button class="c-btn c-btn--linkedin c-btn--circle" socialshare
          socialshare-provider="facebook"
          socialshare-media="{{ image }}"
          socialshare-description="{{ description }}"
          socialshare-text="{{ title }}"
          socialshare-url="{{ url }}">
    <i class="fa fa-facebook"></i>
  </button>

  <button class="c-btn c-btn--twitter c-btn--circle" socialshare
          socialshare-provider="twitter"
          socialshare-media="{{ image }}"
          socialshare-description="{{ description }}"
          socialshare-text="{{ title }}"
          socialshare-source="{{ image }}"
          socialshare-url="{{ url }}">
    <i class="fa fa-twitter"></i>
  </button>
</div>

