<button class="button button-primary button-circle button-small" socialshare
        socialshare-provider="linkedin"
        socialshare-description="{{ description }}"
        socialshare-text="{{ title }}"
        socialshare-source="{{ image }}"
        socialshare-url="{{ url }}">
  <i class="fa fa-linkedin"></i>
</button>
<button class="button button-royal button-circle button-small" socialshare
        socialshare-provider="facebook"
        socialshare-media="{{ image }}"
        socialshare-description="{{ description }}"
        socialshare-text="{{ title }}"
        socialshare-url="{{ url }}">
  <i class="fa fa-facebook"></i>
</button>

<button class="button button-action button-circle button-small" socialshare
        socialshare-provider="twitter"
        socialshare-media="{{ image }}"
        socialshare-description="{{ description }}"
        socialshare-text="{{ title }}"
        socialshare-source="{{ image }}"
        socialshare-url="{{ url }}">
  <i class="fa fa-twitter"></i>
</button>
