$PrimaryINDIGO: #3f51b5;


@mixin triangleBottom($px1:10px,$px2:10px,$color:#FFF){
  width: 0;
  height: 0;
  border-left: $px1 solid transparent;
  border-right: $px1 solid transparent;
  border-bottom: $px2 solid $color;
}
@mixin transform($arguments...) {
  -webkit-transform: $arguments;
  -moz-transform: $arguments;
  -o-transform: $arguments;
  -ms-transform: $arguments;
  transform: $arguments;
}
.xb-section{
  &__title {
    text-align: center;
    margin-bottom: 32px;
    @include xb-xs-screen{
      >h2{
        font-size: 24px;
      }
      margin-bottom: 16px;
      .md-display-1{
        font-size: 24px;
        line-height: 32px;
      }
    }
    > h2{
      margin: 0;
    }
    > h3{
      margin-top: 8px;
      margin-bottom: 0;
      @include xb-xs-screen{
        margin-top: 0;
        font-size: 14px;
        .md-display-1{
          font-size: 14px;
          line-height: 14px;
        }
      }
    }
  }
}
.xb-mobile-row{
  @include xs-screen{
    margin-left: -10px;
    margin-right: -10px;
  }
}
.category{
  margin-top: 8px;
  margin-right: 16px;
  width: 190px;
  .category-button{
    @include regular();
    text-transform: capitalize;
    font-size: 14px;
    line-height: 32px;
    margin: 0;
    padding: 0 4px;
    text-align: left;
    width: 190px;
    outline: none;
    &.active,&:hover{
      @include media();
      color: $PrimaryINDIGO;
    }
    &:hover{
      background-color: rgba(158,158,158,.2);
    }
  }
  .md-button.md-primary{
    @include media();
  }
  &__fixed{
    position: fixed;
    top: 90px;
    width: 190px
  }
}
.product-order{
  @include resetBorder();
  margin: 0 0 16px 0;
  background-color: $whiteBackground;
  height: 40px;
  overflow: hidden;
  >.md-button{
    color: $PrimaryINDIGO;
    height: 40px;
    >.tab-triangle{
      position: absolute;
      left: 50%;
      bottom: 0;
      @include triangleBottom(10px, 10px, #F1F1F1);
      @include transform(translateX(-50%));
    }
  }
}
.product{
  @include resetBorder();
  margin-bottom: 16px;
  &__headline{
    padding: 24px 16px;
    >a{
      @include media();
      color: rgba(0, 0, 0, .87);
      >:hover{
        color: rgba(0, 0, 0, .87);
      }
    }
  }
  &__avatar-title{
    margin-left: 16px;
  }
  &__avatar{
    padding: 0 16px;
    .md-user-avatar{
      img{
        width: 40px;
        height: 40px;
        margin-bottom: 0;
        cursor: pointer;
      }
    }
    a{
      color: rgba(0,0,0,.87);
      line-height: 14px;
      text-decoration: none;
      &:hover{
        color: rgba(0,0,0,.87);
      }
    }
  }
  &__card{
    padding: 24px 16px 16px;
    cursor: pointer;
    @include xs-screen{
      padding: 16px 0 8px;
    }
  }
  &__video{
    background-color: rgba(0,0,0,.7);
    margin: 24px 16px 16px;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 24px;
    height: 0;
    overflow: hidden;
    iframe{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    >div{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      md-progress-circular{
        path{
          stroke:#fff;
        }
      }
    }
  }
  &__content{
    padding: 0 16px 8px;
    @include xb-xs-screen{
      padding: 0 8px 8px;
    }
    > p{
      margin: -8px 0;
    }
    > pre{
      margin: -8px 0 0;
      padding: 0;
      color: rgba(0,0,0,.87);
      border: none;
      background-color: transparent;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      white-space: normal;
      word-break: normal;
    }
  }
  &__action{
    margin: 0;
    padding: 8px 16px 16px;
    @include xb-xs-screen{
      padding: 0;
    }
    .md-subhead{
      color: $PrimaryINDIGO;
      @include media();
    }
    .md-raised{
      padding: 0 16px;
    }
  }
  &__action-1{
    margin: 0;
    padding: 0 16px 16px;
    .md-button{
      margin: 0;
    }
  }
  &__action-buttons{
    margin: 0 16px;
    padding: 8px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    @include xb-xs-screen{
      margin: 0 8px;
    }
    .md-icon-button{
      padding: 0 !important;
      margin: 0 !important;
      > .fa{
        @include font-h2();
      }
    }
    > p{
      margin-top: 8px;
      margin-left: 6px;
      margin-right: 26px;
    }
    span{
      margin-left: 6px;
      margin-right: 26px;
      color: rgba(0, 0, 0, .38);;
    }
  }
  &__interact{
    background-color: #f9f9f9;
    .md-padding{
      padding: 0 16px;
    }
  }
  &__tags{
    padding: 0 16px 16px;
    @include xb-xs-screen{
      padding: 0 8px 16px;
    }
    span{
      padding: 0 12px;
      background-color: rgba(0,0,0,.12);
      border-radius: 2px;
      margin-right: 12px;
      line-height: 24px;
      display: block;
    }
  }
}
.post-form{
  width: 366px;
  margin-left: 16px;
  &__card{
    @include resetBorder();
    width: 350px;
    margin: 0;
    background-color: #f9f9f9;
  }
  &__title{
    margin: 0;
    height: 56px;
    padding: 0 16px;
    line-height: 56px;
  }
  &__input-container{
    background-color: $whiteColor;
    padding: 8px 16px 0;
    >md-input-container{
      margin: 16px 0;
      >label{
        @include regular();
      }
      .md-char-counter{
        color: rgba(0, 0, 0, .54);
      }
    }
  }
  &__footer{
    margin: 0;
    padding: 16px 0;
    >.xb-align-right{
      margin-right: 16px;
    }
  }
  &__footer-left{
    margin-left: 16px;
    .md-button{
      padding: 0;
      span{
        color: $PrimaryINDIGO;
        margin-left: 8px;
        margin-right: 16px;
      }

    }
  }
  &__menu{
    position: relative;
  }
  &__menu-tri{
    @include triangleBottom();
    margin-left: 86px;
    margin-right: 86px;
  }
  &__menu-popup{
    position: absolute;
    left: -40px;
    top: 29px;
    width: 192px;
    height: 148px;
    md-card{
      position: relative;
      margin: 0;
      width: 192px;
      height: 138px;
      padding: 32px 16px 16px 16px;
      >:first-child{
        position: absolute;
        right: 8px;
        top: 8px;
        @include changeMdIcon(16px);
      }
      .img-responsive{
        width: 160px;
        height: 90px;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
        >img{
          max-height: 100%;
          max-width: 100%;
        }
      }
      >.popup-mask{
        background-color: rgba(0, 0, 0, .38);
        position: absolute;
        width: 160px;
        left: 16px;
        top: 32px;
        height: 90px;
        overflow: hidden;
        md-icon{
          position: absolute;
          right: 8px;
          top: 8px;
          @include changeMdIcon(16px);
          color: #FFF;
        }
      }
    }
  }
  &__menu-popup-uploads{
    width: 160px;
    height: 90px;
    md-icon{
      width: 32px;
      height: 32px;
      font-size: 32px;
      margin-top: 16px;
      margin-bottom: 8px;
    }
  }
  &__menu-popup-larger{
    left: -100px;
    width: 300px;
    height: auto;
    md-card{
      width: 300px;
      height: 170px;
      md-input-container{
        margin-top: 24px;
        margin-bottom: 16px;
        label{
          @include regular();
        }
      }
    }
  }
  &__menu-popup-larger>&__menu-tri{
    margin-left: 135px;
  }
  &__words{
    width: 350px;
    margin-top: 16px;
    padding: 0 16px;
    @include font-p();
  }
}
.product-detail{
  @include resetBorder();
  margin-top: 36px;
  @include xb-xs-screen{
    margin-top: 0;
  }
  $product: product;
  .#{$product}__video{
    margin: 0;
  }
  .#{$product}__card{
    padding: 0;
  }
  .#{$product}__headline{
    padding: 24px 16px 4px;
    @include xb-xs-screen{
      padding: 16px 8px 4px;
    }
  }
  .#{$product}__subtitle{
    padding: 0 16px 12px;
    @include xb-xs-screen{
      padding: 0 8px 8px;
    }
  }
  .#{$product}__avatar{
    padding: 0;
    .md-subhead{
      color: rgba(0,0,0,0.54);
      @include regular();
    }
  }
  .#{$product}__action .md-subhead{
    margin-right: 16px;
  }
}


