<section class="section-fixed" style="background-image: url({{ event.banner }})">
  <div class="mask" ngf-background="eventTemp.banner"></div>
  <div class="cover-layer">
    <div class="section-title " style="margin-top:90px">
      <h3>Sunday, October 25</h3>

      <h1>Launch your Project</h1>

      <h3>Skylight Studios, Los Angeles, CA</h3>
    </div>
  </div>
</section>
<section class="container">
  <form name="eventForm" ng-submit="eventFormSubmit()">
    <section class="border-bottom-light padding-top-clear panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" class="panel-title">Event Info</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-9">
            <!--<div class="panel-body">-->
            <div class="form-group">
              <label>Topic:</label>
              <input type="text" class="form-control" name='title' ng-model="event.title" placeholder="event topic"
                     required
                     ng-required="true" ng-maxlength="200">

              <p class="message-error" ng-show="eventForm.submitted && eventForm.title.$error.required">*required</p>
              <p class="message-error" ng-show="eventForm.submitted && eventForm.title.$error.maxlength">* no more than 200 chars.</p>
            </div>

            <div class="row">
              <div class="form-group col-md-6">
                <label>When: </label>
                <input type="text" class="form-control" name="when" placeholder="event time" uib-datepicker-popup
                       ng-model="event.when" is-open="datePickerStatus"
                       min-date="minDate" show-button-bar="false" ng-click="open()" ng-required="true"/>

                <p class="message-error" ng-show="eventForm.submitted && eventForm.when.$error.required">*required</p>
              </div>
              <div class="form-group col-md-6">
                <label>Where: </label>
                <input type="text" class="form-control" name='where' placeholder="event location"
                       ng-model="event.where"
                       required ng-required="true">

                <p class="message-error" ng-show="eventForm.submitted && eventForm.where.$error.required">
                  *required</p>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label>Fee: </label>
                <input type="number" class="form-control" name="fee" placeholder="event ticket price:$"
                       ng-model="event.fee">

                <p class="message-error" ng-show="eventForm.fee.$error.required">*required</p>
              </div>
              <div class="form-group col-md-6">
                <label>Register Link:</label>
                <input type="text" class="form-control" name="web" placeholder="event official web"
                       ng-model="event.web">

                <p class="message-error" ng-show="eventForm.web.$error.required">*required</p>
              </div>
            </div>
            <div class="form-group">
              <label>Brief: </label>
              <textarea class="form-control" name="brief" placeholder="Brief, no more than 300 words"
                        ng-model="event.brief" rows="3" ng-maxlength="300">
                </textarea>

              <p class="message-error" ng-show="eventForm.submitted && eventForm.brief.$error.maxlength">* no more than
                300 chars</p>
            </div>
            <div class="form-group">
              <label>Details:</label>
              <summernote config="summerNoteFull" ng-model="event.details"
                          on-image-upload="imageUpload(files)" editable="editable" editor="editor"
                          on-paste="paste(evt)"
                          on-keyup="setPreviousRange(evt)"
                          on-focus="onFocus(evt)"></summernote>


            </div>

            <div class="form-group">
              <label>Tags:</label>
              <tags-input ng-model="eventTemp.tags"></tags-input>
            </div>
            <!--</div>-->
          </div>
          <div class="col-md-3">
            <h3 class="margin-top-clear">
              <button class="btn btn-primary btn-block btn-lg" type="file"
                      name="banner" ngf-select
                      ng-model="eventTemp.banner"
                      accept="image/*"
                      ngf-max-size="'2MB'">
                Event Banner Image
              </button>
            </h3>
            <p class="message-error" ng-show="eventForm.submitted && eventForm.bannerRequired">*
              required</p>
            <p class='message-error' ng-show="eventForm.banner.$error.maxSize">File too large: max 2MB</p>

            <h3>
              <button class="btn btn-primary btn-block btn-lg" type="file"
                      name="logo" ngf-select
                      ng-model="eventTemp.logo"
                      accept="image/*"
                      ngf-max-size="'1MB'">
                Event Logo Image
              </button>
            </h3>
            <p class='message-error' ng-show="eventForm.logo.$error.maxSize">File too large: max 1MB</p>

            <p class="message-error" ng-show="eventForm.submitted && eventForm.logoRequired">*
              required</p>

            <div class="card">
              <div class="card-header" style="background-image: url({{ event.logo }})">
                <div class="mask" ngf-background="eventTemp.logo"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="panel panel-default padding-top-clear">
      <div class="panel-heading"><h3 class="panel-title">Organizer Info</h3></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="form-group col-sm-6">
                <label>Organizer Name: </label>
                <input type="text" class="form-control" placeholder="organizer name" ng-model="event.organizer_name"
                       ng-maxlength="100"
                       ng-required="true"/>
                <p class="message-error" ng-show="eventForm.submitted && eventForm.organizer_name.$error.maxlength">* no more than
                  100 chars</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h3 class="margin-top-clear">
              <button class="btn btn-primary btn-block btn-lg" type="file"
                      name="organizer_logo" ngf-select
                      ng-model="eventTemp.organizer_logo"
                      accept="image/*"
                      ngf-max-size="'1MB'">
                Organizer Thumbnail Image
              </button>
            </h3>
            <p class='message-error' ng-show="eventForm.organizer_logo.$error.maxSize">File too large: max 1MB</p>

            <p class="message-error" ng-show="eventForm.submitted && eventForm.organizerLogoRequired">*
              required</p>

            <div class="card">
              <div class="card-header" style="background-image: url({{ event.organizer_logo }})">
                <div class="mask" ngf-background="eventTemp.organizer_logo"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="row">
      <p class='message-error text-center' ng-show="eventForm.submitted && eventForm.$invalid">Please check your input. </p>

      <p class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
        <button type="submit" class="btn btn-lg btn-primary btn-block">submit</button>
      </p>
    </div>
  </form>

</section>


