<div class="xb-main-ask-list" layout-gt-xs="row" layout-xs="column">
  <div class="background-whitem" flex-gt-xs="33" hide-xs>
    <div class="xb-ask-list__item" >
      <div class="xb-ask-list__margin-top md-body-1 md-dark-secondary ">Asked • <span am-time-ago='latestQuestions.created'></span></div>
      <a class="xb-ask-list__title md-headline md-dark-primary" ui-sref="application.answerQuestionDetail({questionId:latestQuestions.id})">{{latestQuestions.title}}</a>
      <div class="xb-ask-list__answer-content md-body-1" ng-if="!latestQuestions.latestAnswer && latestQuestions.description">
        {{latestQuestions.description | reduceSentence:140}}{{latestQuestions.description.length>140?'...':''}}
        <span ng-if="latestQuestions.description.length>140" ui-sref="application.answerQuestionDetail({questionId:question.id})">More</span>
      </div>
      <div ng-if="latestQuestions.latestAnswer">
        <div class="xb-ask-list__head-bg" layout="row">
          <avatar-Img src="latestQuestions.getAnswerUserAvatar()" name="latestQuestions.getLatestUserName()"
                      ui-sref="application.expert({ expertId:latestQuestions.getLatestUserId()})"></avatar-Img>
          <div layout="column" layout-align="space-between start">
            <div class="md-subhead" layout="row" layout-align="start center"
                 ui-sref="application.expert({ expertId:latestQuestions.getLatestUserId()})">
              {{latestQuestions.getLatestUserName()}}
              <credit-badge class="credit-badge" points="latestQuestions.getLatestBadgePoint()"></credit-badge>
              <div class="md-margin-left-1">
                {{latestQuestions.getLatestUserPosition()}}
              </div>
            </div>
            <span class="md-body-1 md-dark-secondary">Answered <span am-time-ago='latestQuestions.latestAnswer.created'></span></span>
          </div>
        </div>
        <div class="xb-ask-list__answer-content xb-ask-list__answer-content-display md-body-1" ng-bind-html="latestQuestions.latestAnswer.description | trust"
             ui-sref="application.answerQuestionDetail({questionId:latestQuestions.id})"></div>
      </div>
    </div>
  </div>
  <div class="background-whitem" flex-gt-xs="33" flex-xs>
    <div class="xb-ask-list__item" ng-repeat="question in questions track by $index">
      <a class="xb-ask-list__title md-subhead md-dark-primary" ui-sref="application.answerQuestionDetail({questionId:question.id})">{{question.title}}</a>
      <div class="xb-ask-list__actions" layout="row" layout-align="start center">
        <div ng-switch="question.answerAmount">
          <div ng-switch-when="0" >
            <md-button class="md-primary" ui-sref="application.answerQuestionDetail({questionId:question.id})">
              Be the first to answer
            </md-button>
          </div>
          <div ng-switch-when="1" layout="row" layout-align="start center">
            <md-button class="md-primary" ui-sref="application.answerQuestionDetail({questionId:question.id})">
              Answer
            </md-button>
            <span class="xb-ask-list__color">&nbsp;1</span>
          </div>
          <div ng-switch-default layout="row" layout-align="start center">
            <md-button class="md-primary" ui-sref="application.answerQuestionDetail({questionId:question.id})">
              Answers
            </md-button>
            <span class="xb-ask-list__color">&nbsp;{{question.answerAmount}}</span>
          </div>
        </div>
        <md-button ng-if="!question.currentUser.follow" class="xb-ask-list__margin-left md-dark-secondary"
                   ng-click="follow(question)">Follow</md-button>
        <span class="md-dark-secondary" ng-if="!question.currentUser.follow" >&nbsp;{{question.followeeCount > 0? question.followeeCount:''}}</span>
        <md-button ng-if="question.currentUser.follow" class="xb-ask-list__margin-left md-dark-secondary"
                   ng-click="follow(question)">Following</md-button>
        <span class="md-dark-secondary" ng-if="question.currentUser.follow" >&nbsp;{{question.followeeCount > 0? question.followeeCount:''}}</span>
      </div>
    </div>
  </div>
  <div flex-gt-xs="33" class="xb-main-ask-list__image" ui-sref="application.askQuestionMain">
    <img ng-src="{{imagesPC}}" hide-xs />
    <img ng-src="{{imagesMobile}}" hide-gt-xs />
  </div>
</div>

