<section class="container header padding-bottom-clear">
  <div class="jumbotron section-title" style="background-image: url(/images/5.jpg);margin-bottom: 0px;">
    <h2 style="color: #ffffff">Discover and vote for your favorite smart products to
      get a chance to test-drive them for free!</h2>

    <h3 class="text-center">
      <a class="button button-primary button-glow" ui-sref="application.protected.launchProject.basic">Submit a Product</a>
    </h3>
  </div>
</section>
<section class="container padding-top-clear">
  <div class="list-title list-search margin-bottom">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3" style="padding-right: 30px">
        <select class="form-control input-sm" ng-required="true" ng-model="projects.project_category_id"
                ng-change="onSearch();">
          <option value="">Filter by: All categories</option>
          <option value="{{ projectType.id }}" ng-repeat="projectType in projectTypes"
                  ng-selected="project.project_category==projectType.id">{{ projectType.name }}
          </option>
        </select>
      </div>
      <div class="col-sm-3" style="padding-right: 30px">
        <select class="form-control input-sm " ng-required="true" ng-model="projects.ordering"
                ng-change="onSearch();">
          <option value="-date_published'"
                  ng-selected="projects.ordering=='-date_published'">Sort by: Newest
          </option>
          <option value="-interact__vote_amount"
                  ng-selected="projects.ordering=='-interact__vote_amount'">Popularity
          </option>
        </select>
      </div>
      <div class="col-xs-12 col-sm-3 col-sm-offset-3">
        <div class="search">
          <input type="text" name='search' class="form-control input-sm" placeholder="Search for..."
                 ng-model="projects.search"
                 ng-keydown="onKeyDown($event);">
          <a class="fa fa-search" ng-click="onSearch();"></a>
          <a class="fa fa-times" ng-click="onClearSearch();"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row section-body" infinite-scroll="projectPaginator.loadNext()" infinite-scroll-distance='0'
       infinite-scroll-disabled="projectPaginator.loading || !projectPaginator.hasNext()">
    <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="project in projectPaginator.items">
      <a class="block-link" ui-sref="application.project({projectId: project.id})">
        <div class="card card-bordless">
          <div class="card-header" style="background-image: url({{ project.image }})">
          </div>
          <div class="card-body">
            <div class="card-body-header">
              <div class="avatar-text-small-1">
                <avatar-img src="project.account.avatar" name="project.account.fullname" show-name="true"></avatar-img>
              </div>
            </div>
            <p class="card-body-title p-3" ng-bind="project.title">
            </p>

            <div class="card-body-footer">
              <div class="row">
                <div class="col-xs-6 align-left">
                  <p class="p-1" ng-bind="project.project_category_name"></p>
                </div>
                <div class="col-xs-6 align-right">
                  <p class="p-1">
                    <i class="fa fa-thumbs-up"></i> <span ng-bind="project.interact.vote_amount"></span>

                    <!-- todo:user config-->
                    <span ng-if='user.isAuth() && user.isStaff()'>
                      <i class="fa fa-comment"></i> <span ng-bind="project.interact.feedback_amount"></span>
                      <i class="fa fa-hashtag"></i> <span ng-bind="project.inquiry_amount"></span>
                    </span>
                  <span ng-if='user.isAuth() && user.isStaff()' ng-switch="project.interact.is_verified">
                  <i class="fa fa-check fa-lg text-danger" ng-switch-when="1"></i>
                  <i class="fa fa-times fa-lg text-danger" ng-switch-when="2"></i>
                  </span>


                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </a>
    </div>
  </div>
  <load-more class="row spin-large" ng-if="projectPaginator.loading"></load-more>
</section>
