<join ng-init="init(project.interact)">
  <section class="background-light-white">
    <div class="container">
      <div class="section-title">
        <h2 ng-bind="project.title"></h2>

        <h3 class="avatar-inline">
          <avatar-img src="project.account.avatar"></avatar-img>
          <a class="a-gray-primary" ui-sref="application.expert({ expertId:project.account.id })">{{
            project.account.fullname }}</a>
          <span class="margin-left"><i
            class="fa fa-tag"></i> {{ projectTypes | decode : project.project_category }}</span>
        </h3>
        <a class="btn btn-gray" ng-if="project.account.id==user.getUserId()"
           ui-sref="application.protected.launchProject({projectId:project.id})"><i class="fa fa-edit"></i> EDIT</a>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-3  col-md-push-9 padding-clear">
          <div class="card" ng-show="distribution">
            <div class="card-body xb-statistic-broad xb-align-center">
              <p class="xb-statistic-broad-subtitle">Retail Price</p>
              <p class="xb-statistic-broad-title">${{ distribution.retail_price }} USD</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-body-title xb-align-center">CrowdTesting Poll</h4>

              <p class="card-body-detail">Interested in reviewing this product? Vote for it! We will launch
                Crowdtesting campaigns for top voted products regularly</p>
              <div class="pr">
                <save class="align-center"></save>
              </div>

            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-body-title xb-align-center">Business Partnership</h4>

              <p class="card-body-detail">If you’re a retailer or solution provider wishing to partner with this brand
                owner,please submit
                your inquiry here </p>

              <div>
                <button class="button button-full button-glow"
                        ng-class="{'button-primary':!inquiry.exist,'button-plain':inquiry.exist}" ng-click="open('lg')"
                        ng-disabled="inquiry.exist">
              <span ng-switch="inquiry.exist">
                <span ng-switch-when="false">Inquire</span>
                <span ng-switch-when="true">
                  <span ng-switch="inquiry.status">
                    <span ng-switch-when="REQUESTED">Pending</span>
                    <span ng-switch-when="RESOLVED">Resolved</span>
                    <span ng-switch-when="UNRESOLVED">Unresolved</span>
                  </span>
                </span>
              </span>

                </button>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h4 class="xb-align-center">Recommend to Friends</h4>
              <button class="button button-primary button-glow button-circle button-large" socialshare
                      socialshare-provider="linkedin"
                      socialshare-description="{{ project.description }}"
                      socialshare-text="{{ project.title }}"
                      socialshare-source="{{ project.image }}"
                      socialshare-url="{{ pageSettings.getUrl() }}">
                <i class="fa fa-linkedin"></i>
              </button>
              <button class="button button-royal button-glow button-circle button-large" socialshare
                      socialshare-provider="facebook"
                      socialshare-media="{{ project.image }}"
                      socialshare-description="{{ project.description }}"
                      socialshare-text="{{ project.title }}"
                      socialshare-url="{{ pageSettings.getUrl() }}">
                <i class="fa fa-facebook"></i>
              </button>

              <button class="button button-caution button-glow button-circle button-large " socialshare
                      socialshare-provider="reddit"
                      socialshare-media="{{ project.image }}"
                      socialshare-description="{{ project.description }}"
                      socialshare-text="{{ project.title }}"
                      socialshare-url="{{ pageSettings.getUrl() }}">
                <i class="fa fa-reddit"></i>
              </button>

              <button class="button button-action button-glow button-circle button-large" socialshare
                      socialshare-provider="twitter"
                      socialshare-media="{{ project.image }}"
                      socialshare-description="{{ project.description }}"
                      socialshare-text="{{ project.title }}"
                      socialshare-source="{{ project.image }}"
                      socialshare-url="{{ pageSettings.getUrl() }}">
                <i class="fa fa-twitter"></i>
              </button>
            </div>

          </div>
          <div class="card card-bordless">
            <div class="card-body">
              <h4 class="card-body-title xb-align-center">Votes (<span>{{ interact.vote_amount }}</span>)</h4>
              <saver></saver>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-md-pull-3">
          <uib-tabset>
            <uib-tab heading="Description" active="tabs[0].active">
              <div ng-bind-html=" project.details | trust"></div>
              <div class="text-center" ng-if="user.isStaff()">
                <div growl></div>
                <a ng-click="approve(true)">
                  <span class="fa-stack fa-lg">
                      <i class="fa fa-check fa-stack-1x text-success"></i>
                      <i class="fa fa-circle-thin fa-stack-2x text-success"></i>
                  </span>
                </a>
                <a ng-click="approve(false)">
                  <span class="fa-stack fa-lg">
                      <i class="fa fa-times fa-stack-1x text-danger"></i>
                      <i class="fa fa-circle-thin fa-stack-2x text-danger"></i>
                  </span>
                </a>
              </div>
            </uib-tab>
            <uib-tab heading="Comments({{ project.interact.feedback_amount }})" active="tabs[1].active"
                     select="select('comments')">
              <div ng-if="commentsTabActive">
                <div ng-include src="'views/comments.html'"></div>
              </div>
            </uib-tab>
            <!--<uib-tab heading="Inquiries" active="tabs[2].active" select="select('applications')"-->
            <!--ng-if="user.isStaff() || user.getUserId()==project.account.id">-->
            <!--<div ng-if="applicationsTabActive">-->
            <!--<div ng-include src="'views/project/applicationlist.html'"></div>-->
            <!--</div>-->
            <!--</uib-tab>-->
            <uib-tab heading="Inquiries({{ project.inquiry_amount }})" active="tabs[2].active"
                     select="select('inquiries')"
                     ng-if="user.isStaff()">
              <div ng-if="inquiresTabActive">
                <div ng-include src="'views/project/inquirieslist.html'"></div>
              </div>
            </uib-tab>
          </uib-tabset>
        </div>

      </div>
    </div>
  </section>
</join>

