<section style="background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(/images/discove.png);" class="section-page section-list-page">
  <div class="container">
    <div class="section-title">
      <h2>Vote for your favorite products for the chance to save big</h2>

      <h4>The most wanted products will be made available to try through crowd testing, and to purchase through group
        buying!</h4>
    </div>
    <div class="text-center section-button">
      <a class="button button-primary" ui-sref="application.protected.projectLaunch.basic">Suggest a
        Product</a>
    </div>
  </div>
</section>
<section class="container" style="padding-top: 10px;">
  <div class="list-title list-search margin-bottom">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <select class="form-control" ng-model="projects.categories__id"
                ng-change="onSearch();" ng-options="item.id as item.name for item in projectTypes">
          <option value="">Filter by: All categories</option>
        </select>

      </div>
      <div class="col-xs-12 col-sm-3">
        <select class="form-control" ng-model="projects.ordering"
                ng-change="onSearch();" ng-options=" item.value as item.label for item in otherConditions">
        </select>

      </div>
      <div class="col-xs-12 col-sm-3 col-sm-offset-3 hidden-xs">
        <div class="search ">
          <input type="text" name='search' class="form-control input-sm" placeholder="Search for..."
                 ng-model="projects.search"
                 ng-keydown="onKeyDown($event);">
          <a class="fa fa-search" ng-click="onSearch();"></a>
          <a class="fa fa-times" ng-click="onClearSearch();"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row section-body" infinite-scroll="projectPaginator.loadNext()" infinite-scroll-distance='0'
       infinite-scroll-disabled="projectPaginator.getLoading() || !projectPaginator.getNext()">
    <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="project in projectPaginator.items">
      <div class="card card-bordless">
        <div class="card-header" style="background-image: url({{ project.image }})"
             ui-sref="application.project({projectId: project.id})">
        </div>
        <div class="card-body">

          <p class="card-body-header">{{project.categories[0].name}}</p>

          <p class="card-body-title p-3" ng-bind="project.title" ui-sref="application.project({projectId: project.id})">
          </p>

          <div class="card-body-footer text-center" ng-if='user.isAuth() && user.isStaff()'>

            <span ng-switch="project.approval_status">
            <i class="fa fa-question fa-lg text-danger" ng-switch-when="PENDING"></i>
            <i class="fa fa-check fa-lg text-danger" ng-switch-when="APPROVED"></i>
            <i class="fa fa-times fa-lg text-danger" ng-switch-when="DISAPPROVED"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <load-more class="row spin-large" ng-show="projectPaginator.getLoading()"></load-more>
</section>
