<section class="container header padding-bottom-clear">
  <div class="jumbotron section-title" style="background-image: url(/images/5.jpg);margin-bottom: 0px;">
    <h2 style="color: #ffffff">Vote for the products you like and we will bring it to you at a special discount!</h2>

    <h3 class="text-center">
      <a class="button button-primary button-glow" ui-sref="application.protected.projectLaunch.basic">Suggest a
        Product</a>
    </h3>
  </div>
</section>
<section class="container" style="padding-top: 10px;">
  <div class="list-title list-search margin-bottom">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <select class="form-control" ng-model="projects.project_category_id"
                ng-change="onSearch();" ng-options="item.id as item.name for item in projectTypes">
          <option value="">Filter by: All categories</option>
        </select>

      </div>
      <div class="col-xs-12 col-sm-3">
        <select class="form-control" ng-model="projects.ordering"
                ng-change="onSearch();" ng-options=" item.value as item.label for item in otherConditions">
        </select>

      </div>
      <div class="col-xs-12 col-sm-3 col-sm-offset-3 hidden-xs">
        <div class="search ">
          <input type="text" name='search' class="form-control input-sm" placeholder="Search for..."
                 ng-model="projects.search"
                 ng-keydown="onKeyDown($event);">
          <a class="fa fa-search" ng-click="onSearch();"></a>
          <a class="fa fa-times" ng-click="onClearSearch();"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row section-body" infinite-scroll="projectPaginator.loadNext()" infinite-scroll-distance='0'
       infinite-scroll-disabled="projectPaginator.getLoading() || !projectPaginator.getNext()">
    <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="project in projectPaginator.items">
      <div class="card card-bordless">
        <div class="card-header" style="background-image: url({{ project.image }})"
             ui-sref="application.project({projectId: project.id})">
        </div>
        <div class="card-body">

          <p class="card-body-header">{{project.project_category_name}}</p>

          <p class="card-body-title p-3" ng-bind="project.title" ui-sref="application.project({projectId: project.id})">
          </p>

          <button class="button button-full button-glow margin-bottom"
                  ng-class="{'button-caution':project.interact.current_voter.vote,'button-primary':!project.interact.current_voter.vote}"
                  ng-click="want(project)" ng-disabled="project.voting "
                  ng-switch="project.interact.current_voter.vote">
            <span ng-switch-when="false">VOTE</span>
            <span ng-switch-when="true">VOTED</span>
          </button>


          <div class="card-body-footer align-right" ng-switch="review.status"
               ui-sref="application.project({projectId: project.id})">
            <div class="xb-avatar-wall">
              <div class="xb-avatar-text" style="height: 30px;padding-top: 5px;min-width: 60px;text-align: left;">
                <span>{{ project.interact.vote_amount }} vote<span ng-show="project.interact.vote_amount>1">s</span></span>
              </div>
              <div class="xb-avatar-list" ui-sref="application.crowdtesting({ reviewId:review.id })">
                <profile-avatar src="voter.joiner.avatar" name="voter.joiner.fullname"
                                show-name="true" ng-repeat="voter in project.interact.voters"></profile-avatar>
              </div>
            </div>
          </div>

          <div class="card-body-footer text-center" ng-if='user.isAuth() && user.isStaff()'>

            <span ng-switch="project.interact.is_verified">
            <i class="fa fa-question fa-lg text-danger" ng-switch-when="0"></i>
            <i class="fa fa-check fa-lg text-danger" ng-switch-when="1"></i>
            <i class="fa fa-times fa-lg text-danger" ng-switch-when="2"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <load-more class="row spin-large" ng-show="projectPaginator.getLoading()"></load-more>
</section>
