<div class="background-whitem xb-question-detail__list" ng-repeat="answer in answers track by $index">
  <div class="xb-ask-list__item">
    <div layout="row" layout-align="start center">
      <div class="xb-ask-list__head-bg" layout="row" flex>
        <avatar-Img src="answer.owner.userprofile.avatar" name="answer.getAnswerUserName()"
          ui-sref="application.expert({ expertId:answer.getAnswerUserId()})"></avatar-Img>
        <div layout="column" layout-align="space-between start" flex>
          <div class="md-subhead" layout="row" layout-align="start center"
               ui-sref="application.expert({ expertId:answer.getAnswerUserId()})">
            {{answer.getAnswerUserName()}}
            <credit-badge class="credit-badge" points="answer.getOwnerBadgePoint()"></credit-badge>
            <div class="md-dark-secondary md-margin-left-1">
              {{answer.getAnswerUserPosition()}}
            </div>
          </div>
          <span class="md-body-1 md-dark-secondary">Answered <span am-time-ago='answer.created'></span></span>
        </div>
      </div>
      <md-button class="md-primary md-margin-clear" ng-disabled="answer.disabled"
                 ng-if="!(user.isAuth() && user.getUserId() === answer.getAnswerUserId()) && !answer.owner.currentUser.follow" ng-click="addFollow(answer);">Follow</md-button>
      <md-button class="md-warn md-margin-clear" ng-disabled="answer.disabled"
                 ng-if="!(user.isAuth() && user.getUserId() === answer.getAnswerUserId()) && answer.owner.currentUser.follow" ng-click="addFollow(answer);">Following</md-button>
    </div>
    <div layout="row" layout-align="space-between center">
      <div ng-if="answer.isBestAnswer" class="xb-ask-list__best-answer" layout="row" layout-align="start center">
        <i class="iconfontXberts icon-pic-best-answer1"></i>
        <span class="xb-bold md-margin-left-1">Top Answer</span>
      </div>
      <md-checkbox aria-label="111" class="md-margin-top-2" hide-xs ng-if="user.isStaff() && admin">
        Selected as Top Answer
      </md-checkbox>
    </div>
    <div class="xb-ask-list__answer-content md-body-1 md-dark-primary" ng-bind-html="answer.description | trust"
         ng-bind-html-unsafe="whatever" add-link-target></div>
  </div>
  <interact class="xb-question-detail__bottom" interact="answer.interact">
    <div class="xb-my-answers__actions" layout="row" layout-align="start center">
      <up-and-down-vote layout="row" layout-align="start center" ></up-and-down-vote>
      <div layout="row" layout-align="start center">
        <md-icon class="md-dark-third" flex="none" ng-click="onToggleDown(answer);">sms</md-icon>
      </div>
      <comment-amounts layout="row" layout-align="start center"></comment-amounts>
      <div ng-if="user.isAuth() && user.getUserId() === answer.getAnswerUserId()" layout="row" layout-align="start center"
           ui-sref="application.protected.editAnswer({answerId:answer.id,questionId:answer.question,source:'answer'})">
        <md-icon md-font-set="material-icons" class="md-dark-third xb-pointer">mode_edit</md-icon>
        <span></span>
      </div>
      <div class="xb-ask-list__menu-bg">
        <md-icon class="md-dark-third" ng-click="showMenu(answer);$event.stopPropagation();" md-font-set="material-icons">more_horiz</md-icon>
        <div class="xb-ask-list__menu background-whitem" ng-if="answer.showMenu" ng-mouseleave="showMenu(answer);">
          <div ng-click="report(answer.id)">Report</div>
        </div>
      </div>
    </div>
    <div ng-show="answer.commentToggle">
      <feedback-list interact-id="{{answer.interact.id}}" hide-state="!answer.commentToggle" hide-points="true"></feedback-list>
    </div>
  </interact>
</div>
