<md-tabs class="xb-search__tabs" md-dynamic-height md-selected="currentIndex" md-no-ink md-no-ink-bar>

  <md-tab md-on-select="loadAll()">
    <md-tab-label>
      <div class="xb-search__text-transform" layout="row" layout-align="center center">
        All
        <span class="xb-search__color md-caption md-margin-left-1">{{productCount + askCount + articlesCount}}</span>
      </div>
    </md-tab-label>
    <md-tab-body>
      <div class="xb-title xb-search__margin-left" layout="row" layout-align="start center" ng-if="productCount > 0 || askCount > 0 || articlesCount > 0">
        <h3 flex>Results for <span class="xb-search__color">{{keywords}}</span></h3>
      </div>
      <div class="xb-title xb-search__margin-left" layout="row" layout-align="start center" ng-if="productCount <= 0 && askCount <= 0 && articlesCount <= 0">
        <h3 flex>No results for <span class="xb-search__color">{{keywords}}</span></h3>
      </div>
      <div class="md-margin-bottom-4">
        <load-ask-more layout="column" class="md-margin-top-2" ng-if="!products && !ask && !articles"></load-ask-more>
        <div class="xb-title xb-search__margin-left" layout="row" layout-align="start center" ng-if="products.length>0">
          <h3 class="md-dark-secondary" flex>Deals</h3>
          <div><span class="xb-search__color">{{productCount}}</span>{{productCount > 1? ' results': ' result'}}</div>
        </div>
        <search-deals-list class="xb-search__list-bg" deals="products" is-all="true"></search-deals-list>
        <div class="xb-search__bottom-button xb-pointer" layout="row" layout-align="center center" ng-if="productCount>2"
             ng-click="changeCurrentIndex(1)">
          SEE MORE
        </div>
        <div class="xb-title xb-search__margin-left" layout="row" layout-align="start center" ng-if="ask.length>0">
          <h3 class="md-dark-secondary" flex>Questions</h3>
          <div><span class="xb-search__color">{{askCount}}</span>{{askCount > 1? ' results': ' result'}}</div>
        </div>
        <question-item products="ask" is-all="true"></question-item>
        <div class="xb-search__bottom-button xb-pointer" layout="row" layout-align="center center" ng-if="askCount>2"
             ng-click="changeCurrentIndex(2)">
          SEE MORE
        </div>
        <div class="xb-title xb-search__margin-left" layout="row" layout-align="start center" ng-if="articles.length>0">
          <h3 class="md-dark-secondary" flex>Articles</h3>
          <div><span class="xb-search__color">{{articlesCount}}</span>{{articlesCount > 1? ' results': ' result'}}</div>
        </div>
        <search-blog-list class="xb-search__list-bg" reviews="articles" is-all="true"></search-blog-list>
        <div class="xb-search__bottom-button xb-pointer" layout="row" layout-align="center center" ng-if="articlesCount>0"
             ng-click="changeCurrentIndex(3)">
          SEE MORE
        </div>
        <div class="xb-search__margin-top md-margin-bottom-4"
             ng-if="products.length == 0 && ask.length == 0 && articles.length == 0"
             layout="column" layout-align="center center" flex="noshrink">
          <img src="https://xberts.imgix.net/static/icon/06a780b5-324d-4c16-8be2-e4d7746d9b6c.png?auto=format%2Cenhance&crop=edges&fit=crop&ixlib=python-1.1.2&s=1482ddcf9ac3eb5c9ae25413ed05e9db" />
          <div class="md-dark-secondary md-margin-top-2 md-align-center">Please try again with different search keywords.</div>
        </div>
      </div>
    </md-tab-body>
  </md-tab>

  <md-tab md-on-select="loadDiscover()">
    <md-tab-label>
      <div class="xb-search__text-transform" layout="row" layout-align="center center">
        Deals
        <span class="md-caption xb-search__color md-margin-left-1">{{productCount}}</span>
      </div>
    </md-tab-label>
    <md-tab-body>
      <div class="md-margin-top-2 xb-search__list-bg" infinite-scroll="productsPaginatorLoad()" infinite-scroll-container='".xb-body-view "' infinite-scroll-distance='0'
           infinite-scroll-disabled="productsPaginator.loading || !productsPaginator.next || currentIndex != 1" flex
           layout="column">
        <search-deals-list deals="productsPaginator.items"></search-deals-list>
        <load-ask-more layout="column" class="md-margin-bottom-2" ng-if="productsPaginator.loading"></load-ask-more>
        <div class="xb-search__margin-top md-margin-bottom-4" ng-if="productsPaginator.currentPage == 1 && productsPaginator.count == 0"
             layout="column" layout-align="center center" flex="noshrink">
          <img src="https://xberts.imgix.net/static/icon/06a780b5-324d-4c16-8be2-e4d7746d9b6c.png?auto=format%2Cenhance&crop=edges&fit=crop&ixlib=python-1.1.2&s=1482ddcf9ac3eb5c9ae25413ed05e9db" />
          <div class="md-dark-secondary md-margin-top-2 md-align-center">Please try again with different search keywords.</div>
        </div>
      </div>
    </md-tab-body>
  </md-tab>

  <md-tab md-on-select="loadAsk()">
    <md-tab-label>
      <div class="xb-search__text-transform" layout="row" layout-align="center center">
        Questions
        <span class="md-caption xb-search__color md-margin-left-1">{{askCount}}</span>
      </div>
    </md-tab-label>
    <md-tab-body>
      <div class="md-margin-top-2" infinite-scroll="askPaginatorLoad()" infinite-scroll-container='".xb-body-view "' infinite-scroll-distance='0'
           infinite-scroll-disabled="askPaginator.loading || !askPaginator.next || currentIndex != 2">
        <question-item products="askPaginator.items"></question-item>
        <load-ask-more layout="column" class="md-margin-top-2 md-margin-bottom-2" ng-if="askPaginator.loading"></load-ask-more>
        <div class="xb-search__margin-top md-margin-bottom-4" ng-if="askPaginator.currentPage == 1 && askPaginator.count == 0"
             layout="column" layout-align="center center" flex="noshrink">
          <img src="https://xberts.imgix.net/static/icon/06a780b5-324d-4c16-8be2-e4d7746d9b6c.png?auto=format%2Cenhance&crop=edges&fit=crop&ixlib=python-1.1.2&s=1482ddcf9ac3eb5c9ae25413ed05e9db" />
          <div class="md-dark-secondary md-margin-top-2">Please try again with different search keywords.</div>
        </div>
      </div>
    </md-tab-body>
  </md-tab>

  <md-tab md-on-select="loadArticles()" >
    <md-tab-label>
      <div class="xb-search__text-transform" layout="row" layout-align="center center">
        Articles
        <span class="md-caption xb-search__color md-margin-left-1">{{articlesCount}}</span>
      </div>
    </md-tab-label>
    <md-tab-body>
      <div class="md-margin-top-2" infinite-scroll="articlesPaginatorLoad()" infinite-scroll-container='".xb-body-view "' infinite-scroll-distance='0'
           infinite-scroll-disabled="articlesParginator.loading || !articlesParginator.next || currentIndex != 3">
        <search-blog-list class="xb-search__list-bg" reviews="articlesParginator.items"></search-blog-list>
        <load-ask-more layout="column" class="md-margin-top-2 md-margin-bottom-2" ng-if="articlesParginator.loading"></load-ask-more>
        <div class="xb-search__margin-top md-margin-bottom-4" ng-if="articlesParginator.currentPage == 1 && articlesParginator.count == 0"
             layout="column" layout-align="center center" flex="noshrink">
          <img src="https://xberts.imgix.net/static/icon/06a780b5-324d-4c16-8be2-e4d7746d9b6c.png?auto=format%2Cenhance&crop=edges&fit=crop&ixlib=python-1.1.2&s=1482ddcf9ac3eb5c9ae25413ed05e9db" />
          <div class="md-dark-secondary md-margin-top-2">Please try again with different search keywords.</div>
        </div>
      </div>
    </md-tab-body>
  </md-tab>

  <!--<md-tab md-on-select="loadTrials()" hide>
    <md-tab-label>
      <div class="xb-search__text-transform">Trials</div>
    </md-tab-label>
    <md-tab-body>
      <div class="xb-search__margin-top md-margin-bottom-4"
           layout="column" layout-align="center center" flex="noshrink">
        <img src="https://xberts.imgix.net/static/icon/06a780b5-324d-4c16-8be2-e4d7746d9b6c.png?auto=format%2Cenhance&crop=edges&fit=crop&ixlib=python-1.1.2&s=1482ddcf9ac3eb5c9ae25413ed05e9db" />
        <div class="md-dark-secondary md-margin-top-2 md-align-center">Please try again with different search keywords.</div>
      </div>
    </md-tab-body>
  </md-tab>

  <md-tab md-on-select="loadBlog()">
    <md-tab-label>
      <div class="xb-search__text-transform">Reviews</div>
    </md-tab-label>
    <md-tab-body>
      <div class="xb-search__margin-top md-margin-bottom-4"
           layout="column" layout-align="center center" flex="noshrink">
        <img src="https://xberts.imgix.net/static/icon/06a780b5-324d-4c16-8be2-e4d7746d9b6c.png?auto=format%2Cenhance&crop=edges&fit=crop&ixlib=python-1.1.2&s=1482ddcf9ac3eb5c9ae25413ed05e9db" />
        <div class="md-dark-secondary md-margin-top-2 md-align-center">Please try again with different search keywords.</div>
      </div>
    </md-tab-body>
  </md-tab>-->

</md-tabs>

