
.xb-top-banner-container{
  position: relative;
  display: block;
  div[rn-carousel-indicators]{
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    height: 40px;

    @include xb-xs-screen{
      height: 25px;
    }
    span{
      outline: none;
      margin-left: 5px;
      margin-right: 5px;
      width: 10px;
      font-size: 10px;
      height: 10px;
      border-radius: 50%;
      display: inline-block;
      overflow: hidden;
      background-color: #DCDCDC;
      color: #DCDCDC;
      &.active {
        background-color: $primaryColor;
        color: $primaryColor;
      }
    }
  }
}
.xb-top-banner{
  display: block;
  position: relative;
  margin-bottom: 0;
  width: 100%;
  height: 670px;
  @include xb-xs-screen{
    margin-top: 0;
  }
  &__container{
    background-size: auto 100%;
    background-position-x: center;
    height: 100%;
    >.md-accent{
      padding: 0 28px;
      margin-top: 240px;
      @include xb-xs-screen{
        margin-top: 24%;
      }
    }
  }
  $parant:&;
  &__button-white{
    #{$parant}__title{
      color: #FFF;
    }
    #{$parant}__subtitle{
      color: #FFF;
    }
    #{$parant}__button{
      color: #FFF;
      border-color: #FFF;
      &:link,&:hover,&:active,&:visited{
        background-color: rgba(255,255,255,.7);
        color: rgba(0,0,0,.87);
      }
    }
    .md-body-1{
      color: #fff;
    }
  }
  &__button-black{
    #{$parant}__title{
      color: #000;
    }
    #{$parant}__subtitle{
      color: #000;
    }
    #{$parant}__button{
      color: #000;
      border-color: #000;
      &:link,&:hover,&:active,&:visited{
        background-color: rgba(0,0,0,.7);
        color: rgba(255,255,255,.87);
      }
    }
    .md-body-1{
      color: #000;
    }
  }
  &__content{
    margin-top: 198px;
    margin-left: 16px;
    width: 100%;
  }
  &__title{
    font-size: 54px;
    @include light();
    line-height: 72px;
  }
  &__subtitle{
    margin-top: 48px;
    font-size: 24px;
    @include light();
  }
  &__button{
    display: block;
    margin-top: 16px;
    width: 160px;
    text-align: center;
    line-height: 48px;
    font-size: 24px;
    @include light();
    border-radius: 2px;
    border: 1px solid;
  }
  @include xb-sm-screen{
    &__content{
      margin-top: 100px;
    }
  }
  @include xb-xs-screen{
    &__content{
      margin-top: 0;
      height: 100%;
      margin-bottom: 0;
    }
    &__title{
      font-size: 24px;
      @include light();
      line-height: 32px;
      max-height: 64px;
      overflow: hidden;
    }
    &__subtitle{
      margin-top: 16px;
      font-size: 14px;
    }
    &__button{
      margin-top: 12px;
      width: 96px;
      line-height: 28px;
      font-size: 14px;
    }
  }
  a:-webkit-any-link{
    text-decoration: none;
  }
  .md-body-1{
    margin-top: 16px;
    font-weight: 300;
    @include xb-xs-screen{
      font-size: 12px;
      margin-top: 8px;
    }
  }
}
.xb-title{
  margin: 32px 0 16px;
  @include xb-xs-screen{
    margin: 24px 0 16px;
  }
  h3{
   margin: 0;
    @include xb-xs-screen{
      font-size: 16px;
    }
  }
  >a{
    @include media();
    white-space: nowrap;
  }
}
.xb-main-col{
  &__right-part{
    >div{
      cursor: pointer;
      margin-left: 6px;
      margin-bottom: 7px;
      @include resetBorder();
    }
  }
  $parent: &;
  &__img-bg{
    position: relative;
    display: block;
    padding-bottom: 66.66%;
    z-index: 0;
    >img{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
  }
  &__container{
    position: relative;
    cursor: pointer;
    @include resetBorder();
    padding-bottom: 66.66%;
    overflow: hidden;
    display: block;
    z-index: 0;
    @include xb-gt-xs-screen{
      &:hover{
        #{$parent}__mask{
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-flex: 1;
          -webkit-flex: 1;
          flex: 1;
        }
        i{
          display: block;
        }
        .xb-main-discover__image-button-bg{
          display: none !important;
        }
      }
    }
    >img{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
  }
  &__container-1{
    @include xb-gt-xs-screen{
      padding-bottom: 56.25%;
    }
  }
  &__margin-bottom{
    margin-bottom: 16px;
    @include xb-xs-screen{
      width: 100%;
      margin-bottom: 8px;
    }
  }
  &__margin-top{
    margin-top: 5px;
  }
  &__value{
    z-index: 2;
    position: absolute;
    left: 8px;
    top: 8px;
    >span{
      font-size: 14px;
      line-height: 24px;
      font-weight: 500;
      color: #FFF;
      border-radius: 2px;
      padding: 0 8px;
      background-color: #ff4081;
      display: block;
      margin-right: 8px;
    }
    #{$parent}__promotion {
      background-color: $orangeColor;
      text-transform: capitalize;
    }
    #{$parent}__launch {
      background-color: $successColor;
      text-transform: capitalize;
    }
    >i{
      color: #fff;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 24px;
      margin-left: 8px;
      display: none;
      @include xb-sm-screen{
        margin-top: 8px;
      }
    }
    $colors: (0 #3b5998) (1 #1da1f2) (2 #0177b5);
    @each $color in $colors{
      #{$parent}__bg-#{nth($color, 1)} {
        background-color: nth($color, 2);
      }
    }
  }

  &__top-right{
    z-index: 1;
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 0 8px;
    color: #000;
    background-color: #fff;
    line-height: 24px;
    font-size: 12px;
    border-radius: 2px;
  }
  &__bottom-title{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 72px;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,.54) 100%);
    >span{
      position: absolute;
      padding: 0 16px;
      width: 100%;
      bottom: 16px;
      font-size: 16px;
      line-height: 20px;
      color: #FFF;
      max-height: 40px;
      @include ellipsisText();
    }
  }
  &__bottom{
    margin-bottom: 5px;
    @include xb-xs-screen{
      margin-bottom: 0;
    }
  }
  &__left{
    margin-left: 5px;
    @include xb-xs-screen{
      margin-left: 0;
    }
  }
  &__container-bottom{
    @include xb-xs-screen{
      margin-bottom: 8px;
    }
  }
  &__mask{
    @extend .xb-deals-list__mask;
    color: #fff;
    &:hover{
      color: #fff;
    }
  }
}
.xb-main-product{
  border: none;
  @include box-shadow(none);
  margin-bottom: 32px;
  position: relative;
  &__video{
    position: relative;
    display: block;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .7);
    iframe{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    >div{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      md-progress-circular{
        path{
          stroke:#fff;
        }
      }
    }
  }
  &__headline{
    margin: 16px 0 8px;
    >a{
      max-height: 24px;
      @include ellipsisText();
      &:hover{
        color: rgba(0,0,0,.87);
      }
      cursor: pointer;
    }
  }
  &__content{
    margin-bottom: 8px;
    max-height: 48px;
    @include ellipsisText();
  }
  &__action{
    margin: 0;
    padding: 0;
    .md-user-avatar{
      img{
        width: 40px;
        height: 40px;
        margin-bottom: 0;
        cursor: pointer;
      }
    }
    a:nth-child(1) {
      color: $primaryColor;
      line-height: 14px;
    }
    .md-button{
      margin: 0;
      padding: 0;
      > .fa{
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
      }
    }
  }
  &__avatar-title{
    margin-left: 16px;
  }
  &__avatar{
    avatar-img{
      width: 40px;
      height: 40px;
      display: block;
    }
  }
}
.xb-main-discover{
  width: 444px;
  margin-left: 16px;
  .active{
    background-color: #F1F1F1;
  }
  >div{
    margin-bottom: 16px;
    outline: none;
    &:hover{
      background-color: #F1F1F1;
    }
  }
  &__img-content{
    width: 160px;
    cursor: pointer;
    position: relative;
    min-height: 90px;
    border: 1px solid rgba(0,0,0,.12);
    img{
      width: 100%;
    }
  }
  &__image-button-bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &__image-button{
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,.65);
    border-radius: 50%;
    md-icon{
      @include changeMdIcon(32px);
      color: #FFF;
    }
    @include xb-xs-screen{
      width: 30px;
      height: 30px;
      md-icon{
        @include changeMdIcon(24px);
      }
    }
  }
  &__information-content{
    padding: 0 0 8px 16px;
    max-width: 444px - 160px;
    .xcard__title{
      margin-bottom: 8px;
      height: auto;
      max-height: 40px;
      text-overflow: ellipsis;
      -webkit-text-overflow: ellipsis;
      font-size: 16px;
      line-height: 20px;
    }
    .report-publisher{
      color: rgba(0, 0, 0, .54);
      @include regular();
      avatar-img{
        width: 24px;
        height: 24px;
        img{
          width: 24px;
          height: 24px;
        }
      }
      .credit-badge img{
        width: 16px;
        height: 16px;
      }
    }
  }
}
.xb-main-reviews{
  @include xb-xs-screen{
    margin-right: -10px;
    margin-left: -10px;
  }
  .md-raised{
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    @include xb-xs-screen{
      margin-left: 16px;
      margin-right: 16px;
    }
  }
}
.xb-main-review{
  @include resetBorder();
  background-color: #FFF;
  margin-bottom: 16px;
  @include xb-xs-screen{
    margin-bottom: 8px;
  }
  &__img-content{
    cursor: pointer;
    overflow: hidden;
    @include xb-xs-screen{
      margin-left: 8px;
    }
    >img{
      width: 100%;
    }
  }
  &__information-content{
    padding: 10px 16px;
    @include xb-xs-screen{
      padding: 8px;
    }
    .xcard__title{
      margin-bottom: 8px;
      height: auto;
      max-height: 40px;
      font-size: 16px;
      line-height: 20px;
      @include ellipsisText();
      @include xb-xs-screen{
        height: 40px;
        margin-bottom: auto;
      }
    }
    .xcard__description{
      margin-bottom: 15px;
    }
    .report-category, .xcard__description, .report-publisher{
      color: rgba(0, 0, 0, .54);
      @include regular();
    }
    .report-publisher{
      font-size: 14px;
      avatar-img img{
        cursor: pointer;
      }
      .credit-badge{
        img{
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
.xb-main-reviewer{
  width: 364px;
  margin-left: 16px;
  @include resetBorder();
  md-list{
    padding: 0;
    background-color: $whiteBackground;
  }
  &__item{
    height: 70px;
    padding: 0 !important;
    margin: 0 16px;
    .md-avatar{
      cursor: pointer;
      .c-user__name{
        width: 40px;
        height: 40px;
      }
    }
    &:last-child{
      border-bottom: none;
    }
    a.md-subhead{
      color: rgba(0,0,0,.87);
      font-size: 14px;
      text-decoration: none;
      &:hover{
        color: rgba(0,0,0,.87);
      }
    }
  }
  &__title{
    height: 56px;
    padding: 0 16px;
    background-color: #f9f9f9;
    border-bottom: 1px solid rgba(0,0,0,.12);
    .xb-deals-category{
      height: 56px;
      margin-right: -8px;
      .sort-button{
        margin: 0 8px;
        height: 56px;
      }
    }
  }
  .md-avatar{
    >img{
      width: 100%;
      height: 100%;
      margin-bottom: 0;
    }
  }
  .md-2-line{
    >a{
      @include media();
    }
    >p{
      font-size: 12px;
      margin-bottom: 0;
      max-height: 24px;
      @include ellipsisText();
    }
  }
  &__button{
    @include media();
  }
}
.xb-main-section{
  padding-bottom: 60px;
  overflow: hidden;
  display: block;
}
.xb-inner-section{
  max-width: 800px;
  width: 100%;
  p{
    overflow-x: hidden;
    word-wrap: break-word;
    width: 100%;
  }
}

.xb-rating-star{
  .material-icons{
    display: block;
    text-align: center;
    font-size: 16px;
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
  }
}

.xb-main-scroll{
  overflow: hidden;
  display: block;
  position: relative;
  &__left-arrow{
    position: absolute;
    left: 0;
    top: calc(50% - 24px);
    z-index: 1;
  }
  &__right-arrow{
    position: absolute;
    right: 0;
    top: calc(50% - 24px);
    z-index: 1;
  }
  >i{
    width: 36px;
    height: 48px;
    background-color: rgba(0,0,0,.38);
    border-radius: 2px;
    display: none;
    &:before{
      text-align: center;
      font-size: 40px;
      line-height: 48px;
      color: #fff;
    }
  }


  @include xb-gt-xs-screen{
    &:hover{
      >i{
        display: block;
      }
    }
  }
}
.xb-main-bg{
  padding-bottom: 32px;
  @include xb-xs-screen{
    padding-bottom: 24px;
  }
  &__clear{
    @include xb-xs-screen{
      margin-left: -10px;
      margin-right: -10px;
    }
  }
}
.xb-main-deals{
  overflow-y: hidden;
  white-space: nowrap;
  @include xb-xs-screen{
    padding: 0 10px;
  }
  >div{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 283px !important;
    max-width: 283px !important;
    margin-right: 16px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 2px;
    @include xb-xs-screen{
      width: 272px !important;
      max-width: 272px !important;
      margin-right: 8px;
    }
    &:last-child{
      margin-right: 0;
    }
    .md-button{
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
      margin-top: 0;
      border-top: 1px solid rgba(0,0,0,.12);
      line-height: 40px;
    }
  }
  &__bottom-title{
    position: relative;
    background: #fff;
    color: rgba(0,0,0,.87);
    margin: 16px 0;
    padding: 0 16px;
    height: 20px;
    @include ellipsisText();
  }
  &__img-bg{
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
    >a{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      overflow: hidden;
    }
  }
}
.xb-main-ask-list{
  @include xb-xs-screen{
    margin-left: -10px;
    margin-right: -10px;
  }
  >div{
    @include resetBorder();
    margin-right: 16px;
    padding-bottom: 16px;
    @include xb-xs-screen{
      margin-right: 0;
    }
    @include xb-sm-screen{
      &:nth-child(2){
        margin-right: 0;
      }
    }
    @include xb-gt-xs-screen{
      height: 430px;
    }
    @include xb-gt-sm-screen{
      min-width: 32%;
    }
    &:first-child{
      .xb-ask-list__item{
        height: 100%;
        margin-bottom: 16px;
      }
    }
  }
  .xb-ask-list__item{
    border: none;
    margin-bottom: 0;
    @include box-shadow(none);
  }
  .xb-ask-list__actions{
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    border-top: none;
  }
  .xb-ask-list__title.md-subhead{
    margin-top: 20px;
    margin-bottom: 0;
    max-height: 48px;
    overflow: hidden;
  }
  &__image{
    cursor: pointer;
    margin-right: 0 !important;
    padding-bottom: 0 !important;
    >img{
      width:100%;
    }
  }
}
