<div>
  <top-banner-slides-list class="xb-top-banner-container" slides="mainCtrl.topBanner" ratio="480/270" height="670"></top-banner-slides-list>
  <div class="container xb-main-bg">
    <div class="xb-title" layout="row" layout-align="start center" ng-if="mainCtrl.dealsPaginator.items.length > 0">
      <h3 class="md-dark-primary" flex>Exclusive Deals For You</h3>
      <a class="md-body-1" ui-sref="application.productDeals()">SEE MORE</a>
    </div>
    <deals-main-list layout="row" class="xb-main-scroll xb-main-bg__clear" deals="mainCtrl.dealsPaginator.items"></deals-main-list>
  </div>
  <div class="background-bg-white">
    <div class="container xb-main-bg" ng-if="mainCtrl.latestPaginater.items.length > 0" hide-xs>
      <div class="xb-title" layout="row" layout-align="start center">
        <h3 class="md-dark-primary" layout-fill>Test New Products</h3>
        <a class="md-body-1" ui-sref="application.testingcampaigns()">SEE MORE</a>
      </div>
      <latest-trials-list trials="mainCtrl.latestPaginater.items"></latest-trials-list>
    </div>
    <div class="container xb-main-bg" ng-if="mainCtrl.latestPaginater.items.length > 0" hide-gt-xs>
      <div class="xb-title" layout="row" layout-align="start center">
        <h3 class="md-dark-primary" layout-fill>Test New Products</h3>
        <a class="md-body-1" ui-sref="application.testingcampaigns()">SEE MORE</a>
      </div>
      <trials-main-list layout="row" class="xb-main-scroll xb-main-bg__clear" trials="mainCtrl.latestPaginater.items"></trials-main-list>
    </div>
  </div>
  <div class="container">
    <div class="xb-title" layout="row" layout-align="start center" ng-if="mainCtrl.askPaginator.items.length > 0">
      <h3 class="md-dark-primary" flex>Inspirations from Savvy Shoppers</h3>
      <a class="md-body-1" ui-sref="application.campaignreviews">SEE MORE</a>
    </div>
    <reviews-list class="xb-reviews-list" reviews-featured="mainCtrl.reviewsFeaturedTop.items"
                  on-reviews-follow="mainCtrl.addFollow(review)" layout-gt-xs="row"
                  layout-align-gt-xs="space-between start" layout-wrap featured="true"></reviews-list>
    </div>
  </div>
  <div class="container">
    <div class="xb-title" layout="row" layout-align="start center" ng-if="mainCtrl.askPaginator.items.length > 0">
      <h3 class="md-dark-primary" flex>Ask Xberts Community</h3>
    </div>
    <div layout="row" layout-align="start start" ng-if="mainCtrl.askPaginator.items.length > 0">
      <div flex>
        <question-order ask-ctrl="mainCtrl" index="mainCtrl.order" main-page="true"></question-order>
        <div>
          <question-item ng-if="mainCtrl.order == 0" products="mainCtrl.askPaginator.items"></question-item>
          <load-more class="md-margin-top-2 md-margin-bottom-2" layout="row" layout-align="center center"
                     ng-if="mainCtrl.askPaginator.loading"></load-more>
          <div class="xb-main-reviews__bottom-btn md-margin-bottom-2" layout="row" layout-align="center center">
            <md-button class="md-primary md-raised" ui-sref="application.askQuestionMain()" flex>SEE MORE</md-button>
          </div>
        </div>
      </div>
      <div hide-sm hide-xs flex="none">
        <div class="xb-main-reviewer">
          <div class="md-subhead md-dark-primary xb-main-reviewer__title" layout="row" layout-align="space-between center">
            LEADERBOARD
            <deals-sort sort="mainCtrl.sort" sort-id="mainCtrl.selectedIndex"
                        on-sort-change="mainCtrl.changeSort(sortId);"></deals-sort>
          </div>
          <answer-leaders leaders="mainCtrl.topReviewers.items"></answer-leaders>
          <load-more class="md-padding-top-2 md-padding-bottom-2" layout="row" layout-align="center center"
                     ng-if="mainCtrl.topReviewers.loading"></load-more>
        </div>
      </div>
    </div>
  </div>
</div>

