<div>
  <top-banner-slides-list class="xb-top-banner-container" slides="mainCtrl.topBanner" ratio="480/270" height="670"></top-banner-slides-list>
  <div class="container xb-main-bg">
    <div class="xb-title" layout="row" layout-align="start center" ng-if="mainCtrl.dealsPaginator.items.length > 0">
      <h3 class="md-dark-primary" flex>Exclusive Deals For You</h3>
      <a class="md-body-1" ui-sref="application.productDeals()">SEE MORE</a>
    </div>
    <deals-main-list layout="row" class="xb-main-scroll xb-main-bg__clear" deals="mainCtrl.dealsPaginator.items"></deals-main-list>
  </div>
  <div class="background-bg-white">
    <div class="container xb-main-bg" ng-if="mainCtrl.latestPaginater.items.length > 0" hide-xs>
      <div class="xb-title" layout="row" layout-align="start center">
        <h3 class="md-dark-primary" layout-fill>Test New Products</h3>
        <a class="md-body-1" ui-sref="application.testingcampaigns()">SEE MORE</a>
      </div>
      <latest-trials-list trials="mainCtrl.latestPaginater.items"></latest-trials-list>
    </div>
    <div class="container xb-main-bg" ng-if="mainCtrl.latestPaginater.items.length > 0" hide-gt-xs>
      <div class="xb-title" layout="row" layout-align="start center">
        <h3 class="md-dark-primary" layout-fill>Test New Products</h3>
        <a class="md-body-1" ui-sref="application.testingcampaigns()">SEE MORE</a>
      </div>
      <trials-main-list layout="row" class="xb-main-scroll xb-main-bg__clear" trials="mainCtrl.latestPaginater.items"></trials-main-list>
    </div>
  </div>
  <div class="container">
    <div class="xb-title" layout="row" layout-align="start center" ng-if="mainCtrl.askPaginator.items.length > 0">
      <h3 class="md-dark-primary" flex>Ask Xberts Community</h3>
      <a class="md-body-1" ui-sref="application.askQuestionMain">SEE MORE</a>
    </div>
    <main-question-item questions="mainCtrl.askPaginator.items" answer="mainCtrl.answerPaginator.items"></main-question-item>
  </div>
  <div class="container xb-main-section">
    <div class="xb-title" layout="row" layout-align="start end" ng-if="mainCtrl.topReviewers.items.length > 0">
      <h3 class="md-dark-primary" layout-fill>Reviews from Tech Insiders</h3>
    </div>
    <div layout="row" layout-align="start start">
      <div class="xb-main-reviews" flex ng-if="mainCtrl.reviews.items.length > 0">
        <md-card class="product-order" layout="row" layout-align="start center">
          <md-button>Latest<div class="tab-triangle"></div></md-button>
        </md-card>
        <reviews-list reviews="mainCtrl.reviews.items"></reviews-list>
        <div class="xb-main-reviews__bottom-btn" layout="row" layout-align="center center">
          <md-button class="md-primary md-raised" ui-sref="application.campaignreviews()">SEE MORE</md-button>
        </div>
      </div>
      <div class="xb-main-reviewer" hide-sm hide-xs ng-if="mainCtrl.topReviewers.items.length > 0">
        <div class="md-subhead md-dark-primary xb-main-reviewer__title" layout="row" layout-align="start center">
          Top Reviewers of The Month
        </div>
        <top-reviewers-list reviewers="mainCtrl.topReviewers.items"></top-reviewers-list>
      </div>
    </div>
  </div>
</div>

