<join ng-init="init(trial.review.interact)">
  <div id="review-detail" class="review-detail-page">
    <div class="container">

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-8">
          <div class="xcard xcard--borderless">
            <div class="xcard__image_wrap">
              <img ng-src="{{ trial.review.project.mainImage }}"/>
            </div>
            <div class="xcard__block">
              <div class="review-info visible-xs visible-sm">
                <p class="review-info__title">{{ trial.review.title }}</p>
                <p class="review-info__category">
            <span class="margin-right">
              <span ng-repeat="category in trial.review.project.categories">{{ category.name }}<span
                ng-if="!$last">,</span></span>
            </span>
                </p>
                <ul class="l-list-inline l-list-inline--strip align-center review-info__status">
                  <li class="c-status c-status--review-detail">
                    <span class="c-status__key">Available Units</span>
                    <ng-pluralize class="c-status__value" count="trial.review.sampleNum"
                                  when="{'0': '0 sample',
                               '1': '1 sample',
                               'other': '{{trial.review.sampleNum}} samples'}"></ng-pluralize>
                  </li>
                  <li class="c-status c-status--review-detail">
                    <span class="c-status__key">Time Left</span>
              <span class="c-status__value">
                <timer end-time="trial.review.applicationEndDate">
                  {{days|doubleDigit}} day{{daysS}},
                  {{hours|doubleDigit}}:{{minutes|doubleDigit}}:{{seconds|doubleDigit}}
                </timer>
              </span>
                  </li>
                  <li class="c-status c-status--review-detail">
                    <span class="c-status__key">Price</span>
                    <span class="c-status__value">
                      <span class="line-through font-del-price">{{ trial.review.getRetailPrice() | currency}}</span>
                      <span ng-if="!trial.review.isPaidTrial()">Free</span>
                      <span ng-if="trial.review.isPaidTrial()">{{ trial.review.getFlashSale() | currency }}</span>
                    </span>
                  </li>
                </ul>
                <div class="review-info__button" ng-include="'scripts/feature/review/trialDetail/review-main-action.html'">
                </div>
                <div class="c-image-line visible-xs visible-sm">
                  <div class="c-image-line__item">
                    <div class="c-image-line__item__image-wrap">
                      <img
                        src="https://xberts.imgix.net/static/icon/step1-green.png?s=5dedc19db80f1cc000b92ec473dd84ef">
                    </div>

                    <p class="c-image-line__item__text">
                      Apply<br/> Now
                    </p>
                  </div>
                  <div class="c-image-line__item">
                    <div class="c-image-line__item__image-wrap">
                      <img
                        src="https://xberts.imgix.net/static/icon/step2-green.png?s=5b3fce4c449bb1e6621a4f04299959fb"/>
                    </div>
                    <p class="c-image-line__item__text">
                      Get<br/>Selected
                    </p>
                  </div>
                  <div class="c-image-line__item">
                    <div class="c-image-line__item__image-wrap">
                      <img
                        src="https://xberts.imgix.net/static/icon/step3-green.png?s=6264a1aa1b3677e6c98a4c49c94fb132"/>
                    </div>

                    <p class="c-image-line__item__text">
                      Receive<br/>Product
                    </p>
                  </div>
                  <div class="c-image-line__item">
                    <div class="c-image-line__item__image-wrap">
                      <img
                        src="https://xberts.imgix.net/static/icon/step4-green.png?s=b7760dd8326c6f9aa6363def0904c41c">
                    </div>
                    <p class="c-image-line__item__text">
                      Submit<br/>Review
                    </p>
                  </div>
                  <div class="c-image-line__item">
                    <div class="c-image-line__item__image-wrap">
                      <img
                        src="https://xberts.imgix.net/static/icon/step5-green.png?s=341647267eb2e89a6ac2c249177d54c7">
                    </div>

                    <p class="c-image-line__item__text">
                      Review<br/>Ended
                    </p>
                  </div>
                </div>
              </div>
              <div class="review-section hidden-xs hidden-sm">
                <h4 class="review-section__title">
                  Be a product reviewer and it's yours to keep!
                </h4>
                <div class="c-image-line">
                  <div class="c-image-line__item">
                    <div class="c-image-line__item__image-wrap">
                      <img
                        src="https://xberts.imgix.net/static/icon/step1-green.png?s=5dedc19db80f1cc000b92ec473dd84ef">
                    </div>

                    <p class="c-image-line__item__text">
                      Apply Now
                    </p>
                  </div>
                  <div class="c-image-line__item">
                    <div class="c-image-line__item__image-wrap">
                      <img
                        src="https://xberts.imgix.net/static/icon/step2-green.png?s=5b3fce4c449bb1e6621a4f04299959fb"/>
                    </div>
                    <p class="c-image-line__item__text">
                      Get Selected
                    </p>
                  </div>
                  <div class="c-image-line__item">
                    <div class="c-image-line__item__image-wrap">
                      <img
                        src="https://xberts.imgix.net/static/icon/step3-green.png?s=6264a1aa1b3677e6c98a4c49c94fb132"/>
                    </div>

                    <p class="c-image-line__item__text">
                      Receive Product
                    </p>
                  </div>
                  <div class="c-image-line__item">
                    <div class="c-image-line__item__image-wrap">
                      <img
                        src="https://xberts.imgix.net/static/icon/step4-green.png?s=b7760dd8326c6f9aa6363def0904c41c">
                    </div>
                    <p class="c-image-line__item__text">
                      Submit Review
                    </p>
                  </div>
                  <div class="c-image-line__item">
                    <div class="c-image-line__item__image-wrap">
                      <img
                        src="https://xberts.imgix.net/static/icon/step5-green.png?s=341647267eb2e89a6ac2c249177d54c7">
                    </div>

                    <p class="c-image-line__item__text">
                      Review Ended
                    </p>
                  </div>
                </div>
              </div>
              <div class="review-section hidden-xs hidden-sm">
                <h4 class="review-section__title">Benefits</h4>
                <ul class="review-ul" ng-if="!trial.review.isPaidTrial()">
                  <li>Selected reviewer can get a FREE product in exchange for an honest review</li>
                  <li>Become a Key Opinion Leader and share your experience with our community</li>
                </ul>
                <ul class="review-ul" ng-if="trial.review.isPaidTrial()">
                  <li>Selected reviewer can get {{ trial.review.offPercentage() }}% OFF discount in exchange for an
                    honest review
                  </li>
                  <li>Become a Key Opinion Leader and share your experience with our community</li>
                </ul>
              </div>
              <div class="review-section hidden-xs hidden-sm">
                <h4 class="review-section__title">Requirements</h4>
                <ul class="review-ul">
                  <li>All selected applicants must submit their product reviews to Xberts before deadline
                  </li>
                  <li>
                    A review report should be UNBIASED and match the following criteria:
                    <ul class="review-ul review-ul--lower-alpha">
                      <li>Minimum 500 words</li>
                      <li>5 photos minimum</li>
                      <li>Video is preferable but not required, unless stated otherwise</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="xcard xcard--borderless">
            <div class="xcard__header">
              <ul class="nav nav-underlines" bs-affix data-offset-top="-70">
                <li data-target="#review-description" du-scrollspy="review-description">
                  <a du-smooth-scroll="review-description">Description</a>
                </li>
                <li data-target="#review-comment" du-scrollspy="review-comment">
                  <a du-smooth-scroll="review-comment">Comments</a>
                </li>
              </ul>
            </div>
            <div class="xcard__block">
              <div class="review-section" id="review-description">
                <div ng-bind-html="trial.review.project.details | trust"></div>
              </div>


              <div class="review-section" id="review-comment">
                <h4 class="review-section__title">
                  Comments
                </h4>
                <div ng-include src="'views/comment/comments.html'"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 hidden-xs hidden-sm">
          <div class="review-info align-center">
            <p class="review-info__title">{{ trial.review.title }}</p>
            <p class="review-info__category">
            <span class="margin-right">
              <span ng-repeat="category in trial.review.project.categories">{{ category.name }}<span
                ng-if="!$last">,</span></span>
            </span>
            </p>
            <div class="c-user review-info__reviewer">
              <avatar-img src="review.project.account.avatar"></avatar-img>
              <p class="c-user__name">
                <a ui-sref="application.expert({ expertId:review.project.account.id })">{{
                  trial.review.project.account.fullname }}</a>
              </p>
            </div>

            <ul class="l-list-inline l-list-inline--strip align-center review-info__status">
              <li class="c-status c-status--review-detail">
                <span class="c-status__key">Available Units</span>
              <span class="c-status__value" ng-pluralize count="trial.review.sampleNum"
                    when="{'0': '0 sample',
                               '1': '1 sample',
                               'other': '{{ trial.review.sampleNum }} samples'}"></span>
              </li>
              <li class="c-status c-status--review-detail">
                <span class="c-status__key">Time Left</span>
              <span class="c-status__value">
                <timer end-time="trial.review.applicationEndDate">
                  {{days|doubleDigit}} day{{daysS}},
                  {{hours|doubleDigit}}:{{minutes|doubleDigit}}:{{seconds|doubleDigit}}
                </timer>
              </span>
              </li>
              <li class="c-status c-status--review-detail">
                <span class="c-status__key">Price</span>
                <span class="c-status__value">
                  <span class="line-through font-del-price">{{ trial.review.getRetailPrice() | currency}}</span>
                  <span ng-if="!trial.review.isPaidTrial()">Free</span>
                  <span ng-if="trial.review.isPaidTrial()">{{ trial.review.getFlashSale() | currency }}</span>
                </span>
              </li>
            </ul>
            <div class="review-info__button" ng-include="'scripts/feature/review/trialDetail/review-main-action.html'">
            </div>

            <div class="c-timeline">
              <div ng-class="{'c-timeline__item':true, 'c-timeline__item--active':trial.review.status=='APPLICATION'}">
                <span class="c-timeline__item__event">Application Deadline</span>
                <span class="c-timeline__item__point"></span>
                <span
                  class="c-timeline__item__time">{{ trial.review.applicationEndDate | amDateFormat:'MMM DD, YYYY' }}</span>
              </div>
              <div
                ng-class="{'c-timeline__item':true, 'c-timeline__item--active':trial.review.status=='SELECTION' || review.status=='CONFIRMATION'}">
                <span class="c-timeline__item__event">Announce Reviewers</span>
                <span class="c-timeline__item__point"></span>
                <span class="c-timeline__item__time">within 7 business days</span>
              </div>
              <div ng-class="{'c-timeline__item':true, 'c-timeline__item--active':trial.review.status=='REVIEW'}">
                <span class="c-timeline__item__event">Product Review</span>
                <span class="c-timeline__item__point"></span>
                <span class="c-timeline__item__time">2 weeks</span>
              </div>
              <div ng-class="{'c-timeline__item':true, 'c-timeline__item--active':trial.review.status=='ENDED'}">
                <span class="c-timeline__item__event">Review Submission Deadline</span>
                <span class="c-timeline__item__point"></span>
                <span class="c-timeline__item__time">{{ trial.review.dateEnd | amDateFormat:'MMM DD, YYYY' }}</span>
              </div>
            </div>

            <share
              title="{{ pageSettings._title }}"
              description="{{ pageSettings._description }}"
              url="{{pageSettings.getUrl()}}"
              image="{{pageSettings_shareImage }}">
            </share>

            <div ng-if="user.getUserId() == trial.review.project.account.id || user.isStaff()">
              <div ng-show="trial.review.status === 'SELECTION'">
                <div class="margin-top">
                  <a class="c-btn c-btn--blue c-btn--lg c-btn--block"
                     ui-sref="application.selectApplicants({reviewId:review.id})">Select
                    Applicants</a>
                </div>
              </div>
              <div ng-show="trial.review.status === 'CONFIRMATION'">
                <div class="margin-top">
                  <a class="c-btn c-btn--blue c-btn--lg c-btn--block"
                     ui-sref="application.selectApplicants({reviewId:review.id})">View
                    Applicants</a>
                </div>
              </div>
              <div ng-show="trial.review.status === 'REVIEW'">
                <div class="margin-top">
                  <a class="c-btn c-btn--blue c-btn--lg c-btn--block"
                     ui-sref="application.selectApplicants({reviewId:review.id})">View
                    Shipping Address</a>
                </div>
              </div>
              <div ng-show="trial.review.status === 'ENDED'">
                <div class="margin-top">
                  <a class="c-btn c-btn--blue c-btn--lg c-btn--block"
                     ui-sref="application.crowdtestingReports({reviewId:review.id})">View
                    Reports</a>
                </div>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>

  </div>

  </div>
</join>
