<div layout="column" class="xb-trials-details-mobile">
  <div class="xb-trial-detail__atlas" flex hide-gt-xs>
    <img ng-src="{{ trial.review.project.mainImage }}" />
  </div>
  <div class="container xb-trial-detail xb-trial-detail__bottom">
    <div hide-xs>
      <div class="md-display-1">{{ trial.review.title }}</div>
      <div class="xb-trial-detail__subtitle md-dark-secondary">
        <span ng-repeat="category in trial.review.project.categories">
          {{ category.name }}<span ng-if="!$last">,</span>
        </span>
      </div>
    </div>
    <div layout-xs="column" layout-gt-xs="row" layout-align-gt-xs="space-around start">
      <div class="xb-trial-detail__atlas" flex-gt-xs="60" hide-xs>
        <img ng-src="{{ trial.review.project.mainImage }}" />
      </div>
      <div hide-gt-xs>
        <div class="md-display-1">{{ trial.review.title }}</div>
        <div class="xb-trial-detail__subtitle md-dark-secondary">
        <span ng-repeat="category in trial.review.project.categories">
          {{ category.name }}<span ng-if="!$last">,</span>
        </span>
        </div>
      </div>
      <div flex-gt-xs="40">
        <trial-information trial="trial" page-settings="pageSettings" user="user"></trial-information>
      </div>
    </div>
  </div>
  <div class="background-whitem" hide-xs>
    <interact interact="trial.review.interact">
      <div class="xb-trial-tabs">
        <div class="xb-trial-tabs__inner-content" tabs-fixed-top del-top="56" parent="'background-whitem'" item="'xb-trial-detail__pop-bg'">
          <div class="container" layout="row">
            <div class="xb-trial-tabs__left" layout="row" flex="60">
              <div class="md-subhead active" layout="row" layout-align="start center" xb-tabs xb-scroll-to="'Reviews'"
                  ng-if="trial.isShowReviews">Reviews<span>{{trial.pendingApplicantPaginator.count}}</span></div>
              <div class="md-subhead" ng-class="{true:'',false:'active'}[trial.isShowReviews]" layout="row" layout-align="start center" xb-tabs xb-scroll-to="'Description'">Description</div>
              <div class="md-subhead" layout="row" layout-align="start center" xb-tabs xb-scroll-to="'Comments'">Comments<comment-amounts></comment-amounts></div>
            </div>
            <div class="xb-trial-detail__content" layout="row" layout-align="start center" flex="">
              <div class="xb-trial-detail__pop-bg" ng-switch="trial.review.status">
                <div ng-switch-when="APPLICATION" layout="row" layout-align="start center">
                  <md-button  class="md-primary md-raised" ui-sref="application.protected.apply({reviewId:trial.review.id})">Apply for Trial</md-button>
                  <div class="md-margin-left-2" ng-if="!trial.review.isFlashsale()"> or </div>
                  <md-button class="md-accent md-margin-clear" ng-if="!trial.review.isFlashsale()" ng-click="trial.review.buyNow('trials-detail');">Buy Now</md-button>
                </div>
                <div ng-switch-when="SELECTION" layout="row" layout-align="start center">
                  <md-button tabs-fixed-item class="md-primary md-raised" ng-disabled="true">APPLICANT SCREENING</md-button>
                  <div class="md-margin-left-2" ng-if="!trial.review.isFlashsale()"> or </div>
                  <md-button class="md-accent md-margin-clear" ng-if="!trial.review.isFlashsale()" ng-click="trial.review.buyNow('trials-detail');">Buy Now</md-button>
                </div>
                <div ng-switch-when="CONFIRMATION" layout="row" layout-align="start center">
                  <md-button tabs-fixed-item class="md-primary md-raised" ng-disabled="true">APPLICANT SCREENING</md-button>
                  <div class="md-margin-left-2" ng-if="!trial.review.isFlashsale()"> or </div>
                  <md-button class="md-accent md-margin-clear" ng-if="!trial.review.isFlashsale()" ng-click="trial.review.buyNow('trials-detail');">Buy Now</md-button>
                </div>
                <div ng-switch-when="REVIEW" layout="row" layout-align="start center">
                  <md-button tabs-fixed-item class="md-primary md-raised"
                             ui-sref="application.protected.crowdtestingReport({reviewId:trial.review.id})">SUBMIT REVIEW</md-button>
                  <div class="md-margin-left-2" ng-if="!trial.review.isFlashsale()"> or </div>
                  <md-button class="md-accent md-margin-clear" ng-if="!trial.review.isFlashsale()" ng-click="trial.review.buyNow('trials-detail');">Buy Now</md-button>
                </div>
                <div ng-switch-when="ENDED">
                  <md-button class="md-accent md-raised" ng-click="trial.review.buyNow('trials-detail');">Buy Now</md-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="xb-trial-tabs__content">
        <div class="container" layout="row" layout-align="start start">
          <div class="" flex="60" layout="column">
            <div ng-if="trial.isShowReviews">
            <div class="md-headline" id="Reviews">Reviews</div>
            <div infinite-scroll="trial.pendingApplicantPaginator.loadNext()" infinite-scroll-distance='0' infinite-scroll-container='".xb-body-view "'
                 infinite-scroll-disabled="trial.pendingApplicantPaginator.loading || !trial.pendingApplicantPaginator.next">
              <trials-reviewers reviewers="trial.pendingApplicantPaginator.items"></trials-reviewers>
            </div>
            <load-more ng-if="trial.pendingApplicantPaginator.loading"></load-more>
            </div>
            <div class="md-headline" id="Description">Description</div>
            <div class="xb-trial-tabs__description" ng-bind-html="trial.review.project.details | trust"></div>
            <div class="md-headline" id="Comments">Comments</div>
              <feedback-list interact-id="{{trial.review.interact.id}}"></feedback-list>
          </div>
          <div class="" flex="40">
            <div class="xb-trial-detail__content">
              <div class="xb-detail-cards" ng-if="trial.isShowReviews">
                <div class="md-subhead">
                  Selected Reviewers <span>{{trial.selectedApplicantPaginator.count}}</span>
                </div>
                <div class="xb-detail-cards__padding-2">
                  <div class="xb-selected-reviewer" infinite-scroll="trial.selectedApplicantPaginator.loadNext()" infinite-scroll-distance='0' infinite-scroll-container='".xb-body-view "'
                       infinite-scroll-disabled="trial.selectedApplicantPaginator.loading || !trial.selectedApplicantPaginator.next">
                    <div ng-repeat="review in trial.selectedApplicantPaginator.items" layout="row" layout-align="start center">
                      <div>
                        <avatar-img class="xb-selected-reviewer__avatar" src="review.reviewer.avatar"
                                    name="review.reviewer.fullname"
                                    ui-sref="application.expert({ expertId:review.reviewer.id})"></avatar-img>
                      </div>
                      <div layout="column" flex>
                        <div class="xb-selected-reviewer__name" layout="row" layout-align="start center">
                          <a ui-sref="application.expert({ expertId:review.reviewer.id})">
                            {{review.reviewer.userprofile.first_name + ' ' +review.reviewer.userprofile.last_name}}</a>
                          <credit-badge class="credit-badge" points="review.reviewer.badge_point"></credit-badge>
                        </div>
                        <div class="md-dark-secondary">{{review.reviewer.userprofile.position}} @ {{review.reviewer.userprofile.company}}</div>
                      </div>
                      <xb-follow follow="review.reviewer.currentUser.follow" user-id="review.reviewer.id"></xb-follow>
                    </div>
                  </div>
                  <load-more ng-if="trial.selectedApplicantPaginator.loading"></load-more>

                </div>
              </div>
              <div ng-if="!trial.isShowReviews ">
                <div class="xb-detail-cards" ng-if="trial.review.project.officialUrl != ''">
                  <div class="md-subhead">
                    About This Brand
                  </div>
                  <div class="xb-detail-cards__padding-2">
                    <div layout="row" layout-align="start center">
                      <avatar-img ng-click="trial.review.website();" class="xb-trial-detail__avatar-1" src="trial.review.project.account.avatar"
                                  name="trial.review.project.account.fullname"></avatar-img>
                      <div flex ng-click="trial.review.website();">{{ trial.review.project.account.fullname }}</div>
                    </div>
                    <a class="xb-color-primary md-margin-top-1 xb-pointer xb-detail-cards__website"
                       ng-click="trial.review.website();">
                      See their website >>
                    </a>
                  </div>
                </div>
                <div class="xb-detail-cards">
                  <div class="md-subhead">
                    Trial Process
                  </div>
                  <div class="xb-detail-cards__padding-1">
                    <div class="xb-detail-cards__circle-bg" layout="row" layout-align="start center">
                      <div class="xb-detail-cards__circle">1</div>
                      <div class="xb-detail-cards__triangle"></div>
                      <span flex></span>
                      <div class="xb-detail-cards__circle">2</div>
                      <div class="xb-detail-cards__triangle"></div>
                      <span flex></span>
                      <div class="xb-detail-cards__circle">3</div>
                      <div class="xb-detail-cards__triangle"></div>
                      <span flex></span>
                      <div class="xb-detail-cards__circle">4</div>
                    </div>
                    <div layout="row" layout-align="space-between center">
                      <div class="md-body-1">Apply<br>Now</div>
                      <div class="md-body-1">Get<br>Selected</div>
                      <div class="md-body-1">Receive<br>Product</div>
                      <div class="md-body-1">Submit<br>Review</div>
                    </div>
                  </div>
                </div>
                <div class="xb-detail-cards">
                  <div class="md-subhead">
                    Benefits and Requirements
                  </div>
                  <div class="xb-detail-cards__padding-2">
                    <ul class="review-ul">
                      <li>Selected reviewer can get {{trial.review.offPercentage() + '%'}} OFF discount in exchange for an honest review</li>
                      <li>Become a Key Opinion Leader and share your experience with our community</li>
                      <li>All selected applicant must submit a product review to Xberts before deadline</li>
                    </ul>
                  </div>
                </div>
                <div class="xb-detail-cards">
                  <div class="md-subhead">
                    Timeline
                  </div>
                  <div class="xb-detail-cards__padding-3">
                    <div layout="row">
                      <div class="xb-detail-cards__align-right" layout="column" layout-align="space-between end">
                        <div class="xb-detail-cards__fixed-height" layout="row" layout-align="end center">Application Deadline</div>
                        <div class="xb-detail-cards__fixed-height" layout="row" layout-align="end center">Announce Reviewers</div>
                        <div class="xb-detail-cards__fixed-height" layout="row" layout-align="end center">Product Review</div>
                        <div class="xb-detail-cards__fixed-height" layout="row" layout-align="end center">Review Submission Deadline</div>
                      </div>
                      <div class="xb-detail-cards__time-axis" layout="column" layout-align="start center">
                        <div class="xb-detail-cards__points-large"></div>
                        <span flex></span>
                        <div class="xb-detail-cards__points"></div>
                        <span flex></span>
                        <div class="xb-detail-cards__points"></div>
                        <span flex></span>
                        <div class="xb-detail-cards__points"></div>
                      </div>
                      <div layout="column" layout-align="space-between start">
                        <div class="xb-detail-cards__fixed-height" layout="row" layout-align="start center">{{ trial.review.applicationEndDate | amDateFormat:'MMM DD, YYYY' }}</div>
                        <div class="xb-detail-cards__fixed-height" layout="row" layout-align="start center">within 7 business days</div>
                        <div class="xb-detail-cards__fixed-height" layout="row" layout-align="start center">2 weeks</div>
                        <div class="xb-detail-cards__fixed-height" layout="row" layout-align="start center">{{ trial.review.dateEnd | amDateFormat:'MMM DD, YYYY' }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </interact>
  </div>
</div>
<div hide-gt-xs class="xb-credit-mobile xb-trials-details-mobile">
  <div ng-hide="!trial.isShowReviews" class="xb-credit-mobile__nav" layout="row" layout-align="space-between center">
    <md-truncate flex class="md-subhead">Reviews</md-truncate>
    <md-icon md-font-set="material-icons" nav-next-slide-toggle toggle-element="'.xb-credit-mobile .container'"
             parent="'.xb-credit-mobile__nav'" active-class="'active'" touch-class="'hover'" index="0" toggle="true">keyboard_arrow_down</md-icon>
  </div>
  <div ng-hide="!trial.isShowReviews" class="container ">
    <div class="xb-detail-cards__padding-2" infinite-scroll="trial.pendingApplicantPaginator.loadNext()" infinite-scroll-distance='0' infinite-scroll-container='".xb-body-view "'
         infinite-scroll-disabled="trial.pendingApplicantPaginator.loading || !trial.pendingApplicantPaginator.next">
      <trials-reviewers reviewers="trial.pendingApplicantPaginator.items"></trials-reviewers>
    </div>
    <load-more ng-if="trial.pendingApplicantPaginator.loading"></load-more>
  </div>
  <div ng-hide="!trial.isShowReviews" class="xb-credit-mobile__nav" layout="row" layout-align="space-between center">
    <md-truncate flex class="md-subhead">Selected Reviewers</md-truncate>
    <md-icon md-font-set="material-icons" nav-next-slide-toggle toggle-element="'.xb-credit-mobile .container'"
             parent="'.xb-credit-mobile__nav'" active-class="'active'" touch-class="'hover'" index="1" toggle="false">keyboard_arrow_down</md-icon>
  </div>
  <div ng-hide="!trial.isShowReviews" class="container">
    <div class="xb-selected-reviewer xb-detail-cards__padding-2" infinite-scroll="trial.selectedApplicantPaginator.loadNext()" infinite-scroll-distance='0' infinite-scroll-container='".xb-body-view "'
         infinite-scroll-disabled="trial.selectedApplicantPaginator.loading || !trial.selectedApplicantPaginator.next">
      <div ng-repeat="review in trial.selectedApplicantPaginator.items" layout="row" layout-align="start start">
        <div>
          <avatar-img class="xb-selected-reviewer__avatar" src="review.reviewer.userprofile.avatar"
                      name="review.reviewer.userprofile.first_name + ' ' +review.reviewer.userprofile.last_name"
                      ui-sref="application.expert({ expertId:review.reviewer.id})"></avatar-img>
        </div>
        <div layout="column" flex>
          <div class="xb-selected-reviewer__name" layout="row" layout-align="start center">
            <a ui-sref="application.expert({ expertId:review.reviewer.id})">
              {{review.reviewer.userprofile.first_name + ' ' +review.reviewer.userprofile.last_name}}</a>
            <credit-badge class="credit-badge" points="review.reviewer.badge_point"></credit-badge>
          </div>
          <md-truncate class="md-dark-secondary">{{review.reviewer.userprofile.position}} @ {{review.reviewer.userprofile.company}}</md-truncate>
        </div>
      </div>
    </div>
    <load-more ng-if="trial.selectedApplicantPaginator.loading"></load-more>
  </div>
  <div ng-hide="trial.isShowReviews || trial.review.project.officialUrl == ''" class="xb-credit-mobile__nav" layout="row" layout-align="space-between center">
    <md-truncate flex class="md-subhead">About This Brand</md-truncate>
    <md-icon md-font-set="material-icons" nav-next-slide-toggle toggle-element="'.xb-credit-mobile .container'"
             parent="'.xb-credit-mobile__nav'" active-class="'active'" touch-class="'hover'" index="2" toggle="true">keyboard_arrow_down</md-icon>
  </div>
  <div ng-hide="trial.isShowReviews || trial.review.project.officialUrl == ''" class="container">
    <div class="xb-detail-cards xb-detail-cards__padding-2">
      <div layout="row" layout-align="start center">
        <avatar-img  ng-click="trial.review.website();" class="xb-trial-detail__avatar-1"
                     src="trial.review.project.account.avatar" name="trial.review.project.account.fullname"></avatar-img>
        <div flex ng-click="trial.review.website();">{{ trial.review.project.account.fullname }}</div>
      </div>
      <div ng-click="trial.review.website();" class="xb-color-primary md-margin-top-2 xb-detail-cards__website">
        See their website >>
      </div>
    </div>
  </div>
  <div ng-hide="trial.isShowReviews" class="xb-credit-mobile__nav" layout="row" layout-align="space-between center">
    <md-truncate flex class="md-subhead">Trial Process</md-truncate>
    <md-icon md-font-set="material-icons" nav-next-slide-toggle toggle-element="'.xb-credit-mobile .container'"
             parent="'.xb-credit-mobile__nav'" active-class="'active'" touch-class="'hover'" index="3" toggle="false">keyboard_arrow_down</md-icon>
  </div>
  <div ng-hide="trial.isShowReviews" class="container">
    <div class="xb-detail-cards xb-detail-cards__padding-2">
      <div class="xb-detail-cards__circle-bg" layout="row" layout-align="start center">
        <div class="xb-detail-cards__circle">1</div>
        <div class="xb-detail-cards__triangle"></div>
        <span flex></span>
        <div class="xb-detail-cards__circle">2</div>
        <div class="xb-detail-cards__triangle"></div>
        <span flex></span>
        <div class="xb-detail-cards__circle">3</div>
        <div class="xb-detail-cards__triangle"></div>
        <span flex></span>
        <div class="xb-detail-cards__circle">4</div>
      </div>
      <div layout="row" layout-align="space-between center">
        <div class="md-body-1">Apply<br>Now</div>
        <div class="md-body-1">Get<br>Selected</div>
        <div class="md-body-1">Receive<br>Product</div>
        <div class="md-body-1">Submit<br>Review</div>
    </div>
    </div>
  </div>
  <div ng-hide="trial.isShowReviews" class="xb-credit-mobile__nav" layout="row" layout-align="space-between center">
    <md-truncate flex class="md-subhead">Benefits and Requirements</md-truncate>
    <md-icon md-font-set="material-icons" nav-next-slide-toggle toggle-element="'.xb-credit-mobile .container'"
             parent="'.xb-credit-mobile__nav'" active-class="'active'" touch-class="'hover'" index="4" toggle="false">keyboard_arrow_down</md-icon>
  </div>
  <div ng-hide="trial.isShowReviews" class="container ">
    <div class="xb-detail-cards xb-detail-cards__padding-2">
      <ul class="review-ul">
        <li>Selected reviewer can get 100% OFF discount in exchange for an honest review</li>
        <li>Become a Key Opinion Leader and share your experience with our community</li>
        <li>All selected applicant must submit a product review to Xberts before deadline</li>
      </ul>
    </div>
  </div>
  <div ng-hide="trial.isShowReviews" class="xb-credit-mobile__nav" layout="row" layout-align="space-between center">
    <md-truncate flex class="md-subhead">Timeline</md-truncate>
    <md-icon md-font-set="material-icons" nav-next-slide-toggle toggle-element="'.xb-credit-mobile .container'"
             parent="'.xb-credit-mobile__nav'" active-class="'active'" touch-class="'hover'" index="5" toggle="false">keyboard_arrow_down</md-icon>
  </div>
  <div ng-hide="trial.isShowReviews" class="container">
    <div class="xb-detail-cards xb-detail-cards__padding-2">
      <div layout="row">
        <div class="xb-detail-cards__time-axis" layout="column" layout-align="start center">
          <div class="xb-detail-cards__points-large"></div>
          <span flex></span>
          <div class="xb-detail-cards__points"></div>
          <span flex></span>
          <div class="xb-detail-cards__points"></div>
          <span flex></span>
          <div class="xb-detail-cards__points"></div>
        </div>
        <div class="xb-detail-cards__align-right" layout="column" layout-align="space-between start">
          <div class="xb-detail-cards__fixed-height" layout="column" layout-align="center start">
            <div flex="noshrink" class="md-subhead">Application Deadline</div>
            <div flex="noshrink" >{{ trial.review.applicationEndDate | amDateFormat:'MMM DD, YYYY' }}</div>
          </div>
          <div class="xb-detail-cards__fixed-height" layout="column" layout-align="center start">
            <div flex="noshrink" class="md-subhead">Announce Reviewers</div>
            <div flex="noshrink" >within 7 business days</div>
          </div>
          <div class="xb-detail-cards__fixed-height" layout="column" layout-align="center start">
            <div flex="noshrink" class="md-subhead">Product Review</div>
            <div flex="noshrink" >2 weeks</div>
          </div>
          <div class="xb-detail-cards__fixed-height" layout="column" layout-align="center start">
            <div flex="noshrink" class="md-subhead">Review Submission Deadline</div>
            <div flex="noshrink" >{{ trial.review.dateEnd | amDateFormat:'MMM DD, YYYY' }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="xb-credit-mobile__nav" layout="row" layout-align="space-between center">
    <md-truncate flex class="md-subhead">Description</md-truncate>
    <md-icon md-font-set="material-icons" nav-next-slide-toggle toggle-element="'.xb-credit-mobile .container'"
             parent="'.xb-credit-mobile__nav'" active-class="'active'" touch-class="'hover'" index="6" toggle="false">keyboard_arrow_down</md-icon>
  </div>
  <div class="container">
    <div class="xb-trial-tabs__description xb-detail-cards__padding-2" ng-bind-html="trial.review.project.details | trust"></div>
  </div>
  <div class="xb-credit-mobile__nav" layout="row" layout-align="space-between center">
    <md-truncate flex class="md-subhead">Comments<span>{{trial.review.interact.feedbackAmount > 0 ? trial.review.interact.feedbackAmount:''}}</span></md-truncate>
    <md-icon md-font-set="material-icons" nav-next-slide-toggle toggle-element="'.xb-credit-mobile .container'"
             parent="'.xb-credit-mobile__nav'" active-class="'active'" touch-class="'hover'" index="7" toggle="false">keyboard_arrow_down</md-icon>
  </div>
  <div class="container">
    <interact interact="trial.review.interact" class="xb-trial-tabs__content">
      <feedback-list interact-id="{{trial.review.interact.id}}"></feedback-list>
    </interact>
  </div>
</div>
