<div class="xb-main-deals" flex="noshrink" layout="row" layout-align="start start">
  <div ng-repeat="item in deals track by $index" flex="none">
    <div class="xb-deals-list__img-bg">
      <a layout="column" layout-align="start center" ui-sref="application.dealsDetail({dealsId:item.id})" target="_blank">
        <img src="{{item.coverUrl}}" />
        <div class="xb-deals-list__mask animation-opacity-show" layout="column" layout-align="center center" hide-xs>
          <div class="md-subhead">Quick Look</div>
        </div>
        <div class="xb-main-col__top-right">
          <span end-time-left end-time="item.promotionDeadline">
            <span ng-show="timeValue>0">{{ timeUnit }}</span>
          </span>
        </div>
      </a>
    </div>
    <div class="xb-deals-list__content" layout="column" layout-align="stretch start">
      <div class="md-body-1 md-dark-secondary">{{item.source}}</div>
      <div class="xb-deals-list__price" layout="column" layout-align="start start">
        <span class="md-headline xb-bold">
          {{item.discountPrice | currency}}
        </span>
        <span>
          <span class="md-dark-secondary">
            {{item.originalPrice | currency}}
          </span>
          <span class="xb-deals-list__discount">
            {{item.discount * 100 | number:0}}% off
          </span>
        </span>
      </div>
      <div class="xb-deals-list__title">
        <a ui-sref="application.dealsDetail({dealsId:item.id})" target="_blank">{{item.title}}</a>
      </div>
    </div>
    <div layout="row" layout-align="center start" hide-xs>
      <md-button class="md-primary" ng-click="item.buyNow('deals-list');">
        Get it Now
      </md-button>
    </div>
  </div>
</div>
<i class="iconfontXberts icon-jiantou xb-main-scroll__left-arrow animation-opacity-show"
   scroll-control scroll-element="'.xb-main-deals'" page="page" page-size="4" distance="299"></i>
<i class="iconfontXberts icon-jiantou- xb-main-scroll__right-arrow animation-opacity-show"
   scroll-control scroll-element="'.xb-main-deals'" direction="1"
   page="page" page-size="4" distance="299" amount="deals.length"></i>
