.xb-deals-list{
  >div{
    margin-bottom: 16px;
    background-color: #fff;
    @include resetBorder();
    flex: 1 1 245px !important;
    -webkit-flex: 1 1 245px !important;
    @include xb-lg-screen{
      max-width: 24% !important;
    }
    @include xb-md-screen{
      max-width: 32% !important;
    }
    @include xb-sm-screen{
      max-width: 48% !important;
    }
    @include xb-xs-screen{
      margin-bottom: 8px;
      flex: 1 1 172px !important;
      -webkit-flex: 1 1 172px !important;
      max-width: 49% !important;
    }
    @include xb-xxs-screen{
      flex: 1 1 160px !important;
      -webkit-flex: 1 1 160px !important;
    }
    .md-button{
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
  }
  &__img-bg{
    width: 100%;
    padding-bottom: 66.66%;
    overflow: hidden;
    position: relative;
    >img{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      cursor: pointer;
    }
  }
  &__content{
    padding: 0 16px 16px;
    height: 200px;
    @include xb-xs-screen{
      padding: 0 8px 16px;
      height: 130px;
    }
  }
  &__tag{
    margin-top: 6px;
    @include xb-xs-screen{
      font-size: 12px;
    }
  }
  &__price{
    margin-top: 8px;
    .md-headline{
      line-height: 24px;
      margin-right: 8px;
      @include xb-xs-screen{
        font-size: 16px;
        line-height: 16px;
      }
    }
    .md-dark-secondary{
      text-decoration: line-through;
      margin-right: 8px;
    }
  }
  &__title{
    margin-top: 8px;
    margin-bottom: 6px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    @include xb-xs-screen{
      @include media();
      a{
        color: #000;
        &:hover{
          color: #000;
          text-decoration: none;
        }
      }
    }
  }
  &__discount{
    color: #ff4081;
  }
  .md-dark-secondary{
    @include xb-xs-screen{
      font-size: 12px;
    }
  }
  &__prefix{
    @include box-shadow(none !important);
    margin: 0;
  }
}

.xb-filter{
  margin-top: 0;
  &__title{
    font-size: 16px;
    line-height: 36px;
    padding: 0 4px;
    width: 190px;
    @include media();
    .material-icons{
      outline: none;
      @include resetBorder();
      border-radius: 2px;
    }
    @include xb-xs-screen{
      width: auto;
      padding: 0 8px;
    }
  }
  .category-button{
    @include xb-xs-screen{
      width: auto;
      padding: 0 8px;
    }
  }
  &__button{
    @include regular();
    font-size: 14px;
    margin: 10px 4px 0;
    padding: 0;
    text-align: left;
    width: 190px;
    outline: none;
    position: relative;
    @include xb-xs-screen{
      width: auto;
      margin: 10px 8px 0;
    }
  }
  &__tags{
    >div{
      padding: 0 8px 0 16px;
      margin-right: 16px;
      margin-bottom: 16px;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, .12);
      line-height: 24px;
      .material-icons{
        margin-left: 8px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        outline: none;
      }
      @include xb-xs-screen{
        margin-right: 8px;
        margin-bottom: 8px;
      }
    }
  }
  &__filter-bg{
    margin-bottom: 16px;
    div{
      outline: none;
    }
    .material-icons{
      margin-left: 8px;
    }
  }
  &__margin-bottom{
    display: block;
    margin-bottom: 20px;
  }
}
