.xb-deals-list{
  >div{
    margin-bottom: 16px;
    background-color: #fff;
    flex: 1 1 240px !important;
    -webkit-flex: 1 1 240px !important;
    @include resetBorder();
    @include xb-lg-screen{
      max-width: 24% !important;
    }
    @include xb-md-screen{
      max-width: 32% !important;
    }
    @include xb-sm-screen{
      max-width: 48% !important;
    }
    @include xb-xs-screen{
      margin-bottom: 8px;
      flex: 1 1 172px !important;
      -webkit-flex: 1 1 172px !important;
      max-width: 49% !important;
    }
    @include xb-xxs-screen{
      flex: 1 1 150px !important;
      -webkit-flex: 1 1 150px !important;
    }
    .md-button{
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
      margin-top: 0;
      border-top: 1px solid rgba(0,0,0,.12);
      line-height: 40px;
    }
  }
  &__img-bg{
    width: 100%;
    padding-bottom: 66.66%;
    overflow: hidden;
    position: relative;
    >div{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      overflow: hidden;
      >img{
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  &__content{
    padding: 0 16px;
    height: 155px;
    @include xb-xs-screen{
      padding: 0 8px 8px;
      height: 140px;
    }
  }
  &__tag{
    margin-top: 6px;
    @include xb-xs-screen{
      font-size: 12px;
    }
  }
  &__price{
    margin-top: 8px;
    .md-headline{
      line-height: 24px;
      margin-right: 8px;
      @include xb-xs-screen{
        font-size: 16px;
        line-height: 16px;
      }
    }
    .md-dark-secondary{
      text-decoration: line-through;
      margin-right: 8px;
    }
  }
  &__title{
    margin-top: 8px;
    margin-bottom: 6px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    a{
      color: #000;
      &:hover{
        color: #000;
        text-decoration: none;
      }
    }
  }
  &__discount{
    color: #ff4081;
  }
  .md-dark-secondary{
    @include xb-xs-screen{
      font-size: 12px;
    }
  }
  &__prefix{
    @include box-shadow(none !important);
    margin: 0;
  }
  &__end{
    font-size: 12px;
  }
  md-input-container{
    margin: 20px 16px 8px;
    padding: 2px 0;
    .md-errors-spacer{
      display: none;
    }
    @include xb-xs-screen{
      margin: 20px 8px 8px;
    }
  }
  md-checkbox:last-of-type{
    margin: 0 16px 8px;
    @include xb-xs-screen{
      margin: 0 8px 8px;
    }
  }
}

.xb-filter{
  margin-top: 0;
  &__title{
    font-size: 16px;
    line-height: 36px;
    padding: 0 4px;
    width: 190px;
    @include media();
    .material-icons{
      outline: none;
      @include resetBorder();
      border-radius: 2px;
    }
    @include xb-xs-screen{
      width: auto;
      padding: 0 8px;
    }
  }
  .category-button{
    @include xb-xs-screen{
      width: auto;
      padding: 0 8px;
    }
  }
  &__button{
    @include regular();
    font-size: 14px;
    margin: 10px 4px 0;
    padding: 0;
    text-align: left;
    width: 190px;
    outline: none;
    position: relative;
    @include xb-xs-screen{
      width: auto;
      margin: 10px 8px 0;
    }
  }
  &__tags{
    >div{
      padding: 0 8px 0 16px;
      margin-right: 16px;
      margin-bottom: 16px;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, .12);
      line-height: 24px;
      .material-icons{
        margin-left: 8px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        outline: none;
      }
      @include xb-xs-screen{
        margin-right: 8px;
        margin-bottom: 8px;
      }
    }
  }
  &__filter-bg{
    margin-bottom: 16px;
    div{
      outline: none;
    }
    .material-icons{
      margin-left: 8px;
    }
  }
  &__margin-bottom{
    display: block;
    margin-bottom: 20px;
  }
}
.xb-deals-detail{
  &__title{
    margin-top: 28px;
    margin-bottom: 12px;
    @include xs-screen{
      font-size: 16px;
      line-height: 24px;
    }
  }
  &__subtitle{
    margin-bottom: 12px;
    @include regular();
  }
  &__margin-top{
    @include xb-xs-screen{
      margin-top: 16px;
      padding-top: 12px;
      border-top: 1px solid rgba(0,0,0,.12);
    }
  }
  &__atlas{
    display: block;
    padding-bottom: 56.25%;
    height: 0;
    position: relative;
    >div{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      >img{
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  &__price{
    .md-display-1{
      margin-top: 0;
      margin-bottom: 0px;
      @include xb-xs-screen{
        font-size: 14px;
      }
    }
    .md-dark-secondary{
      text-decoration: line-through;
    }
    span{
      margin-right: 8px;
      margin-bottom: 2px;
      @include xb-xs-screen{
        font-size: 14px;
        margin-bottom: 0;
      }
    }
  }
  &__vote{
    span{
      margin-left: 8px;
      color: rgba(0,0,0,.54);
    }
  }
  $parent: &;
  &__share-icon{
    margin-bottom: 20px;
    i{
      background-color: rgba(0,0,0,.12);
      width: 32px;
      height: 32px;
      font-size: 20px;
      line-height: 32px;
      text-align: center;
      margin-right: 16px;
      border-radius: 50%;
      color: #fff;
      cursor: pointer;
      outline: none;
    }
    $hoverChanges: (0 #3b5998) (1 #0177b5) (2 #1da1f2);
    @each $hoverChange in $hoverChanges{
      #{$parent}__color-#{nth($hoverChange, 1)} {
        &:hover{
          background-color: nth($hoverChange, 2);
        }
      }
    }
  }
  &__platform{
    margin-top: 16px;
    margin-bottom: 8px;
  }
  .xb-trial-detail__fixed-bottom{
    padding-bottom: 14px;
    margin-bottom: 12px;
    @include xb-xs-screen{
      padding: 0 10px;
      margin-bottom: 0;
    }
    .md-button{
      margin: 0;
      padding: 0 12px;
    }
  }
  .xb-trial-detail__fixed-bottom{
    border-bottom: 1px solid rgba(0,0,0,.12);
  }
  .xb-trial-detail__subtitle{
    @include xb-xs-screen{
      margin-top: 0;
    }
  }
}
