.xb-deals-list{
  >div{
    flex: 1 1 240px !important;
    -webkit-flex: 1 1 240px !important;
    >div{
      margin-bottom: 16px;
      background-color: #fff;
      @include resetBorder();
    }
    @include xb-lg-screen{
      max-width: 24% !important;
    }
    @include xb-md-screen{
      max-width: 24% !important;
    }
    @include xb-sm-screen{
      max-width: 32% !important;
    }
    @include xb-xs-screen{
      >div{
        margin-bottom: 8px;
      }
      flex: 1 1 172px !important;
      -webkit-flex: 1 1 172px !important;
      max-width: 49% !important;
    }
    @include xb-xxs-screen{
      flex: 1 1 150px !important;
      -webkit-flex: 1 1 150px !important;
    }
    .md-button{
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
      margin-top: 0;
      border-top: 1px solid rgba(0,0,0,.12);
      line-height: 40px;
    }
  }
  $parent: &;
  &__mask{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    .md-subhead{
      color: #fff;
      text-decoration: none;
      &:hover{
        color: #fff;
      }
    }
    &:before{
      content: '';
      position: absolute;
      display: block;
      top: 15%;
      left: 65%;
      height: 30%;
      width: 1px;
      background-color: rgba(255, 255, 255, .5);
      @include transform(rotate(45deg));
    }
    &:after{
      content: '';
      position: absolute;
      display: block;
      top: 60%;
      left: 35%;
      height: 30%;
      width: 1px;
      background-color: rgba(255, 255, 255, .5);
      @include transform(rotate(45deg));
    }
  }
  &__img-bg{
    width: 100%;
    overflow: hidden;
    position: relative;
    >a{
      width: 100%;
      cursor: pointer;
      >img{
        max-width: 100%;
        max-height: 100%;
      }
    }
    @include xb-gt-xs-screen{
      &:hover{
        #{$parent}__mask{
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-flex: 1;
          -webkit-flex: 1;
          flex: 1;
          a{
            height: auto;
          }
        }

      }
    }
  }
  &__content{
    padding: 0 16px;
    @include xb-xs-screen{
      padding: 0 8px 8px;
    }
  }
  &__tag{
    margin-top: 6px;
    @include xb-xs-screen{
      font-size: 12px;
    }
  }
  &__price{
    .md-headline{
      line-height: 24px;
      margin-right: 8px;
      @include xb-xs-screen{
        font-size: 16px;
        line-height: 16px;
      }
    }
    .md-dark-secondary{
      text-decoration: line-through;
      margin-right: 8px;
    }
  }
  &__title{
    margin-top: 8px;
    margin-bottom: 6px;
    cursor: pointer;
    a{
      color: #000;
      &:hover{
        color: #000;
        text-decoration: none;
      }
    }
  }
  &__discount{
    color: #ff4081;
    border:1px solid rgba(255,64,129,.38);
    padding: 0 8px;
  }
  .md-dark-secondary{
    @include xb-xs-screen{
      font-size: 12px;
    }
  }
  &__prefix{
    @include box-shadow(none !important);
    margin: 0;
  }
  &__end{
    font-size: 12px;
  }
  md-input-container{
    margin: 20px 16px 8px;
    padding: 2px 0;
    .md-errors-spacer{
      display: none;
    }
    @include xb-xs-screen{
      margin: 20px 8px 8px;
    }
  }
  md-checkbox:last-of-type{
    margin: 0 16px 8px;
    @include xb-xs-screen{
      margin: 0 8px 8px;
    }
  }
  &__top-left{
    z-index: 1;
    position: absolute;
    left: 8px;
    top: 8px;
    >span{
      font-size: 14px;
      line-height: 28px;
      font-weight: 500;
      color: #FFF;
      border-radius: 2px;
      padding: 0 8px;
      background-color: #ff4081;
      display: block;
      @include xb-xs-screen{
        padding: 0 4px;
        font-size: 10px;
        line-height: 18px;
      }
    }
  }
  &__top-right{
    z-index: 1;
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 0 8px;
    color: #000;
    background-color: #fff;
    line-height: 28px;
    font-size: 12px;
    border-radius: 2px;
    @include xb-xs-screen{
      padding: 0 4px;
      font-size: 10px;
      line-height: 18px;
    }
  }
  &__head{
    padding: 0 16px 16px;
    @include xb-xs-screen{
      padding: 0 8px 8px;
    }
    avatar-img{
      width: 40px;
      height: 40px;
      margin-right: 12px;
      >img{
        width: 40px;
        height: 40px;
      }
      .c-user__name{
        width: 40px;
        height: 40px;
      }
      @include xb-xs-screen{
        margin-right: 8px;
      }
    }
  }
}

.xb-filter{
  margin-top: 0;
  &__title{
    font-size: 16px;
    line-height: 36px;
    padding: 0 4px;
    width: 190px;
    @include media();
    .material-icons{
      outline: none;
      @include resetBorder();
      border-radius: 2px;
    }
    @include xb-xs-screen{
      width: auto;
      padding: 0 8px;
    }
  }
  .category-button{
    @include xb-xs-screen{
      width: auto;
      padding: 0 8px;
    }
  }
  &__button{
    @include regular();
    font-size: 14px;
    margin: 10px 4px 0;
    padding: 0;
    text-align: left;
    width: 190px;
    outline: none;
    position: relative;
    @include xb-xs-screen{
      width: auto;
      margin: 10px 8px 0;
    }
  }
  &__tags{
    min-height: 40px;
    padding-top: 8px;
    >div{
      padding: 0 8px 0 16px;
      margin-right: 16px;
      margin-bottom: 16px;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, .12);
      line-height: 24px;
      .material-icons{
        margin-left: 8px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        outline: none;
      }
      @include xb-xs-screen{
        margin-right: 8px;
        margin-bottom: 8px;
      }
    }
  }
  &__filter-bg{
    margin-bottom: 8px;
    div{
      outline: none;
    }
    .material-icons{
      margin-left: 8px;
    }
  }
  &__margin-bottom{
    display: block;
    margin-bottom: 20px;
  }
}
.xb-deals-detail{
  &__title{
    margin-top: 28px;
    margin-bottom: 12px;
    @include xs-screen{
      font-size: 16px;
      line-height: 24px;
    }
  }
  &__subtitle{
    margin-bottom: 12px;
    @include regular();
  }
  &__margin-top{
    @include xb-xs-screen{
      margin-top: 16px;
      padding-top: 12px;
      border-top: 1px solid rgba(0,0,0,.12);
    }
  }
  &__atlas{
    display: block;
    padding-bottom: 56.25%;
    height: 0;
    position: relative;
    >div{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      >img{
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  &__price{
    .md-display-1{
      margin-top: 0;
      margin-bottom: 0px;
      @include xb-xs-screen{
        font-size: 14px;
      }
    }
    .md-dark-secondary{
      text-decoration: line-through;
    }
    span{
      margin-right: 8px;
      margin-bottom: 2px;
      @include xb-xs-screen{
        font-size: 14px;
        margin-bottom: 0;
      }
    }
  }
  &__vote{
    span{
      margin-left: 8px;
      color: rgba(0,0,0,.54);
    }
  }
  $parent: &;
  &__share-icon{
    margin-bottom: 20px;
    i{
      background-color: rgba(0,0,0,.12);
      width: 32px;
      height: 32px;
      font-size: 20px;
      line-height: 32px;
      text-align: center;
      margin-right: 16px;
      border-radius: 50%;
      color: #fff;
      cursor: pointer;
      outline: none;
    }
    $hoverChanges: (0 #3b5998) (1 #0177b5) (2 #1da1f2);
    @each $hoverChange in $hoverChanges{
      #{$parent}__color-#{nth($hoverChange, 1)} {
        &:hover{
          background-color: nth($hoverChange, 2);
        }
      }
    }
  }
  &__platform{
    margin-top: 16px;
    margin-bottom: 8px;
  }
  &__head{
    padding: 16px 16px;
    @include xb-xs-screen{
      margin-top:8px;
      padding: 24px 8px 16px;
    }
    avatar-img{
      width: 40px;
      height: 40px;
      margin-right: 12px;
      >img{
        width: 40px;
        height: 40px;
      }
      .c-user__name{
        width: 40px;
        height: 40px;
      }
      @include xb-xs-screen{
        margin-right: 8px;
      }
    }
  }
  &__head-bottom{
    margin-top: 16px;
    >span{
      width: 1px;
      height: 30px;
      display: block;
      margin-left: 32px;
      margin-right: 24px;
      background-color: rgba(0,0,0,.12);
    }
  }
  .xb-trial-detail__fixed-bottom{
    padding-bottom: 14px;
    margin-bottom: 12px;
    @include xb-xs-screen{
      padding: 0 10px;
      margin-bottom: 0;
    }
    .md-button{
      margin: 0;
      padding: 0 12px;
    }
    border-bottom: 1px solid rgba(0,0,0,.12);
  }
  .xb-trial-detail__fixed-bottom-1{
    padding-bottom: 0;
    .md-button{
      margin: 0;
      padding: 0 12px;
    }
  }
  .xb-trial-detail__subtitle{
    @include xb-xs-screen{
      margin-top: 0;
    }
  }
}
.xb-deals-title{
  padding: 60px 0 40px;
  @include xb-xs-screen{
    padding: 24px 0 0;
  }
  .xb-ask-title .md-button{
    margin-bottom: 8px;
  }
}
.xb-deals-category{
  font-size: 16px;
  outline: none;
  position: relative;
  height: 40px;
  .material-icons{
    margin-left: 4px;
    margin-right: 8px;
  }
  span{
    width: 1px;
    height: 20px;
    display: block;
    background-color: rgba(0,0,0,.12);
  }
  &__bg{
    max-width: none;
    position: absolute;
    width: 170px;
    left: 0;
    top: 40px;
    text-align: left;
    padding: 8px 0;
    z-index: 2;
    background-color: #fff;
    @include resetBorder();
  }
  .category-button{
    padding: 0 16px;
    height: 40px;
    width: 170px;
    outline: none;
    font-size: 14px;
    &:hover{
      background-color: rgba(0,0,0,.12);
    }
  }
  &__bg-1{
    max-width: none;
    position: absolute;
    width: 170px;
    right: 0;
    top: 40px;
    text-align: left;
    padding: 16px 0;
    z-index: 2;
    background-color: #fff;
    font-size: 16px;
    @include resetBorder();
  }
  .filter-button{
    margin: 0 16px;
    padding: 8px 0;
    width: 138px;
    position: relative;
    overflow: hidden;
    outline: none;
  }
  .sort-button{
    outline: none;
    margin: 0 24px;
    height: 40px;
    font-size: 16px;
    @include xb-sm-screen{
      margin: 0 16px;
    }
  }
  .sort-button.active{
    color: #3f51b5;
    border-bottom: 2px solid #ff4081;
  }
}
.xb-deals-sort{
  md-select{
    margin-top: 0;
    margin-bottom: 8px;
  }
}
.xb-pointer{
  cursor: pointer;
}
.xb-deals-post{
  padding: 16px 0 16px 16px;
  position: relative;
  &__head{
    margin-right: 16px;
    width: 70px;
    height: 70px;
    overflow: hidden;
    >img{
      width: 100%;
    }
  }
  .md-subhead{
    max-height: 48px;
    overflow: hidden;
    cursor: pointer;
  }
  .md-button{
    margin: 0;
    padding: 0;
  }
  &:after{
    content:'';
    position: absolute;
    left: 16px;
    bottom:0;
    width: calc(100% - 32px);
    height: 1px;
    background-color: rgba(0,0,0,.06);
  }
  &:last-child{
    &:after{
      display: none;
    }
  }
  &__posts-top{
    margin-top:16px;
    @include xb-xs-screen{
      margin-top: 8px;
    }
    .md-button{
      margin: 0;
    }
  }
}
.recommend-list{
  margin-top: 36px;
  margin-left: 16px;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  @include resetBorder();
  @include xs-screen{
    margin-top: 0;
    margin-left: 0;
  }
  >.category__fixed{
    width: 320px;
  }
  &__title{
    height: 56px;
    padding: 0 16px;
    background-color: #f9f9f9;
  }
  &__body{
    background-color: $whiteBackground;
    padding: 0;
  }
  $parent:&;
  &__product-content{
    background-color: $whiteBackground;
    padding: 16px 0;
    margin: 0 16px;
    width: 288px;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    >:last-child{
      border-bottom: none;
    }
    >#{$parent}__image-content{
      margin: 0!important;
      padding: 0;
      width: 100%;
      display: block;
      cursor: pointer;
      position: relative;
      >img{
        width: 100%;
        min-height: 162px;
      }
      >#{$parent}__image-button-bg{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
      #{$parent}__image-button{
        width: 48px;
        height: 48px;
        background-color: rgba(0,0,0,.65);
        border-radius: 50%;
        md-icon{
          @include changeMdIcon(36px);
          color: #FFF;
        }
      }
    }
    >#{$parent}__headline{
      padding: 8px 0;
      margin: 0;
      >a{
        @include media();
      }
    }
  }
  &__avatar{
    padding: 0;
    #{$parent}__avatar-head{
      margin-left: 0;
      width: 20px;
      height: 20px;
    }
    >span{
      margin-left: 8px;
    }
    .md-user-avatar{
      img{
        width: 20px;
        height: 20px;
        margin-bottom: 0;
        cursor: pointer;
      }
    }

  }
}
