<div class="background-whitem">
  <div class="container">
    <div class="xb-ask-title xb-deals-title" layout-gt-xs="row" layout-align-gt-xs="space-between start" layout-xs="column" layout-align-xs="start start">
      <div class="xb-section__title">
        <h2><span class="md-display-1">Exclusive Deals Curated by Community</span></h2>
        <h3><span class="md-body-1">Discover the latest products and deals for a better life</span></h3>
      </div>
      <div flex="none">
        <md-button class="md-raised md-primary" ng-click="dealsCtrl.post()">Share a Deal</md-button>
      </div>
    </div>
    <deals-category class="xb-main-scroll" categories="dealsCtrl.categories" category-id="dealsCtrl.categoryId"
                    on-category-change="dealsCtrl.changeCategory($index);"></deals-category>
  </div>
</div>
<div>
  <div class="container">
    <div class="xb-deals-list__margin" flex layout="row" layout-align="end center" layout-align-xs="start center"
         ng-if="dealsCtrl.categoryId != null || dealsCtrl.sortId != null">
      <deals-discount discount="dealsCtrl.discount"
                    on-discount-change="dealsCtrl.changeDiscount(discountIndex);" discount-id="dealsCtrl.discountId"></deals-discount>
      <deals-filter class="md-margin-left-4" filter="dealsCtrl.price"
                    on-filter-change="dealsCtrl.changePrice(filterIndex);" filter-id="dealsCtrl.priceId"></deals-filter>
    </div>
    <div class="md-margin-bottom-4" layout="row">
      <div ng-if="dealsCtrl.categoryId == null &&  dealsCtrl.sortId == null" flex layout="column">
        <div ng-repeat="item in dealsCtrl.categories track by $index" ng-if="$index > 0">
          <div class="xb-title" layout="row" layout-align="start center">
            <h3 class="md-dark-primary" flex>{{item.name}}</h3>
            <a class="md-body-1 xb-pointer" ng-click="dealsCtrl.changeCategory($index);">SEE MORE</a>
          </div>
          <deals-list-main layout="row" class="xb-main-scroll xb-deals-list-main" deals="dealsCtrl.productsPaginator.items"></deals-list-main>
        </div>
      </div>
      <div ng-if="dealsCtrl.categoryId != null || dealsCtrl.sortId != null" infinite-scroll="dealsCtrl.productsPaginator.loadNext()"
           infinite-scroll-container='".xb-body-view "' infinite-scroll-distance='0'
           infinite-scroll-disabled="dealsCtrl.productsPaginator.loading || !dealsCtrl.productsPaginator.next" flex layout="column">
        <deals-list deals="dealsCtrl.productsPaginator.items"></deals-list>
        <load-more class="md-margin-top-2 md-margin-bottom-4" layout="row" layout-align="center center"
             ng-if="dealsCtrl.productsPaginator.loading"></load-more>
        <div class="md-margin-top-4 md-margin-bottom-4" layout="column" layout-align="center center" flex="noshrink"
             ng-if="dealsCtrl.productsPaginator.currentPage == 1 && dealsCtrl.productsPaginator.count == 0">
          <img src="https://xberts.imgix.net/static/icon/06a780b5-324d-4c16-8be2-e4d7746d9b6c.png?auto=format%2Cenhance&crop=edges&fit=crop&ixlib=python-1.1.2&s=1482ddcf9ac3eb5c9ae25413ed05e9db" />
          <div class="md-dark-secondary xb-deals-list__tag">Nothing to see here...</div>
        </div>
      </div>
    </div>
  </div>
</div>
