<div class="xb-messages__list"
     ng-repeat="message in notifications track by $index"
     layout="row" layout-align="start start">
  <span class="xb-messages__list-point" ng-if="!message.readAt && redPoint"></span>
  <avatar-img src="message.sender.userprofile.avatar" name="message.sender.firstName"
              ui-sref="application.expert({expertId:message.sender.id})"></avatar-img>
  <div>
    <div ng-if="showSender">
      <span class="md-dark-secondary">from&nbsp;</span>
      <a class="md-dark-primary xb-bold" ui-sref="application.expert({expertId:message.sender.id})">{{ message.sender.firstName}}</a>
    </div>
    <div ng-if="showSender" class="md-caption md-dark-secondary md-margin-top-1 md-margin-bottom-1">
      {{ message.sentAt | amDateFormat:'MMM DD, YYYY h:mm a' }}
    </div>
    <div class="md-dark-primary xb-bold" ng-bind-html="message.subject"></div>
    <p ng-if="showSender" class="md-body-1 md-dark-primary md-margin-top-1" ng-bind-html="message.body"></p>
    <div ng-if="!showSender" class="md-caption md-dark-secondary md-margin-top-1 md-margin-bottom-1">
      {{ message.sentAt | amDateFormat:'MMM DD, YYYY h:mm a' }}
    </div>
    <md-button class="md-primary md-margin-clear md-padding-clear"
               ng-if="showSender" ng-href="{{ message.actionUrl }}">{{ message.category }}</md-button>
  </div>
</div>

