<md-dialog class="xb-login-dialog">
  <div class="xb-login-dialog__inner-container background-whitem" layout="column" layout-align="space-between">
    <div layout="row" layout-align="end center">
      <md-icon class="xb-login-dialog__close" md-font-set="material-icons" aria-label="Close dialog" ng-click="cancel()">close</md-icon>
    </div>
    <div layout="row" layout-align="center center">
      <img class="xb-deals-dialog__img" src="https://xberts.imgix.net/static/logo/6fa3a41f-d3ec-44e3-a127-24ce36387c1e.png?auto=format%2Cenhance&crop=edges&fit=crop&ixlib=python-1.1.2&s=182b1f8aff51833ec146c4be2770a5ac" />
    </div>
    <div class="md-align-center">
      <div class="md-headline">Sign up to see more <br>exclusive offers</div>
      <div class="md-caption md-margin-top-1">Join us to get the latest offers and <br>deals exclusive to you!</div>
    </div>
    <div class="" layout="row" layout-align="center center">
      <img ng-src="{{image}}" />
    </div>
    <div class="md-margin-bottom-1" layout="row" layout-align="center center">
      <md-button class="md-raised md-primary" ng-click="signup();">
        Sign Up
      </md-button>
    </div>
  </div>
</md-dialog>
