<div class="xb-deals-post" ng-repeat="post in posts | filter:filter" layout="row" ng-if="!isDeals && $index < 4">
  <div flex="none" class="xb-deals-post__head">
    <a class="xb-pointer" ui-sref="application.productDeals.dealsDetail({dealsId:post.id})">
      <img src="{{post.getFixedSqrUrl()}}" alt="{{post.title}}"/>
    </a>
  </div>
  <div flex layout="column" layout-align="space-between start">
    <a class="md-body-1 md-dark-primary" ui-sref="application.productDeals.dealsDetail({dealsId:post.id})">{{post.title}}</a>
    <a class="md-dark-secondary" ui-sref="application.productDeals.dealsDetail({dealsId:post.id})">VIEW PRODUCT</a>
  </div>
</div>
<div class="xb-deals-post" ng-repeat="post in posts | filter:filter" layout="row" ng-if="isDeals && $index < 4">
  <div flex="none" class="xb-deals-post__head">
    <a class="xb-pointer" ng-click="openPop({dealsId:post.id})"
       target="_blank">
      <img src="{{post.getFixedSqrUrl()}}" alt="{{post.title}}"/>
    </a>
  </div>
  <div flex layout="column" layout-align="space-between start">
    <a class="md-body-1 md-dark-primary" ng-click="openPop({dealsId:post.id})"
       target="_blank">{{post.title}}</a>
    <a class="md-dark-secondary" ng-click="openPop({dealsId:post.id})"
       target="_blank">VIEW PRODUCT</a>
  </div>
</div>
