<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Xberts - A global community for hardware project launch</title>
  <meta name="description"
        content="Xberts is a collaborative community to bring the best hardware innovations to global market with expert help.">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="/bower_components/summernote/dist/summernote.css" />
  <link rel="stylesheet" href="/bower_components/ng-tags-input/ng-tags-input.min.css" />
  <link rel="stylesheet" href="/bower_components/intl-tel-input/build/css/intlTelInput.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="/styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="yeodjangoApp" ng-class="bodyBackground">
<backdrop></backdrop>
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<!--
<auth
  user-auth='{{ request.user.is_authenticated }}'
  {% if request.user.is_authenticated %}
  user-id="{{ request.user.id }}"
  user-name="{{ request.user.get_full_name }}"
  user-type="{{ request.user.is_staff }}"
  user-avatar="{{ request.user.userprofile.get_avatar }}"
  {% endif %}
  >
</auth>
-->
{% verbatim %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" ui-sref="main"><img src="/images/logo-20140717.png" alt="Xberts"></a>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="collapse navbar-collapse" id="js-navbar-collapse">

          <ul class="nav navbar-nav">
            <li ng-class="{active: $state.includes('projects')}"><a ui-sref="projects" class="fade-in-line">PROJECTS</a>
            </li>
            <li ng-class="{active: $state.includes('events')}"><a ui-sref="events"
                                                                     class="fade-in-line">EVENTS</a></li>
            <li ng-class="{active: $state.includes('forum'),dropdown:true}"><a ui-sref="experts" class="fade-in-line">EXPERTS</a>
              <ul class="dropdown-menu navbar-inverse">
                <li><a ui-sref="experts">Expert Mentors</a></li>
                <li><a href="/qa/home/">Expert Q&A</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="visible-lg-block">
              <a href="/projects/launch/" class="fade-in-line"><i
                class="fa fa-plus-circle fa-lg"></i> Launch Project</a>
            </li>
            <li ng-if="!user.isAuth()">
              <a href="/auth/register/" class="fade-in-line">Sign Up</a>
            </li>
            <li ng-if="!user.isAuth()">
              <a href="/auth/login/" class="fade-in-line">Sign In</a>
            </li>
            <!--<li role="presentation" class="dropdown dropdown-right" id="notification"-->
            <!--ng-if="user.isAuth()">-->
            <!--<a href="#" class="top-right-badge-x fade-in-line">-->
            <!--<i class="fa fa-bell fa-lg"></i>-->
            <!--<span class="top-right-badge striking-white" ng-if="notificationsCount > 0"-->
            <!--ng-bind="notificationsCount"></span>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu navbar-inverse"style="overflow: scroll; height: 500px;"-->
            <!--ng-if="notificationsCount>0"srph-infinite-scroll="myCallback()" container="true">-->
            <!--<li class="item-avatar-middle-inverse cover" ng-repeat="notification in paginator.items">-->
            <!--<div class="cover-layer cover-layer-right">-->
            <!--<i class="fa fa-lg fa-times margin-right font-striking"></i><i-->
            <!--class="fa fa-lg fa-chevron-right font-success"></i>-->
            <!--</div>-->
            <!--<img src="data/images/zhaoyudong_0129@126_com.jpg.200x200_q85_crop_upscale.jpg">-->

            <!--<div class="item-body">-->
            <!--<div class="item-body-header p-1">-->
            <!--<div class="row">-->
            <!--<div class="col-xs-6"><a ng-bind="notification.post_name"></a></div>-->
            <!--<div class="col-xs-6 align-right"><span am-time-ago="notification.date_create"></span></div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="item-body-title" ng-bind="notification.message"></div>-->
            <!--<div class="item-body-detail p-1"><a ng-bind="notification.post_on"></a></div>-->
            <!--</div>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</li>-->
            <li role="presentation" class="dropdown" ng-if="user.isAuth()">
              <a class="fade-in-line">
                <div class="avatar-text-smaller-1">
                  <img ng-src="{{ user.getUserAvatar() }}"/>

                  <p ng-bind="user.getUserName()"></p>
                </div>
              </a>
              <ul class="dropdown-menu navbar-inverse">
                <li><a ng-href="/xberts/{{ user.getUserId() }}/#?xbertTab=biography">My Profile</a></li>
                <li><a ng-href="/xberts/{{ user.getUserId() }}/#?xbertTab=project" id="xbert_product">My Projects</a>
                </li>
                <li><a ng-href="/xberts/{{ user.getUserId() }}/#?xbertTab=questions" id="xbert_question">My Q&A</a></li>
                <li><a href="/auth/bscinfosetting/">Settings</a></li>
                <li><a href="/adviceapp/logout/">Logout</a></li>
              </ul>

            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
{% endverbatim %}

<div ui-view></div>
<footer>
  <div class="container text-center">
    <p>About Us&nbsp;|&nbsp;<a href="mailto:postmaster@xberts.com" target="_blank">Contact Us</a></p>

    <p>2015 Xberts Inc. All rights reserved.</p>

    <p>
      <a href="http://www.linkedin.com/company/xberts"><i class="fa fa-linkedin-square fa-2x"></i></a>
      <a href="https://twitter.com/StartupXberts"><i class="fa fa-twitter-square fa-2x"></i></a>
      <a href="https://www.facebook.com/globalXberts"><i class="fa fa-facebook-square fa-2x"></i></a>
      <script
        type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cspan style='position:relative;top:-5px' id='cnzz_stat_icon_1255725585'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1255725585%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
    </p>
  </div>
</footer>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/angular-cookies/angular-cookies.js"></script>
<script src="/bower_components/angular-resource/angular-resource.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="/bower_components/angular-touch/angular-touch.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
<script src="/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="/bower_components/moment/moment.js"></script>
<script src="/bower_components/angular-moment/angular-moment.js"></script>
<script src="/bower_components/summernote/dist/summernote.js"></script>
<script src="/bower_components/angular-summernote/dist/angular-summernote.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/bower_components/ng-file-upload/ng-file-upload.js"></script>
<script src="/bower_components/ng-tags-input/ng-tags-input.min.js"></script>
<script src="/bower_components/intl-tel-input/build/js/intlTelInput.min.js"></script>
<script src="/bower_components/intl-tel-input/lib/libphonenumber/build/utils.js"></script>
<script src="/bower_components/international-phone-number/releases/international-phone-number.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/services/project.js"></script>
<script src="scripts/controllers/resources.js"></script>
<script src="scripts/controllers/projects.js"></script>
<script src="scripts/directives/loadmore.js"></script>
<script src="scripts/services/paginator.js"></script>
<script src="scripts/services/notification.js"></script>
<script src="scripts/services/auth.js"></script>
<script src="scripts/controllers/notification.js"></script>
<script src="scripts/directives/auth.js"></script>
<script src="scripts/controllers/event.js"></script>
<script src="scripts/controllers/eventlauch.js"></script>
<script src="scripts/services/event.js"></script>
<script src="scripts/services/uploadmultiform.js"></script>
<script src="scripts/directives/backdrop.js"></script>
<script src="scripts/services/expert.js"></script>
<script src="scripts/services/modalwrap.js"></script>
<script src="scripts/services/contact.js"></script>
<script src="scripts/services/tempimage.js"></script>
<script src="scripts/filters/trust.js"></script>
<script src="scripts/controllers/launchproject.js"></script>
<script src="scripts/controllers/projectinfo.js"></script>
<script src="scripts/controllers/companyinfo.js"></script>
<script src="scripts/controllers/requestinfo.js"></script>
<script src="scripts/services/systemdata.js"></script>
<script src="scripts/services/distribution.js"></script>
<script src="scripts/services/organization.js"></script>
<script src="scripts/directives/redirect.js"></script>
<script src="scripts/filters/projectcategory.js"></script>
<script src="scripts/services/projectsnodetail.js"></script>
<script src="scripts/controllers/events.js"></script>
<script src="scripts/services/eventload.js"></script>
<script src="scripts/services/eventnodetail.js"></script>
<script src="scripts/filters/tagsplit.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/experts.js"></script>
<script src="scripts/services/systemconstant.js"></script>
<script src="scripts/controllers/reviewapplication.js"></script>
<script src="scripts/controllers/profileinfo.js"></script>
<script src="scripts/controllers/reviewapplicationinfo.js"></script>
<script src="scripts/services/review.js"></script>
<script src="scripts/directives/questioninput.js"></script>
<script src="scripts/filters/split.js"></script>
<script src="scripts/controllers/reviewapplicationconfirminfo.js"></script>
<script src="scripts/services/reviewapplicant.js"></script>
<script src="scripts/services/reviewload.js"></script>
<script src="scripts/services/profilereviewer.js"></script>
<script src="scripts/services/profilereviewerload.js"></script>
<!-- endbuild -->
</body>
</html>
