<div class="xb-main-deals">
  <div flex="none" ng-repeat="trial in trials track by $index" ng-if="$index < 6">
    <div class="xb-main-col__value" layout="row" layout-align="start start">
        <span ng-class="{true:'xb-main-col__promotion',false:''}[trial.tags.toLowerCase() == 'promotion'] +
            {true:'xb-main-col__launch',false:''}[trial.tags.toLowerCase()  == 'launch']" ng-if="trial.tags">
          <span>{{trial.tags}}</span>
        </span>
      <i ng-if="!trial.tags" class="fa fa-{{item.name}} xb-main-col__bg-{{$index}}" aria-hidden="true"
         ng-repeat="item in shareList track by $index" socialshare
         socialshare-provider="{{item.name}}" socialshare-description="{{trial.description}}"
         socialshare-text="{{trial.title}}" socialshare-url="{{inviteObj.shareUrl(trial.getShareUrl(trial.id), item.name)}}" >
      </i>
    </div>
        <span class="xb-main-col__top-right" end-time-left end-time="trial.applicationEndDate" extra-info="trial.applicantCount">
          <span ng-show="timeValue>0">{{ timeUnit }}</span>
          <span ng-show="timeValue<=0">{{ extraInfo }}</span>
          <span ng-show="timeValue<=0">applicants</span>
        </span>
    <div class="xb-main-col__img-bg">
      <img ng-src="{{trial.cover}}" ui-sref="application.testingcampaign({ reviewId:trial.id })"/>
    </div>
    <div class="xb-main-deals__bottom-title" ui-sref="application.testingcampaign({ reviewId:trial.id })">{{trial.title}}</div>
  </div>
</div>


