<md-card class="product-detail" layout-fill>
  <div ng-if="product.getVideo() != null" class="product__video" iframe-loaded>
    <load-more></load-more>
    <iframe flex="grow" frameborder="0" ng-src="{{product.getVideo()}}" ></iframe>
  </div>
  <div ng-if="product.getVideo() == null && product.getImageUrl()" class="xb-deals-detail__atlas">
    <div layout="column" layout-align="center center">
      <img ng-src="{{product.getImageUrl()}}" alt="{{productsDetail.title}}">
    </div>
  </div>
  <md-card-title class="product__headline">
    <span class="md-headline">{{product.title}}</span>
  </md-card-title>
  <span class="md-body-1 product__subtitle" ng-if="product.name">{{product.name}}</span>
  <div class="product__tags" layout="row" layout-align="start center">
    <span ng-repeat="value in product.tags">{{value}}</span>
  </div>
  <md-card-content class="product__content">
    <pre class="md-body-1" ng-if="product.owner != null" ng-bind-html="product.description"></pre>
    <p class="md-body-1" ng-if="product.owner == null" ng-bind-html="product.description"></p>
  </md-card-content>
  <md-card-actions layout="row" layout-align="start center" class="product__action" >
    <div class="xb-deals-list__price" layout="row" layout-align="start center" flex hide-xs>
      <span class="md-dark-secondary" ng-if="product.originalPrice.amount>0">
        {{product.originalPrice.amount | currency}}
      </span>
      <span class="md-headline xb-bold">
        {{product.salePrice.amount | currency}}
      </span>
    </div>
    <div class="md-margin-right-2" hide-xs>{{product.getDomain()}}</div>
    <md-button hide-xs class="md-primary md-raised" ng-click="product.buyNow('deals-item');"
               target="_blank">Get It Now</md-button>

    <div class="xb2-page-head__button" flex-order="4" hide-sm hide-gt-sm ng-if="!isFacebookApp">
      <div layout="row" layout-gt-xs="column" layout-align="start center" layout-align-gt-xs="start start">
        <div class="xb-deals-list__price" layout="row" layout-align="start center" flex>
          <span class="md-dark-secondary" ng-if="product.originalPrice.amount>0">
            {{product.originalPrice.amount | currency}}
          </span>
          <span class="md-headline xb-bold">
            {{product.salePrice.amount | currency}}
          </span>
        </div>
        <md-button class="md-primary md-raised" target="_blank" ng-click="product.buyNow('deals-item');">
          Get It Now
        </md-button>
      </div>
    </div>
  </md-card-actions>
  <div class="product__action-1" layout="row" layout-align="start center" hide-gt-xs ng-if="isFacebookApp">
    <div class="xb-deals-list__price" layout="row" layout-align="start center" flex>
      <span class="md-dark-secondary" ng-if="product.originalPrice.amount>0">
        {{product.originalPrice.amount | currency}}
      </span>
      <span class="md-headline xb-bold">
        {{product.salePrice.amount | currency}}
      </span>
    </div>
    <md-button class="md-primary md-raised" ng-if="product.getSharePrice()" ng-click="product.buyNow('deals-item');"
               target="_blank">Get It Now</md-button>
  </div>
  <interact interact="product.interact">
    <md-card-actions layout="row" layout-align="start center" class="product__action-buttons">
    <vote layout="row" layout-align="start center" ></vote>
    <div layout="row" layout-align="start center" ng-click="onToggleDown();">
      <md-icon flex="none">sms</md-icon>
    </div>
    <comment-amounts layout="row" layout-align="start center"></comment-amounts>
    <md-fab-speed-dial ng-hide="hidden" md-direction="right" md-open="isOpen" class="md-scale" ng-class="{ 'md-hover-full': hover }" ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false">
      <md-fab-trigger>
        <md-button class="md-icon-button">
          <md-icon md-font-set="material-icons"> share </md-icon>
        </md-button>
      </md-fab-trigger>
      <md-fab-actions>
        <md-button aria-label="{{item.name}}" class="md-icon-button" ng-repeat="item in shareList" socialshare
                   socialshare-provider="{{item.name}}" socialshare-description="{{product.description}}" socialshare-text="{{product.title}}"
                   socialshare-media="{{product.getImageOriginal()}}"  socialshare-source="{{product.getImageOriginal()}}"
                   socialshare-url="{{inviteObj.shareUrl(product.getShareUrl(product.id), item.name)}}">
          <i class="fa fa-{{item.name}} md-dark-secondary" aria-hidden="true"></i>
        </md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
  </md-card-actions>
    <div layout class="product__interact" ng-show="commentToggle" >
      <div flex>
        <feedback-list interact-id="{{product.interact.id}}" hide-state="!commentToggle"></feedback-list>
      </div>
    </div>
  </interact>
</md-card>
