<div class="xb-trial-reviewer" layout="row" layout-align-xs="start center" ng-repeat="review in reviewers track by $index">
  <div class="xb-trial-reviewer__left-part" ui-sref="application.report({reviewId:review.id,reportId:review.report})">
    <img ng-src="{{review.image}}" />
  </div>
  <div layout="column" layout-align="space-between" flex>
    <md-truncate class="md-subhead" ui-sref="application.report({reviewId:review.id,reportId:review.report})">{{review.title}}</md-truncate>
    <div class="report-rating">
      <span uib-rating ng-model="review.score" max="5" read-only="true"
            state-on="'xb-trial-reviewer__star glyphicon-star'"></span>
      <span>{{review.score}}</span>
    </div>
    <div flex="noshrink" layout="row" layout-align="start end">
      <div layout="row" layout-align="start center">
        <avatar-img hide-xs class="xb-trial-reviewer__avatar" src="review.getReviewerAvatar()"
                    name="review.getReviewerFullName()"
                    ui-sref="application.expert({ expertId:review.getReviewerId()})"></avatar-img>
        <div class="xb-trial-reviewer__name" ui-sref="application.expert({ expertId:review.getReviewerId()})">{{review.getReviewerFullName()}}</div>
      </div>
    </div>
  </div>
</div>
