<div class="xb-about-banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(/images/about_banner.png);">

</div>
<div class="xb-section-about background-bg-white xb-align-center">
  <div class="container">
    <h2 class="xb-section-about-title">About Xberts</h2>

    <p class="xb-section-about-detail">Xberts is a community where hardware innovators release their new
      products
      to collect unbiased
      reviews and valuable feedback from early adopters like you.</p>
  </div>

</div>
<div class="xb-section-about xb-align-center">
  <div class="container">
    <h2 class="xb-section-about-title">Our Mission</h2>

    <p class="xb-section-about-detail">We believe innovation and creativity can improve our lives and make our world a
      better
      place. At Xberts, we’re
      building a new place for people to discover and try the latest innovative products. Our goal is to connect
      incredible innovators with their most passionate early adopters and evangelists from around the world. </p>
  </div>
</div>

<div class="xb-section-about background-bg-white xb-align-center">
  <div class="container">
    <h2 class="xb-section-about-title"><span>Who We Are</span></h2>


    <p class="xb-section-about-detail">Xberts is a Y Combinator-backed company based in Silicon Valley and China, two of
      the
      world’s most dynamic
      centers of entrepreneurship and innovation. Our team is comprised of hustlers, doers and tech enthusiasts who
      set out on a journey to bring new inventions to our everyday lives. </p>
  </div>
</div>

<div class="xb-section-about xb-align-center">
  <div class="container">
    <h2 class="xb-section-about-title"><span>Our Partners</span></h2>

    <p class="xb-section-about-detail">We're collaborating with top industry partners supporting innovators and hardware
      startups
      around the world. </p>

    <div class="row xb-section-about-image">
      <div class="col-md-3 col-xs-6 xb-full-image margin-bottom-xl xb-align-center">
        <img src="images/partners/YC.png">
      </div>
      <div class="col-md-3 col-xs-6 xb-full-image margin-bottom-xl xb-align-center">
        <img src="images/partners/PlugPlay.png">
      </div>
      <div class="col-md-3 col-xs-6 xb-full-image margin-bottom-xl xb-align-center">
        <img src="images/partners/CES.png">
      </div>
      <div class="col-md-3 col-xs-6 xb-full-image margin-bottom-xl xb-align-center">
        <img src="images/partners/Technode.png">
      </div>
      <div class="col-md-3 col-xs-6 xb-full-image margin-bottom-xl xb-align-center">
        <img src="images/partners/wearable.png">
      </div>
      <div class="col-md-3 col-xs-6 xb-full-image margin-bottom-xl xb-align-center">
        <img src="images/partners/IOT.png">
      </div>
      <div class="col-md-3 col-xs-6 xb-full-image margin-bottom-xl xb-align-center">
        <img src="images/partners/SVIEF.png">
      </div>
      <div class="col-md-3 col-xs-6 xb-full-image margin-bottom-xl xb-align-center">
        <img src="images/partners/GeekPark.png">
      </div>

    </div>
  </div>

</div>


