<section class="xb-brand-background-center" style="background-image: url(images/about_us_2.jpg);">
  <div class="container text-center">
    <div class="xb-grid-4-middle">
      <img src="images/about_us_logo.png" class="xb-flex-fixed" style="width: 300px;">
    </div>
    <div class="xb-grid-8-middle">
      <h1 class="font-light-white">
        The Go-To-Market Platform For Smart Hardware Innovations
      </h1>
    </div>
  </div>
</section>

<section class="background-whitem">
  <div class="container">
    <h2 class="xb-section-title xb-align-center">Who We Are</h2>

    <div class="row xb-section-details xb-font-larger font-dark-gray">
      <div class="col-md-6">
        <p>
          Xberts.com is a go-to-market platform for new smart hardware brands to quickly connect with top reviewers,
          influencers, buyers and partners in their target market. We have been invested in by top investors from
          Silicon Valley and China.
        </p>
      </div>
      <div class="col-md-6">
        <p>
          Our vision is to build the world’s largest platform to bring new smart technologies and IoT
          innovations to global market.
        </p>

      </div>
    </div>
    <div class="row xb-font-larger font-dark-gray margin-top">
      <div class="col-md-6">
        <p>
          Xberts is founded in the San Francisco Bay Area and backed by Plug&Play, National Science Foundation and UC
          Berkeley. Our team members include former employees from Amazon, Google, IBM, Cisco and Qualcomm.
        </p>
      </div>
      <div class="col-md-6">
        <p>
          Xberts is dedicated to making it easy for smart hardware makers to launch and deliver their products into the
          market through our cross-border community comprised of product reviewers, influencers, retail buyers and Smart
          Citizens.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="background-light-white">
  <div class="container ">
    <h2 class="xb-section-title xb-align-center">Our Community</h2>

    <div class="xb-wrap">
      <div class="xb-grid-6-middle">
        <img src="images/about_numbers_2.jpg" class="xb-flex-fixed">
      </div>
      <div class="xb-grid-6-middle margin-top-xl">
        <div class="xb-grid-6-top-fixed xb-statistic-broad align-right font-primary">
          <div class="xb-statistic-broad-title">12,511</div>
          <div class="xb-statistic-broad-subtitle">Community Influencers</div>
        </div>
        <div class="xb-grid-6-top-fixed xb-statistic-broad align-right font-primary">
          <div class="xb-statistic-broad-title">358</div>
          <div class="xb-statistic-broad-subtitle">Affiliate Partners</div>
        </div>
        <div class="xb-grid-6-top-fixed xb-statistic-broad align-right font-primary">
          <div class="xb-statistic-broad-title">218</div>
          <div class="xb-statistic-broad-subtitle">Brands</div>
        </div>
        <div class="xb-grid-6-top-fixed xb-statistic-broad align-right font-primary">
          <div class="xb-statistic-broad-title">50</div>
          <div class="xb-statistic-broad-subtitle">Countries</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<div class="row" style="height: 340px">-->
<!--<div class="col-md-6 xb-brand-background-center"-->
<!--style="height: 340px;background-image: url(images/about_numbers_2.jpg);">-->
<!--</div>-->

<!--<div class="col-md-6 margin-top-xl">-->
<!--<h2 class="xb-section-title xb-align-center">Our Community</h2>-->

<!--<div class="row text-center">-->
<!--<div class="col-xs-5 col-xs-offset-1 xb-statistic-broad font-primary">-->
<!--<div class="xb-statistic-broad-title">12,511</div>-->
<!--<div class="xb-statistic-broad-subtitle">Experts</div>-->
<!--</div>-->
<!--<div class="col-xs-5 xb-statistic-broad font-primary">-->
<!--<div class="xb-statistic-broad-title">6,358</div>-->
<!--<div class="xb-statistic-broad-subtitle">Influencers and Buyers</div>-->
<!--</div>-->
<!--<div class="col-xs-1"></div>-->
<!--</div>-->
<!--<div class="row text-center">-->
<!--<div class="col-xs-5 col-xs-offset-1 xb-statistic-broad font-primary">-->
<!--<div class="xb-statistic-broad-title">208</div>-->
<!--<div class="xb-statistic-broad-subtitle">Brands</div>-->
<!--</div>-->
<!--<div class="col-xs-5 xb-statistic-broad font-primary">-->
<!--<div class="xb-statistic-broad-title">50</div>-->
<!--<div class="xb-statistic-broad-subtitle">Countries</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row"></div>-->
<section class="background-whitem">
  <div class="container xb-align-center">

    <h2 class="xb-section-title">Global Partners</h2>

    <div class="xb-section-details xb-logo-wall">
      <div class="row">
        <div class="col-xs-6 col-md-3"><img src="images/parter_1.jpg" class="xb-flex"></div>
        <div class="col-xs-6 col-md-3"><img src="images/parter_2.jpg" class="xb-flex"></div>
        <div class="col-xs-6 col-md-3"><img src="images/parter_3.jpg" class="xb-flex"></div>
        <div class="col-xs-6 col-md-3"><img src="images/parter_4.jpg" class="xb-flex"></div>
        <div class="col-xs-6 col-md-3"><img src="images/parter_5.jpg" class="xb-flex"></div>
        <div class="col-xs-6 col-md-3"><img src="images/parter_6.jpg" class="xb-flex"></div>
        <div class="col-xs-6 col-md-3"><img src="images/parter_7.jpg" class="xb-flex"></div>
        <div class="col-xs-6 col-md-3"><img src="images/parter_8.jpg" class="xb-flex"></div>
      </div>
    </div>
  </div>
</section>
<section class="background-light-white">
  <div class="container xb-align-center">
    <h2 class="xb-section-title">As Seen On</h2>

    <div class="xb-section-details xb-logo-wall">
      <div class="row">
        <div class="col-xs-6 col-md-4"><img src="images/as_seen_on_1.png" class="xb-flex"></div>
        <div class="col-xs-6 col-md-4"><img src="images/as_seen_on_2.png" class="xb-flex"></div>
        <div class="col-xs-6 col-md-4"><img src="images/as_seen_on_3.png" class="xb-flex"></div>
        <div class="col-xs-6 col-md-4"><img src="images/as_seen_on_4.png" class="xb-flex"></div>
        <div class="col-xs-6 col-md-4"><img src="images/as_seen_on_5.png" class="xb-flex"></div>
        <div class="col-xs-6 col-md-4"><img src="images/as_seen_on_6.png" class="xb-flex"></div>
      </div>
    </div>
  </div>
</section>

