<section>
  <div class="container">
    <div class="section-title">
      <h2>About Xberts</h2>
      <!--<h3>Xberts is a Crowdtesting community where hardware innovators release their new products to collect unbiased-->
        <!--reviews and valuable feedback from early adopters like you.</h3>-->
    </div>
    <div class="section-body">
      <p style="font-size: 18px;">Xberts is a Crowdtesting community where hardware innovators release their new products to collect unbiased
        reviews and valuable feedback from early adopters like you.</p>
    </div>
  </div>
</section>
<section class="xb-section background-bg-light">
  <div class="container">
    <div class="xb-section-title">
      <h2><span>Our Mission</span></h2>
    </div>

    <div class="row xb-section-body">
      <p style="font-size: 18px;">We believe innovation and creativity can improve our lives and make our world a better place. At Xberts, we’re
        building a new place for people to discover and try the latest innovative products. Our goal is to connect
        incredible innovators with their most passionate early adopters and evangelists from around the world. </p>
    </div>
  </div>
</section>
<section class="xb-section background-bg-white">
  <div class="container">
    <div class="xb-section-title">
      <h2><span>Who We Are</span></h2>

      <h3></h3>
    </div>

    <div class="row xb-section-body">
      <p style="font-size: 18px;">Xberts is a Y Combinator-backed company based in Silicon Valley and China, two of the world’s most dynamic
        centers of entrepreneurship and innovation. Our team is comprised of hustlers, doers and tech enthusiasts who
        set out on a journey to bring new inventions to our everyday lives. </p>
    </div>
  </div>
</section>

<section class="xb-section background-bg-white">
  <div class="container full-image">
    <div class="xb-section-title">
      <h2><span>Our Partners</span></h2>

      <h3></h3>
    </div>
    <div class="row">
      <div class="col-md-3 col-xs-2 xb-full-image margin-bottom-xl xb-align-center">
        <img src="images/partners/yc.gif" style="max-width:100%;height: 60px;">
      </div>
      <div class="col-md-3 col-xs-2 xb-full-image margin-bottom-xl xb-align-center">
        <img src="images/partners/pp.png" style="max-width:100%;height: 60px;">
      </div>
      <div class="col-md-3 col-xs-2 xb-full-image margin-bottom-xl xb-align-center">
        <img src="images/partners/ces.png" style="max-width:100%;height: 60px;">
      </div>
      <div class="col-md-3 col-xs-2 xb-full-image margin-bottom-xl xb-align-center">
        <img src="images/partners/technode.png" style="max-width:100%;height: 60px;">
      </div>
      <div class="col-md-3 col-xs-2 xb-full-image margin-bottom-xl xb-align-center">
        <img src="images/partners/wearable.jpg" style="max-width:100%;height: 60px;">
      </div>
      <div class="col-md-3 col-xs-2 xb-full-image margin-bottom-xl xb-align-center">
        <img src="images/partners/iot.jpg" style="max-width:100%;height: 60px;">
      </div>
      <div class="col-md-3 col-xs-2 xb-full-image margin-bottom-xl xb-align-center">
        <img src="images/partners/svief.jpg" style="max-width:100%;height: 60px;">
      </div>
      <div class="col-md-3 col-xs-2 xb-full-image margin-bottom-xl xb-align-center">
        <img src="images/partners/geekpark.png" style="max-width:100%;height: 60px;">
      </div>

    </div>
  </div>
</section>
