<div class="row" infinite-scroll="distributorsPaginator.loadNext()" infinite-scroll-distance='0'
     infinite-scroll-disabled="distributorsPaginator.loading || !distributorsPaginator.hasNext()">
  <div class="col-xs-12" ng-repeat="solution in distributorsPaginator.items">
    <div class="item-avatar-middle-x padding-lr-clear">
      <div class="item-image">
        <img ng-src="{{ solution.applier.avatar }}">
      </div>
      <div class="item-body">
        <p class="item-body-header">
          <span><a ui-sref="application.expert({ expertId:solution.applier.id })">{{ solution.applier.fullname }}</a></span>
          <span><i class="fa fa-map-marker"></i> {{ solution.applier.country }}</span>
          applied to be your partner.
          <span class="pull-right" am-time-ago='solution.date_published'></span></p>

        <p class="item-body-title">{{ item.details}}</p>
        <p class="item-body-title">Partner type: <span class="font-gray-light" ng-switch="solution.partner_type">
                    <span ng-switch-when="1">Distributor</span>
                    <span ng-switch-when="2">Sales Agent</span>
                    <span ng-switch-when="3">Retailer</span>
                    <span ng-switch-when="4">Sales Consultant</span>
                </span>
        </p>
        <p class="item-body-title">
          Introduction: <span class="font-gray-light" ng-bind="solution.proposal"></span>
        </p>

        <p class="item-body-title">
          Distribution areas: <span class="font-gray-light" ng-bind="solution.location"></span>
        </p>
        <p class="item-body-title" ng-if="solution.sale_channels_decode.length>0">
          Sales Channels: <span class="font-gray-light" ng-repeat="saleChannel in solution.sale_channels_decode"
                                ng-bind="saleChannel"></span>
        </p>

        <p class="item-body-title" ng-if="solution.web_store">
          Web Store Link: <a class="font-gray-light" ng-bind="solution.web_store"></a>
        </p>
        <p class="item-body-title" ng-if="solution.company_url">
          Company website: <a class="font-gray-light" ng-bind="solution.company_url"></a>
        </p>
      </div>
    </div>
  </div>
</div>
<load-more class="row spin-large" ng-if="distributorsPaginator.loading"></load-more>
