<form name="eventProjectVoteForm" ng-submit="eventProjectVoteFormSubmit()" novalidate>

  <div class="modal-header">
    <h4 class="modal-title">Select the reasons why you love this product.</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <p class="message-error"
             ng-show="eventProjectVoteForm.submitted && eventProjectVoteForm.reasonsRequired">
            *required</p>
          <label>Which channels will you be selling our products?</label><br/>
          <div class="checkbox" ng-repeat="item in reasons">
            <label>
              <input type="checkbox" ng-model="item.selected"> {{ item.name }}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer align-center">
    <button type="reset" class="btn btn-gray" style="width: 100px" ng-click="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" style="width: 100px">Vote</button>
  </div>
</form>


