<div class="card cover">
  <div growl reference="event_project_{{ eventProject.id }}"></div>
  <div class="card-header" style="background-image: url({{ eventProject.project.image }})">
  </div>
  <div class="card-body">
    <p class="card-body-title p-2" ng-bind="eventProject.project.title"></p>
    <p class="card-body-footer p-1">{{ eventProject.tags|tagsplit }}</p>
  </div>
  <div class="cover-layer cover-layer-top">
    <div class="cover-header">
      <p class="p-8" ng-bind-html="eventProject.details| trust"></p>
    </div>
    <div class="cover-footer text-center">
      <a ng-href="#/projectsnorequest/{{ eventProject.project.id }}" class="btn btn-success" style="width: 120px">View
        Detail</a>
    </div>
  </div>
</div>
<div class="text-center" style="margin-bottom: 20px; ">
  <button class="btn" ng-class="{'btn-primary':!voted,'btn-success':voted}" ng-click="open()" style="width: 120px"
          ng-disabled="voted || voting || maxVote" ng-switch="voted">
    <span ng-switch-when="false">Vote</span>
    <span ng-switch-when="true">Voted</span>
  </button>
</div>
