<form name="eventProjectVoteForm" ng-submit="eventProjectVoteFormSubmit()" novalidate>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Select the reasons why you love this product:</label>

          <div class="checkbox" ng-repeat="item in reasons">
            <label>
              <input type="checkbox" ng-model="item.selected"> {{ item.name }}
            </label>
          </div>
          <p class="message-error"
             ng-show="eventProjectVoteForm.submitted && eventProjectVoteForm.reasonsRequired">
            *Please select your reasons</p>

          <p class="message-error"
             ng-show="eventProjectVoteForm.submitted && eventProjectVoteForm.reasonsMax">
            *At Most Three</p>
        </div>
      </div>
    </div>
    <div ng-if="!user.isAuth()">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Full name</label>
            <input type="text" class="form-control" name="fullname" ng-model="voter.fullName" ng-required="true">
          </div>
          <p class="message-error"
             ng-show="eventProjectVoteForm.submitted && eventProjectVoteForm.fullname.$error.required">
            Please enter your name.</p>
        </div>

      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" ng-model="voter.email" ng-required="true">
          </div>
          <p class="message-error"
             ng-show="eventProjectVoteForm.submitted && eventProjectVoteForm.email.$error.required">
            *Please enter your email</p>

          <p class="message-error"
             ng-show="eventProjectVoteForm.submitted && eventProjectVoteForm.email.$error.email">
            *The email you entered is invalid.</p>
        </div>

      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Country</label>
            <select class="form-control input-sm" ng-model="voter.country" ng-required="true" name="country">
              <option value="">-- Select Your Country --</option>
              <option ng-repeat="country in countries"
                      value="{{ country.code }}">{{ country.name }}
              </option>
            </select>
          </div>
          <p class="message-error"
             ng-show="eventProjectVoteForm.submitted && eventProjectVoteForm.country.$error.required">
            *Please select your country</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer align-center">
    <button type="reset" class="btn btn-gray" style="width: 100px" ng-click="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" style="width: 100px">Vote</button>
  </div>
</form>


