<div class="row section-body" infinite-scroll="joinsPaginator.loadNext()" infinite-scroll-distance='0'
     infinite-scroll-disabled="joinsPaginator.loading || !joinsPaginator.hasNext()">
  <div class="col-xs-12 col-sm-4 col-md-3" ng-repeat="item in joinsPaginator.items">
    <div class="item-avatar-middle">
      <div class="item-image">
        <avatar-img src="item.interact.profile.user.avatar"></avatar-img>
      </div>
      <div class="item-body">
        <p class="item-body-title"><a ui-sref="application.expert({ expertId: item.interact.profile.user.id })">{{ item.interact.profile.user.fullname }}</a></p>

        <p class="item-body-header">{{ item.interact.profile.user.country }}</p>
      </div>
    </div>
  </div>
</div>
<load-more class="row spin-large" ng-if="joinsPaginator.loading"></load-more>
