<div class="row section-body" infinite-scroll="joinsPaginator.loadNext()" infinite-scroll-distance='0'
     infinite-scroll-disabled="joinsPaginator.loading || !joinsPaginator.hasNext()">
  <div class="col-xs-12 col-sm-4 col-md-3" ng-repeat="item in joinsPaginator.items">
    <div class="item-avatar-middle">
      <div class="item-image">
        <img ng-src="{{ item.joiner.avatar }}">
      </div>
      <div class="item-body">
        <p class="item-body-title"><a ui-sref="expert({ expertId: item.joiner.id })">{{ item.joiner.fullname }}</a></p>

        <p class="item-body-header">{{ item.joiner.country }}</p>
      </div>
    </div>
  </div>
</div>
<load-more class="row spin-large" ng-if="joinsPaginator.loading"></load-more>
