<section>
  <div class="container">
    <div layout="column" layout-align="start center">
      <img class="xb-login-image" src="https://xberts.imgix.net/static/logo/6fa3a41f-d3ec-44e3-a127-24ce36387c1e.png?auto=format%2Cenhance&crop=edges&fit=crop&ixlib=python-1.1.2&s=182b1f8aff51833ec146c4be2770a5ac" width="240" height="64" alt="xberts">
      <div class="xb-login-title md-body-1 md-dark-secondary">We bring you the best products that have been tested by trusted experts</div>
      <div class="xb-login-container background-whitem" layout="row" layout-align="start center" hide-xs>
        <div class="xb-login-container__button-bg">
          <div>
            <a type="button" href="#" class="btn btn-primary btn-block facebook-btn" ng-click="facebookLogin(loginError)">
            <i class="fa fa-facebook"></i>
            <span>Continue with Facebook</span>
            </a>
          </div>
          <a type="button" href="#" class="btn btn-primary btn-block linkedin-btn" ng-click="linkedinLogin()">
          <i class="fa fa-linkedin"></i>
          <span>Continue with LinkedIn</span>
          </a>
        </div>
        <span class="xb-login-container__line background-bg-gray"></span>
        <div>
          <form name="loginForm" novalidate ng-submit="login(loginForm)" clear-form-error>
            <md-input-container class="md-block" md-no-float>
              <input required ng-model="username" type="email" name="email" placeholder="Email Address"/>
              <div ng-messages="loginForm.email.$error">
                <div ng-message="required">Please enter your email.</div>
                <div ng-message="email">The email you entered is invalid.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" md-no-float>
              <input required ng-model="password" type="password" name="password" placeholder="Password"/>
              <div ng-messages="loginForm.password.$error">
                <div ng-message="required">Please enter your password.</div>
              </div>
            </md-input-container>
            <p class="md-caption md-dark-secondary" ui-sref="application.resetPassword.request">Forget password?</p>
            <md-button class="xb-login-container__button md-primary md-raised" type="submit">Log in</md-button>
          </form>
          <p><span class="md-caption md-dark-secondary">Don't have an account?</span>&nbsp;&nbsp;<a ui-sref="application.signup">Sign up</a></p>
        </div>
      </div>
      <div class="xb-login-mobile-container" hide-gt-xs>
        <div class="xb-login-container__button-bg">
          <div>
            <a type="button" href="#" class="btn btn-primary btn-block facebook-btn" ng-click="facebookLogin(loginError)">
              <i class="fa fa-facebook"></i>
              <span>Continue with Facebook</span>
            </a>
          </div>
          <a type="button" href="#" class="btn btn-primary btn-block linkedin-btn" ng-click="linkedinLogin()">
            <i class="fa fa-linkedin"></i>
            <span>Continue with LinkedIn</span>
          </a>
        </div>
        <div class="xb-login-mobile-container__text-button" layout="row" layout-align="center center">
          <div ng-click="showLogin();">Log in with Email</div>

        </div>
      </div>
    </div>
  </div>
</section>
