<section>
  <div class="container">
    <div layout="column" layout-align="start center">
      <div class="xb-login-container background-whitem" layout="row" layout-align="start center" hide-xs>
        <div class="xb-login-container__button-bg">
          <div>
            <a type="button" href="#" class="btn btn-primary btn-block facebook-btn" ng-click="facebookLogin(loginError)">
            <i class="fa fa-facebook"></i>
            <span>Continue with Facebook</span>
            </a>
          </div>
          <a type="button" href="#" class="btn btn-primary btn-block linkedin-btn" ng-click="linkedinLogin()">
          <i class="fa fa-linkedin"></i>
          <span>Continue with LinkedIn</span>
          </a>
        </div>
        <span class="xb-login-container__line background-bg-gray"></span>
        <div>
          <form name="loginForm" novalidate ng-submit="login(loginForm)" clear-form-error>
            <div class="form-group has-error">
              <div class="help-block" ng-show="loginForm.$submitted" ng-messages="loginForm.serverError">
                <p ng-message="invalidCredentials">The email or password you entered is incorrect.</p>
                <p ng-messages-include="views/text/form_error.html"></p>
              </div>
            </div>
            <md-input-container class="md-block" md-no-float>
              <input required ng-model="username" type="email" name="email" placeholder="Email Address"/>
              <div ng-messages="loginForm.email.$error">
                <div ng-message="required">Please enter your email.</div>
                <div ng-message="email">The email you entered is invalid.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" md-no-float>
              <input required ng-model="password" type="password" name="password" placeholder="Password"/>
              <div ng-messages="loginForm.password.$error">
                <div ng-message="required">Please enter your password.</div>
              </div>
            </md-input-container>
            <p class="md-caption md-dark-secondary" ui-sref="application.resetPassword.request">Forgot password?</p>
            <md-button class="xb-login-container__button md-primary md-raised" type="submit">Log in</md-button>
          </form>
          <p><span class="md-caption md-dark-secondary">Don't have an account?</span>&nbsp;&nbsp;<a ui-sref="application.signup">Sign up</a></p>
        </div>
      </div>
      <div class="xb-login-mobile-container" hide-gt-xs>
        <div class="xb-login-container__button-bg">
          <div>
            <a type="button" href="#" class="btn btn-primary btn-block facebook-btn" ng-click="facebookLogin(loginError)">
              <i class="fa fa-facebook"></i>
              <span>Continue with Facebook</span>
            </a>
          </div>
          <a type="button" href="#" class="btn btn-primary btn-block linkedin-btn" ng-click="linkedinLogin()">
            <i class="fa fa-linkedin"></i>
            <span>Continue with LinkedIn</span>
          </a>
        </div>
        <div class="xb-login-mobile-container__text-button" layout="column" layout-align="center center">
          <div ng-click="showLogin();">Log in with Email</div>
          <p><span class="md-caption md-dark-secondary">Don't have an account?</span>&nbsp;&nbsp;<a ui-sref="application.signup" ng-click="cancel()">Sign up</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
