<uib-carousel interval="5000" no-wrap="false" active="active">
  <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
    <div class="xb-carousel" style="background-image: url({{ slide.image }})">
      <div class="container">
        <div class="xb-carousel-body">
          <h1 class="xb-carousel-title" ng-bind-html=" slide.title | trust"></h1>
          <p class="xb-carousel-subtitle" ng-bind-html=" slide.subtitle | trust"></p>
          <div class="xb-carousel-button-wrap">
            <a ng-click="slideButtonClick(slide)"
               class="button  {{ slide.buttonBorder }} {{ slide.buttonColor }} button-glow">{{
              slide.buttonText }}</a>
          </div>
        </div>
      </div>
    </div>
  </uib-slide>
</uib-carousel>
<section style="padding-top: 20px;padding-bottom: 20px" class="background-bg-light">
  <div class="container">
    <div style="width: 80%; margin: auto;" class="full-image">
      <img src="/images/media_bar.png" style="width: 100%;">
    </div>
  </div>
</section>
<section class="xb-section background-bg-white">
  <div class="container">
    <div class="xb-section-title">
      <h2>How It Works</h2>

      <h3></h3>
    </div>
    <div class="row section-body">
      <div class="col-md-4 col-sm-6">
        <div class="card cover card-shadowless">
          <div class="profile-square border-clear">
            <img ng-src="/images/howitwork1.png">

            <p class="landing-p">Vote For Favorites</p>

            <p class="landing-p font-graym" style="font-size: 18px">Discover and vote for your favorite cool products
            </p>

          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card cover card-shadowless">
          <div class="profile-square border-clear">
            <img ng-src="/images/howitwork2.png">

            <p class="landing-p">Share Your Review</p>

            <p class="landing-p font-graym" style="font-size: 18px">Be among the first to review the most popular items
            </p>

          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card cover card-shadowless">
          <div class="profile-square border-clear">
            <img ng-src="/images/howitwork3.png">

            <p class="landing-p">Shop Debut Collection</p>

            <p class="landing-p font-graym" style="font-size: 18px">Get the best-rated products at an exclusive discount</p>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<section class="xb-section background-bg-light">
  <div class="container">
    <div class="xb-section-title">
      <h2>Trending Products</h2>

      <h3>Vote for your favorite products for the chance to save big</h3>
    </div>

    <div class="row xb-section-body">
      <div class="col-md-4 col-sm-6" ng-repeat="project in projectPaginator.items  | limitTo:3">
        <div class="card card-bordless">
          <div class="card-header" style="background-image: url({{ project.image }})"
               ui-sref="application.project({projectId: project.id})">
          </div>
          <div class="card-body">

            <p class="card-body-header">{{project.project_category_name}}</p>

            <p class="card-body-title p-3" ng-bind="project.title" ui-sref="application.project({projectId: project.id})">
            </p>

            <button class="button button-full margin-bottom"
                    ng-class="{'button-caution':project.interact.current_voter.vote,'button-primary':!project.interact.current_voter.vote}"
                    ng-click="want(project)" ng-disabled="project.voting "
                    ng-switch="project.interact.current_voter.vote">
              <span ng-switch-when="false">VOTE</span>
              <span ng-switch-when="true">VOTED</span>
            </button>


            <div class="card-body-footer" ng-switch="review.status"
                 ui-sref="application.project({projectId: project.id})">
              <div class="xb-avatar-wall">
                <div class="xb-avatar-text" style="height: 30px;padding-top: 5px;min-width: 60px;text-align: left;">
                <span>{{ project.interact.vote_amount }} vote<span
                  ng-show="project.interact.vote_amount>1">s</span></span>
                </div>
                <div class="xb-avatar-list" ui-sref="application.crowdtesting({ reviewId:review.id })">
                  <profile-avatar src="voter.joiner.avatar" name="voter.joiner.fullname"
                                  show-name="true" ng-repeat="voter in project.interact.voters"></profile-avatar>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="align-center">
      <a ui-sref="application.projects" class="button button-primary button-glow">View More Products</a>
    </div>
  </div>
</section>
<section class="xb-section background-bg-white">
  <div class="container">
    <div class="xb-section-title">
      <h2>CrowdTesting Campaigns</h2>

      <h3>Apply to review the most popular items and share your opinions</h3>
    </div>

    <div class="row xb-section-body">
      <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="review in projectReviewPaginator.items | limitTo:3">
        <a class="block-link" ui-sref="application.crowdtesting({ reviewId:review.id })">
          <div class="card">
            <div class="card-header" style="background-image: url({{ review.project.image }})">
            </div>
            <div class="card-body">
              <p class="card-body-title p-2">{{ review.title }}</p>

              <p class="card-body-detail">
                Available Units: {{ review.quota }} free samples
              </p>

              <p class="card-body-detail" ng-switch="review.status">
                <span ng-switch-when="UPCOMING">Start Date: {{ review.date_started | amDateFormat:'MMM DD, YYYY'}}</span>
                <span ng-switch-when="APPLICATION">Application Deadline: {{ review.application_end_date | amDateFormat:'MMM DD, YYYY'}}</span>
                <span ng-switch-when="SELECTION">Review Deadline: {{ review.date_end | amDateFormat:'MMM DD, YYYY'}}</span>
                <span ng-switch-when="CONFIRMATION">Review Deadline: {{ review.date_end | amDateFormat:'MMM DD, YYYY'}}</span>
                <span ng-switch-when="REVIEW">Review Deadline: {{ review.date_end | amDateFormat:'MMM DD, YYYY'}}</span>
                <span ng-switch-when="ENDED">Review Deadline: {{ review.date_end | amDateFormat:'MMM DD, YYYY'}}</span>
              </p>


              <div class="card-body-footer align-right" ng-switch="review.status">
                <div class="xb-avatar-wall">
                  <div class="xb-avatar-text" ng-switch="review.status">
                    <label ng-switch-when="UPCOMING" class="button-label button-label-success" style="font-size: 16px">Coming
                      Soon
                    </label>
                    <button ng-switch-when="APPLICATION" class="button button-small button-primary"
                            style="font-size: 16px"
                            ng-click="applyNow(review.id,$event);">Apply Now
                    </button>
                    <label ng-switch-when="SELECTION" class="button-label button-label-info" style="font-size: 16px">Selecting</label>
                    <label ng-switch-when="CONFIRMATION" class="button-label button-label-info" style="font-size: 16px">Confirming</label>
                    <label ng-switch-when="REVIEW" class="button-label button-label-info" style="font-size: 16px">Reviewing</label>
                    <button ng-switch-when="ENDED" class="button button-small button-primary"
                            style="font-size: 16px" ui-sref="application.crowdtesting({ reviewId:review.id })">View
                      Reports
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="align-center">
      <a ui-sref="application.crowdtestings" class="button button-primary button-glow">View More Campaigns</a>
    </div>
  </div>
</section>

<section class="xb-section background-bg-light">
  <div class="container">
    <div class="xb-section-title">
      <h2>Community Pioneers</h2>

      <h3>Join our community and meet people who share your interests</h3>
    </div>


    <div class="row xb-section-body">
      <div class="col-md-3 col-sm-6" ng-repeat="expert in expertPaginator.items">
        <div class="card cover">
          <div class="profile">
            <avatar-img src="expert.avatar"></avatar-img>

            <p class="profile-name p-1">{{ expert.short_name }}</p>

            <p class="profile-country p-1"><i class="fa fa-map-marker "></i> {{ expert.country }}</p>

            <p class="profile-title p-4">{{ expert.company_title }}</p>

          </div>
          <div class="cover-layer cover-layer-top">
            <div class="cover-header">
              <p class="p-10">{{ expert.biography }}</p>

              <p class="text-center">
                <a ui-sref="application.expert({ expertId:expert.user_id , tab:'comments' })"
                   class="button button-primary button-glow">View</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="align-center">
      <a ui-sref="application.experts" class="button button-primary button-glow">View More Influencers</a>
    </div>
  </div>
</section>
<section class="xb-section background-bg-white">
  <div class="container full-image">
    <div class="xb-section-title">
      <h2>Meet Creative Brands</h2>

      <h3>Collaborate with new brands and show your support to creators</h3>
    </div>
    <div class="row">
      <div class="col-md-2 col-xs-4 col-sm-3 xb-full-image">
        <img src="images/parter_1.png">
      </div>
      <div class="col-md-2 col-xs-4 col-sm-3 xb-full-image">
        <img src="images/parter_2.png">
      </div>
      <div class="col-md-2 col-xs-4 col-sm-3 xb-full-image">
        <img src="images/parter_3.png">
      </div>
      <div class="col-md-2 col-xs-4 col-sm-3 xb-full-image">
        <img src="images/parter_4.png">
      </div>
      <div class="col-md-2 col-xs-4 col-sm-3 xb-full-image">
        <img src="images/parter_5.png">
      </div>
      <div class="col-md-2 col-xs-4 col-sm-3 xb-full-image">
        <img src="images/parter_6.png">
      </div>
      <div class="col-md-2 col-xs-4 col-sm-3 xb-full-image">
        <img src="images/parter_7.png">
      </div>
      <div class="col-md-2 col-xs-4 col-sm-3 xb-full-image">
        <img src="images/parter_8.png">
      </div>
      <div class="col-md-2 col-xs-4 col-sm-3 xb-full-image">
        <img src="images/parter_9.png">
      </div>
      <div class="col-md-2 col-xs-4 col-sm-3 xb-full-image">
        <img src="images/parter_10.png">
      </div>
      <div class="col-md-2 col-xs-4 col-sm-3 xb-full-image">
        <img src="images/parter_11.png">
      </div>
      <div class="col-md-2 col-xs-4 col-sm-3 xb-full-image">
        <img src="images/parter_12.png">
      </div>
      <div class="col-md-2 col-xs-4 col-sm-3 xb-full-image">
        <img src="images/parter_13.png">
      </div>
      <div class="col-md-2 col-xs-4 col-sm-3 xb-full-image">
        <img src="images/parter_14.png">
      </div>
      <div class="col-md-2 col-xs-4 col-sm-3 xb-full-image">
        <img src="images/parter_15.png">
      </div>



    </div>
  </div>
</section>
