<uib-carousel interval="5000" no-wrap="false" style="margin-top: -50px;">
  <uib-slide ng-repeat="slide in slides" active="slide.active">
    <section class="section-fixed landing-page" style="background-image: url({{ slide.image }})">
      <div class="container">
        <div class="section-title">

          <h1 class="font-whitem" ng-bind-html=" slide.title | trust"></h1>&nbsp;
          <h3 class="font-whitem hidden-xs" style="color: #fff;" ng-bind-html=" slide.subtitle | trust"></h3>&nbsp;
        </div>
      </div>
      <div class="carousel-caption {{ slide.captionLocation}} hidden-xs">
        <a ng-click="slideButtonClick(slide)" class="button  {{ slide.buttonBorder }} {{ slide.buttonColor }} button-glow">{{
          slide.buttonText }}</a>
      </div>
    </section>
  </uib-slide>
</uib-carousel>
<section style="padding-top: 20px;padding-bottom: 20px" class="background-light-white">
  <div class="container">
    <div style="width: 80%; margin: auto;" class="full-image">
      <img src="/images/media_bar.png" style="width: 100%;">
    </div>
  </div>
</section>
<section class="background-whitem">
  <div class="container">
    <div class="section-title">
      <h2>How It Works</h2>

      <h3></h3>
    </div>
    <div class="row section-body">
      <div class="col-md-4 col-sm-6">
        <div class="card cover card-shadowless">
          <div class="profile-square border-clear">
            <img ng-src="/images/howitworks-solution.png">

            <p class="landing-p">Discover Innovation</p>

            <p class="landing-p font-graym" style="font-size: 18px">Explore new inventions created by our community of
              tech enthusiasts
            </p>

          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card cover card-shadowless">
          <div class="profile-square border-clear">
            <img ng-src="/images/howitworks-crowdtesting.png">

            <p class="landing-p">Review Products</p>

            <p class="landing-p font-graym" style="font-size: 18px">Test-drive the latest smart products and share your
              reviews
            </p>

          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card cover card-shadowless">
          <div class="profile-square border-clear">
            <img ng-src="/images/howitworks-marketplace.png">

            <p class="landing-p">Affiliate Partnership</p>

            <p class="landing-p font-graym" style="font-size: 18px">Become a partner of the next tech star to influence
              the market </p>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<section class="background-light-white">
  <div class="container">
    <div class="section-title">
      <h2>Featured Smart Products</h2>

      <h3>Seeking brand evangelists, buyers and partners </h3>
    </div>

    <div class="row section-body">
      <div class="col-md-4 col-sm-6" ng-repeat="project in projectPaginator.items  | limitTo:3">
        <a class="block-link" ui-sref="application.project({projectId: project.id})">
          <div class="card card-bordless">
            <div class="card-header" style="background-image: url({{ project.image }})">
            </div>
            <div class="card-body">
              <div class="card-body-header">
                <div class="avatar-text-small-1">
                  <avatar-img src="project.account.avatar"></avatar-img>

                  <p ng-bind="project.account.fullname"></p>
                </div>
              </div>
              <p class="card-body-title p-3" ng-bind="project.title">
              </p>

              <div class="card-body-footer">
                <div class="row">
                  <div class="col-xs-6 align-left">
                    <p class="p-1" ng-bind="project.project_category_name"></p>
                  </div>
                  <div class="col-xs-6 align-right">
                    <p class="p-1">
                      <i class="fa fa-heart"></i> <span ng-bind="project.interact.vote_amount"></span>
                      <!--<i class="fa fa-comment"></i> <span ng-bind="project.interact.feedback_amount"></span>-->
                      <!-- todo:user config-->
                  <span ng-if='user.isAuth() && user.isStaff()' ng-switch="project.interact.is_verified">
                  <i class="fa fa-check fa-lg text-danger" ng-switch-when="1"></i>
                  <i class="fa fa-times fa-lg text-danger" ng-switch-when="2"></i>
                  </span>
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </a>
      </div>
    </div>
    <p></p>

    <div class="align-center">
      <a ui-sref="application.projects" class="button button-primary button-glow">View More Products</a>
    </div>
  </div>
</section>
<section class="background-whitem">
  <div class="container">
    <div class="section-title">
      <h2>CrowdTesting Campaigns</h2>

      <h3>Calling for product testers and reviewers</h3>
    </div>

    <div class="row section-body">
      <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="review in projectReviewPaginator.items | limitTo:3">
        <a class="block-link" ui-sref="application.review({ reviewId:review.id })">
          <div class="card">
            <div class="card-header" style="background-image: url({{ review.project.image }})">
            </div>
            <div class="card-body">
              <p class="card-body-title p-2">{{ review.title }}</p>

              <p class="card-body-detail">
                Available Units: {{ review.quota }} free samples
              </p>

              <p class="card-body-detail" ng-switch="review.state">
                <span ng-switch-when="0">Start Date: {{ review.date_started | amDateFormat:'MMM DD, YYYY'}}</span>
                <span ng-switch-when="1">Application Deadline: {{ review.application_end_date | amDateFormat:'MMM DD, YYYY'}}</span>
                <span ng-switch-when="2">Review Deadline: {{ review.date_end | amDateFormat:'MMM DD, YYYY'}}</span>
                <span ng-switch-when="3">Review Deadline: {{ review.date_end | amDateFormat:'MMM DD, YYYY'}}</span>
                <span ng-switch-when="4">Review Deadline: {{ review.date_end | amDateFormat:'MMM DD, YYYY'}}</span>
                <span ng-switch-when="5">Review Deadline: {{ review.date_end | amDateFormat:'MMM DD, YYYY'}}</span>
              </p>


              <div class="card-body-footer align-right" ng-switch="review.state">
                <span ng-switch-when="0" class="label label-success" style="font-size: 16px">Coming Soon</span>
                <span ng-switch-when="1" class="label label-primary" style="font-size: 16px">Apply Now</span>
                <span ng-switch-when="2" class="label label-info" style="font-size: 16px">In Progress</span>
                <span ng-switch-when="3" class="label label-info" style="font-size: 16px">In Progress</span>
                <span ng-switch-when="4" class="label label-info" style="font-size: 16px">In Progress</span>
                <span ng-switch-when="5" class="label label-default" style="font-size: 16px">Completed</span>
              </div>

            </div>
          </div>
        </a>
      </div>
    </div>
    <p></p>

    <div class="align-center">
      <a ui-sref="application.reviews" class="button button-primary button-glow">View More Campaigns</a>
    </div>
  </div>
</section>
<section class="background-light-white">
  <div class="container">
    <div class="section-title">
      <h2>Upcoming Events</h2>

      <h3>Meet smart hardware brands and tech enthusiasts</h3>
    </div>

    <div class="row section-body">
      <div class="col-md-4 col-sm-6" ng-repeat="event in eventPaginator.items | limitTo:3">
        <div class="card card-bordless cover">
          <div class="card-header"
               style="background-image:url({{ event.logo }});">
          </div>
          <div class="card-body">
            <p class="card-body-header"><i
              class="fa fa-calendar"></i> {{ event.when | amDateFormat:'dddd, MMM DD, YYYY' }}
            </p>

            <p class="card-body-header p-1"><i class="fa fa-map-marker"></i> {{ event.where }}</p>

            <p class="card-body-title p-2">{{ event.title }}</p>

            <p class="card-body-footer p-1">{{ event.tags|tagsplit }}</p>
          </div>
          <div class="cover-layer cover-layer-top">
            <div class="cover-header">
              <p class="p-8">{{ event.brief }}</p>
            </div>
            <div class="cover-footer text-center">
              <a ui-sref="application.event({ eventId: event.id })" class="button button-glow button-action">View &
                Register</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p></p>

    <div class="align-center">
      <a ui-sref="application.events" class="button button-primary button-glow">View More Events</a>
    </div>
  </div>
</section>
<section class="background-whitem">
  <div class="container">
    <div class="section-title">
      <h2>Community Influencers</h2>

      <h3>Join our community and become a tech influencer</h3>
    </div>


    <div class="row section-body">
      <div class="col-md-3 col-sm-6" ng-repeat="expert in expertPaginator.items">
        <div class="card cover">
          <div class="profile">
            <avatar-img src="expert.avatar"></avatar-img>

            <p class="profile-name p-1">{{ expert.short_name }}</p>

            <p class="profile-country p-1"><i class="fa fa-map-marker"></i> {{ expert.country }}</p>

            <p class="profile-title p-4">{{ expert.company_title }}</p>

          </div>
          <div class="cover-layer cover-layer-top">
            <div class="cover-header">
              <p class="p-10">{{ expert.biography }}</p>

              <p class="text-center">
                <a ui-sref="application.expert({ expertId:expert.user_id , tab:'comments' })"
                   class="button button-primary button-glow">View</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p></p>

    <div class="align-center">
      <a ui-sref="application.experts" class="button button-primary button-glow">View More Influencers</a>
    </div>
  </div>
</section>
<section class="background-light-white">
  <div class="container full-image">
    <div class="section-title">
      <h2>Brands That Trust Us</h2>

      <h3>Over 210 smart hardware brands have launched on Xberts</h3>
    </div>
    <img src="/images/main_partner.png">
  </div>
</section>
