<section class="section-fixed landing-page" style="background-image: url(/images/landing-0924.jpg)">
  <div class="cover-layer">
    <div class="section-title">

      <h1>Connect smart hardware innovators with distributors,<br/>
        retailers and sales agent partners around the world</h1>

    </div>
    <div class="row" style="margin-top:30px">
      <p class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <a href="/auth/register/ " class="btn btn-lg btn-primary btn-block">Get Started</a>
      </p>
    </div>
  </div>
</section>
<section class="background-whitem">
  <div class="container">
    <div class="section-title">
      <h2>How It Works</h2>

      <h3></h3>
    </div>
    <div class="row section-body">
      <div class="col-md-4 col-sm-6">
        <div class="card cover border-clear">
          <div class="profile border-clear">
            <img ng-src="/images/new-howitworks-1.png">

            <p class="landing-p font-graym">Submit your smart hardware project and distribution request</p>

          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card cover border-clear">
          <div class="profile border-clear">
            <img ng-src="/images/new-howitworks-2.png">

            <p class="landing-p font-graym">Get matched with distribution partners from around the world</p>

          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card cover border-clear">
          <div class="profile border-clear">
            <img ng-src="/images/new-howitworks-3.png">

            <p class="landing-p font-graym">Build your distribution network and sell your product globally</p>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<section class="background-light-white">
  <div class="container">
    <div class="section-title">
      <h2>Featured Smart Hardware Projects</h2>

      <h3>Seeking distribution partners and product reviewers</h3>
    </div>

    <div class="row section-body">
      <div class="col-md-4 col-sm-6" ng-repeat="project in projectPaginator.items">
        <a class="block-link" href="/projects/{{ project.id }}/">
          <div class="card">
            <div class="card-header" style="background-image: url({{ project.image }})">
            </div>
            <div class="card-body">
              <div class="card-body-header">
                <div class="avatar-text-small-1">
                  <img ng-src="{{ project.account.avatar }}"/>

                  <p ng-bind="project.account.fullname"></p>
                </div>
              </div>
              <p class="card-body-title p-3" ng-bind="project.title">
              </p>

              <div class="card-body-footer">
                <div class="row">
                  <div class="col-xs-6 align-left">
                    <p class="p-1" ng-bind="project.project_category_name"></p>
                  </div>
                  <div class="col-xs-6 align-right">
                    <p class="p-1">
                      <i class="fa fa-heart"></i> <span ng-bind="project.interact.vote_amount"></span>
                      <i class="fa fa-comment"></i> <span ng-bind="project.interact.feedback_amount"></span>
                      <!-- todo:user config-->
                  <span ng-if='user.isAuth() && user.isStaff()' ng-switch="project.interact.is_verified">
                  <i class="fa fa-check fa-lg text-danger" ng-switch-when="1"></i>
                  <i class="fa fa-times fa-lg text-danger" ng-switch-when="2"></i>
                  </span>
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </a>
      </div>
    </div>
    <p></p>

    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <a ui-sref="projects" class="btn btn-lg btn-primary btn-block">View More Projects</a>
      </div>
    </div>
  </div>
</section>
<section class="background-whitem">
  <div class="container">
    <div class="section-title">
      <h2>Expo Events & Trade Show</h2>

      <h3>Present the best innovative products to global audiences</h3>
    </div>

    <div class="row section-body">
      <div class="col-md-4 col-sm-6" ng-repeat="event in eventPaginator.items">
        <div class="card cover">
          <div class="card-header"
               style="background-image:url({{ event.logo }});">
          </div>
          <div class="card-body">
            <p class="card-body-header"><i
              class="fa fa-calendar"></i> {{ event.when | amDateFormat:'dddd, MMM DD, YYYY' }}
            </p>

            <p class="card-body-header"><i class="fa fa-map-marker"></i> {{ event.where }}</p>

            <p class="card-body-title p-2">{{ event.title }}</p>

            <p class="card-body-footer">{{ event.tags|tagsplit }}</p>
          </div>
          <div class="cover-layer cover-layer-top">
            <div class="cover-header">
              <p class="p-8">{{ event.brief }}</p>
            </div>
            <div class="cover-footer text-center">
              <a ui-sref="event({ eventId: event.id })" class="btn btn-success">View & Register</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p></p>

    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <a ui-sref="events" class="btn btn-lg btn-primary btn-block">View More Events</a>
      </div>
    </div>
  </div>
</section>
<section class="background-light-white">
  <div class="container">
    <div class="section-title">
      <h2>Expert Mentors & Industry Leaders</h2>

      <h3>Conduct market research and develop market entry strategy</h3>
    </div>


    <div class="row section-body">
      <div class="col-md-3 col-sm-6" ng-repeat="expert in experts">
        <div class="card cover">
          <div class="profile">
            <img ng-src="{{ expert.avatar }}">

            <p class="profile-name p-1">{{ expert.short_name }}</p>

            <p class="profile-country p-1"><i class="fa fa-map-marker"></i> {{ expert.country }}</p>

            <p class="profile-title p-4">{{ expert.company_title }}</p>

          </div>
          <div class="cover-layer cover-layer-top">
            <div class="cover-header">
              <p class="p-10">{{ expert.biography }}</p>

              <p class="text-center">
                <a ng-href="/xberts/{{ expert.user_id }}/#?xbertTab=feedback" class="btn btn-primary">Ask
                  For Help</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p></p>

    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <a href="/xberts/" class="btn btn-lg btn-primary btn-block">View More Experts</a>
      </div>
    </div>
  </div>
</section>
<section class="background-whitem">
  <div class="container">
    <div class="section-title">
      <h2>Why You Should Use Xberts</h2>

      <h3></h3>
    </div>


    <div class="row section-body">
      <div class="col-md-6">
          <h3>For Makers:</h3>

          <div class="landing-p" style="margin-top: 15px">
            <p class="align-justify font-graym">Find trusted distribution channels to partner with</p>

            <p class="align-justify font-graym">Showcase your hardware innovation to the world</p>

            <p class="align-justify font-graym">Get product feedback from our global community</p>
          </div>
          <div class="row" style="margin-top:30px;">
            <div class="col-xs-8 col-xs-offset-1">
              <a href="/projects/launch/ " class="btn  btn-primary btn-block">Launch a Smart Product</a>
            </div>
          </div>
      </div>
      <div class="col-md-6">
        <h3>For Distributors:</h3>

        <div class="landing-p" style="margin-top: 15px">
          <p class="align-justify font-graym">Find the next generation of smart products to sell</p>

          <p class="align-justify font-graym">Increase your revenue with the best-rated projects</p>

          <p class="align-justify font-graym">Discover the latest smart hardware industry trend</p>
        </div>
        <div class="row" style="margin-top:30px;">
          <div class="col-xs-8 col-xs-offset-1">
            <a href="/auth/register/ " class="btn btn-success btn-block">Become a Distribution Partner</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="background-light-white">
  <div class="container">
    <div class="section-title">
      <h2>What Our Users Say</h2>

      <h3>TESTIMONIALS</h3>
    </div>


    <div class="section-body">
      <ul class="media-list">
        <li class="media" style="padding-right: 90px">
          <div class="media-left">
            <a href="#">
              <img class="media-object img-circle" src="/images/mentee_alex.jpg" width="80" height="80">
            </a>
          </div>
          <div class="media-body background-whitem padding-a5-10 ">
            <p class="font-gray-light">"I had an incredibly positive experience on Xberts.
              The team was able to connect me to an amazing and relevant partner,
              and the entire process took just a few days.
              Everyone was incredibly responsive to my inquiries and always responded immediately.
              I strongly recommend Xberts to any hardware entrepreneur and will be continuously using this service going
              forward."</p>

            <p>Alex Klokus, <span class="font-gray-light">CEO of Habet, NYU Alum</span></p>
          </div>
        </li>
        <li class="media" style="padding-left: 90px">
          <div class="media-body background-whitem padding-a5-10 ">
            <p class="font-gray-light">
              "Through Xberts, I was able to connect with amazing partners, to whom I other wise would not have access.
              The platform was easy to use, and I was connected within days. I highly recommend Xberts to any hardware
              entrepreneur that is looking to catalyze the growth of their start-up!"</p>

            <p>Aaron Goldstein, <span class="font-gray-light">Co-Founder, FeverSmart</span></p>
          </div>
          <div class="media-right">
            <a href="#">
              <img class="media-object img-circle" src="/images/mentee_aaron.png" width="80" height="80">
            </a>
          </div>
        </li>
      </ul>
    </div>
    <p></p>
  </div>
</section>

