<div class="xberts-navbar" role="navigation" hide-xs >
  <div class="container" layout="row" layout-align="start center">
    <img ui-sref="application.main" src="https://xberts.imgix.net/static/logo/b26747af-9403-4b96-bd44-5431625d526c.png?auto=format%2Cenhance&crop=edges&fit=crop&ixlib=python-1.1.2&s=4a117ac0f1603262af3a454a1a974915" width="120" height="32" alt="xberts">

    <div class="xberts-navbar__center-container" layout="row" layout-align="start center">
      <div ui-sref-active="active" ui-sref="application.productDeals">Discover<div></div></div>
      <div ui-sref-active="active" ui-sref="application.askQuestionMain">Ask</div>
      <div ui-sref-active="active" ui-sref="application.testingcampaigns">Trials</div>
      <div ui-sref-active="active" ui-sref="application.campaignreviews">Reviews</div>
      <div ui-sref-active="active" ui-sref="application.creditMain">Perks</div>
    </div>
    <xb-search flex></xb-search>
    <div class="xberts-navbar__right-container" ng-if="!user.isAuth()" layout="row" layout-align="start center">
      <div ui-sref-active="active" ui-sref="application.signup">Sign up</div>
      <div ui-sref-active="active" ui-sref="application.login">Log in</div>
    </div>
    <div class="xberts-navbar__right-container" ng-if="user.isAuth()" layout="row" layout-align="start center">

      <xb-post></xb-post>
      <xb-notification hide></xb-notification>
      <messages hide></messages>
      <div class="xberts-navbar__right-container-button" ng-mouseenter="onPopup()" ng-mouseleave="onPopup()">
        <avatar-img src="user._userAvatar" name="user.getUserName()" show-name="true" ></avatar-img>
        <span class="xberts-navbar__red-point" ng-if="unreadNotificationMeCount > 0 || unreadNotificationSystemCount > 0 || unreadNotificationFeedsCount > 0 || unreadDirectMessageCount > 0"></span>
        <div class="xberts-navbar__right-container-popup" ng-show="isPopupOpen" flex="none">
          <div ui-sref-active="active" ui-sref="application.expert({ expertId: user.getUserId(), tab: 'profile' })">My Profile</div>
          <div ui-sref-active="active" ui-sref="application.protected.invite">Invite Friends</div>
          <div ui-sref-active="active" ui-sref="application.protected.message.notification"
               layout="row" layout-align="start start">Notification
            <span class="xberts-navbar__red-point-1" ng-if="unreadNotificationMeCount > 0 || unreadNotificationSystemCount > 0 || unreadNotificationFeedsCount > 0"></span></div>
          <div ui-sref-active="active" ui-sref="application.protected.message.inbox"
               layout="row" layout-align="start start">Messages
            <span class="xberts-navbar__red-point-1" ng-if="unreadDirectMessageCount > 0"></span></div>
          <div ui-sref-active="active" ui-sref="application.protected.editProfile({tab: 'setting'})">Settings</div>
          <div ng-click="logout()">Logout</div>
        </div>
      </div>
    </div>
  </div>
</div>

<md-toolbar class="xberts-navbar-moblie md-hue-2" hide-gt-xs ng-if="!xbertsApp">
  <div class="md-toolbar-tools" layout="row" layout-align="start center">
    <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
      <md-icon md-font-set="material-icons"> menu </md-icon>
    </md-button>
    <h2 ng-if="state.current.name == 'application.main'" flex>Home</h2>
    <h2 ng-if="state.current.name == 'application.productDeals'" flex>Discover</h2>
    <h2 ng-if="state.current.name == 'application.askQuestionMain'" flex>Ask</h2>
    <h2 ng-if="state.current.name == 'application.testingcampaigns'" flex>Trials</h2>
    <h2 ng-if="state.current.name == 'application.campaignreviews'" flex>Reviews</h2>
    <h2 ng-if="state.current.name == 'application.creditMain'" flex>Perks</h2>
    <h2 ng-if="state.current.name == 'application.search'" flex>Search</h2>
    <h2 ng-if="state.current.name == 'application.signup'" flex>Sign up</h2>
    <h2 ng-if="state.current.name == 'application.login'
     || state.current.name == 'application.linkedinLogin'" flex>Log in</h2>
    <h2 ng-if="state.current.name == 'application.protected.message.inbox'
     || state.current.name == 'application.protected.message.inbox.thread'
     || state.current.name == 'application.protected.thread'" flex>Messages</h2>
    <h2 ng-if="state.current.name == 'application.protected.message.notification'
      || state.current.name == 'application.protected.message.notificationDetail'" flex>Notification</h2>
    <h2 ng-if="state.current.name == 'application.expert'
     || state.current.name == 'application.protected.biography'
     || state.current.name == 'application.protected.trials'
     || state.current.name == 'application.protected.posts'
     || state.current.name == 'application.protected.referrals'
     || state.current.name == 'application.protected.follow'
     || state.current.name == 'application.protected.questions'
     || state.current.name == 'application.protected.answers'" flex>My Profile</h2>
    <h2 ng-if="state.current.name == 'application.protected.editProfile'" flex>Edit Profile</h2>
    <h2 ng-if="state.current.name == 'application.protected.editPost'
     || state.current.name == 'application.protected.post'
     || state.current.name == 'application.protected.editQuestion'
     || state.current.name == 'application.protected.askQuestion'
     || state.current.name == 'application.protected.reviewReport'" flex>Post</h2>
    <h2 ng-if="state.current.name == 'application.about'" flex>About us</h2>
    <h2 ng-if="state.current.name == 'application.protected.invite'" flex>Invite Friends</h2>
    <h2 ng-if="state.current.name == 'application.personalCredit'" flex>My Points</h2>
    <h2 ng-if="state.current.name == 'application.terms'" flex>Terms</h2>
    <h2 ng-if="state.current.name == 'application.privacy'" flex>Privacy</h2>
    <h2 ng-if="state.current.name == 'application.protected.shippingAddress'" flex>Shipping Address</h2>
    <h2 ng-if="state.current.name == 'application.protected.answerPost'" flex>Answer</h2>
    <h2 ng-if="state.current.name == 'application.shareProductDetail' || state.current.name == 'application.report'
    || state.current.name == 'application.testingcampaign' || state.current.name == 'application.testingcampaign'
    || state.current.name == 'application.redeemDetail' || state.current.name == 'application.dealsDetail'
    || state.current.name == 'application.answerQuestionDetail'" flex>{{pageSettings._title}}</h2>
    <xb-search></xb-search>
  </div>
</md-toolbar>
<md-sidenav
  class="md-sidenav-left xberts-navbar-moblie-sidenav xb-nav-sidenav"
  md-component-id="left"
  md-whiteframe="3" hide-gt-xs layout="column" ng-click="$event.stopPropagation();">

  <div class="xberts-navbar-moblie-sidenav__top-container" flex="noshrink">
    <div ui-sref-active="active" ui-sref="application.main" ng-click="close()">Home</div>
    <div ui-sref-active="active" ui-sref="application.productDeals" ng-click="close()"
         layout="row" layout-align="start start">Discover<span></span></div>
    <div ui-sref-active="active" ui-sref="application.askQuestionMain" ng-click="close()"
         layout="row" layout-align="start start">Ask<span></span></div>
    <div ui-sref-active="active" ui-sref="application.testingcampaigns" ng-click="close()">Trials</div>
    <div ui-sref-active="active" ui-sref="application.campaignreviews" ng-click="close()">Reviews</div>
    <div ui-sref-active="active" ui-sref="application.creditMain" ng-click="close()">Perks</div>
  </div>
  <div ng-if="!user.isAuth()" class="xberts-navbar-moblie-sidenav__bottom-container" flex="noshrink" layout="column" layout-align="end start">
    <div class="xberts-navbar-moblie-sidenav__bottom-container-button" ui-sref-active="active" ui-sref="application.signup" ng-click="close()">Sign up</div>
    <div class="xberts-navbar-moblie-sidenav__bottom-container-button" ui-sref-active="active" ui-sref="application.login" ng-click="close()">Log in</div>
  </div>
  <div ng-if="user.isAuth()" class="xberts-navbar-moblie-sidenav__bottom-container" flex="noshrink" layout="column" layout-align="end stretch">
    <xb-post layout="column" flex on-close="close()"></xb-post>
    <div class="xberts-navbar-moblie-sidenav__bottom-container-button" ui-sref-active="active" ui-sref="application.protected.message.notification" ng-click="close()"
         layout="row" layout-align="start start">Notification
      <span ng-if="unreadNotificationMeCount > 0 || unreadNotificationSystemCount > 0 || unreadNotificationFeedsCount > 0"></span></div>
    <div class="xberts-navbar-moblie-sidenav__bottom-container-button" ui-sref-active="active" ui-sref="application.protected.message.inbox" ng-click="close()"
         layout="row" layout-align="start start">Messages
      <span ng-if="unreadDirectMessageCount > 0"></span></div>
    <div class="xberts-navbar-moblie-sidenav__bottom-container-button" ui-sref-active="active" ui-sref="application.expert({ expertId: user.getUserId(), tab: 'profile' })" ng-click="close()">My Profile</div>
    <div class="xberts-navbar-moblie-sidenav__bottom-container-button" ui-sref-active="active" ui-sref="application.protected.invite" ng-click="close()">Invite Friends</div>
    <div class="xberts-navbar-moblie-sidenav__bottom-container-button" ui-sref-active="active" ui-sref="application.protected.editProfile({tab: 'setting' })" ng-click="close()">Settings</div>
    <div class="xberts-navbar-moblie-sidenav__bottom-container-button" ng-click="logout()">Logout</div>
  </div>
</md-sidenav>
<verification ng-if="user.isAuth() && user.getInvited() && !user.getEmailVerification() && user.getUserEmail()"></verification>
<md-content ng-class="pageSettings._backgroundColor" class="xb-body-view" md-scroll-y flex layout="column">
  <div class="xb-inner-body" ng-class="{true:'xb-footer-padding',false:''}[state.current.name == 'application.shareProductDetail' || state.current.name == 'application.report'
    || state.current.name == 'application.testingcampaign' || state.current.name == 'application.testingcampaign'
    || state.current.name == 'application.redeemDetail' || state.current.name == 'application.dealsDetail'
    || state.current.name == 'application.answerQuestionDetail']" ui-view flex="noshrink"></div>
  <xberts-footer ng-class="{true:'',false:'xb-footer-hide'}[state.current.name=='application.main'] +
     {true:' xb-footer-hide__PC',false:''}[state.current.name == 'application.protected.message.inbox'
     || state.current.name == 'application.protected.message.inbox.thread'
     || state.current.name == 'application.protected.thread']" flex="noshrink" layout="row" layout-algin="center center"></xberts-footer>
</md-content>

