<!--<div class="coupon-banner text-center text-uppercase navbar-fixed-top">-->
  <!--<p><a ui-sref="application.protected.profile({ action: 'invite' })">Invite friends</a> to get $10 off your next purchase.</p>-->
<!--</div>-->

<div class="xberts-navbar" role="navigation" hide-xs >
  <div class="container" layout="row" layout-align="start center">

    <img ui-sref="application.main" src="https://xberts.imgix.net/static/logo/3ef1c2db-9f7f-45cd-8b55-a054723b4ca5.png?auto=format%2Cenhance&crop=edges&fit=crop&ixlib=python-1.1.2&s=ab89a780b24f749d21394844da6bfaad" width="120" height="32" alt="xberts">

    <div class="xberts-navbar__center-container" flex layout="row" layout-align="start center">
      <div ui-sref-active="active" ui-sref="application.shareProductList">Discover</div>
      <div ui-sref-active="active" ui-sref="application.testingcampaigns">Trials</div>
      <div ui-sref-active="active" ui-sref="application.campaignreviews">Reviews</div>
      <div ui-sref-active="active" ui-sref="application.creditMain">Perks</div>
    </div>

    <div class="xberts-navbar__right-container" ng-if="!user.isAuth()" layout="row" layout-align="start center">
      <div ui-sref-active="active" ui-sref="application.signup">Sign up</div>
      <div ui-sref-active="active" ui-sref="application.login">Log in</div>
    </div>
    <div class="xberts-navbar__right-container" ng-if="user.isAuth()" layout="row" layout-align="start center">
      <messages></messages>
      <div class="xberts-navbar__right-container-button" ng-mouseenter="onPopup()" ng-mouseleave="onPopup()">
        <avatar-img src="user.getUserAvatar()" name="user.getUserName()" show-name="true" ></avatar-img>
        <div class="xberts-navbar__right-container-popup" ng-show="isPopupOpen" flex="none">
          <div ui-sref-active="active" ui-sref="application.expert({ expertId: user.getUserId(), tab: 'profile' })">My Profile</div>
          <div ui-sref-active="active" ui-sref="application.expert({ expertId: user.getUserId(), tab: 'trials' })">My Trials</div>
          <div ui-sref-active="active" ui-sref="application.expert({ expertId: user.getUserId(), tab: 'posts' })" ng-click="close()">My Posts</div>
          <div ui-sref-active="active" ui-sref="application.protected.setting">Settings</div>
          <div ng-click="logout()">Logout</div>
        </div>
      </div>
    </div>
  </div>
</div>

<md-toolbar class="xberts-navbar-moblie md-hue-2" hide-gt-xs>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
      <md-icon md-font-set="material-icons"> menu </md-icon>
    </md-button>
    <h2 ng-if="state.current.name == 'application.main'">Home</h2>
    <h2 ng-if="state.current.name == 'application.shareProductList'">Discover</h2>
    <h2 ng-if="state.current.name == 'application.testingcampaigns'">Trials</h2>
    <h2 ng-if="state.current.name == 'application.campaignreviews'">Reviews</h2>
    <h2 ng-if="state.current.name == 'application.creditMain'">Perks</h2>
    <h2 ng-if="state.current.name == 'application.signup'">Sign up</h2>
    <h2 ng-if="state.current.name == 'application.login'">Sign in</h2>
    <h2 ng-if="state.current.name == 'application.expert'">My Profile</h2>
    <h2 ng-if="state.current.name == 'application.protected.setting'">Settings</h2>
    <h2 ng-if="state.current.name == 'application.shareProductDetail' || state.current.name == 'application.report'
    || state.current.name == 'application.testingcampaign' || state.current.name == 'application.testingcampaign'">{{pageSettings._title}}</h2>
  </div>
</md-toolbar>
<md-sidenav
  class="md-sidenav-left xberts-navbar-moblie-sidenav"
  md-component-id="left"
  md-whiteframe="3" hide-gt-xs layout="column" layout-align="space-between start">

  <div class="xberts-navbar-moblie-sidenav__top-container">
    <div ui-sref-active="active" ui-sref="application.main" ng-click="close()">Home</div>
    <div ui-sref-active="active" ui-sref="application.shareProductList" ng-click="close()">Discover</div>
    <div ui-sref-active="active" ui-sref="application.testingcampaigns" ng-click="close()">Trials</div>
    <div ui-sref-active="active" ui-sref="application.campaignreviews" ng-click="close()">Reviews</div>
    <div ui-sref-active="active" ui-sref="application.creditMain" ng-click="close()">Perks</div>
  </div>
  <div ng-if="!user.isAuth()" class="xberts-navbar-moblie-sidenav__bottom-container">
    <div ui-sref-active="active" ui-sref="application.signup" ng-click="close()">Sign up</div>
    <div ui-sref-active="active" ui-sref="application.login" ng-click="close()">Log in</div>
  </div>
  <div ng-if="user.isAuth()" class="xberts-navbar-moblie-sidenav__bottom-container">
    <div ui-sref-active="active" ui-sref="application.protected.message.inbox" >Messages</div>
    <div ui-sref-active="active" ui-sref="application.expert({ expertId: user.getUserId(), tab: 'profile' })" ng-click="close()">My Profile</div>
    <div ui-sref-active="active" ui-sref="application.protected.setting" ng-click="close()">Settings</div>
    <div ng-click="logout()">Logout</div>
  </div>
</md-sidenav>
<md-content class="xb-body-view" md-scroll-y flex layout="column">
  <div class="xb-inner-body" ui-view flex="noshrink"></div>
  <xberts-footer flex="noshrink" layout="row" layout-algin="center center"></xberts-footer>
</md-content>

