<div class="coupon-banner text-center text-uppercase">
  <p>Enjoy $10 off your first order of $20+. Use <strong>XBERTS</strong> discount code at checkout.</p>
</div>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" ui-sref="application.main" data-toggle="collapse"
         data-target="#js-navbar-collapse.in">
        <img src="/images/xberts.png" width="120" height="32" alt="xberts">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="js-navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="fade-in-line" ui-sref-active="active" data-toggle="collapse" data-target="#js-navbar-collapse.in">
          <a ui-sref="application.main">EXPLORE</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!user.isAuth()" class="fade-in-line" ui-sref-active="active" data-toggle="collapse"
            data-target="#js-navbar-collapse.in">
          <a ui-sref="application.signup">SIGN UP</a>
        </li>

        <li ng-if="!user.isAuth()" class="fade-in-line" ui-sref-active="active" data-toggle="collapse"
            data-target="#js-navbar-collapse.in">
          <a ui-sref="application.login">SIGN IN</a>
        </li>

        <messages ng-if="user.isAuth()"></messages>

        <!--<notifications ng-if="user.isAuth()"></notifications>-->

        <li ng-if="user.isAuth()" uib-dropdown is-open="userDropdownStatus.isopen"
            ng-mouseenter="userDropdownStatus.isopen = true" ng-mouseleave="userDropdownStatus.isopen = false">
          <a class="fade-in-line" uib-dropdown-toggle aria-haspopup="true"
             aria-expanded="false" ui-sref-active="{ active: 'application.expert({ expertId: user.getUserId() })' }">
            <div class="avatar-text-smaller-1">
              <avatar-img src="user.getUserAvatar()" name="user.getUserName()" show-name="true"></avatar-img>
            </div>
          </a>

          <ul class="dropdown-menu">
            <li data-toggle="collapse" data-target="#js-navbar-collapse.in">
              <a ui-sref="application.expert({ expertId: user.getUserId(), tab: 'profile' })">My Profile</a>
            </li>
            <li data-toggle="collapse" data-target="#js-navbar-collapse.in">
              <a ui-sref="application.expert({ expertId: user.getUserId(), tab: 'campaigns' })">My Campaigns</a>
            </li>
            <li data-toggle="collapse" data-target="#js-navbar-collapse.in">
              <a ui-sref="application.expert({ expertId: user.getUserId(), tab: 'trials' })">My Trials</a>
            </li>

            <li data-toggle="collapse" data-target="#js-navbar-collapse.in">
              <a ui-sref="application.protected.setting">Settings</a>
            </li>

            <li data-toggle="collapse" data-target="#js-navbar-collapse.in">
              <a ng-click="logout()">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div ui-view></div>
