<section class="container header">
  <div class="jumbotron section-title" style="background-image: url(/images/5.jpg)">
    <h2 class="font-whitem">Connect brand new smart devices with global distributors and retailers!</h2>

    <div class="row">
      <h3 class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <a class="btn btn-lg btn-success btn-block" ui-sref="application.protected.launchProject">Launch a Product</a>
      </h3>
    </div>

  </div>
  <div class="row section-body" infinite-scroll="projectPaginator.loadNext()" infinite-scroll-distance='0'
       infinite-scroll-disabled="projectPaginator.loading || !projectPaginator.hasNext()">
    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="project in projectPaginator.items">
      <a class="block-link" ng-href="#/projects/{{ project.id }}">
      <div class="card">
        <div class="card-header" style="background-image: url({{ project.image }})">
        </div>
        <div class="card-body">
          <div class="card-body-header">
            <div class="avatar-text-small-1">
              <img ng-src="{{ project.account.avatar }}"/>

              <p ng-bind="project.account.fullname"></p>
            </div>
          </div>
          <p class="card-body-title p-3" ng-bind="project.title">
          </p>

          <div class="card-body-footer">
            <div class="row">
              <div class="col-xs-6 align-left">
                <p class="p-1" ng-bind="project.project_category_name"></p>
              </div>
              <div class="col-xs-6 align-right">
                <p class="p-1">
                  <i class="fa fa-heart"></i> <span ng-bind="project.interact.vote_amount"></span>
                  <i class="fa fa-comment"></i> <span ng-bind="project.interact.feedback_amount"></span>
                  <!-- todo:user config-->
                  <span ng-if='user.isAuth() && user.isStaff()' ng-switch="project.interact.is_verified">
                  <i class="fa fa-check fa-lg text-danger" ng-switch-when="1"></i>
                  <i class="fa fa-times fa-lg text-danger" ng-switch-when="2"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
      </a>
    </div>
  </div>
  <load-more class="row spin-large" ng-if="projectPaginator.loading"></load-more>
</section>
