<join ng-init="init(project.interact)">
  <section class="background-light-white">
    <div class="container">
      <div class="section-title">
        <h2 ng-bind="project.title"></h2>

        <h3 class="avatar-inline">
          <img ng-src="{{ project.account.avatar }}"/>
          <a class="a-gray-primary" ui-sref="application.expert({ expertId:project.account.id })">{{ project.account.fullname }}</a>
          <span class="margin-left"><i
            class="fa fa-tag"></i> {{ projectTypes | decode : project.project_category }}</span>
        </h3>
        <save></save>
        <a class="btn btn-gray" ng-if="project.account.id==user.getUserId()" ui-sref="application.protected.launchProject({projectId:project.id})"><i class="fa fa-edit"></i> EDIT</a>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <uib-tabset>
            <uib-tab heading="Description" active="tabs[0].active">
              <div ng-bind-html=" project.details | trust"></div>
            </uib-tab>
            <uib-tab heading="Comments({{ project.interact.feedback_amount }})" active="tabs[1].active" select="select('comments')">
              <div ng-if="commentsTabActive">
                <div ng-include src="'views/comments.html'"></div>
              </div>
            </uib-tab>
          </uib-tabset>
        </div>
      </div>
    </div>
  </section>
</join>

