<div class="form-group col-xs-12 col-sm-12" ng-switch="question.type">
  <label>{{ question.title }}</label>

  <div ng-switch-when="1">

    <input type="text" class="form-control"
           name="question_{{ question.id }}"
           ng-model="question.answer"
           ng-required="true"/>
  </div>
  <div ng-switch-when="2">

    <textarea type="text" class="form-control" rows="5"
              name="question_{{ question.id }}"
              ng-model="question.answer"
              ng-required="true"></textarea>
  </div>
  <div ng-switch-when="4">
    <div class="radio" ng-repeat="item in question.extra|split">
      <label>
        <input type="radio"
               name="question_{{ question.id }}"
               ng-model="question.answer"
               ng-value=item
               ng-required="true"
        /> {{ item }}
      </label>
    </div>
  </div>
  <div ng-switch-when="6">

    <select class="form-control" name="country"
            name="question_{{ question.id }}"
            ng-model="question.answer"
            ng-required="true">
      <option value="">--choose a {{ question.default }}--</option>
      <option ng-repeat="item in question.extra|split"
              value="{{ item }}"
              ng-selected="question.answer==item">{{ item }}
      </option>
    </select>
  </div>
</div>
