<form name="reviewForm" ng-submit="reviewFormSubmit()" class="form-horizontal" ng-controller="ReviewinfoCtrl">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Review Experience</div>
        <div class="panel-body">
          <div class="form-group col-xs-12 col-sm-12">
            <label>Please rate your knowledge/experience about Smart Device from 1 ~ 5: </label>
            <br/>

            <label class="radio-inline">
              <input type="radio"
                     name="question_1"
                     ng-model="review.question_1"
                     ng-value=1
                     ng-required="true"
                /> 1
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="question_1"
                     ng-model="review.question_1"
                     ng-value=2
                     ng-required="true"
                /> 2
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="question_1"
                     ng-model="review.question_1"
                     ng-value=3
                     ng-required="true"
                /> 3
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="question_1"
                     ng-model="review.question_1"
                     ng-value=4
                     ng-required="true"
                /> 4
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="question_1"
                     ng-model="review.question_1"
                     ng-value=5
                     ng-required="true"
                /> 5
            </label>
          </div>
          <div class="form-group col-xs-12">
            <label>Have you been a Product Tester/Reviewer before for similar products? </label>
            <br/>
            <label class="radio-inline">
              <input type="radio"
                     name="question_2"
                     ng-model="review.question_2"
                     ng-value="true"
                     ng-required="true"
                /> Yes
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="question_2"
                     ng-model="review.question_2"
                     ng-value="false"
                     ng-required="true"
                /> NO
            </label>
          </div>
          <div class="form-group col-xs-12" ng-if="review.question_2">
            <label>Please copy the review in text or provide the direct url link of review: </label>

            <input type="text" class="form-control" name="question_3"
                   ng-model="review.question_3" ng-required="true"/>
          </div>

          <div class="form-group col-xs-12">
            <label>Please list your choice of Smart Device that you know and/or have used: </label>
            <input type="text" class="form-control" name="question_4"
                   ng-model="review.question_4" ng-required="true"/>
          </div>
          <div class="form-group col-xs-12">
            <label>Please describe your experience with the above Smart Device: </label>
            <textarea class="form-control" name="question_5"
                      ng-model="review.question_5" ng-required="true"></textarea>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Review Motivation</div>
        <div class="panel-body">
          <div class="form-group col-xs-12">
            <label>Why are you interested in becoming a Product Reviewer? </label>
            <textarea class="form-control" name="question_6"
                      ng-model="review.question_6" ng-required="true"></textarea>
          </div>
          <div class="form-group col-xs-12">
            <label>Will you be willing to receive more information from Xberts about product testing and/or review, even
              if you are not selected as a reviewer this time? </label>
            <br/>
            <label class="radio-inline">
              <input type="radio"
                     name="question_7"
                     ng-model="review.question_7"
                     ng-value="true"
                     ng-required="true"
                /> Yes
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="question_7"
                     ng-model="review.question_7"
                     ng-value="false"
                     ng-required="true"
                /> No
            </label>
          </div>
          <div class="form-group col-xs-12">
            <label>If there is any additional information that you'd like to include in this application, please let us
              know here? </label>
            <textarea class="form-control" name="question_8"
                      ng-model="review.question_8" ng-required="true"></textarea>
          </div>
          <div class="form-group col-xs-12">
            <label>Do you wish sponosr contact you for marketing purpose? </label>
            <br/>
            <label class="radio-inline">
              <input type="radio"
                     name="question_9"
                     ng-model="review.question_9"
                     ng-value="true"
                     ng-required="true"
                /> Yes
            </label>
            <label class="radio-inline">
              <input type="radio"
                     name="question_9"
                     ng-model="review.question_9"
                     ng-value="false"
                     ng-required="true"
                /> No
            </label>
          </div>

        </div>
      </div>
      <div class="row">
        <p class='message-error text-center' ng-show="reviewForm.submitted && reviewForm.$invalid">Please check
          your
          input. </p>

        <p class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
          <button type="submit" class="btn btn-lg btn-primary btn-block">Next</button>
        </p>
      </div>
    </div>
  </div>
</form>

