<div ng-if="reviewsTabActive">
  <div class="section-body" infinite-scroll="reviewApplicantPaginator.loadNext()" infinite-scroll-distance='0'
       infinite-scroll-disabled="reviewApplicantPaginator.loading || !reviewApplicantPaginator.hasNext()">
    <div class="row" ng-repeat="applicant in reviewApplicantPaginator.items">
      <div class="col-md-2">{{ applicant.review.title }}</div>
      <div class="col-md-2">{{ applicant.review.date_started | amDateFormat:'YYYY.MM.DD, dddd' }}</div>
      <div class="col-md-2">{{ applicant.review.date_end | amDateFormat:'YYYY.MM.DD, dddd' }}</div>
      <div class="col-md-2" ng-switch="applicant.is_selected">
        <span ng-switch-when="false">Not Selected</span>
        <span ng-switch-when="true">Selected</span>
      </div>
      <div class="col-md-2" ng-switch="applicant.is_submit_report">
        <span ng-switch-when="false">No</span>
        <span ng-switch-when="true">Yes</span>
      </div>
      <div class="col-md-2" ng-switch="applicant.is_submit_report">
        <span ng-switch-when="false">Upload</span>
        <span ng-switch-when="true">Edit</span>
      </div>
    </div>
  </div>
  <load-more class="row spin-large" ng-if="reviewApplicantPaginator.loading"></load-more>
</div>
