<section class="container header padding-bottom-clear">
  <div class="jumbotron section-title" style="background-image: url(/images/5.jpg);">
    <h2 class="font-whitem">Receive free samples of new products to test and review!</h2>

    <div class="row">
      <h3 class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <a class="btn btn-lg btn-success btn-block" ui-sref="application.protected.launchProject">Apply Now</a>
      </h3>
    </div>
  </div>
</section>
<section class="container padding-top-clear">
  <div class="row section-body" infinite-scroll="projectReviewPaginator.loadNext()" infinite-scroll-distance='0'
       infinite-scroll-disabled="projectReviewPaginator.loading || !projectReviewPaginator.hasNext()">
    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="review in projectReviewPaginator.items">
      <a class="block-link" ui-sref="application.review({ reviewId:review.id })">
        <div class="card">
          <div class="card-header" style="background-image: url({{ review.project.image }})">
          </div>
          <div class="card-body">
            <p class="card-body-title p-2">{{ review.title }}</p>

            <p class="card-body-title p-1">Price: ${{ review.price}}</p>

            <p class="card-body-title p-1">Free samples:{{ review.quota }}</p>

            <p class="card-body-title p-1">Deadline: {{ review.date_end | amDateFormat:'YYYY.MM.DD'}}</p>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-primary">Apply Now</button>
          </div>
        </div>
      </a>
    </div>
  </div>
  <load-more class="row spin-large" ng-if="projectReviewPaginator.loading"></load-more>
</section>
