<div>
  <button class="btn" ng-class="{ 'btn-primary':join.vote , 'btn-success':!join.vote }"
          ng-disabled="loadingJoin || voting " ng-click="save()">
    <i class="fa fa-heart fa-lg"></i>
  </button>
  <span>{{ interact.vote_amount }} </span> Interest
</div>
<div ng-if='joins.length>0' class="clearfix margin-top">
  <div class="pull-left" ng-repeat="item in joins">
    <a class="block-link" ng-href="/xberts/{{ item.joiner.id }}/">
      <div class="avatar-text-small-1">
        <img ng-src="{{ item.joiner.avatar }}" alt="{{ item.joiner.fullname }}"/>
      </div>
    </a>
  </div>
</div>
