<div>
  <button class="btn" ng-class="{ 'btn-primary':join.vote , 'btn-success':!join.vote }"
          ng-disabled="loadingJoin || voting " ng-click="save()">
    <i class="fa fa-heart fa-lg"></i>
  </button>
  <span >{{ interact.vote_amount }} </span> Interest
</div>
<div class="row" ng-if='joins.length>0'>
  <div class="col-xs-2 col-sm-1 col-md-2" ng-repeat="item in joins">
    <a ng-href="/xberts/{{ item.joiner.id }}/">
      <img ng-src="{{ item.joiner.avatar }}" />
    </a>
  </div>
</div>
