<div class="container">
  <div class="row">
    <div class="login-container">
      <h3 class="text-center margin-top-none">Create an Account</h3>

      <div class="form-group has-error">
        <div class="help-block" ng-messages="loginError">
          <p ng-messages-include="views/text/login_error.html"></p>
        </div>
      </div>

      <form name="signupForm" ng-submit="signup()" novalidate clear-form-error>
        <div class="form-group has-error">
          <div class="help-block" ng-show="signupForm.$submitted" ng-messages="signupForm.serverError">
            <div ng-message="userExist">An account already exists with that email.</div>
            <div ng-messages-include="views/text/form_error.html"></div>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': errorCheck(signupForm, 'firstName')}">
          <div class="help-block" ng-show="errorCheck(signupForm, 'firstName')"
               ng-messages="signupForm.firstName.$error">
            <p ng-message="required">Please enter your first name.</p>
          </div>
          <input type="text" name="firstName" class="form-control input-lg" placeholder="First name"
                 ng-model="firstName" required>
        </div>

        <div class="form-group" ng-class="{'has-error': errorCheck(signupForm, 'lastName')}">
          <div class="help-block" ng-show="errorCheck(signupForm, 'lastName')"
               ng-messages="signupForm.lastName.$error">
            <p ng-message="required">Please enter your last name.</p>
          </div>
          <input type="text" name="lastName" class="form-control input-lg" placeholder="Last name"
                 ng-model="lastName" required>
        </div>

        <div class="form-group" ng-class="{'has-error': errorCheck(signupForm, 'email')}">
          <div class="help-block" ng-show="errorCheck(signupForm, 'email')"
               ng-messages="signupForm.email.$error">
            <p ng-message="required">Please enter your email.</p>
            <p ng-message="email">The email you entered is invalid.</p>
          </div>
          <input type="email" id="id_email" name="email" class="form-control input-lg" placeholder="Email" required
                 ng-model="email" ng-model-options="{ updateOn: 'blur' }">
        </div>

        <div class="form-group" ng-class="{'has-error': errorCheck(signupForm, 'password')}">
          <div class="help-block" ng-show="errorCheck(signupForm, 'password')"
               ng-messages="signupForm.password.$error">
            <p ng-message="required">Please enter your password.</p>
          </div>
          <input type="password" id="id_password" name="password" class="form-control input-lg" placeholder="Password" required
                 ng-model="password">
        </div>

        <div class="form-group" ng-class="{'has-error': errorCheck(signupForm, 'country')}">
          <div class="help-block" ng-show="errorCheck(signupForm, 'country')"
               ng-messages="signupForm.country.$error">
            <p ng-message="required">Please select your country.</p>
          </div>
          <select id="id_country" name="country" class="form-control input-lg"
                  ng-options="option.name for option in countryOptions track by option.code"
                  required ng-model="country">
            <option value="">Select your country</option>
          </select>
        </div>

        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Sign Up">
      </form>

      <h5 class="header-divider"><span>Or</span></h5>

      <a type="button" href="#" class="btn btn-primary btn-lg btn-block facebook-btn" ng-click="facebookLogin(loginError)">
        <i class="fa fa-facebook"></i>
        <span class="linkedin-btn-title">Continue with Facebook</span>
      </a>

      <a type="button" href="#" class="btn btn-primary btn-lg btn-block linkedin-btn" ng-click="linkedinLogin()">
        <i class="fa fa-linkedin"></i>
        <span class="linkedin-btn-title">Continue with LinkedIn</span>
      </a>

      <p>Already a Member?&nbsp;&nbsp;<a ui-sref="application.login">Sign in now.</a></p>
    </div>
  </div>
</div>
