<section>
  <div class="container">
    <div class="section-title">
      <h2>Terms of Use</h2>
    </div>

    <div class="section-body">
      <p>Please read these Terms of Use (“Agreement” or “Terms”) carefully before using the services offered by Xberts,
        Inc. This Agreement sets forth the legally binding terms and conditions for your use of the various websites
        owned
        and operated by Xberts, including, without limitation, the xberts.com website and domain name (“Sites”), the
        mobile application offered by Xberts (the “App”), your trial or your purchase of the products sold through our
        Sites and App (the “Products”), but not your use of such Products, and any other features, content, or
        applications offered from time to time by Xberts in connection with the above (collectively, the “Service”). By
        using the Service in any manner, whether by purchasing any Products, trying any Products for free, or just
        visiting or browsing the Sites and/or App, you agree to be bound by this Agreement.</p>

      <p class="xb-bold">ARBITRATION NOTICE: UNLESS YOU OPT OUT OF ARBITRATION WITHIN 30 DAYS OF THE DATE YOU FIRST AGREE TO THESE TERMS
        BY
        FOLLOWING THE OPT-OUT PROCEDURE SPECIFIED IN THE “ARBITRATION” SECTION BELOW, AND EXCEPT FOR CERTAIN TYPES OF
        DISPUTES DESCRIBED IN THE “ARBITRATION” SECTION BELOW, YOU AGREE THAT DISPUTES BETWEEN YOU AND XBERTS WILL BE
        RESOLVED BY BINDING, INDIVIDUAL ARBITRATION AND YOU ARE WAIVING YOUR RIGHT TO A TRIAL BY JURY OR TO PARTICIPATE
        AS
        A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS ACTION OR REPRESENTATIVE PROCEEDING.</p>

      <p class="xb-bold">
        Acceptance of Terms 
      </p>

      <p>By using our Service, you agree to be bound by these Terms. If you don’t agree to be bound by these Terms, do
        not
        use the Service. If you are accessing and using the Service on behalf of a company (such as your employer) or
        other legal entity, you represent and warrant that you have the authority to bind that company or other legal
        entity to these Terms. In that case, “you” and “your” will refer to that company or other legal entity.</p>

      <p class="xb-bold">Modification of Terms of Use </p>

      <p>We may modify the Terms at any time, in our sole discretion. If we do so, we’ll let you know either by posting
        the
        modified Terms on the Sites or through other communications. It’s important that you review the Terms whenever
        we
        modify them because if you continue to use the Service after we have posted modified Terms on the Sites, you are
        indicating to us that you agree to be bound by the modified Terms. If you don’t agree to be bound by the
        modified
        Terms, then you may not use the Service anymore. Because our Service is evolving over time we may change or
        discontinue all or any part of the Service, at any time and without notice, at our sole discretion.</p>

      <p class="xb-bold"> Privacy 
      </p>

      <p>Please review our privacy practices to understand what information we collect and how we use it. Our privacy
        policy is located at https://www.xberts.com/privacy (the “Privacy Policy”) and is incorporated into these Terms.
        You acknowledge and agree that your use of the Service is subject to our Privacy Policy.</p>

      <p class="xb-bold">Registration </p>

      <p>The Products and Service are available only to individuals who are at least 18 years old and capable of forming
        a
        binding contract with us. If you want to use certain features of the Service, such as purchasing our Products,
        you’ll have to create an account (“Account”). You can do this via our Sites or through your account with certain
        third- party social networking services such as Facebook or Linkedin (each, an “SNS Account”). If you choose the
        SNS Account option we’ll create your Account by extracting from your SNS Account certain personal information
        such
        as your name and email address and other personal information that your privacy settings on the SNS Account
        permit
        us to access.</p>

      <p>It’s important that you provide us with accurate, complete and up-to- date information for your Account and you
        agree to update such information, as needed, to keep it accurate, complete and up-to- date. If you don’t, we
        might
        have to suspend or terminate your Account. You agree that you won’t disclose your Account password to anyone and
        you’ll notify us immediately of any unauthorized use of your Account. You’re responsible for all activities that
        occur under your Account, whether or not you know about them.</p>

      <p class="xb-bold">Purchases </p>

      <p class="xb-bold"> Order Processing</p>

      <p>You can purchase our Products by placing orders via our Sites. Xberts reserves the right, in its sole
        discretion,
        to refuse to process or to cancel your order in certain circumstances. This may happen, for example, when the
        Product you ordered is out of stock, there are inaccuracies or errors in Products or pricing information, or our
        credit and fraud avoidance department identifies problems or in other circumstances that we, in our sole
        discretion, deem appropriate. Xberts also reserves the right, in its sole discretion, to take steps to verify
        your
        identity to process your order. We will not charge you for orders that we do not process or cancel. If we have
        already charged you for your order, then we will refund you the amount charged.</p>

      <p class="xb-bold">Fees and Payment</p>

      <p>You will be charged immediately upon placing an order. Xberts will use commercially reasonable efforts to have
        orders delivered within the estimated delivery time. However, sometimes items may be delayed due to factors
        beyond
        our control, and we will not be liable for any such delays. If you are making payment by credit card, you hereby
        authorize Xberts or its third party payment processing service providers to charge your credit card for the
        price
        of the Products you have purchased.</p>

      <p>Xberts reserves the right to require payment of fees for certain features of the Service. Should you elect to
        subscribe to or use such features, you agree to pay all applicable fees, as described on the Sites in connection
        with such features. Xberts reserves the right to change its price list, product and service offerings, and to
        institute new charges at any time. Use of the Service by you following such notification constitutes your
        acceptance of any new or increased charges or prices.</p>

      <p class="xb-bold">Product Descriptions</p>

      <p>We attempt to provide accurate descriptions of Products on our Sites. However, there may be inaccuracies in the
        Product descriptions, or the colors of the Products may vary from one monitor to another. Accordingly, Xberts
        does
        not warrant that the Product descriptions, colors, images or videos are accurate, complete, reliable, current or
        error-free. If a Product offered on our Sites is not as described, your sole remedy is to contact us in
        accordance
        with our Return Policy.</p>

      <p class="xb-bold">Pricing and Discount Information</p>

      <p>We strive to provide accurate pricing information about Products. We cannot, however, insure against pricing
        errors. Xberts reserves the right, at its sole discretion, to refuse to process or cancel any orders placed for
        a
        Product whose price was incorrectly posted on the Sites as a result of an error. If this occurs, Xberts will
        notify you by email. In addition, Xberts reserves the right, in its sole discretion, to correct any errors in
        the
        listed price on its Sites.</p>

      <p>We display discounts on our Sites in connection with each Product. Discounts are calculated using pricing
        information provided to us by merchants (such as suggested retail prices from the manufacturer, supplier, or the
        merchant, or an estimated price based on standard industry practice).</p>

      <p class="xb-bold">Product Availability and Delivery</p>

      <p>Our Sites may contain information regarding the availability of the Products. Unfortunately, Xberts cannot
        guarantee that an item listed for sale will actually ship on time, as inventory can change significantly from
        day-to- day. In some cases, a Product which may be in stock when a customer places the order, may be sold out by
        the time Xberts attempts to process the order, or there may be an error in the information about the
        availability
        of the Product. Should this happen, Xberts will notify you by email. If we determine that a Product you ordered
        is
        no longer available, we will cancel that item from your order and provide you a full refund towards the
        cancelled
        Product, if you have already paid for it. We will notify you about the cancelation by email.</p>

      <p class="xb-bold">Return Policy</p>

      <p>Xberts accepts returns on certain Products on a case-by-case basis. If, however, a Product is listed as final
        sale, we will not accept returns for such Product, unless it is defective. If a Product offered by Xberts is
        defective , please send an email to support@xberts.com within 48 hours of receiving the Product. We will either
        replace the defective product or issue a full refund.</p>

      <p class="xb-bold">Risk of Loss</p>

      <p>The risk of loss and title for such all items purchased from Xberts pass to you upon our delivery to the
        carrier.
        Ownership of the Sites and Service </p>

      <p>
        All contents of the Service, including without limitation, the text, graphics, images, music, software, audio,
        video, works of authorship of any kind, and information or other materials that are posted, generated, provided
        or
        otherwise made available on or through the Service are collectively referred to as “Content”. The Service and
        Content, and all associated intellectual property rights are the sole and exclusive property of Xberts and/or
        its
        licensors, and may not be copied, distributed, modified, reproduced, published or used, in whole or in part,
        except for purposes authorized or approved in writing by Xberts. You acknowledge that the Service and Content
        are
        protected by copyright, trademark, and other laws of the United States and foreign countries. You agree not to
        remove, alter or obscure any copyright, trademark, service mark or other proprietary rights notices incorporated
        in or accompanying the Service or Content.
      </p>


      <p class="xb-bold" >License Rights </p>

      <p class="xb-bold">Rights in App Granted by Xberts</p>

      <p>Subject to your compliance with these Terms, Xberts grants you a limited non-exclusive, non-transferable,
        non-sublicenseable license to download and install a copy of the App on a mobile device or computer that you own
        or control and to run such copy of the App solely for your own personal non-commercial purposes. You may not
        copy
        the App, except for making a reasonable number of copies for backup or archival purposes. Except as expressly
        permitted in these Terms, you may not: (i) copy, modify or create derivative works based on the
        App;(ii) distribute, transfer, sublicense, lease, lend or rent the App to any third party;(ii) distribute,
        transfer, sublicense, lease, lend or rent the App to any third party;(iii) reverse engineer,
        decompile or disassemble the App; or (iv) make the functionality of the App available to multiple users through
        any means. Xberts reserves all rights in and to the App not expressly granted to you under these Terms.</li>
      </p>

      <p class="xb-bold">Rights in Content Granted by Xberts</p>

      <p>Subject to your compliance with these Terms, Xberts grants you a limited, non-exclusive, non-transferable,
        non-sublicensable license to access and view the Content solely in connection with your permitted use of the
        Service and solely for your personal and non-commercial purposes.</p>

      <p class="xb-bold">Rules and Conduct </p>

      <p>As a condition of use, you promise not to use the Service for any purpose that is prohibited by the Terms. The
        Service (including, without limitation, any and all Content on the Service, is provided only for your own
        personal, non-commercial use. You are responsible for all of your activity in connection with the Service.</p>

      <p>You agree not to do any of the following:</p>
      <ul>
        <li>Use, display, mirror or frame the Service or any individual element within the Service, Xberts’s name, any
          Xberts
          trademark, logo or other proprietary information, or the layout and design of any page or form contained on a
          page, without Xberts’s express written consent;
        </li>
        <li>Access, tamper with, or use non-public areas of the Service, Xberts’s computer systems, or the technical
          delivery
          systems of Xberts’s providers;
        </li>
        <li>Attempt to probe, scan or test the vulnerability of any Xberts system or network or breach any security or
          authentication measures;
        </li>
        <li>Avoid, bypass, remove, deactivate, impair, descramble or otherwise circumvent any technological measure
          implemented by Xberts or any of Xberts’s providers or any other third party (including another user) to
          protect
          the Service or Content;
        </li>
        <li>Attempt to access or search the Service or Content or download Content from the Service through the use of
          any
          engine, software, tool, agent, device or mechanism (including spiders, robots, crawlers, data mining tools or
          the
          like) other than the software and/or search agents provided by Xberts or other generally available third-party
          web
          browsers;
        </li>
        <li>Use any meta tags or other hidden text or meta-data utilizing an Xberts trademark, logo URL or product name
          without Xberts’s express written consent;
        </li>
        <li>Use the Service (including our Products) or Content, or any portion thereof, for any commercial purpose or
          for the
          benefit of any third party or in any manner not permitted by these Terms;
        </li>
        <li>Attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide the
          Service or
          Content;
        </li>
        <li>Violate any applicable local, national or international law or regulation; or</li>
        <li> Encourage or enable any other individual to do any of the foregoing.</li>
      </ul>

      <p class="xb-bold">Xberts Rewards </p>

      <p>We may offer rewards and discounts to our customers from time to time which may be subject to additional terms
        and
        conditions. Please note that regardless of any offers of such rewards, Xberts reserves the right to change the
        rewards and discounts, if any, over time without any prior notice.</p>

      <p class="xb-bold">Feedback </p>

      <p>We welcome feedback, comments, user experience and suggestions for improvements to our Service (“Feedback”).
        You
        can submit Feedback by emailing us at support@xberts.com. You grant to us a non-exclusive, worldwide, perpetual,
        irrevocable, fully-paid, royalty-free, sublicensable and transferable license under any and all intellectual
        property rights that you own or control to use, copy, modify, create derivative works based upon and otherwise
        exploit the Feedback for any purpose.</p>

      <p class="xb-bold">Third Party Sites </p>

      <p>The Service may contain links to third-party websites or resources. We provide these links only as a
        convenience
        and are not responsible for the content, products or services on or available from those websites or resources
        or
        links displayed on such websites. You acknowledge sole responsibility for and assume all risk arising from, your
        use of any third-party websites or resources.</p>

      <p class="xb-bold">Termination </p>

      <p>Xberts may terminate your access to all or any part of the Service at any time, with or without cause, with or
        without notice, effective immediately, which may result in the forfeiture and destruction of all information
        associated with your membership. If you wish to terminate your Account, you may do so by following the
        instructions on the Sites. The provisions relating to Purchases, Ownership of Site and Services, Export Policy
        and
        Restrictions, Feedback, Termination, Warranty Disclaimers, Limitations of Liability Dispute Resolution and
        General
        Terms will survive termination of these Terms.</p>

      <p class="xb-bold">Warranty Disclaimer relating to the Service </p>

      <p>THE SERVICE INCLUDING, WITHOUT LIMITATION, ALL INFORMATION, CONTENT AND ANY FEATURES MADE AVAILABLE TO YOU
        THROUGH
        THE SERVICE ARE PROVIDED BY XBERTS ON AN “AS IS” AND “AS AVAILABLE” BASIS. XBERTS, AND ITS DIRECTORS, EMPLOYEES,
        AGENTS, PARTNERS AND CONTENT PROVIDERS DO NOT WARRANT THAT: (A) THE SERVICE WILL BE SECURE OR AVAILABLE AT ANY
        PARTICULAR TIME OR LOCATION; (B) ANY DEFECTS OR ERRORS WILL BE CORRECTED; OR (C) ANY CONTENT OR SOFTWARE
        AVAILABLE
        AT OR THROUGH THE SERVICE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. YOUR USE OF THE SERVICE IS SOLELY AT
        YOUR OWN RISK.</p>

      <p>TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, XBERTS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED,
        INCLUDING,
        BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE AND ANY
        WARRANTIES
        IMPLIED BY ANY COURSE OF PERFORMANCE OR USAGE OF TRADE. XBERTS DOES NOT WARRANT THAT THE SERVICE, INFORMATION,
        CONTENT, OR ANY FEATURE MADE AVAILABLE TO YOU THROUGH THE SERVICE, XBERTS'S SERVERS OR ELECTRONIC COMMUNICATIONS
        SENT FROM XBERTS ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. XBERTS WILL NOT BE LIABLE FOR ANY DAMAGES OF
        ANY
        KIND ARISING FROM THE USE OF ANY SERVICE, OR FROM ANY INFORMATION, CONTENT, OR ANY FEATURES MADE AVAILABLE TO
        YOU
        THROUGH THE SERVICE.</p>

      <p>CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN
        DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT
        APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS.</p>

      <p class="xb-bold">Warranty Disclaimer relating to the Products </p>

      <p>THE PRODUCTS (INCLUDING ANY SOFTWARE THAT MAY BE USED IN SUCH PRODUCTS) INCLUDED ON OR OTHERWISE MADE AVAILABLE
        TO
        YOU THROUGH THE SERVICE ARE PROVIDED BY XBERTS ON AN “AS IS” AND “AS AVAILABLE” BASIS, UNLESS OTHERWISE
        SPECIFIED
        IN WRITING BY XBERTS. XBERTS, AND ITS DIRECTORS, EMPLOYEES, AGENTS, SUPPLIERS AND PARTNERS DO NOT WARRANT THAT
        THE
        PRODUCTS WILL MEET YOUR EXPECTATIONS.</p>

      <p>YOU MAY BE ELIGIBLE FOR THE MANUFACTURER’S WARRANTIES THAT APPEAR ON OR WITH THE PRODUCTS YOU BUY. EXCEPT FOR
        SUCH
        MANUFACTURER’S WARRANTIES, TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, XBERTS DISCLAIMS ALL WARRANTIES,
        EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
        PARTICULAR PURPOSE AND ANY WARRANTIES IMPLIED BY ANY COURSE OF PERFORMANCE OR USAGE OF TRADE. XBERTS DOES NOT
        WARRANT THAT THE PRODUCTS (INCLUDING THE SOFTWARE THAT MAY BE USED IN ANY PRODUCTS) ARE FREE OF VIRUSES OR OTHER
        HARMFUL COMPONENTS. XBERTS WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF ANY PRODUCTS
        (INCLUDING THE SOFTWARE THAT MAY BE USED IN ANY PRODUCTS).</p>

      <p>CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN
        DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT
        APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS.</p>

      <p class="xb-bold">Limitation of Liability </p>

      <p>IN NO EVENT SHALL XBERTS, OR ITS DIRECTORS, EMPLOYEES, AGENTS, OR PARTNERS, BE LIABLE UNDER CONTRACT, TORT,
        STRICT
        LIABILITY, OR ANY OTHER LEGAL OR EQUITABLE THEORY WITH RESPECT TO THE SERVICE (INCLUDING, WITHOUT LIMITATION,
        ANY
        CONTENT) (I) FOR ANY LOST PROFITS, DATA LOSS, COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR SPECIAL,
        INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER (HOWEVER ARISING), (II) FOR ANY
        BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE (REGARDLESS OF THE SOURCE OF ORIGINATION), (III) FOR YOUR RELIANCE ON
        THE SERVICE OR PRODUCT DESCRIPTIONS, OR (IV) FOR ANY DIRECT DAMAGES IN EXCESS OF (IN THE AGGREGATE) THE GREATER
        OF
        A) AMOUNTS PAID OR PAYABLE BY YOU IN CONNECTION WITH THE SERVICE; OR B) ONE-HUNDRED U.S. DOLLARS ($100.00). SOME
        STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS
        AND EXCLUSIONS MAY NOT APPLY TO YOU. FOR EXAMPLE, NEW JERSEY DOES NOT ALLOW SUCH LIMITATION, AND HENCE IF YOU
        ARE
        A RESIDENT OF NEW JERSEY, THIS LIMITATION DOES NOT APPLY TO YOU.</p>

      <p class="xb-bold">Dispute Resolution </p>

      <p class="xb-bold">Governing Law</p>

      <p>These Terms and any action related thereto will be governed by the laws of the State of California without
        regard
        to its conflict of laws provisions.</p>

      <p class="xb-bold">Agreement to Arbitrate</p>

      <p>You and Xberts agree that any dispute, claim or controversy arising out of or relating to these Terms or the
        breach, termination, enforcement, interpretation or validity thereof or the use of the Service (collectively,
        “Disputes”) will be settled by binding arbitration, except that each party retains the right: (i) to bring an
        individual action in small claims court and (ii) to seek injunctive or other equitable relief in a court of
        competent jurisdiction to prevent the actual or threatened infringement, misappropriation or violation of a
        party’s copyrights, trademarks, trade secrets, patents or other intellectual property rights (the action
        described
        in the foregoing clause (ii), an “IP Protection Action”). Without limiting the preceding sentence, you will also
        have the right to litigate any other Dispute if you provide Xberts with written notice of your desire to do so
        by
        email at support@xberts.com within
        thirty (30) days following the date you first agree to these Terms (such notice, an “Arbitration Opt-out
        Notice”).
        If you don’t provide Xberts with an Arbitration Opt-out Notice within the thirty (30) day period, you will be
        deemed to have knowingly and intentionally waived your right to litigate any Dispute except as expressly set
        forth
        in clauses (i) and (ii) above. The exclusive jurisdiction and venue of any IP Protection Action or, if you
        timely
        provide Xberts with an Arbitration Opt-out Notice, will be the state and federal courts located in the Northern
        District of California and each of the parties hereto waives any objection to jurisdiction and venue in such
        courts. Unless you timely provide Xberts with an Arbitration Opt-out Notice, you acknowledge and agree that you
        and Xberts are each waiving the right to a trial by jury or to participate as a plaintiff or class member in any
        purported class action or representative proceeding. Further, unless both you and Xberts otherwise agree in
        writing, the arbitrator may not consolidate more than one person's claims, and may not otherwise preside over
        any
        form of any class or representative proceeding. If this specific paragraph is held unenforceable, then the
        entirety of this “Dispute Resolution” section will be deemed void. Except as provided in the preceding sentence,
        this “Dispute Resolution” section will survive any termination of these Terms.</p>

      <p class="xb-bold">Arbitration Rules</p>

      <p>The arbitration will be administered by the American Arbitration Association (“AAA”) in accordance with the
        Commercial Arbitration Rules and the Supplementary Procedures for Consumer Related Disputes (the “AAA Rules”)
        then
        in effect, except as modified by this “Dispute Resolution” section. (The AAA Rules are available
        at www.adr.org/arb_med or by calling the AAA at 1-800- 778-7879.) The Federal Arbitration Act will govern the
        interpretation and enforcement of this Section.</p>

      <p class="xb-bold">Arbitration Process</p>

      <p>A party who desires to initiate arbitration must provide the other party with a written Demand for Arbitration
        as
        specified in the AAA Rules. (The AAA provides a general Demand for Arbitration and a separate Demand for
        Arbitration for California residents.) The arbitrator will be either a retired judge or an attorney licensed to
        practice law and will be selected by the parties from the AAA’s roster of arbitrators. If the parties are unable
        to agree upon an arbitrator within seven (7) days of delivery of the Demand for Arbitration, then the AAA will
        appoint the arbitrator in accordance with the AAA Rules.</p>

      <p class="xb-bold">Arbitration Location and Procedure</p>

      <p>Unless you and Xberts otherwise agree, the arbitration will be conducted in the county where you reside. If
        your
        claim does not exceed $10,000, then the arbitration will be conducted solely on the basis of the documents that
        you and Xberts submit to the arbitrator, unless you request a hearing or the arbitrator determines that a
        hearing
        is necessary. If your claim exceeds $10,000, your right to a hearing will be determined by the AAA Rules.
        Subject
        to the AAA Rules, the arbitrator will have the discretion to direct a reasonable exchange of information by the
        parties, consistent with the expedited nature of the arbitration.</p>

      <p class="xb-bold">Arbitrator’s Decision</p>

      <p>The arbitrator will render an award within the time frame specified in the AAA Rules. The arbitrator’s decision
        will include the essential findings and conclusions upon which the arbitrator based the award. Judgment on the
        arbitration award may be entered in any court having jurisdiction thereof. The arbitrator’s award of damages
        must
        be consistent with the terms of the “Limitation of Liability” section above as to the types and amounts of
        damages
        for which a party may be held liable. The arbitrator may award declaratory or injunctive relief only in favor of
        the claimant and only to the extent necessary to provide relief warranted by the claimant’s individual claim. If
        you prevail in arbitration you will be entitled to an award of attorneys’ fees and expenses, to the extent
        provided under applicable law. Xberts will not seek, and hereby waives all rights it may have under applicable
        law
        to recover, attorneys’ fees and expenses if it prevails in arbitration.</p>

      <p class="xb-bold">Fees</p>

      <p>Your responsibility to pay any AAA filing, administrative and arbitrator fees will be solely as set forth in
        the
        AAA Rules. However, if your claim for damages does not exceed $75,000, Xberts will pay all such fees unless the
        arbitrator finds that either the substance of your claim or the relief sought in your Demand for Arbitration was
        frivolous or was brought for an improper purpose (as measured by the standards set forth in Federal Rule of
        Civil
        Procedure 11(b)).</p>

      <p class="xb-bold">Changes</p>

      <p>Notwithstanding the provisions of the “Modification of Terms” section above, if Xberts changes this “Dispute
        Resolution” section after the date you first accepted these Terms (or accepted any subsequent changes to these
        Terms), you may reject any such change by sending us written notice (including by email to www.Xberts.com)
        within
        30 days of the date such change became effective, as indicated in the “Last Updated” date above or in the date
        of
        Xberts’s email to you notifying you of such change. By rejecting any change, you are agreeing that you will
        arbitrate any Dispute between you and Xberts in accordance with the provisions of this “Dispute Resolution”
        section as of the date you first accepted these Terms (or accepted any subsequent changes to these Terms).</p>

      <p class="xb-bold">General Terms </p>

      <p>These Terms constitute the entire and exclusive understanding and agreement between Xberts and you regarding
        the
        Service (including Products), and these Terms supersede and replace any and all prior oral or written
        understandings or agreements between Xberts and you regarding the Service (including Products). If any provision
        of these Terms is held invalid or unenforceable (either by an arbitrator appointed pursuant to the terms of the
        “Arbitration” section above or by court of competent jurisdiction, but only if you timely opt out of arbitration
        by sending us an Arbitration Opt-out Notice in accordance with the terms set forth above), that provision will
        be
        enforced to the maximum extent permissible and the other provisions of these Terms will remain in full force and
        effect. You may not assign or transfer these Terms, by operation of law or otherwise, without Xberts’s prior
        written consent. Any attempt by you to assign or transfer these Terms, without such consent, will be null.
        Xberts
        may freely assign or transfer these Terms without restriction. Subject to the foregoing, these Terms will bind
        and
        inure to the benefit of the parties, their successors and permitted assigns.</p>

      <p>Any notices or other communications provided by Xberts under these Terms, including those regarding
        modifications
        to these Terms, will be given: (i) via email; or (ii) by posting to the Service. For notices made by e-mail, the
        date of receipt will be deemed the date on which such notice is transmitted.</p>

      <p>Xberts’s failure to enforce any right or provision of these Terms will not be considered a waiver of such right
        or
        provision. The waiver of any such right or provision will be effective only if in writing and signed by a duly
        authorized representative of Xberts. Except as expressly set forth in these Terms, the exercise by either party
        of
        any of its remedies under these Terms will be without prejudice to its other remedies under these Terms or
        otherwise.</p>

      <p class="xb-bold">Copyright and Trademark Notices</p>

      <p>Unless otherwise indicated, the Terms and all Content provided by Xberts are copyright © 2016 Xberts, Inc. All
        rights reserved.</p>

      <p>“Xberts” is a trademark of Xberts. The names of any actual companies and products mentioned at the
        Sites
        may be the trademarks of their respective owners.</p>

      <p class="xb-bold">Contact Information </p>

      <p>If you have any questions about these Terms or the Service, please contact Xberts at support@xberts.com.</p>

    </div>
  </div>
</section>
