<div class="xb-question-detail__bg">
  <md-button class="md-icon-button" ng-if="isPopupOpen" ui-sref="application.askQuestionMain">
    <md-icon md-font-set="material-icons">
      close
    </md-icon>
  </md-button>
  <div class="xb-question-detail__inner-content">
    <div class="xb-question-detail__title background-whitem" layout="row" layout-align="space-between center">
      <div class="md-dark-secondary" layout="row" layout-align="start center">
        <span ui-sref="application.askQuestionMain()" class="xb-question-detail__pointer">ASK</span>&nbsp;&nbsp;&gt;&gt;&nbsp;&nbsp;<span class="md-dark-primary">QUESTION</span></div>
      <md-button class="md-primary" ng-click="answerCtrl.addQuestion()">Ask Question</md-button>
    </div>
    <question-detail-item product="answerCtrl.productsDetail" show-answer="answerCtrl.showAnswer"
      answers="answerCtrl.isAnswered.items" admin="answerCtrl.admin"></question-detail-item>
    <div ng-if="user.isAuth()" hide-xs>
      <answer-post ng-if="answerCtrl.showAnswer" class="xb-question-detail__inner-content" options="answerCtrl.options"
                   question-id="answerCtrl.productsDetail.id" detail-ctrl="answerCtrl"></answer-post>
    </div>
  </div>
</div>
<div class="xb-question-detail__answer-title md-dark-secondary">
  {{answerCtrl.answerPaginator.count>1? answerCtrl.answerPaginator.count+ ' ANSWERS':answerCtrl.answerPaginator.count + ' ANSWER'}}
</div>
<div>
  <div class="xb-question-detail__inner-content" infinite-scroll="answerCtrl.answerPaginator.loadNext()" infinite-scroll-container='".xb-body-view "' infinite-scroll-distance='0'
    infinite-scroll-disabled="answerCtrl.answerPaginator.loading || !answerCtrl.answerPaginator.next">
    <answer-item answers="answerCtrl.answerPaginator.items" admin="answerCtrl.admin"></answer-item>
    <load-more class="md-margin-bottom-2" layout="row" layout-align="center center" ng-if="answerCtrl.answerPaginator.loading"></load-more>
  </div>
</div>

