<div class="modal-header">
  <h3>Apply</h3>
</div>
<form name="applyExpertForm" ng-submit="applyExpert(applyExpertForm)" novalidate clear-form-error>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="form-group">
        <label>
          <h4>Select your expertise:
            <span ng-class="{small: !applyExpertForm.expertiseError.exceedLimit, error: applyExpertForm.expertiseError.exceedLimit}">
              Up to five
            </span>
          </h4>
        </label>
        <div class="error" ng-messages="applyExpertForm.expertiseError">
          <p ng-message="required">You need to select at least one expertise.</p>
        </div>
        <div class="panel panel-default" ng-repeat="stage in stages">
          <div class="panel-heading">
            <h5 class="panel-title">{{ stage.stage }}</h5>
          </div>
          <div class="panel-body">
            <label class="checkbox-inline" ng-repeat="expertise in stage.careers">
              <input type="checkbox" checklist-model="data.expertiseList" checklist-value="expertise.id"
                     checklist-change="checkExpertise(applyExpertForm)"
                     ng-disabled="applyExpertForm.expertiseError.exceedLimit && !checked"> {{ expertise.career_field }}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row text-left error bottom-buffer-sm" ng-show="applyExpertForm.$submitted"
         ng-messages="applyExpertForm.serverError">
      <div class="col-md-12">
        <div ng-messages-include="views/message/form_error.html"></div>
      </div>
    </div>
    <input type="submit" class="btn btn-primary btn-fixed-sm">
    <input type="button" value="Cancel" class="btn btn-default btn-fixed-sm" ng-click="$dismiss()">
  </div>
</form>
