<div class="modal-header">
  <h3>Change Your Password</h3>
</div>
<form name="changePasswordForm" ng-submit="changePassword()" novalidate clear-form-error>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <label for="passwordInput">
            <span>Current Password:</span>
            <span class="error" ng-show="changePasswordForm.$submitted || changePasswordForm.password.$touched">
              <span ng-show="changePasswordForm.password.$error.required">Please enter your current password.</span>
            </span>
          </label>
        </div>
      </div>
      <div class="row bottom-buffer-sm">
        <div class="col-md-12">
          <input type="password" id="passwordInput" class="form-control" name="password"
                 placeholder="Current password" ng-model="data.password" ng-model-options="{ updateOn: 'blur' }"
                 required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label for="newPasswordInput">
            <span>New Password:</span>
          <span class="error" ng-show="changePasswordForm.$submitted || changePasswordForm.newPassword.$touched">
            <span ng-show="changePasswordForm.newPassword.$error.required">Please enter your new password.</span>
          </span>
          </label>
        </div>
      </div>
      <div class="row bottom-buffer-sm">
        <div class="col-md-12">
          <input type="password" id="newPasswordInput" class="form-control" name="newPassword"
                 placeholder="Set a new password" ng-model="data.newPassword" ng-model-options="{ updateOn: 'blur' }"
                 required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label for="newPasswordConfirmInput">
            <span>Confirm Password:</span>
          <span class="error" ng-show="changePasswordForm.$submitted || changePasswordForm.newPasswordConfirm.$touched">
            <span ng-show="changePasswordForm.newPasswordConfirm.$error.compareTo">The password you entered doesn't match.</span>
          </span>
          </label>
        </div>
      </div>
      <div class="row bottom-buffer-sm">
        <div class="col-md-12">
          <input type="password" id="newPasswordConfirmInput" class="form-control" name="newPasswordConfirm"
                 placeholder="Confirm your new password" ng-model="data.newPasswordConfirm"
                 ng-model-options="{ updateOn: 'blur' }" required compare-to="data.newPassword">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row text-left error bottom-buffer-sm" ng-show="changePasswordForm.$submitted"
         ng-messages="changePasswordForm.serverError">
      <div class="col-md-12">
        <div ng-message="password">The password you entered is incorrect.</div>
        <div ng-messages-include="views/message/form_error.html"></div>
      </div>
    </div>
    <button type="button" class="btn btn-default btn-fixed-sm" ng-click="$dismiss()">Cancel</button>
    <button type="submit" class="btn btn-primary btn-fixed-sm">Save</button>
  </div>
</form>
