<section class="background-light-white">
  <div class="container">
    <div class="section-title">
      <h3>Company Info</h3>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <form name="companyForm" ng-submit="companyFormSubmit()">
      <div class="row">
        <div class="form-group col-sm-6">
          <label>Company Name: </label>
          <input type="text" class="form-control" name="name"
                 ng-model="company.name" ng-maxlength="200"
                 ng-required="true"/>

          <p class="message-error" ng-show="companyForm.submitted && companyForm.name.$error.required">
            *required</p>

          <p class="message-error" ng-show="companyForm.submitted && companyForm.name.$error.maxlength">* no more
            than 200 chars.</p>
        </div>
        <div class="form-group col-sm-6">
          <label>Company Website: </label>
          <input type="text" class="form-control" placeholder="http://"
                 name="web"
                 ng-model="company.web"
                 ng-maxlength="200"
                 required
                 ng-required="true">

          <p class="message-error" ng-show="companyForm.submitted && companyForm.web.$error.required">
            *required</p>

          <p class="message-error" ng-show="companyForm.submitted && companyForm.web.$error.maxlength">* no more
            than 200 chars.</p>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label>Headquarter: </label>
          <input type="text" class="form-control"
                 name="address"
                 ng-model="company.address"
                 ng-maxlength="200"
                 ng-required="true"/>

          <p class="message-error" ng-show="companyForm.submitted && companyForm.address.$error.required">
            *required</p>

          <p class="message-error" ng-show="companyForm.submitted && companyForm.address.$error.maxlength">* no more
            than 200 chars.</p>
        </div>

        <div class="form-group col-sm-6">
          <label>Phone Number: </label>
          <input type="text" class="form-control"
                 name="phone"
                 ng-model="company.phone"
                 international-phone-number
                 ng-required="true">

          <p class="message-error" ng-show="companyForm.submitted && companyForm.phone.$error.required">
            *required</p>

          <p class="message-error" ng-show="companyForm.phoneError || companyForm.phone.$error.internationalPhoneNumber">
            please input correct number</p>
        </div>
      </div>
      <div class="form-group">
        <label>Company Introduction:</label>
        <summernote height='300' config='summerNoteSimple' ng-model="company.details"></summernote>
      </div>
      <div class="row">
        <p class='message-error text-center' ng-show="companyForm.submitted && companyForm.$invalid">Please check
          your
          input. </p>

        <p class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
          <button type="submit" class="btn btn-lg btn-primary btn-block">Next</button>
        </p>
      </div>

    </form>
  </div>
</section>


