<join ng-init="init(expert.interact)">
  <section class="background-light-white">
    <div class="container">
      <div row>
        <div class="col-sm-2 text-center expert-profile">
          <avatar-img src="expert.avatar" name="expert.fullname"></avatar-img>
          <p class="label label-primary" ng-if="pendingExpert">Pending Expert Verification</p>
          <p class="label label-primary" ng-if="isExpert">Verified Expert</p>
        </div>
        <div class="col-sm-8">
          <div class="section-title">

            <h2 ng-bind="expert.short_name"></h2>

            <p><i class="fa fa-map-marker"></i> {{ expert.country }}</p>

            <p>{{ expert.company_title}}</p>

            <p>
              <span class="label label-default" ng-repeat="expertise in expert.career_list">{{ expertise.career_field }}</span>
            </p>
          </div>
        </div>
        <div class="col-sm-2 text-center expert-profile-btn">
          <button class="btn btn-primary btn-fixed-sm" ng-if="!isCurrentUser" ng-click="contactUser()">Contact</button>
          <button class="btn btn-primary btn-fixed-sm" ng-if="isCurrentUser" ng-click="editProfile()">Edit</button>
        </div>
      </div>

    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <uib-tabset active="tabActive">
            <uib-tab heading="Biography" index="0" select="select('profile')">
              <div ng-bind-html=" expert.biography | trust"></div>
            </uib-tab>
            <uib-tab heading="My Campaigns" index="1" select="select('campaigns')">
              <div ng-include src="'/views/profile/campaignstab.html'"></div>
            </uib-tab>
            <uib-tab heading="My Trials" index="2" select="select('trials')">
                <div ng-include src="'/views/profile/reviewstab.html'"></div>
            </uib-tab>
          </uib-tabset>
        </div>
      </div>
    </div>
  </section>
</join>

