<join ng-init="init(expert.interact)">
  <section class="background-light-white">
    <div class="container">
      <div row>
        <div class="col-sm-2 text-center expert-profile">
          <img ng-src="{{ expert.avatar }}"/>
        </div>
        <div class="col-sm-8">
          <div class="section-title">

            <h2 ng-bind="expert.short_name"></h2>

            <p><i class="fa fa-map-marker"></i> {{ expert.country }}</p>

            <p>{{ expert.company_title}}</p>

            <p>
              <span class="label label-default" ng-repeat="expertise in expert.career_list">{{ expertise }}</span>
            </p>
          </div>
        </div>
        <div class="col-sm-2 text-center expert-profile-btn">
          <follow width="120" ng-if="!isCurrentUser"></follow>
          <button class="btn btn-primary btn-fixed-sm" ng-if="isCurrentUser" ng-click="editProfile()">Edit</button>
        </div>
      </div>

    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <uib-tabset>
            <uib-tab heading="Biography" active="tabs[0].active">
              <div ng-bind-html=" expert.biography | trust"></div>
            </uib-tab>
            <uib-tab heading="Products" active="tabs[1].active" select="select('products')">
              <div ng-include src="'/views/projectstab.html'"></div>
            </uib-tab>
            <!--<uib-tab heading="Reviews" active="tabs[5].active" select="select('reviews')">-->
              <!--<div ng-include src="'/views/reviewstab.html'"></div>-->
            <!--</uib-tab>-->
            <uib-tab heading="Followers" active="tabs[2].active" select="select('followers')">
              <div ng-if="followersTabActive">
                <joins joins-paginator="followersPaginator"></joins>
              </div>
            </uib-tab>
            <uib-tab heading="Followings" active="tabs[3].active" select="select('followings')">
              <div ng-if="followingsTabActive">
                <followings joins-paginator="followingsPaginator"></followings>
              </div>
            </uib-tab>

            <uib-tab heading="Message" active="tabs[4].active" select="select('comments')">
              <div ng-if="commentsTabActive">
                <div ng-include src="'/views/comments.html'"></div>
              </div>
            </uib-tab>

          </uib-tabset>
        </div>
      </div>
    </div>
  </section>
</join>

