<div class="modal-header">
  <h3 class="modal-title">Connect Your LinkedIn Account</h3>
</div>
<div class="modal-body">
  <p>Xberts will use your LinkedIn profile for the approval process.</p>
</div>
<div class="modal-footer">
  <a type="button" href="#" class="btn linkedin-btn" ng-click="linkedinConnect()">
    <i class="fa fa-linkedin"></i>
    <span class="linkedin-btn-title">Connect with LinkedIn</span>
  </a>
  <button class="btn btn-default btn-fixed-sm" ng-click="$dismiss()">Cancel</button>
</div>
