<div ng-if="trialsTabActive">
  <div class="row section-body" infinite-scroll="reviewApplicantPaginator.loadNext()" infinite-scroll-distance='0'
       infinite-scroll-disabled="reviewApplicantPaginator.getLoading() || !reviewApplicantPaginator.getNext()">
    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="applicant in reviewApplicantPaginator.items">
      <div class="xb-card">
        <div class="xb-card-ratio-wrap"
             ui-sref="application.campaign({ reviewId:applicant.review.id })">
          <div class="image-wrap" style="background-image: url({{ applicant.review.cover }})">

          </div>
        </div>
        <div class="xb-card-content">
          <p class="xb-card-title " ui-sref="application.campaign({ reviewId:applicant.review.id })">{{ applicant.review.title }}</p>

          <div class="xb-card-button">
            <div ng-switch="applicant.review.status">
              <button ng-switch-when="APPLICATION" class="btn btn-block btn-primary"
                      ui-sref="application.protected.apply({reviewId:applicant.review.id})">Edit Application
              </button>
              <button ng-switch-when="SELECTION" class="btn btn-block btn-success-disabled" disabled>
                Screening
              </button>
              <div ng-switch-when="CONFIRMATION">
                <div ng-switch="applicant.is_selected">
                  <button ng-switch-when="false" class="btn btn-block btn-success-disabled" disabled>
                    Not
                    Selected
                  </button>
                  <button ng-switch-when="true" class="btn btn-block btn-primary"
                          ui-sref="application.protected.confirmShipAddress({reviewId:applicant.review.id})">Confirm
                    Shipping
                    Info
                  </button>
                </div>
              </div>
              <div ng-switch-when="REVIEW">
                <div ng-switch="applicant.is_selected">
                  <button ng-switch-when="false" class="btn btn-block btn-default" disabled>
                    Not
                    Selected
                  </button>
                  <div ng-switch="applicant.is_submit_report">
                    <div ng-switch="applicant.is_submit_report">
                      <button ng-switch-when="false" class="btn btn-block btn-primary"
                              ui-sref="application.protected.crowdtestingReport({reviewId:applicant.review.id})">Submit
                        Report
                      </button>
                      <button ng-switch-when="true" class="btn btn-block btn-primary"
                              ui-sref="application.protected.crowdtestingReport({reviewId:applicant.review.id})">Edit
                        Report
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div ng-switch-when="ENDED">
                <div ng-switch="applicant.is_selected">
                  <button ng-switch-when="false" class="btn btn-block btn-default" disabled>
                    Completed
                  </button>
                  <div ng-switch="applicant.is_submit_report">
                    <div ng-switch="applicant.is_submit_report">
                      <button ng-switch-when="false" class="btn btn-block btn-primary"
                              ui-sref="application.protected.crowdtestingReport({reviewId:applicant.review.id})">Submit
                        Report
                      </button>
                      <button ng-switch-when="true" class="btn btn-block btn-success"
                              ui-sref="application.report({ reviewId:applicant.review.id,reportId:applicant.report})">View
                        My
                        Report
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <load-more class="row spin-large" ng-if="reviewApplicantPaginator.getLoading()"></load-more>
</div>
