<div class="container">
  <h2 class="text-center">Account Settings</h2>
    <div class="row top-buffer-sm bottom-buffer-sm">
      <div class="col-md-2 col-md-offset-4">
        <label>Email:</label>
      </div>
      <div class="col-md-2">
        <button class="btn btn-block" ng-click="changeEmailModal()">Change Email</button>
      </div>
    </div>
    <div class="row top-buffer-sm bottom-buffer-sm" ng-if="showEditPassword">
      <div class="col-md-2 col-md-offset-4">
        <label>Password:</label>
      </div>
      <div class="col-md-2">
        <button class="btn btn-block" ng-click="changePasswordModal()">Change Password</button>
      </div>
    </div>
    <div class="row top-buffer-sm bottom-buffer-sm">
      <div class="col-md-2 col-md-offset-4">
        <label>Deactivate Account:</label>
      </div>
      <div class="col-md-2">
        <button class="btn btn-block" ng-click="cancelAccountModal()">Deactivate</button>
      </div>
    </div>
</div>
