.xb2-page-head{
  >.container{
    padding-top: 16px;
    padding-bottom: 0;

    @include xb-gt-sm-screen{
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  &__title{
    @include font-h2();
    margin-top: 0;
    margin-bottom: 8px;
    @include xb-gt-sm-screen{
      text-align: center;
    }
  }

  &__subtitle{
    @include font-p();
    margin-bottom: 8px;
    @include xb-gt-sm-screen{
      text-align: center;
      margin-bottom: 32px;
    }
  }
  &__info{
    @include xb-gt-sm-screen{
      padding-left: 56px;
    }
  }



  &__author{
    margin-bottom: 0;
    @include xb-gt-sm-screen{
      margin-bottom: 16px;
    }
  }

  &__rating{
    margin-top: 8px;
    margin-bottom: 8px;
    @include xb-gt-sm-screen{
      margin-bottom: 16px;
    }
  }

  &__rating-detail{
    margin-bottom: 16px;
  }

  &__button{

    @include xb-xs-screen{
      position: fixed;
      width: 100%;
      left: 0;
      bottom: 0;
      z-index: 50;
      background-color: #FFFFFF;
      padding: 10px;
      border-top: 1px solid rgba(0,0,0,.12);
    }
  }

  &__thumb-up{
    span{
      margin-left: 8px;
    }
  }
}

.xb2-custom-text{
  img{
    max-width: 100% !important;
  }
}

.xb2-page-content{
  //padding-top: 24px;
  &__section{
    margin-bottom: 24px;
  }
  .md-tab{
    span{
      margin-left: 8px;
      color: #ff4a87;
    }
  }
}

.xb2-rating-container{
  margin-bottom: 16px;
}

.xb2-rating{
  position: relative;
  &__underline {
    height: 2px;
    background-color: rgba(0, 0, 0, 0.12);
  }
  &__frontline{
    height: 2px;
    background-color: #3f51b5;
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
  }
}

.xb2-rating-star{
  &__value{
    font-size: 24px;
    margin-left: 16px;
  }
}

.xb2-price{
  @include xb-md-screen{
    margin-bottom: 16px;
  }
  &__final{
    @include font-h2();
    display: inline-block;
    vertical-align: middle;
    @include xb-gt-xs-screen{
      margin-bottom: 16px;
    }
  }

  &__retail{
    @include font-p();
    display: inline-block;
    text-decoration: line-through;
    color: rgba(0,0,0,0.54);
    vertical-align: middle;
  }
}

.xb-reviews-list{
  &__list-1{
    margin-bottom: 16px;

    @include resetBorder();

    flex: 1 1 230px !important;
    -webkit-flex: 1 1 230px !important;
    @include xb-lg-screen{
      max-width: 24% !important;
    }
    @include xb-md-screen{
      max-width: 24% !important;
      flex: 1 1 180px !important;
      -webkit-flex: 1 1 180px !important;
    }
    @include xb-sm-screen{
      flex: 1 1 145px !important;
      -webkit-flex: 1 1 145px !important;
      max-width: 24% !important;
      margin-bottom: 8px;
    }
    @include xb-xs-screen{
      margin-bottom: 8px;
    }
  }
  &__list-2{
    margin-bottom: 16px;

    @include resetBorder();

    flex: 1 1 480px !important;
    -webkit-flex: 1 1 480px !important;
    @include xb-lg-screen{
      max-width: 49.3% !important;
      min-width: 49.3%;
    }
    @include xb-md-screen{
      max-width: 49.3% !important;
      flex: 1 1 360px !important;
      -webkit-flex: 1 1 360px !important;
      min-width: 49.3%;
    }
    @include xb-sm-screen{
      flex: 1 1 295px !important;
      -webkit-flex: 1 1 295px !important;
      max-width: 49.3% !important;
      margin-bottom: 8px;
      min-width: 49.3%;
    }
    @include xb-xs-screen{
      margin-bottom: 8px;
    }
  }
  &__img-bg{
    height: 288px;
    overflow: hidden;
    position: relative;
    >img{
      position: absolute;
      left: 50%;
      top: 0;
      height: 100%;
      @include transform(translateX(-50%));
      cursor: pointer;
    }
    @include xb-sm-screen{
      height: 190px;
    }
    @include xb-xs-screen{
      width: 100%;
      height: auto;
      padding-bottom: 66.66%;
      overflow: hidden;
      position: relative;
      display: block;
      >img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        cursor: pointer;
        @include transform(none);
      }
    }
  }
  &__top{
    padding: 16px 16px 0;
    @include xb-sm-screen{
      padding: 4px 8px 0;
    }
    @include xb-xs-screen{
      padding: 0 16px 12px;
    }
  }
  &__bottom{
    padding: 0 16px;
    height: 140px;
    @include xb-sm-screen{
      padding: 0 8px;
      height: 130px;
    }
    @include xb-xs-screen{
      height: auto;
      padding: 0 16px 12px;
    }
  }
  &__title{
    margin-top: 8px;
    font-size: 16px;
    line-height: 24px;
    max-height: 48px;
    overflow: hidden;
    @include xb-xs-screen{
      margin-top: 12px;
      max-height: none;
    }
  }
  &__description{
    margin-top: 4px;
    max-height: 60px;
    overflow: hidden;
  }
  .md-button{
    min-width: 0;
    padding: 0;
  }
  .xb-deals-list__head{
    @include xb-sm-screen{
      avatar-img{
        margin-right: 8px;
      }
      padding: 0 8px 8px;
    }
    @include xb-xs-screen{
      avatar-img{
        margin-right: 12px;
      }
      padding: 0 16px 16px;
    }
  }
}

.xb-reviews-detail{
  &__container{
    max-width: 858px;
    margin: auto;
    @include xb-xs-screen{
      margin: 0 8px;
    }
  }
  &__title{
    font-size: 34px;
    line-height: 40px;
    margin-top: 28px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0,0,0,.12);
    @include media();
    @include xb-xs-screen{
      font-size: 24px;
      line-height: 32px;
      margin-top: 12px;
      border: none;
    }
  }
  &__head-bg{
    border-bottom: 1px solid rgba(0,0,0,.12);
    margin-bottom: 24px;
    @include xb-xs-screen{
      border: none;
      margin-bottom: 16px;
    }
    avatar-img{

      margin: 16px;

      @include avatar-header(large);

      @include xb-xs-screen{
        margin: 0 16px 0 0;

        @include avatar-header(medium);
      }

      .c-user__avatar{
        margin-bottom: 0;
      }
    }
    .xb-deals-detail__head-bottom{
      margin-top: 0;
    }
  }
  &__content{
    img{
      max-width: 100%;
    }
    iframe{
      max-width: 100%;
    }
  }
  &__action-buttons{
    @extend .product__action-buttons;
    margin: 0;
  }
  &__margin-left{
    margin-left: 16px;
    @include xb-xs-screen{
      margin-left: 0;
    }
  }
  &__actions{
    .md-button{
      margin: 0;
      min-height: 0;
      line-height: 20px;
    }
  }
  &__color{
    color: $orangeColor;
  }
  &__color-1{
    color: $primaryColor;
  }
  &__color-2{
    color: rgba(0,0,0,.38);
  }
}
